{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/instance-success-icon/macro.njk" import appInstanceSuccessIcon %}
{% from "icons/instance-failed-icon/macro.njk" import appInstanceFailedIcon %}
{% from "icons/instance-pending-icon/macro.njk" import appInstancePendingIcon %}
{% from "icons/instance-stopped-icon/macro.njk" import appInstanceStoppedIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}

<section class="app-running-service">
  {% for envName in params.environments %}
    {% set runningService = params.runningServices | find({ environment: envName }) %}

    {% if runningService %}
      {% set classes = ["app-running-service__card", runningService.statusClassname if runningService
      .statusClassname] | join(" ") | trim %}

      <div class="{{ classes }}">

        {% if runningService.unstable %}
          <div class="app-running-service__item app-running-service__item--unstable">
            {{ appWarningIcon({ classes: "app-icon--tiny govuk-!-margin-right-1", description: "Unstable!" }) }}
            Unstable
          </div>
        {% endif %}

        <div class="app-running-service__item app-running-service__item--heading">
          <span id="environment" class="govuk-visually-hidden">Environment</span>
          <span aria-labelledby="environment">{{ appTag({ text: envName | title }) }}</span>

          <div class="app-running-service__item app-running-service__item--version">
            <span id="version" class="govuk-visually-hidden">Version:</span>
            <a class="app-link govuk-!-margin-right-2"
               href="https://github.com/DEFRA/{{ runningService.service }}/releases/tag/{{ runningService.version }}"
               target="_blank" rel="noopener noreferrer"
               aria-labelledby="version">
              {{ runningService.version }}
            </a>
            {% set tooltipText = "failed" if runningService.unstable === true else runningService.status %}

            {% call appToolTip({ text: tooltipText | title + " in " + envName | title }) %}
              {% switch runningService.status %}
              {% case "running" %}
                {{ appInstanceSuccessIcon({ description: "Running", classes: "app-icon--small" }) }}
              {% case "requested" %}
              {% case "pending" %}
              {% case "stopping" %}
              {% case "deploying" %}
                {{ appInstancePendingIcon({ description: "Pending", classes: "app-icon--small"}) }}
              {% case "failed" %}
                {{ appInstanceFailedIcon({ description: "Failed", classes: "app-icon--small" }) }}
              {% case "undeployed" %}
                {{ appInstanceIcon({ description: "Undeployed", classes: "app-icon--small"}) }}
              {% case "stopped" %}
                {{ appInstanceStoppedIcon({ description: "Stopped", classes: "app-icon--small"}) }}
              {% default %}
                {{ appInstanceIcon({ description: "Unknown", classes: "app-icon--small"}) }}
              {% endswitch %}
            {% endcall %}
          </div>
        </div>

        <div class="app-running-service__item">
          <div>
            <span id="instance-count" class="app-running-service__label">Instance Count:</span>
            <span aria-labelledby="instance-count">{{ runningService.instanceCount }}</span>
          </div>
          <div>
            <span id="cpu" class="app-running-service__label">CPU:</span>
            <span aria-labelledby="instance-count">
              {{ runningService.cpu / 1024 + " vCPU" if runningService.cpu else noValue }}
            </span>
          </div>
          <div>
            <span id="memory" class="app-running-service__label">Memory:</span>
            <span aria-labelledby="memory">
            {{ runningService.memory / 1024 + " GB" if runningService.memory  else noValue }}
          </span>
          </div>
        </div>

        <div class="app-running-service__item app-running-service__item--deployed-by">
          <a class="app-link" href="/deployments/{{ envName }}/{{ runningService.cdpDeploymentId }}">
            Deployed
          </a>
          {{ appTime({
            text: runningService.created | formatDistanceToNow,
            datetime: runningService.created
          }) }} ago by {{ runningService.user.displayName }}
        </div>
      </div>

    {% else %}
      <div class="app-running-service__card app-running-service__card--empty">
        <div class="app-running-service__item app-running-service__item--heading">
          <span id="environment" class="govuk-visually-hidden">Environment</span>
          <span aria-labelledby="environment">
            {{ appTag({
              text: envName | title,
              classes: "app-tag--white"
            }) }}
          </span>
        </div>
        <span class="app-running-service__no-data">No deployment</span>
      </div>
    {% endif %}
  {% endfor %}
</section>
