<header class="app-header"
        role="banner"
        data-test-id="app-header">
  <div class="app-header__container app-header__container--full-width">
    <div class="app-header__content">
      <a href="{{ params.serviceUrl }}"
         class="app-header__link app-header__service-name"
         data-test-id="app-header-link">
        {{ params.serviceName }}
      </a>
    </div>
  </div>
</header>
