{# Renders a service entity-table row for schedules

@param {string} id - scheduleId
@param {string} env - Environment
#}

{% macro scheduleRow(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
