{% extends "layouts/page.njk" %}
{% from "entity/macro.njk" import appEntity %}

{% set helpHtml %}
  Removing a user is non-recoverable. If you delete the wrong user
  <a href="{{ routeLookup('admin/users/create') }}" class="govuk-link app-link">
    create a new one.
  </a>
{% endset %}

{% block content %}
  {% call appSplitPane() %}

    {{ appHeading({
      title: heading,
      caption: "Permanently delete user from the Core Delivery Platform."
    }) }}

    <hr class="app-section-break">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-third">

        <div class="govuk-!-margin-bottom-6">
          {{ appInfo({
            html: helpHtml
          }) }}
        </div>

        {{ appEntityDataList({
          heading: "Would you like to delete the following user?",
          items: entityDataList
        }) }}

        <form action="/admin/users/{{ user.userId }}/delete" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          <div class="govuk-button-group govuk-!-margin-top-7">
            {{ govukButton({
              classes: "app-button govuk-button--warning",
              text: "Delete user"
            }) }}

            <a class="govuk-link govuk-link--text-colour" href="/admin/users/{{ user.userId }}">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  {% endcall %}
{% endblock %}
