@use "govuk-frontend" as *;

.app-step-navigation-container {
  width: 100%;
  max-width: 500px;
  margin: govuk-spacing(4) 0;
  padding: 0;
}

%connecting-line {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.app-step-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: relative;

  &::before {
    @extend %connecting-line;
    background: govuk-colour("light-grey");
  }

  &::after {
    @extend %connecting-line;
    width: 0;
    background: govuk-colour("blue");
  }
}

.app-step-navigation--slim {
  margin-top: 0;
}

.app-step-navigation__item {
  list-style: none;
  position: relative;
  z-index: 1;
}

.app-step-navigation__point {
  @include govuk-link-style-no-visited-state;

  text-decoration: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 0 2px govuk-colour("white");

  background: govuk-colour("light-grey");
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: none;
    text-decoration: none;
  }
}

.app-step-navigation__point--complete {
  box-shadow:
    0 0 0 2px govuk-colour("white");
  background: govuk-colour("green");

  .app-complete-icon {
    fill: govuk-colour("white");
    width: 22px;
    height: 22px;
  }
}

.app-step-navigation__point--current {
  box-shadow:
    0 0 0 2px govuk-colour("white");
  background: govuk-colour("blue");
}

.app-step-navigation__icon {
  @include govuk-font(24, "bold");
  display: inline-block;
  color: govuk-colour("black");
}

.app-step-navigation__heading {
  color: govuk-colour("dark-grey");
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100px;
  text-align: center;
}

.app-step-navigation__item-link {
  display: block;

  &:hover {
    .app-step-navigation__point--complete {
      background: govuk-tint(govuk-colour("green"), 40);
    }

    .app-step-navigation__heading {
      text-decoration: underline;
      color: govuk-colour("black");
    }
  }

  &:focus {
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
  }
}

.app-step-navigation__item--current {
  .app-step-navigation__icon {
    color: govuk-colour("white");
  }

  .app-step-navigation__heading {
    color: govuk-colour("black");
  }
}
