{% from "tick-icon/macro.njk" import appTickIcon %}

<style>
    .app-step-navigation:after {
        width: {{ params.width }}%;
    }
</style>

<nav class="app-step-navigation-container">
  <ul class="app-step-navigation">
    {% for step in params.steps %}
      <li class="app-step-navigation__item{% if step.isCurrent %} app-step-navigation__item--current{% endif %}"
          data-testid="app-step-navigation__item-{{ loop.index }}">
        <span class="app-step-navigation__point{% if step.isCurrent %} app-step-navigation__point--current{% endif %}{% if
          step.isComplete %} app-step-navigation__point--complete{% endif %}">

          {% if step.isComplete %}
            {{ appTickIcon() }}
          {% else %}
            <span class="app-step-navigation__icon" aria-hidden="true">{{ loop.index }}</span>
          {% endif %}
        </span>
        <p class="app-step-navigation__heading">{{ step.text }}</p>
      </li>
    {% endfor %}
  </ul>
</nav>
