{% extends "layouts/page.njk" %}

{% from "split-pane/macro.njk" import appSplitPane with context %}

{% block content %}
  {% call appSplitPane() %}

    {{ appHeading({
      title: heading,
      caption: "Detailed information about the " + heading + " Library.",
      entities: headingEntities
    }) }}

    <hr class="app-section-break">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">

      <div class="govuk-grid-column-two-thirds">
        <section class="app-section">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-3">About</h2>
          <p>
            {{ library.description }}
          </p>
        </section>
      </div>

      <div class="govuk-grid-column-one-third">
        {{ appEntityDataList({
          heading: "Library details",
          items: entityDataList
        }) }}
      </div>
    </div>

  {% endcall %}
{% endblock %}
