{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}
    {{ appPageHeading({
      text: pageHeading.text,
      intro: pageHeading.intro
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

