{% extends "layouts/page.njk" %}

{% from "split-pane/macro.njk" import appSplitPane with context %}

{% block content %}
  {% call appSplitPane() %}
    <section>
      {{ appHeading({
        title: heading,
        caption: headingCaption
      }) }}

      {{ appEntityList({
        headings: [
          { text: "Item", size: "large" },
          { text: "Team", size: "medium" },
          { text: "Language", size: "small" },
          { text: "Github Repository", size: "massive" },
          { text: "Created", size: "medium" }
        ],
        entityRows: entityRows,
        noResult: noResult
      }) }}

    </section>
  {% endcall %}

{% endblock %}

