{% extends "layouts/page.njk" %}


{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Create Tenant Resources"
    }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop">
    <ul class="app-list-style-none">
      <li><a href="create/s3">Create S3 Buckets</a></li>
    </ul>
  </div>
</div>
  {% endcall %}
{% endblock %}
