.app-summary-item {
  margin-right: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(4);
  background-color: $app-light-grey;
  border-radius: $app-border-radius;

  @include govuk-media-query($from: desktop-wide) {
    flex: 1;
    margin-bottom: 0;
  }
}

.app-summary-item__header {
  display: flex;
  align-items: center;
  margin-bottom: govuk-spacing(2);
}

.app-summary-item__icon {
  margin-right: govuk-spacing(1);
}

.app-summary-item__intro {
  margin-bottom: govuk-spacing(2);
}
