@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-panel {
  padding: govuk-spacing(4);
  background-color: $app-light-grey;
  border: 1px solid $app-grey;
  border-radius: $app-border-radius;

  & + & {
    margin-top: govuk-spacing(4);
  }
}

.app-panel--inverse {
  background-color: govuk-colour("white");
}

.app-panel--slim {
  padding: govuk-spacing(2);
}
