@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-panel {
  padding: govuk-spacing(4);
  background-color: $app-brand-background-colour-light;
  border: 1px solid $app-brand-background-colour;
  border-radius: $app-border-radius;

  & + & {
    margin-top: govuk-spacing(2);
  }
}

// Let grid control spacing between panels
@include govuk-media-query($from: desktop-big) {
  .app-grid {
    .app-panel {
      margin-top: 0;
    }
  }
}

.app-panel--inverse {
  background-color: govuk-colour("white");
}

.app-panel--with-highlight {
  border-left: 6px solid $app-brand-border-colour;
  border-radius: $app-border-radius-right;
}

.app-panel--slim {
  padding: govuk-spacing(2);
}
