@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-subnav {
  @include govuk-font(19);
}

.app-subnav__section {
  margin: 0 0 govuk-spacing(2);
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  padding: 2px 0;
  display: block;
}

.app-subnav__section-item {
  margin-bottom: govuk-spacing(1);
  padding: govuk-spacing(1) 0 govuk-spacing(1) govuk-spacing(3);
}

.app-subnav__section-item--current {
  $active-indicator-width: 4px;

  padding-left: govuk-spacing(2);
  border-left: $active-indicator-width solid govuk-colour("black");

  .app-subnav__link {
    font-weight: bold;
    color: govuk-colour("black")
  }
}
