{% extends "layouts/page.njk" %}

{% block content %}

{% from "icons/block-icon/macro.njk" import appBlockIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}
{% from "icons/internal-icon/macro.njk" import appInternalIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/schema-icon/macro.njk" import appSchemaIcon %}
{% from "summary/macro.njk" import appSummary %}
{% from "summary/summary-item/macro.njk" import appSummaryItem %}
{% from "time/macro.njk" import appTime %}
{% from "tag/macro.njk" import appTag %}


  {{ appPageHeading({
    caption: "Service",
    text: service.serviceName
  }) }}


  {% set gridClasses = ["app-grid app-grid-service", "app-grid-service--standard"] | join(" ") | trim %}

  <div class="app-service-container">

  {% block xhrContent %}

    {% if shouldPoll %}
      <div data-js="app-poll"
      data-poll-url="/services/{{ service.serviceName }}"
      data-poll-interval="3000"
      data-poll-limit="45">
    {% endif %}

    <article class="{{ gridClasses }}"
       data-xhr="service-creating-{{ service.serviceName }}"
       data-xhr-stop="{{ not shouldPoll }}">

      <section class="app-grid-service__details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p class="govuk-!-margin-bottom-2">
          {{ service.description }}
        </p>

        {{ govukSummaryList(summaryList) }}
      </section>

      <section class="app-grid-service__run">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Resources</h2>

        {{ appResourcesGrid({
          resources: resources
        }) }}
      </section>
    </article>

    {% if shouldPoll %}</div>{% endif %}

    {% endblock %}
  </div>

{% endblock %}
