{% from "govuk/components/button/macro.njk" import govukButton %}

{% set method = params.method | default("get") %}

<form action="{{ params.action }}" method="{{ method }}" class="app-filters-form" data-js="app-filters">
  <fieldset class="govuk-fieldset {%- if params.fieldset.classes %} {{ params.fieldset.classes }}{% endif %}">
    <div class="app-filters__heading">
      <div class="app-filters__header">
        <legend class="govuk-fieldset__legend {%- if params.legend.classes %} {{ params.legend.classes }}{% endif %}">
          {{ params.legend.text }}
        </legend>

        <p class="govuk-caption-m govuk-!-margin-bottom-3">
          {{ params.caption.text }}
        </p>
      </div>
      <div class="app-filters__info">
        {% if params.info.html %}
          {{ params.info.html | safe }}
        {% endif %}
      </div>
    </div>

    <div class="app-filters">
      {{ caller() }}

      <p class="govuk-body-m govuk-!-margin-bottom-0 app-filters__clear-all">
        <a href="{{ params.clear.url }}"
           class="govuk-link govuk-link--text-colour"
           data-clear-all="clearFilters"
           data-js="app-filters-clear-all">
          Clear all
        </a>
      </p>
    </div>

    {% for key, value in params.hiddenInputs %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

    {{ govukButton({
      classes: "app-button app-button--secondary js-hidden govuk-!-margin-top-2",
      text: params.noJsButton.text,
      attributes: {
        "data-js": "app-no-js-submit-button"
      }
    }) }}
  </fieldset>
</form>
