{% extends "layouts/page.njk" %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Frontend and Backend micro-service information."
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Service", size: "medium" },
      { text: "Type", size: "tiny" },
      { text: "Owner", size: "small" },
      { text: "Url", size: "large" },
      { text: "GitHub Repository", size: "large" },
      { text: "Created", size: "large" }
    ],
    entityRows: entityRows,
    noResult: "Currently there are no services"
  }) }}

{% endblock %}
