{% extends "layouts/page.njk" %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}

  {{ appHeading({
    text: "Service - " + heading,
    caption: "Micro-service information.",
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service Urls</h2>
      <p>
        <a class="govuk-link" href="{{ service.url }}" target="_blank">{{ serviceUrlText }}</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-2">GitHub Repository</h2>
      <p>
        This services code can be seen in the <a class="govuk-link" href="{{ service.repositoryUrl }}"
                                                 target="_blank">defra-cdp-sandpit/{{ service.id }}</a>
        GitHub repository.
      </p>

      <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-2">Image name</h2>
      <p>This services Elastic Container Registry image name is <em>{{ service.id }}</em>.</p>
    </div>
  </div>

{% endblock %}
