{% extends "layouts/tabbed-page.njk" %}

{% from "icons/block-icon/macro.njk" import appBlockIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}
{% from "icons/internal-icon/macro.njk" import appInternalIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/schema-icon/macro.njk" import appSchemaIcon %}
{% from "summary/macro.njk" import appSummary %}
{% from "summary/summary-item/macro.njk" import appSummaryItem %}
{% from "time/macro.njk" import appTime %}
{% from "tag/macro.njk" import appTag %}

{% macro vanityUrlComponent(params) %}
  <div class="app-!-layout-flex-start">
    {% if params.shuttered %}
      {% call appToolTip({ text: "Shuttered URL", classes: "app-tool-tip--small govuk-!-margin-right-1" }) %}
        {{ appWarningIcon({ classes: "app-icon--tiny", description: "Shuttered URL" }) }}
      {% endcall %}
      {% elif not params.enabled %}
      {% call appToolTip({ text: "Internal URL", classes: "app-tool-tip--small govuk-!-margin-right-1" }) %}
        {{ appInternalIcon({ classes: "app-icon--tiny", description: "Internal URL" }) }}
      {% endcall %}
    {% endif %}

    <a class="app-link" href="https://{{ params.url }}" target="_blank" rel="noopener noreferrer">
      https://{{ params.url }}
    </a>
  </div>
{% endmacro %}


{% macro apiGatewayComponent(params) %}
  <div class="app-!-layout-flex-start">
    {% if params.shuttered %}
      {% call appToolTip({ text: "Shuttered URL", classes: "app-tool-tip--small govuk-!-margin-right-1" }) %}
        {{ appWarningIcon({ classes: "app-icon--tiny", description: "Shuttered URL" }) }}
      {% endcall %}
    {% endif %}

    <a class="app-link" href="https://{{ params.api }}" target="_blank" rel="noopener noreferrer">
      https://{{ params.api }}
    </a>
  </div>
{% endmacro %}

{% set latestPublishedTableRows = [] %}
{% for version in latestPublishedImageVersions %}
  {% set versionLinkHtml %}
    <a class="app-link"
       href="https://github.com/DEFRA/{{ service.serviceName }}/releases/tag/{{ version.tag }}"
       target="_blank" rel="noopener noreferrer">{{ version.tag }}</a>
  {% endset %}

  {% set deployButtonHtml %}
    <a href="{{ routeLookup('deploy-service/details/{multiStepFormId?}', {
      query: { imageName: service.serviceName, version: version.tag }
    }) }}"
       role="button"
       class="govuk-button app-button app-button--primary app-button--small"
       data-testid="deploy-button">Deploy</a>
  {% endset %}

  {% set detailHtml %}
    <div class="app-row">
      {{ appInstanceIcon({ classes: "app-icon--small", description: "Published Image " + version.tag }) }}
      {{ appTime({ datetime: version.created, classes: "govuk-!-margin-left-2" }) }}
    </div>
  {% endset %}

  {% if isAdmin or isServiceOwner %}
    {{ latestPublishedTableRows.push([
      { html: detailHtml },
      { html: versionLinkHtml },
      { html: deployButtonHtml, classes: "govuk-table__header--numeric" }
    ]) }}
  {% else %}
    {{ latestPublishedTableRows.push([
      { html: detailHtml },
      { html: versionLinkHtml }
    ]) }}
  {% endif %}
{% endfor %}

{% set dbChangesTableRows = [] %}
{% for dbChange in dbChanges %}
  {% set dbChangeButtonHtml %}
    <a href="{{ routeLookup('update-database/change-details/{multiStepFormId?}', {
      query: { imageName: service.serviceName, version: dbChange.version }
    }) }}"
       role="button"
       class="govuk-button app-button app-button--secondary app-button--small"
       data-testid="deploy-button">Update</a>
  {% endset %}

  {% set detailHtml %}
    <div class="app-row">
      {{ appSchemaIcon({ classes: "app-icon--small", description: "Migration " + dbChange.version }) }}
      {{ appTime({ datetime: dbChange.created, classes: "govuk-!-margin-left-2" }) }}
    </div>
  {% endset %}

  {% set kind %}
    {{ appTag({ text: dbChange.kind | title, classes: "govuk-tag--purple" }) }}
  {% endset %}

  {% if hasPostgresPermission and (isAdmin or isServiceOwner) %}
    {{ dbChangesTableRows.push([
      { html: detailHtml },
      { html: dbChange.version },
      { html: kind },
      { html: dbChangeButtonHtml, classes: "app-!-text-align-right" }
    ]) }}
  {% else %}
    {{ dbChangesTableRows.push([
      { html: detailHtml },
      { html: dbChange.version },
      { html: kind}
    ]) }}
  {% endif %}
{% endfor %}

{% set shutteredUrls = [] %}
{% for vanityUrl in vanityUrls %}
  {% for url in vanityUrl.urls | selectattr("shuttered") %}
    {{ shutteredUrls.push(url.url) }}
  {% endfor %}
{% endfor %}

{% set apiGatewaydUrls = [] %}
{% for apiGateway in apiGateways %}
  {% for api in apiGateway.apis | selectattr("shuttered") %}
    {{ apiGatewaydUrls.push(api.api) }}
  {% endfor %}
{% endfor %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Service",
    text: service.serviceName
  }) }}
{% endblock %}

{% block tabContent %}

  <div class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">
    {% if shutteredUrls | length %}
      <ul class="govuk-list govuk-!-margin-bottom-0">
        {% for shutteredUrl in shutteredUrls %}
          <li>
            {% call appWarning({ classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0", isInverse: false }) %}
              <a class="app-link app-link--underline"
                 href="https://{{ shutteredUrl }}"
                 target="_blank" rel="noopener noreferrer">https://{{ shutteredUrl }}</a> has been shuttered
            {% endcall %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if apiGatewaydUrls | length %}
      <ul class="govuk-list govuk-!-margin-bottom-0">
        {% for apiGatewaydUrl in apiGatewaydUrls %}
          <li>
            {% call appWarning({ classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0", isInverse: false }) %}
              <a class="app-link app-link--underline"
                 href="https://{{ apiGatewaydUrl }}"
                 target="_blank"
                 rel="noopener noreferrer">https://{{ apiGatewaydUrl }}</a> has been shuttered
            {% endcall %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% set gridClasses = ["app-grid app-grid-service", "app-grid-service--postgres" if service.isPostgres else
  "app-grid-service--standard"] | join(" ") | trim %}

  <div class="app-service-container">
    <article class="{{ gridClasses }}">
      <section class="app-grid-service__details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p class="govuk-!-margin-bottom-2">
          {{ service.description }}
        </p>

        {{ govukSummaryList(summaryList) }}
      </section>

      <section class="app-grid-service__published" data-testid="published-images">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Published Images</h2>
        <p class="govuk-!-margin-bottom-2">
          Latest available CDP built and published docker images, via
          <a class="app-link" target="_blank" rel="noopener noreferrer"
             href="https://github.com/DEFRA/{{ imageName }}/actions">GitHub Actions</a>
        </p>

        {% if latestPublishedTableRows | length %}
          {{ govukTable({
            classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
            head: [
              { text: "Published" },
              { text: "Version" },
              {
                text: "Action",
                classes: "govuk-!-width-one-quarter app-!-text-align-right govuk-!-padding-right-5"
              } if isServiceOwner],
              rows: latestPublishedTableRows
            }) }}

          <p class="govuk-!-margin-bottom-0">
            <a class="app-link" target="_blank" rel="noopener noreferrer"
               href="https://github.com/DEFRA/{{ service.serviceName }}/tags">
              more versions
            </a>
          </p>

        {% else %}
          <p class="govuk-!-margin-bottom-2">
            No published versions available.
          </p>
        {% endif %}
      </section>

      {% if service.isPostgres %}
        <section class="app-grid-service__db-changes" data-testid="db-changes">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Database Changes</h2>
          <p class="govuk-!-margin-bottom-2">
            Latest database changes available for your service
          </p>

          {% set headings = [
            { text: "Created" },
            { text: "Version" },
            { text: "Kind" },
            {
              text: "Action",
              classes: "govuk-!-width-one-quarter app-!-text-align-right govuk-!-padding-right-5"
            } if hasPostgresPermission and (isAdmin or isServiceOwner) ] %}

          {% if dbChangesTableRows | length %}
            {{ govukTable({
              classes: "app-table app-table--inverse govuk-!-margin-bottom-0",
              head: headings,
              rows: dbChangesTableRows
              }) }}

          {% else %}
            <p class="govuk-!-margin-bottom-2">
              No changes available.
            </p>
          {% endif %}
        </section>
      {% endif %}

      <section class="app-grid-service__run">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Running Services</h2>
        <p class="govuk-!-margin-bottom-2">
          The versions of your service currently running on CDP environments. For more information view
          <a class="app-link" href="/running-services/{{ service.serviceName }}">Running services</a>
        </p>

        {{ appRunningServiceSlim({
          runningServices: runningServices,
          environments: availableServiceEnvironments,
          inverseZeroDeploy: true
        }) }}
      </section>

      <section class="app-grid-service__info">
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Deployments</h2>
          <p class="govuk-!-margin-bottom-6">
            To view this services deployments across all available environments go to
            <a class="app-link"
               href="{{ routeLookup('deployments/{environment}', {
                 query: { service : service.serviceName },
                 params: { environment : "infra-dev" if isAdmin else "dev"}
               }) }}">Deployments</a>
          </p>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Configuration</h2>
          <p class="govuk-!-margin-bottom-6">
            Manage service configuration and set environment variables across CDP environments. For more information
            see
            our <a class="app-link" href="/documentation/how-to/config.md">documentation for service config</a>.
            To view this services configuration go to
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-app-config/tree/main/services/{{ service.serviceName }}"
               target="_blank"
               rel="noopener noreferrer">https://github.com/DEFRA/cdp-app-config/{{ service.serviceName }}</a>
          </p>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Continuous Integration</h2>
          <p class="govuk-!-margin-bottom-0">
            Test, build and publish ready-to-deploy docker images of your service with CI and GitHub
            Actions workflows. Your service is built and published by GitHub Actions and comes with a number of
            useful CDP Workflows. To view these workflows and builds go to
            <a class="app-link" target="_blank" rel="noopener noreferrer"
               href="https://github.com/DEFRA/{{ service.serviceName }}/actions">
              https://github.com/DEFRA/{{ service.serviceName }}/actions</a>
          </p>
        </section>
      </section>
    </article>

    <aside class="app-service-container__sidebar">
      <section class="app-grid-service__links">
        {% if service.isFrontend %}

          {% if vanityUrls | length %}
            {% set urlText = "URL" | pluralise(vanityUrls | length * vanityUrls[0].urls | length) %}
            <section class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Service {{ urlText }}</h2>
              <p>
                User-friendly custom {{ urlText }}
              </p>

              {% if vanityUrls | length == 1 %}
                {% set firstVanityUrl = vanityUrls | first %}

                <ul class="govuk-list govuk-!-margin-0">
                  {% for url in firstVanityUrl.urls %}
                    <li>
                      {{ vanityUrlComponent(url) }}
                    </li>
                  {% endfor %}
                </ul>
              {% elseif vanityUrls | length %}
                <dl class="app-description-list">
                  {% for vanityUrl in vanityUrls %}
                    <dt class="app-description-list__term">{{ vanityUrl.environment | title }}</dt>
                    <dd class="app-description-list__details">
                      <ul class="govuk-list govuk-!-margin-0">
                        {% for url in vanityUrl.urls %}
                          <li>
                            {{ vanityUrlComponent(url) }}
                          </li>
                        {% endfor %}
                      </ul>
                    </dd>
                  {% endfor %}
                </dl>
              {% endif %}
            </section>
          {% endif %}

          <section class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">CDP Service URLs</h2>
            <p>
              Internal access URLs for service
            </p>

            <dl class="app-description-list">
              {% for environment in availableServiceEnvironments %}
                <dt class="app-description-list__term">{{ environment | title }}</dt>
                <dd class="app-description-list__details">
                  <a class="app-link"
                     href="https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud"
                     target="_blank" rel="noopener noreferrer">
                    https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud
                  </a>
                </dd>
              {% else %}
                <dd class="app-description-list__details">
                  No internal URLs available
                </dd>
              {% endfor %}
            </dl>
          </section>
        {% endif %}

        {% if service.isBackend %}
          {% if apiGateways | length %}
            {% set urlText = "URL" | pluralise(apiGateways | length * apiGateways[0].apis | length) %}
            <section class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">API Gateway {{ urlText }}</h2>
              <p>
                Publicly accessible URL for the service
              </p>

              <dl class="app-description-list">
                {% for apiGateway in apiGateways %}
                  <dt class="app-description-list__term">{{ apiGateway.environment | title }}</dt>
                  <dd class="app-description-list__details">
                    <ul class="govuk-list govuk-!-margin-0">
                      {% for api in apiGateway.apis %}
                        <li>
                          {{ apiGatewayComponent(api) }}
                        </li>
                      {% endfor %}
                    </ul>
                  </dd>
                {% endfor %}
              </dl>
            </section>
          {% endif %}

          <section class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">CDP Service-to-Service URLs</h2>
            <p>
              Internal access URLs for use between CDP services
            </p>

            <dl class="app-description-list">
              {% for environment in availableServiceEnvironments %}
                <dt class="app-description-list__term"> {{ environment | title }}</dt>
                <dd class="app-description-list__details">
                  <span>https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud</span>
                </dd>
              {% else %}
                <dd class="app-description-list__details">
                  No internal URLs available
                </dd>
              {% endfor %}
            </dl>
          </section>
        {% endif %}

        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Logs</h2>
          <p>
            OpenSearch logs for monitoring and troubleshooting your service
          </p>
          <dl class="app-description-list">
            {% for environment in availableServiceEnvironments %}
              <dt class="app-description-list__term">{{ environment | title }}</dt>
              <dd class="app-description-list__details">
                {{ appLogsDashboardLink({
                  serviceName: service.serviceName,
                  environment: environment
                }) }}
              </dd>
            {% else %}
              <dd class="app-description-list__details">
                No log URLs available
              </dd>
            {% endfor %}
          </dl>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Metrics</h2>
          <p>
            Grafana observability metrics data and graphs for your service
          </p>
          <dl class="app-description-list">
            {% for environment in availableServiceEnvironments %}
              <dt class="app-description-list__term">{{ environment | title }}</dt>
              <dd class="app-description-list__details">
                <a class="app-link"
                   href="https://metrics.{{ environment }}.cdp-int.defra.cloud/dashboards/f/{{ service.serviceName }}"
                   target="_blank" rel="noopener noreferrer">
                  https://metrics.{{ environment }}.cdp-int.defra.cloud
                </a>
              </dd>
            {% else %}
              <dd class="app-description-list__details">
                No metrics URLs available
              </dd>
            {% endfor %}
          </dl>
        </section>
      </section>
    </aside>
  </div>
{% endblock %}
