{% extends layout %}
{% from "./fields/input-field.njk" import inputField %}
{% from "./fields/textarea-field.njk" import textareaField %}

{% block formContent %}

  <form method="post" data-js="app-form-errors">
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

    {% call govukFieldset() %}

      {% for name, def in fields %}

        {{ resolveComponent(def)({
          name: name,
          def: def,
          resolveLabel: resolveLabel
        }) }}

      {% endfor %}

    {% endcall %}

    <div class="govuk-button-group">
      {{ govukButton({
        classes: "app-button",
        text: "Save",
        name: 'actionButton',
        value: 'submit'
      }) }}
      {{ govukButton({
        classes: "app-button  app-button--tertiary",
        text: "Cancel",
        name: 'actionButton',
        value: 'cancel'
      }) }}
    </div>

  </form>

{% endblock %}
