{% extends layout %}
{% from "./fields/input-field.njk" import inputField %}
{% from "./fields/textarea-field.njk" import textareaField %}
{% from "./fields/array-field.njk" import arrayField %}

{% block formContent %}

  <form method="post" data-js="app-form-errors">
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

    {% call govukFieldset() %}

      {% for name, def in fields %}

        {{ resolveComponent(def)({
          name: name,
          def: def,
          formValues: formValues,
          formErrors: formErrors,
          resolveLabel: resolveLabel,
          resolveItems: resolveItems
        }) }}

      {% endfor %}

    {% endcall %}

    <div class="govuk-button-group">
      {% if actions.submit %}
        {{ govukButton({
          classes: "app-button",
          text: actions.submit.text,
          name: 'actionButton',
          value: 'submit'
        }) }}
      {% endif %}

      {% if actions.cancel %}
        {{ govukButton({
          classes: "app-button  app-button--tertiary",
          text: actions.cancel.text,
          name: 'actionButton',
          value: 'cancel'
        }) }}
      {% endif %}
    </div>

  </form>

{% endblock %}
