{% extends "layouts/page.njk" %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Organisation Teams."
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Team", size: "medium"},
      { text: "GitHub", size: "medium"},
      { text: "Members", size: "small"},
      { text: "Created", size: "large"}
    ],
    entityRows: entityRows,
    noResult: "Currently there are no teams"
  }) }}

{% endblock %}
