{% extends "layouts/tabbed-page.njk" %}

{% from "icons/pending-icon/macro.njk" import appPendingIcon %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "info/macro.njk" import appInfo %}
{% from "loader/macro.njk" import appLoader %}
{% from "tag/macro.njk" import appTag %}
{% from "tool-tip/macro.njk" import appToolTip %}

{% set serviceSecretsTableRows = [] %}
{% set pluralEntityType = entityKind | pluralise %}

{% for secret in serviceSecrets.keys %}
  {% set actionHtml %}
    {% if secret.status == "available" %}
      <a href="{{ routeLookup(pluralEntityType + '/{serviceId}/secrets/{environment}/update', {
        query: { secretKey: secret.key },
        params: { serviceId: entityName, environment: environment }
      }) }}"
         class="app-link--underline"
         data-testid="app-secret-update-{{ secret.key | lower }}"
      >Update</a>
      <a href="{{ routeLookup(pluralEntityType + '/{serviceId}/secrets/{environment}/remove', {
        query: { secretKey: secret.key },
        params: { serviceId: entityName, environment: environment }
      }) }}"
         class="app-link--underline app-link--with-separator"
         data-testid="app-secret-remove-{{ secret.key | lower }}"
      >Remove</a>
    {% endif %}
    {% if secret.status == "pending" %}
      {{ appLoader({ classes: "app-loader--is-loading" }) }}
    {% endif %}
  {% endset %}

  {% set iconHtml %}
    {% if secret.status == "pending" %}
      {% call appToolTip({
        text: "Pending",
        classes: "app-tool-tip--small"
      }) %}
        {{ appPendingIcon({ classes: "app-icon--tiny", description: "Processing secret" }) }}
      {% endcall %}
      {% elif secret.status == "available" %}
      {% call appToolTip({
        text: "Secret available",
        classes: "app-tool-tip--small"
      }) %}
        {{ appTickIcon({ classes: "app-icon--tiny", description: "Secret available" }) }}
      {% endcall %}
    {% endif %}
  {% endset %}

  {{ serviceSecretsTableRows.push([
    { html: appTag({
      text: secret.key,
      classes: "govuk-tag--green",
      attributes: {
        "aria-label": "Service secret key",
        "data-testid": "app-secret-cell-" + secret.key.toLowerCase()
      }
    }) },
    { html: iconHtml,
      classes: "app-!-width-one-tenth",
      attributes: {
      "data-testid": "app-secret-status-" + secret.key.toLowerCase()
    }
    },
    { html: actionHtml,
      classes: "app-!-width-one-fifth app-!-align-vertical-middle govuk-table__header--numeric",
      attributes: {
      "data-testid": "app-secret-action-cell-" + secret.key.toLowerCase()
    }
    }
  ]) }}
{% endfor %}

{% set platformSecretsTableRows = [] %}

{% set platformIconHtml %}
  {% call appToolTip({
    text: "Secret available",
    classes: "app-tool-tip--small"
  }) %}
    {{ appTickIcon({ classes: "app-icon--tiny", description: "Secret available" }) }}
  {% endcall %}
{% endset %}

{% for platformSecret in platformSecrets %}
  {{ platformSecretsTableRows.push([
    { html: appTag({
      text: platformSecret.key,
      classes: "govuk-tag--grey",
      attributes: {
        "aria-label": "Platform secret key"
      }
    }), classes: "govuk-!-width-one-quarter" },
    { text: platformSecret.description, classes: "govuk-!-width-one-half" },
    { html: platformIconHtml, classes: "app-!-width-one-fifth" }
  ]) }}
{% endfor %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Secrets",
    text: entityName
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    {% call appSplitPane() %}
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-two-thirds-from-desktop-big">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2"
              data-testid="app-environment-header">{{ environment | title }} secrets</h2>
          <div class="app-section app-section--wide">
            <p class="govuk-!-margin-bottom-4">
              Manage secrets for {{ entityName }} in {{ environment | title }}
            </p>

            {% if shouldPoll %}
            <div data-js="app-poll"
                 data-poll-url="/{{ pluralEntityType }}/{{ entityName }}/secrets/{{ environment }}"
                 data-poll-interval="3000"
                 data-poll-limit="45">
              {% endif %}

              {% block xhrContent %}
                <article data-xhr="secrets-{{ entityName }}-{{ environment }}"
                         data-xhr-success-message="{{ successMessage }}"
                         data-xhr-error-message="{{ exceptionMessage }}"
                         data-xhr-stop="{{ not shouldPoll }}">
                  <div class="app-row">
                    <div class="app-row__item-flex-two">
                      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ entityKind | capitalize }} secrets
                        {% if shouldPoll %}
                          {{ appLoader({ classes: "app-loader--is-loading" }) }}
                        {% endif %}
                      </h2>
                    </div>
                    {% if serviceSecrets.lastChangedDate %}
                      <div class="app-!-layout-right-aligned app-row__item-flex-four app-row__item-align-self--end">
                        <p class="govuk-!-margin-bottom-2">
                          <strong class="govuk-!-margin-right-1">Last updated:</strong>
                          {{ appTime({
                            datetime: serviceSecrets.lastChangedDate
                          }) }}
                        </p>
                      </div>
                    {% endif %}
                  </div>

                  <p>
                    Secret keys available to your {{ entityKind }}
                  </p>

                  {{ appInfo({
                    classes: "govuk-!-margin-bottom-4",
                    html: "To apply any secret changes to your " + entityKind + " re-deploy it"
                  }) }}

                  {% call appPanel({ classes: "govuk-!-margin-bottom-6" }) %}
                    {% if serviceSecrets.keys | length %}
                      {{ govukTable({
                        classes: "app-table app-table--inverse govuk-!-margin-bottom-2",
                        head: [
                          { text: "Key" },
                          { text: "Status", classes: "app-!-width-one-tenth" },
                          { text: "Actions", classes: "app-!-width-one-fifth govuk-table__header--numeric" }
                        ],
                        rows: serviceSecretsTableRows
                      }) }}

                    {% else %}
                      <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"
                         data-testid="no-{{ entityKind }}-secrets">
                        No {{ entityKind }} secrets currently set
                      </p>
                    {% endif %}
                  {% endcall %}
                </article>
              {% endblock %}

              {% if shouldPoll %}</div>{% endif %}

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Platform secrets</h2>
            <p>
              Platform level secret keys available to your {{ entityKind }}
            </p>

            {% if platformSecrets | length %}
              {{ appInfo({
                classes: "govuk-!-margin-bottom-4",
                text: "These secrets are generated and set by the platform. They are fixed and cannot be changed"
              }) }}
            {% endif %}

            {% call appPanel({ classes: "govuk-!-margin-bottom-4" }) %}
              {% if platformSecrets | length %}
                {{ govukTable({
                  classes: "app-table app-table--inverse govuk-!-margin-bottom-2",
                  head: [
                    { text: "Key", classes: "govuk-!-width-one-quarter" },
                    { text: "Description", classes: "govuk-!-width-one-half" },
                    { text: "Status", classes: "app-!-width-one-fifth" }
                  ],
                  rows: platformSecretsTableRows
                }) }}

              {% else %}
                <p class="govuk-!-margin-top-4">
                  No platform secrets currently set
                </p>
              {% endif %}
            {% endcall %}

          </div>
        </section>

        <section class="govuk-grid-column-one-third-from-desktop-big">
          {% include "common/patterns/entities/tabs/secrets/views/partials/create-form.njk" %}
        </section>
      </div>
    {% endcall %}
  </section>
{% endblock %}
