{% extends "layouts/tabbed-page.njk" %}

{% from "info/macro.njk" import appInfo %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Remove Secret",
    text: entityName
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% set pluralEntityType = entityKind | pluralise %}

{% set helpHtml %}
  <p class="govuk-!-margin-bottom-1">
    Removing a secret is non-recoverable. If you remove the wrong secret
    <a href="/{{ pluralEntityType }}/{{ entityName }}/secrets/{{ environment }}"
       class="govuk-link app-link">create a new one</a>
  </p>
{% endset %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    {% call appSplitPane() %}
      <div class="govuk-!-margin-left-2 govuk-!-margin-top-2">
        <div class="govuk-grid-row">
          <section class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="app-remove-header">Remove secret</h2>
            <div class="app-section app-section--wide">
              <p>
                Remove secret from {{ environment | title }}
              </p>

                {% call govukFieldset() %}

                  {{ govukLabel({
                    text: "Secret name",
                    classes: "app-label govuk-!-margin-bottom-2"
                  }) }}

                  <p class="govuk-!-margin-bottom-6">{{ appTag({ text: secretKey, classes: "govuk-tag--green" }) }}</p>

                  {{ govukLabel({
                    text: "Environment",
                    classes: "app-label"
                  }) }}

                  <p class="govuk-!-margin-bottom-6">{{ environment | title }}</p>

                {% endcall %}

                <div class="govuk-!-margin-bottom-6">
                  {{ appInfo({
                    html: helpHtml
                  }) }}
                </div>

                <div class="app-!-layout-centered">

                  <form action="/{{ pluralEntityType }}/{{ entityName }}/secrets/{{ environment }}/remove" method="post">
                    <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
                    <input type="hidden" name="secretKey" value="{{ secretKey }}" />

                    <div class="govuk-body govuk-button-group">
                      {{ govukButton({
                        classes: "app-button app-button--destructive",
                        text: "Remove Secret",
                        attributes: {
                          "data-testid": "app-remove-button"
                        }
                      }) }}

                      <a class="app-link" href="/{{ pluralEntityType }}/{{ entityName }}/secrets/{{ environment }}">Cancel</a>
                    </div>
                  </form>
                </div>
            </div>
          </section>
        </div>
      </div>
    {% endcall %}
  </section>
{% endblock %}
