{% extends "layouts/tabbed-page.njk" %}

{% from "info/macro.njk" import appInfo %}

{% block beforeTabContent %}

  {{ appPageHeading({
    caption: "Update Secret",
    text: service.serviceName
  }) }}

{% endblock %}

{% set pluralServiceOrTest = serviceOrTestSuite | pluralise %}

{% block tabContent %}

  {% call appSplitPane() %}
    <div class="govuk-!-margin-left-2 govuk-!-margin-top-2">
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="app-update-header">Update secret</h2>
          <div class="app-section app-section--wide">
            <p>
              Update secret in {{ environment | title }}.
            </p>

            <form action="{{ routeLookup('post:' + pluralServiceOrTest + '/{serviceId}/secrets/{environment}/update', {
              params: { serviceId: service.serviceName, environment: environment }
            }) }}" method="post" data-js="app-form-errors">
              <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
              <input type="hidden" name="teamId" value="{{ teamId }}" />
              <input type="hidden" name="secretKey" value="{{ secretKey }}" />

              {% call govukFieldset() %}

                {{ govukLabel({
                  text: "Secret name",
                  classes: "app-label govuk-!-margin-bottom-2"
                }) }}

                <p class="govuk-!-margin-bottom-6">{{ appTag({ text: secretKey, classes: "govuk-tag--green" }) }}</p>

                {{ govukTextarea({
                  id: "secret-value",
                  name: "secretValue",
                  label: {
                    text: "Secret value",
                    classes: "app-label"
                  },
                  classes: "app-textarea app-textarea--wide",
                  hint: {
                    text: "Any number, letter or special character. Cannot include spaces",
                    classes: "app-hint"
                  },
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  attributes: {
                    "data-1p-ignore": ""
                  },
                  value: formValues.secretValue,
                  errorMessage: errorMessageHelper(formErrors.secretValue.message)
                }) }}

                {{ govukLabel({
                  text: "Environment",
                  classes: "app-label"
                }) }}

                <p class="govuk-!-margin-bottom-6">{{ environment | title }}</p>

              {% endcall %}

              <div class="app-!-layout-centered">
                {{ appButton({
                  text: "Update",
                  name: "button",
                  value: "update",
                  loader: {
                    name: "update-secret-submit-button",
                    hasSiblingButton: true
                  }
                }) }}

                <p class="govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                  <a class="app-link" href="{{ routeLookup
                    (pluralServiceOrTest + '/{serviceId}/secrets/{environment}', {
                      params: {
                        serviceId: service.serviceName,
                        environment: environment
                      }
                    }) }}">Cancel</a>
                </p>
              </div>

            </form>
          </div>
        </section>
      </div>
    </div>
  {% endcall %}

{% endblock %}
