{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro arrayField(params) %}
  {{ govukCheckboxes({
    id: params.name,
    name: params.name,
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: params.resolveLabel(params.def, params.name),
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: params.resolveItems(params.def),
    value: params.value,
    errorMessage: errorMessageHelper(params.error.message)
  }) }}
{% endmacro %}
