{% from "autocomplete/macro.njk" import appAutocomplete %}

{% macro autocompleteField(params) %}
  {{ appAutocomplete({
    id: params.name,
    name: params.name,
    label: {
      text: params.resolveLabel(params.def, params.name),
      classes: "app-label"
    },
    hint: {
      html: params.def.flags.description,
      classes: "app-hint"
    },
    formGroup: {
      classes: "app-form-group app-form-group-js"
    },
    suggestions: [],
    value: params.formValues[params.name],
    errorMessage: errorMessageHelper(params.formErrors[params.name].message)
  }) }}
{% endmacro %}
