{% from "autocomplete/macro.njk" import appAutocomplete %}

{% macro autocompleteField(params, helpers) %}
  {{ appAutocomplete({
    id: params.name,
    name: params.name,
    label: {
      text: helpers.resolveLabel(params.def, params.name),
      classes: "app-label " + helpers.resolveMeta(params.def, 'classes')
    },
    hint: {
      html: params.def.flags.description,
      classes: "app-hint"
    },
    formGroup: {
      classes: "app-form-group app-form-group-js"
    },
    suggestions: helpers.resolveMeta(params.def, 'suggestions'),
    value: params.formValues[params.name],
    errorMessage: errorMessageHelper(params.formErrors[params.name].message)
  }) }}
{% endmacro %}
