{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro booleanField(params, helpers) %}
  {{ govukRadios({
    id: params.name,
    name: params.name,
    classes: "govuk-radios--inline govuk-radios--small",
    fieldset: {
      legend: {
        text: helpers.resolveLabel(params.def, params.name),
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    formGroup: {
      classes: "app-form-group app-form-group-js"
    },
    hint: {
      html: params.def.flags.description,
      classes: "app-hint"
    },
    items: [
      {
        value: true,
        text: "Yes",
        checked: params.formValues[params.name] == true or params.formValues[params.name] == "true"
      },
      {
        value: false,
        text: "No",
        checked: params.formValues[params.name] == false or params.formValues[params.name] == "false"
      }
    ],
    errorMessage: errorMessageHelper(params.formErrors[params.name].message)
  }) }}
{% endmacro %}
