{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro booleanField(params, helpers) %}
  {% set trueConditionalHtml = '' %}

  {% for name, def in params.conditionalFields %}

    {% set html %}
      {{ resolveFormComponent(def.whens[0].then)({
        name: name,
        def: def.whens[0].then,
        formValues: formValues,
        formErrors: formErrors,
        conditionalFields: {}
      }, helpers) }}
    {% endset -%}
    {% set trueConditionalHtml = trueConditionalHtml + html %}

  {% endfor %}

  {{ govukRadios({
    id: params.name,
    name: params.name,
    classes: "govuk-radios--inline govuk-radios--small " + helpers.resolveMeta(params.def, 'classes'),
    fieldset: {
      legend: {
        text: helpers.resolveLabel(params.def, params.name),
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    formGroup: {
      classes: "app-form-group app-form-group-js"
    },
    hint: {
      html: params.def.flags.description,
      classes: "app-hint"
    },
    items: [
      {
        value: true,
        text: "Yes",
        checked: params.formValues[params.name] == true or params.formValues[params.name] == "true",
        conditional: {
          html: trueConditionalHtml
        }
      },
      {
        value: false,
        text: "No",
        checked: params.formValues[params.name] == false or params.formValues[params.name] == "false"
      }
    ],
    errorMessage: errorMessageHelper(params.formErrors[params.name].message)
  }) }}
{% endmacro %}
