{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro checkboxGroupField(params, helpers) %}
  {{ govukCheckboxes({
    id: params.name,
    name: params.name,
    classes: "govuk-checkboxes--small " + helpers.resolveMeta(params.def, 'classes'),
    hint: {
      html: params.def.flags.description,
      classes: "app-hint"
    },
    fieldset: {
      legend: {
        text: helpers.resolveLabel(params.def, params.name),
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: helpers.resolveChecked(helpers.resolveMeta(params.def, 'suggestions'), [params.formValues[params.name]]),
    errorMessage: errorMessageHelper(params.formErrors[params.name].message)
  }) }}
{% endmacro %}
