{% from "details/macro.njk" import appDetails %}

{% macro detailsField(params, helpers) %}
  {% call appDetails({ summaryText: helpers.resolveLabel(params.def, params.name), classes: "app-details__content-no-word-break" }) %}

  {% for name, def in params.def.keys %}

    {{ resolveFormComponent(def)({
      name: name,
      def: def,
      formValues: params.formValues,
      formErrors: params.formErrors
    }, helpers) }}

  {% endfor %}

  {% endcall %}
{% endmacro %}
