{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro summaryField(params, helpers) %}
  {{ govukSummaryList({
    rows: helpers.resolveSummaryRows(params.def),
    classes: helpers.resolveMeta(params.def, 'classes')
  }) }}
{% endmacro %}
