{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {# TODO this needs a rethink/rewording #}
        <p>Service deployment successfully requested</p>
      </div>
    </div>
  </div>

{% endblock %}
