{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="app-grid-column app-grid-column-one-third-from-desktop-wide">
        <form action="/deploy-service/details" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}" />

          {% call govukFieldset() %}

            {{ govukSelect({
              id: "image-name",
              name: "imageName",
              label: {
                text: "Image Name",
                classes: "app-label"
              },
              classes: "app-select app-select--wide",
              hint: {
                text: "Elastic Container Registry (ECR) image name",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.imageName,
              attributes: {
                "data-js": "app-autocomplete-controller",
                "data-fetcher": "fetchVersions",
                "data-target": "deploy-version",
                "data-loader": "deploy-version-loader",
                "data-publish-to": eventName.autocompleteUpdate + "-version"
              },
              errorMessage: {
                text: formErrors.imageName.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.imageName.message,
              items: deployableImageNameOptions
            }) }}

            {{ appAutocomplete({
              id: "version",
              name: "version",
              label: {
                text: "Image Version"
              },
              hint: {
                text: "Elastic Container Registry (ECR) image version"
              },
              value: formValues.version,
              dataJs: "deploy-version",
              subscribeTo: eventName.autocompleteUpdate + "-version",
              previousChoiceMessage:"choose Image name",
              errorMessage: {
                text: formErrors.version.message
              },
              suggestions: availableVersionOptions,
              loader: {
                name: "deploy-version-loader"
              }
            }) }}

            {{ govukSelect({
              id: "environment",
              name: "environment",
              label: {
                text: "Environment",
                classes: "app-label"
              },
              classes: "app-select",
              value: formValues.environment,
              hint: {
                text: "The environment to deploy to",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: {
                text: formErrors.environment.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.environment.message,
              items: environmentOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>

      {% block xhrContent %}
        <div class="app-grid-column app-grid-column-two-thirds-from-desktop-wide">
          {% call appXhrSubscriber({
            id: "deploy-data",
            subscribeTo: eventName.autocompleteUpdate + "-version",
            xhrUrl: "/deploy-service/details"
          }) %}

            {% call appPanel() %}
              <section class="app-row">

                <div class="app-grid-column-one-third">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Latest Builds</h2>
                  <p class="govuk-!-margin-bottom-2">
                    Latest published Image versions.
                    {% if imageName %}
                      Via
                      <a class="app-link" target="_blank" rel="noopener noreferrer"
                         href="https://github.com/DEFRA/{{ imageName }}/actions">
                        GitHub Actions - {{ imageName }}
                      </a>
                    {% endif %}
                  </p>

                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
                    {% for version in latestVersions %}

                      <li class="govuk-!-margin-bottom-1">
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-one-half">
                            <span class="app-row">
                              <span class="app-grid-column-one-quarter">
                                <a class="app-link"
                                   href="https://github.com/DEFRA/{{ imageName }}/releases/tag/{{ version.tag }}"
                                   target="_blank" rel="noopener noreferrer">{{ version.tag }}</a>
                              </span>
                              <span class="app-grid-column-three-quarters">
                                <span class="govuk-!-margin-right-1">Published</span>
                                  {{ appTime({
                                    datetime: version.created
                                  }) }}
                              </span>
                            </span>
                          </div>
                        </div>
                      </li>

                    {% else %}
                      {% if imageName %}
                        <li class="govuk-!-margin-0">No versions available.</li>
                      {% endif %}
                    {% endfor %}
                    {% if imageName %}
                      <li class="app-list-style-none govuk-!-margin-bottom-0">
                        <a class="app-link" target="_blank" rel="noopener noreferrer"
                           href="https://github.com/DEFRA/{{ imageName }}/tags">
                          more
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>

              </section>
            {% endcall %}

            {% call appPanel() %}
              <section class="app-row">

                <div class="app-grid-column-one-third">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Running Services</h2>
                  <p class="govuk-!-margin-bottom-0">
                    Currently deployed versions of your Image.
                  </p>
                  {% if imageName %}
                    {{ appEntityList({
                      headings: rowHeadings,
                      entityRows: runningServicesEntityRows,
                      classes: "app-entity-list__table--single",
                      noResult: "Currently there are no versions of " + imageName + " running in any environments"
                    }) }}
                  {% endif %}
                </div>

              </section>
            {% endcall %}

          {% endcall %}
        </div>
      {% endblock %}

    </div>
  </div>

{% endblock %}
