{% extends "layouts/page.njk" %}

{% set allocatedResourcesHelpHtml %}
  <p class="govuk-!-margin-bottom-2">
    All deployments require resources for platform processes:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ platformCPUResourceAsVCpu }} vCPU will be automatically allocated to platform processes</li>
    <li>{{ platformMemoryResource }} MB will be automatically allocated to platform processes</li>
  </ul>
  <p class="govuk-!-margin-bottom-4">These resources are taken from the CPU size and the Memory allocation you
    choose in this form.</p>
{% endset %}

{% set prototypeOptionsHtml %}
  <p class="govuk-!-margin-bottom-2">
    Your prototypes Instance count has been hardcoded to 1, and you have a reduced amount of CPU size and Memory
    allocation available. The values we have provided should be more than enough for your prototype.
  </p>
  <p class="govuk-!-margin-bottom-2">
    However, if you feel these are not appropriate for
    your prototype. Contact the Platform team via Slack <a class="app-link app-link--underline app-link--text-colour"
                                                           href="{{ supportChannel }}"
                                                           target="_blank"
                                                           rel="noopener noreferrer">#cdp-support</a>
  </p>
{% endset %}

{% block content %}
  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">
    {{ appPageHeading({
      caption: "Deploy service",
      text: "Options",
      intro: "Choose microservice instance count, CPU and memory allocation" if not formValues.isPrototype
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        {% if formValues.preExistingDetails %}
          {{ appInfo({
            text: "Previously deployed options populated below.",
            actionText: "Edit"
          }) }}
        {% endif %}

        {% if formValues.isPrototype %}
          {{ appInfo({ html: prototypeOptionsHtml }) }}
        {% endif %}

        <form action="/deploy-service/options/{{ multiStepFormId }}"
              method="post"
              data-js="app-form-errors{% if formValues.preExistingDetails %} app-protected-inputs{% endif %}">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}" />
          {% if formValues.isPrototype %}
            <input type="hidden" name="instanceCount" value="1" />
          {% endif %}

          {% call govukFieldset() %}

            {{ govukSelect({
              id: "instanceCount",
              name: "instanceCount",
              label: {
                text: "Instance count",
                classes: "app-label"
              },
              classes: "app-select app-select--slim",
              hint: {
                text: "Number of container instances to run",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.instanceCount,
              errorMessage: errorMessageHelper(formErrors.instanceCount.message),
              items: availableInstancesOptions,
              attributes: { disabled: "disabled" } if formValues.isPrototype
            }) }}

            {{ govukSelect({
              id: "cpu",
              name: "cpu",
              label: {
                text: "CPU size",
                classes: "app-label"
              },
              classes: "app-select",
              hint: {
                text: "Container CPU size. 1 vCPU = 1024 CPU units",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.cpu,
              attributes: {
                "data-js": "app-select-controller",
                "data-fetcher": "fetchMemory",
                "data-fetcher-args": isPrototype,
                "data-target": "deploy-memory",
                "data-loader": "memory-loader"
              },
              errorMessage: errorMessageHelper(formErrors.cpu.message),
              items: formValues.cpuOptions
            }) }}

            {{ appSelect({
              id: "memory",
              name: "memory",
              label: {
                text: "Memory allocation",
                classes: "app-label"
              },
              classes: "app-select",
              hint: {
                text: "Container memory allocation. 1 GB = 1024 MB",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.memory if not formErrors.memory.message,
              attributes: {
                "data-js": "deploy-memory",
                "data-testid": "deploy-memory"
              },
              loader: {
                name: "memory-loader"
              },
              errorMessage: errorMessageHelper(formErrors.memory.message),
              items: formValues.availableMemoryOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop-wide">
        {% if not formValues.isPrototype %}
          {{ appInfo({
            html: allocatedResourcesHelpHtml,
            classes: "govuk-!-margin-bottom-4"
          }) }}
        {% endif %}

        {% call appPanel() %}
          <section class="app-row">
            <div class="app-row__item-flex-two">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Running Services</h2>
              <p class="govuk-!-margin-bottom-2">
                Currently, deployed Image versions{%- if imageName %} for {{ imageName }}{% endif -%}
                {% if imageName %}
                  For more information view <a class="app-link" href="/running-services/{{ imageName }}">
                  Running services
                </a>
                {% endif %}
              </p>

              {% if imageName %}
                <div class="app-section app-section--extra-wide">
                  {{ appRunningService({
                    runningServices: runningServices,
                    environments: environments
                  }) }}
                </div>
              {% endif %}
            </div>
          </section>
        {% endcall %}

        {% if latestMigrations | length %}
          {% call appPanel() %}
            <section class="app-row">
              <div class="app-row__item-flex-two">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Database Details</h2>
                <p class="govuk-!-margin-bottom-2">
                  Currently, applied database changes{%- if imageName %} for {{ imageName }}{% endif -%}
                </p>

                {% if imageName %}
                  <div class="app-section app-section--extra-wide">
                    {{ appDatabaseDetail({
                      serviceName: imageName,
                      databaseDetails: latestMigrations,
                      environments: environments
                    }) }}
                  </div>
                {% endif %}
              </div>
            </section>
          {% endcall %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
