{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">
    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        {% if formValues.preExistingDetails %}
          {{ appInfo({
            text: "Previously deployed options populated below.",
            actionText: "Edit"
          }) }}
        {% endif %}

        <form action="/deploy-service/options/{{ multiStepFormId }}"
              method="post"
              data-js="app-form-errors{% if formValues.preExistingDetails %} app-protected-inputs{% endif %}">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}" />

          {% call govukFieldset() %}

            {{ govukSelect({
              id: "instanceCount",
              name: "instanceCount",
              label: {
                text: "Instance count",
                classes: "app-label"
              },
              classes: "app-select app-select--slim",
              hint: {
                text: "Number of container instances to run",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.instanceCount,
              errorMessage: {
                text: formErrors.instanceCount.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.instanceCount.message,
              items: availableInstancesOptions
            }) }}

            {{ govukSelect({
              id: "cpu",
              name: "cpu",
              label: {
                text: "CPU size",
                classes: "app-label"
              },
              classes: "app-select",
              hint: {
                text: "Container CPU size",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.cpu,
              attributes: {
                "data-js": "app-select-controller",
                "data-fetcher": "fetchMemory",
                "data-target": "deploy-memory",
                "data-loader": "memory-loader"
              },
              errorMessage: {
                text: formErrors.cpu.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.cpu.message,
              items: formValues.cpuOptions
            }) }}

            {{ appSelect({
              id: "memory",
              name: "memory",
              label: {
                text: "Memory allocation",
                classes: "app-label"
              },
              classes: "app-select",
              hint: {
                text: "Container memory allocation",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.memory if not formErrors.memory.message,
              attributes: {
                "data-js": "deploy-memory"
              },
              loader: {
                name: "memory-loader"
              },
              errorMessage: {
                text: formErrors.memory.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.memory.message,
              items: formValues.availableMemoryOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>

      {% set allocatedResourcesHelpHtml %}
        <p class="govuk-!-margin-bottom-2">
          All deployments require resources for platform processes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ platformCPUResourceAsVCpu }} vCPU will be automatically allocated to platform processes</li>
          <li>{{ platformMemoryResource }} MB will be automatically allocated to platform processes</li>
        </ul>
        <p class="govuk-!-margin-bottom-4">These resources are taken from the CPU size and the Memory allocation you
          choose in this form.</p>
      {% endset %}

      <div class="govuk-grid-column-one-third">
        {{ appInfo({
          html: allocatedResourcesHelpHtml
        }) }}
      </div>
    </div>
  </div>

{% endblock %}
