{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="app-grid-column-two-thirds-at-desktop-wide">
        {{ appInfo({
          html: helpText
        }) }}

        <form action="/deploy-service/deploy" method="post">

          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: deploymentRows
          }) }}

          {{ appButton({
            text: formButtonText,
            loader: {
              name: "deploy-submit-button"
            }
          }) }}

        </form>
      </div>
    </div>
  </div>

{% endblock %}
