{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      caption: "Deploy service",
      text: "Summary",
      intro: "Information about the microservice you are going to deploy"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop-wide">
        {{ appInfo({
          html: helpText
        }) }}

        <form action="/deploy-service/deploy/{{ multiStepFormId }}" method="post">

          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="configVersion" value="{{ configVersion }}" />

          {% call appPanel({
            classes: "govuk-!-margin-bottom-4"
          }) %}
            {{ govukSummaryList({
              classes: "app-summary-list",
              rows: deploymentRows,
              attributes: { "data-testid": "deploy-summary" }
            }) }}
          {% endcall %}

          {% call appPanel() %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Configuration</h2>

            <section class="app-flex-center">
              <div class="app-flex__one">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Service Config</h2>

                <p class="govuk-!-margin-bottom-2">
                  Environment variables available to this deployment can be seen in
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a
                      class="app-link"
                      href="https://github.com/DEFRA/cdp-app-config/blob/{{ configVersion }}/services/{{ stepData.imageName }}/{{ stepData.environment }}/{{ stepData.imageName }}.env"
                      target="_blank"
                      rel="noopener noreferrer">
                      {{ stepData.imageName }} - {{ stepData.environment }} - config
                    </a>
                  </li>
                  <li>
                    <a
                      class="app-link"
                      href="https://github.com/DEFRA/cdp-app-config/blob/{{ configVersion }}/services/{{ stepData.imageName }}/defaults.env"
                      target="_blank"
                      rel="noopener noreferrer">
                      {{ stepData.imageName }} - defaults
                    </a>
                  </li>
                </ul>
              </div>
              <div class="app-flex__one">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Secrets</h2>
                <p class="govuk-!-margin-bottom-2">
                  The secret environment variables available to this deployment
                </p>

                {{ appSecretsList(secretDetail) }}
              </div>
            </section>
          {% endcall %}

          <div class="govuk-!-margin-top-6">
            {{ appButton({
              text: formButtonText,
              loader: {
                name: "deploy-submit-button"
              }
            }) }}
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
