@use "govuk-frontend" as *;
@use "helpers/link" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-details {
  position: relative;
  display: block;
  margin-left: 2px;
  margin-bottom: govuk-spacing(4);
  color: govuk-colour("black");

  @include govuk-font($size: 19);
}

.app-details__summary {
  margin-left: govuk-spacing(2);
  display: block;
  display: flex;
  color: govuk-colour("black");
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: govuk-spacing(-2);
    display: block;
    width: 24px;
    height: 24px;
    background-image: govuk-image-url("chevron.svg");
    fill: govuk-colour("black");

    .app-details[open] > & {
      transform: rotate(90deg);
    }
  }
}

.app-details__content {
  padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(4) govuk-spacing(3);
  margin: govuk-spacing(1) 0 0;
  min-width: 600px;
  border-left: 6px solid govuk-colour("blue");
  background-color: $app-brand-background-colour-light;
  display: inline-block;
  border-radius: $app-border-radius-right;
  word-break: break-word;

  & > :last-child {
    margin-bottom: 0;
  }
}
