{% extends "layouts/page.njk" %}
{% from "./components/dependency-row/macro.njk" import dependencyRow %}

{% block content %}
  {{ appPageHeading({
    text: entity,
    intro: 'Dependencies'
  }) }}

  {% call appFilters({
    action: pageUrl,
    clear: {
      url: pageUrl
    }
  }) %}


    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "entityVersion",
        name: "entityVersion",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Service version",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: query.entityVersion,
        suggestions: [],
        placeholder: "Version"
      }) }}
    </div>


    <div class="app-filters__item">
      {{ appAutocomplete({
      id: "dependencyType",
      name: "dependencyType",
      classes: "app-autocomplete--tiny app-autocomplete--inline",
      label: {
        text: "Dependnecy type",
        classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
      },
      formGroup: {
        classes: "app-form-group--inline"
      },
      value: query.dependencyType,
      suggestions: dependencyTypeOptions
      }) }}
    </div>

    {{ appAutocomplete({
      id: "dependencyName",
      name: "dependencyName",
      classes: "app-autocomplete--search-medium app-autocomplete--inline",
      label: {
        text: "Dependency name",
        classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
      },
      icon: appSearchIcon(),
      formGroup: {
        classes: "app-form-group--inline"
      },
      value: dependencyName,
      disableLunrSpecialCharactersFilter: true,
      suggestionClasses: "app-autocomplete__suggestion--leading-hint",
      dataFetcher: {
        name: "searchDependencyName",
        loader: "search-dependency-loader"
      },
      loader: {
        name: "search-dependency-loader"
      },
      placeholder: "Search by dependency"
    }) }}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "dependencyVersion",
        name: "dependencyVersion",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Dependency version",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: query.dependencyVersion,
        suggestions: [],
        placeholder: "Version"
      }) }}
    </div>

  {% endcall %}

  {% block xhrContent %}
    <div data-xhr="{{ xhrElement }}">
      {% call(params) appEntityTable(tableData) %}
        {{  dependencyRow({
          rowClasses: params.rowClasses,
          loopIndex: params.loopIndex,
          entity: entity,
          entityVersion: params.row.entityVersion,
          entityVersionFilterUrl: params.row.entityVersionFilterUrl,
          entityTags: params.row.entityTags,
          dependencyName: params.row.dependencyName,
          dependencyNameFilterUrl: params.row.dependencyNameFilterUrl,
          dependencyVersion: params.row.dependencyVersion,
          dependencyVersionFilterUrl: params.row.dependencyVersionFilterUrl,
          dependencyType: params.row.dependencyType,
          dependencyTypeFilterUrl: params.row.dependencyTypeFilterUrl
        }) }}
      {% endcall %}
    </div>
  {% endblock %}

{% endblock %}
