{% extends "layouts/page.njk" %}

{% from "documentation/macro.njk" import appDocumentation %}

{% block content %}
  {{ appPageHeading({
    text: "Documentation",
    intro: "All things Core Delivery Platform, Architecture, Onboarding, Services, Developer docs and more"
  }) }}

  <hr class="app-section-break app-section-break--slim">

  {{ appDocumentation({ nav: nav, content: content, toc: toc }) }}

{% endblock %}
