{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Diagnostics",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% call appSplitPane() %}
          <span class="govuk-caption-l">{{environment | formatText}}</span>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Diagnostics</h2>
          <p class="govuk-!-margin-bottom-2">
            Provides a visual representation of <strong>{{entity.name}}'s</strong> network dependencies and consumers, allowing you to quickly understand the relationships between various components in your system.
          </p>


          <pre class="mermaid mermaid--no-label-background mermaid--light-links mermaid--icon-tooltips">
            flowchart RL
              internet@{ icon: "cloud", label: "Internet"}

              subgraph network[" "]
                direction TD

                subgraph ingress[Ingress]
                  style ingress fill:#fff,stroke-dasharray:10 5
                  direction LR

                  waf@{ icon: "logos:aws-waf", label: "WAF logs"}

                  alb@{ icon: "logos:aws-alb", label: "ALB logs"}

                  nginx@{ icon: "logos:nginx", label: "Nginx logs"}

                  sslSidecar@{ icon: "logos:containership", label: "SSL sidecar logs"}

                  waf --> alb
                  alb --> nginx
                  nginx --> sslSidecar
                end

                subgraph egress[Egress]
                  style egress fill:#fff,stroke-dasharray:10 5
                  direction RL

                  forwarder@{ icon: "logos:containership", label: "Forwarder proxy logs"}

                  squid@{ icon: "logos:nginx", label: "Squid proxy logs"}

                  forwarder --> squid
                end

                ingress --- egress
              end

              subgraph app[Service / Resources]
                style app fill:#fff,stroke-dasharray:10 5
                direction LR

                service@{ icon: "logos:aws-fargate", label: "Service logs"}

                metrics@{ icon: "logos:aws-mongo", label: "Metrics logs"}

                mongo@{ icon: "logos:aws-mongo", label: "Mongo logs"}

                postgress@{ icon: "logos:aws-mongo", label: "Postgress logs"}

                service --- metrics
                service --- mongo
                service --- postgress
              end

              internet --> network
              network --> app
              app --> network
              network --> internet

             </pre>


          sslSidecar --> service
          service --> forwarder
          forwarder --> squid

        {% endcall %}

      </div>
    </div>
  </section>


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("src/client/javascripts/mermaid.js") }}"></script>
{% endblock %}
