{% extends "layouts/tabbed-page.njk" %}
{% from "tool-tip/macro.njk" import appToolTip %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Diagnostics",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% call appSplitPane() %}
          <span class="govuk-caption-l">{{environment | formatText}}</span>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Diagnostics</h2>
          <p class="govuk-!-margin-bottom-2">
            Provides a visual representation of traffic flow for <strong>{{entity.name}}</strong> allowing you to quickly understand the stages in the platform and view logs and metrics for those stages.
          </p>

          {% if serviceDeployedInEnvironment %}

            <pre class="mermaid mermaid--no-label-background mermaid--light-links mermaid--icon-tooltips">
              flowchart LR
                subgraph network[" "]
                  style network fill:#fff,stroke-dasharray:10 5
                  direction TD

                  subgraph ingress[Ingress - <a href="/documentation/architecture/architectural-overview.md#ingress" data-js="open-window">Documentation</a>]
                    direction LR

                    {% if entity.subType == 'Frontend' %}
                      {% if environment == 'prod' or environment == 'ext-test' or environment == 'infra-dev' %}
                        browser@{ icon: "logos:chrome", label: "External Browser"}
                        browser browser_link@--> public_alb
                        browser_link@{ animation: slow }

                        public_alb@{ img: "{{ getAssetPath("src/client/images/application-load-balancer.svg") }}", h: 48, w: 48, constraint: 'on', label: "{{ renderLinks('ALB (Public)') | safe }}"}
                        public_alb public_alb_link@--> nginx
                        public_alb_link@{ animation: slow }
                      {% endif %}

                      int_browser@{ icon: "logos:microsoft-edge", label: "Internal Browser"}
                      int_browser int_browser_link@--> alb
                      int_browser_link@{ animation: slow }
                    {% else %}
                      {% if resources.tenant_config.api_gateway %} %% TODO: Use new api_gateways section
                        {% if resources.api_gateway.type == 'REGIONAL' and (environment == 'prod' or environment == 'ext-test' or environment == 'infra-dev') %}
                          ext-client@{ icon: "logos:postman-icon", label: "External client"}
                          ext-client ext-client_link@--> public_api
                          ext-client_link@{ animation: slow }

                          public_api@{ icon: "logos:aws-api-gateway", label: "{{ renderLinks('API Gateway (Public)', logViewUrl('api-gw-public'), resources.metrics.apigw_public[0].url) | safe }}"}
                          public_api public_api_link@--> alb
                          public_api_link@{ animation: slow }
                        {% endif %}

                        client@{ icon: "logos:postman-icon", label: "Internal client"}
                        client client_link@--> api
                        client_link@{ animation: slow }

                        api@{ icon: "logos:aws-api-gateway", label: "{{ renderLinks('API Gateway (Private)', logViewUrl('api-gw-private'), resources.metrics.apigw[0].url) | safe }}"}
                        api api_link@--> alb
                        api_link@{ animation: slow }
                      {% endif %}

                      frontend@{ icon: "logos:aws-fargate", label: "Frontend client"}
                      frontend frontend_link@--> alb
                      frontend_link@{ animation: slow }
                    {% endif %}

                    alb@{ img: "{{ getAssetPath("src/client/images/application-load-balancer.svg") }}", h: 48, w: 48, constraint: 'on', label: "{{ renderLinks('ALB (Private)') | safe }}"}

                    nginx@{ icon: "logos:nginx", label: "{{ renderLinks('Nginx (Public)' if entity.subType == 'Frontend' else 'Nginx (Protected)', logViewUrl('nginx-public') if entity.subType == 'Frontend' else logViewUrl('nginx-protected')) | safe }}"}

                    subgraph ingress_pod[ ]
                      sslSidecar@{ icon: "logos:docker-icon", label: "{{ renderLinks('SSL Sidecar', 'ssl-sidecar') | safe }}"}

                      service_ingress@{ icon: "logos:aws-fargate", label: "Service"}
                    end

                    alb alb_link@--> nginx
                    alb_link@{ animation: slow }

                    nginx nginx_link@--> sslSidecar
                    nginx_link@{ animation: slow }

                    sslSidecar sslSidecar_link@--> service_ingress
                    sslSidecar_link@{ animation: slow }
                  end

                  subgraph egress[Egress - <a href="/documentation/architecture/architectural-overview.md#egress" data-js="open-window">Documentation</a>]
                    direction RL

                    subgraph egress_pod[ ]
                      service_egress@{ icon: "logos:aws-fargate", label: "Service"}

                      forwarder@{ icon: "logos:docker-icon", label: "{{ renderLinks('Proxy Sidecar', logViewUrl('forwarder-proxy'), null, 'how-to/proxy.md') | safe }}"}
                    end

                    squid@{ img: "{{ getAssetPath("src/client/images/squid.jpeg") }}", h: 48, w: 48, constraint: 'on', label: "{{ renderLinks('Squid proxy', logViewUrl('squid-proxy')) | safe }}"}

                    internet@{ img: "{{ getAssetPath("src/client/images/cloud.svg") }}", h: 40, w: 40, constraint: 'on', label: "Internet"}

                    service_egress service_egress_link@--> forwarder
                    service_egress_link@{ animation: slow }

                    forwarder forwarder_link@--> squid
                    forwarder_link@{ animation: slow }

                    squid squid_link@--> internet
                    squid_link@{ animation: slow }
                  end

                  ingress ~~~ egress
                end

                subgraph app[Service / Resources]
                  direction LR

                  service@{ icon: "logos:aws-fargate", label: "{{ renderLinks('Service', logViewUrl('app'), resources.metrics.service[0].url) | safe }}"}

                  {% if entity.subType == 'Backend' %}
                    {% if resources.tenant_config.mongo%}
                      mongo@{ icon: "logos:mongodb-icon", label: "{{ renderLinks('MongoDB', logViewUrl('mongo'), resources.metrics.mongodb[0].url) | safe }}"}
                      service -.- mongo
                    {% endif %}

                    {% if resources.tenant_config.sql_database%}
                      postgress@{ icon: "logos:aws-aurora", label: "{{ renderLinks('PostgreSQL') | safe }}"}
                      service -.- postgress
                    {% endif %}
                  {% endif %}

                end

                network ~~~ app


              </pre>

            {% else %}

              {{ appInfo({ text: "Service not deployed in this environment" }) }}

            {% endif %}

       {% endcall %}

      </div>
    </div>
  </section>


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("src/client/javascripts/mermaid.js") }}"></script>
{% endblock %}
