{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Diagnostics",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% call appSplitPane() %}
          <span class="govuk-caption-l">{{environment | formatText}}</span>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Diagnostics</h2>
          <p class="govuk-!-margin-bottom-2">
            Provides a visual representation of <strong>{{entity.name}}'s</strong> network dependencies and consumers, allowing you to quickly understand the relationships between various components in your system.
          </p>

          <pre class="mermaid mermaid--no-label-background mermaid--light-links mermaid--icon-tooltips">
            flowchart LR
              subgraph network[" "]
                style network fill:#fff,stroke-dasharray:10 5
                direction TD

                subgraph ingress[Ingress]
                  direction LR

                  {% if entity.subType == 'Frontend' %}
                    browser@{ icon: "logos:chrome", label: "Browser"}
                    browser browser_link@--> waf
                    browser_link@{ animation: slow }
                  {% else %}
                    {% if resources.tenant_config.api_gateway%}
                      client@{ icon: "logos:postman-icon", label: "External client"}
                      client client_link@--> api
                      client_link@{ animation: slow }

                      api@{ icon: "logos:aws-api-gateway", label: "API gateway logs"}
                      click api "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-api-gw-private" _blank
                      api api_link@--> waf
                      api_link@{ animation: slow }
                    {% endif %}

                    frontend@{ icon: "logos:aws-fargate", label: "Frontend service"}
                    frontend frontend_link@--> waf
                    frontend_link@{ animation: slow }
                  {% endif %}

                  waf@{ icon: "logos:aws-waf", label: "WAF logs"}

                  alb@{ img: "{{ getAssetPath("src/client/images/application-load-balancer.svg") }}", h: 48, w: 48, constraint: 'on', label: "<a href="/">ALB logs</a>"}

                  nginx@{ icon: "logos:nginx", label: "Nginx logs"}
                  click nginx "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-nginx-{% if entity.subType == 'Frontend' %}public{% else %}protected{% endif %}" _blank

                  sslSidecar@{ icon: "logos:docker-icon", label: "SSL sidecar logs"}
                  click sslSidecar "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-ssl-sidecar" _blank

                  waf waf_link@--> alb
                  waf_link@{ animation: slow }

                  alb alb_link@--> nginx
                  alb_link@{ animation: slow }

                  nginx nginx_link@--> sslSidecar
                  nginx_link@{ animation: slow }
                end

                subgraph egress[Egress]
                  direction RL

                  forwarder@{ icon: "logos:docker-icon", label: "Forwarder proxy logs"}
                  click forwarder "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-forwarder-proxy" _blank

                  squid@{ img: "{{ getAssetPath("src/client/images/squid.jpeg") }}", h: 48, w: 48, constraint: 'on', label: "Squid proxy logs"}
                  click squid "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-squid-proxy" _blank

                  internet@{ img: "{{ getAssetPath("src/client/images/cloud.svg") }}", h: 40, w: 40, constraint: 'on', label: "Internet"}

                  forwarder forwarder_link@--> squid
                  forwarder_link@{ animation: slow }

                  squid squid_link@--> internet
                  squid_link@{ animation: slow }
                end

                ingress ~~~ egress
              end

              subgraph app[Service / Resources]
                direction LR

                service@{ icon: "logos:aws-fargate", label: "Application logs"}
                click service "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-app" _blank

                metrics@{ icon: "logos:grafana", label: "Metric Dashboards"}
                click metrics "{{ resources.metrics[0].url }}" _blank
                service -.- metrics

                {% if entity.subType == 'Frontend' %}
                  reddis@{ icon: "logos:aws-elastic-cache", label: "Reddis logs"}
                  service -.- reddis
                {% else %}
                  {% if resources.tenant_config.mongo%}
                    mongo@{ icon: "logos:mongodb-icon", label: "Mongo logs"}
                    click mongo "https://logs.{{ environment }}.cdp-int.defra.cloud/_dashboards/app/discover#/view/{{ entity.name }}-mongo" _blank
                    service -.- mongo
                  {% endif %}

                  {% if resources.tenant_config.sql_database%}
                    postgress@{ icon: "logos:aws-aurora", label: "PostgreSQL logs"}
                    service -.- postgress
                  {% endif %}
                {% endif %}

              end

              network ~~~ app

             </pre>
        {% endcall %}

      </div>
    </div>
  </section>


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("src/client/javascripts/mermaid.js") }}"></script>
{% endblock %}
