{% from "heading/macro.njk" import appHeading %}

{{ appHeading({
  title: heading
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p data-testid="error-message">{{ message }}</p>
  </div>
</div>

{% if isAdmin and stack %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <pre class="app-code-container">
        <code class="app-code">
          {{ stack | safe }}
        </code>
      </pre>
    </div>
  </div>
{% endif %}
