{% from "govuk/components/tag/macro.njk" import govukTag %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entityVersion" class="app-entity-table__cell" data-label="entityVersion">
      <div class="app-!-layout-centered govuk-!-margin-top-2">
        <div class="app-entity-table__row-caption">
          {{ params.entityVersion }}

          {% for tag in params.entityTags %}

            {{ govukTag({
              text: tag,
              classes: 'app-tag',
              attributes: { "data-testid": "govuk-tag" }
            }) }}

          {% endfor %}
        </div>
      </div>
  </td>

  <td headers="dependencyName" class="app-entity-table__cell" data-label="dependencyName">
      {{ params.dependencyName }}
  </td>

  <td headers="dependencyType" class="app-entity-table__cell" data-label="dependencyType">
    {{ params.dependencyType }}
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    {{ params.dependencyVersion }}
  </td>
</tr>
