{% from "govuk/components/tag/macro.njk" import govukTag %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entityVersion" class="app-entity-table__cell" data-label="entityVersion">
      <div class="app-!-layout-centered govuk-!-margin-top-2">
        <div class="app-entity-table__row-caption">
          <a class="app-link" href="/dependency-explorer/services/{{ params.entity  | urlencode | safe }}?entityVersion={{ params.entityVersion  | urlencode | safe }}" data-testid="app-entity-link">{{ params.entityVersion }}</a>

          {% for tag in params.entityTags %}

            {{ govukTag({
              text: tag,
              classes: 'app-tag',
              attributes: { "data-testid": "govuk-tag" }
            }) }}

          {% endfor %}
        </div>
      </div>
  </td>

  <td headers="dependencyType" class="app-entity-table__cell" data-label="dependencyType">
    {{ params.dependencyType }}
  </td>

  <td headers="entity" class="app-entity-table__cell" data-label="entity">
     <a class="app-link" href="/dependency-explorer/{{params.dependencyType  | urlencode | safe}}:{{ params.dependency  | urlencode | safe }}" data-testid="app-entity-link">
        {{ params.dependency }}
      </a>
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    <a class="app-link" href="/dependency-explorer/{{params.dependencyType | urlencode | safe}}:{{ params.dependency | urlencode | safe }}?versionStart={{params.dependencyVersion | urlencode | safe}}" data-testid="app-entity-link">
      {{ params.dependencyVersion }}
    </a>
  </td>
</tr>
