{% from "govuk/components/tag/macro.njk" import govukTag %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entityVersion" class="app-entity-table__cell" data-label="entityVersion">
      <div class="app-!-layout-centered govuk-!-margin-top-2">
        <div class="app-entity-table__row-caption">
          <a class="app-link" href="{{ params.entityVersionFilterUrl }}" data-testid="app-entity-link">{{ params.entityVersion }}</a>

          {% for tag in params.entityTags %}

            {{ govukTag({
              text: tag,
              classes: 'app-tag',
              attributes: { "data-testid": "govuk-tag" }
            }) }}

          {% endfor %}
        </div>
      </div>
  </td>

  <td headers="dependencyType" class="app-entity-table__cell" data-label="dependencyType">
    <a class="app-link" href="{{ params.dependencyTypeFilterUrl }}" data-testid="app-entity-link">{{ params.dependencyType }}</a>
  </td>

  <td headers="dependencyName" class="app-entity-table__cell" data-label="dependencyName">
     <a class="app-link" href="{{ params.dependencyNameFilterUrl }}" data-testid="app-entity-link">
        {{ params.dependencyName }}
      </a>
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    <a class="app-link" href="{{ params.dependencyVersionFilterUrl }}" data-testid="app-entity-link">
      {{ params.dependencyVersion }}
    </a>
  </td>
</tr>
