{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro renderRows(rows, type, resources, formatBasketResource) %}
  {% for resource in resources %}
    {% set formattedResource = formatBasketResource(resource) %}
    {{ rows.push(
      {
        key: { text: formattedResource.name },
        value: { html: renderObject(formattedResource) }
      }
    )}}
  {% endfor %}
{% endmacro %}

{% macro renderObject(obj) %}
  <table class="table--embedded">
    {% for prop, value in obj %}
      <tr>
        <th>{{ prop | formatText | replace('-', ' ') }}</th>
        <td>{{ renderObject(value) if value | isObject else value }}</td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}


{% for type, resources in params.request %}

  {% if resources.length %}

    {% set rows = [] %}
    {% set t = renderRows(rows, type, resources, params.formatBasketResource) %}

    {{ govukSummaryList({
      card: {
        title: {
          text: type | capitalize | replace("_", " ") | uppercaseMatch(["sqs", "sns", "sql", "api", "ai"])
        }
      },
      rows: rows

    }) }}

  {% endif %}

{% endfor %}
