$govuk-assets-path: "~govuk-frontend/govuk/assets/";
$govuk-global-styles: true;
$govuk-page-width: 2560px;

$govuk-grid-widths: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%
);

@import "~govuk-frontend/govuk/all";

@import "helpers/all";
@import "variables/all";
@import "core/all";
@import "components/all";
@import "partials/all";
