<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  {% for env in params.envs %}
    <td headers="{{ env.id }}" class="app-entity-table__cell" data-label="{{ env.id }}">
      {% if not env.resource %}
        - - -
      {% else  %}
        <a href="/services/{{ params.entity.name }}/resources/{{ env.id }}#{{ env.resource }}" style="word-break: break-word;">{{ env.resource }}</a>
      {% endif %}
    </td>
  {% endfor %}
</tr>
