<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  {% for env in params.envs %}
    <td headers="{{ env.id }}" class="app-entity-table__cell" data-label="{{ env.id }}">
      {% if not env.domain %}
        - - -
      {% else  %}
        <a href="/services/cdp-portal-backend/resources/management" style="word-break: break-word;">{{ env.domain }}</a>
      {% endif %}
    </td>
  {% endfor %}
</tr>
