{% extends 'layouts/page.njk' %}

{% from "card/macro.njk" import appCard %}

{% block content %}
    {{ appHeading({
        text: heading,
        caption: "Latest DEFRA deployments"
    }) }}

    <ul class="govuk-list">
        {% for deployment in deployments %}
            {{ appCard(deployment) }}
        {% else %}
            <li>Currently there are no deployments</li>
        {% endfor %}
    </ul>
{% endblock %}
