{% extends 'layouts/two-columns.njk' %}

{% block contentHeader %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>
{% endblock %}

{% block contentMain %}
  <p>Main content goes here</p>
{% endblock %}

{% block contentSidebar %}
  <p>Sidebar content goes here</p>
{% endblock %}
