.app-entity-list {
  margin-top: 0;
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-entity-list__header {
  @include govuk-font(24, "bold");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.4;
  margin-top: govuk-spacing(4);
  padding: 0 govuk-spacing(2) govuk-spacing(1);
}

.app-entity-list__table {
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  padding-left: 0;
  list-style-type: none;
  border-top: 1px solid $app-grey;
  flex: 1;
}

.app-entity-list__row {
  @include govuk-font(19);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) govuk-spacing(2);
  border-bottom: 1px solid $app-grey;
  line-height: 1.4;

  &:nth-child(odd) {
    background-color: $app-light-grey;
  }

  &:last-child {
    border: none;
  }
}

.app-entity-list__item {
  padding-left: govuk-spacing(2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:first-of-type {
    padding-left: govuk-spacing(0);
  }
}

// TODO can this be improved? Can CSS grid be used?
.app-entity-list__item--tiny {
  flex: .2;
  max-width: 80px;
}

.app-entity-list__item--small {
  flex: .4;
  max-width: 160px;
}

.app-entity-list__item--medium {
  flex: .6;
  max-width: 240px;
}

.app-entity-list__item--large {
  flex: .8;
  max-width: 320px;
}

.app-entity-list__item--massive {
  flex: 1;
  max-width: 400px;
}

.app-entity-list__footer {
  margin: govuk-spacing(4) auto;
}
