// Simple flex grid. Use the govuk grid if you need a fully functioning grid.
.app-row {
  display: flex;
  align-items: center;
}

.app-grid-column-full {
  flex: 1;
  align-self: flex-start;
}

.app-grid-column-one-third {
  flex: 1;
  align-self: flex-start;
}

.app-grid-column-two-thirds {
  flex: 2;
  align-self: flex-start;
}

.app-grid-column-one-half {
  flex: 1;
  align-self: flex-start;
}

.app-grid-column-one-quarter {
  flex: 1;
  align-self: flex-start;
}

.app-grid-column-two-quarters {
  flex: 2;
  align-self: flex-start;
}

.app-grid-column-three-quarters {
  flex: 3;
  align-self: flex-start;
}
