.app-link {
  @include app-link;
}

.app-link--inverse {
  @include govuk-link-style-inverse;

  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: underline;
  }
}
