@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$card-width: 240px;
$card-height: 180px;

.app-running-service-mini {
  @extend %govuk-body-m;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
  grid-auto-rows: max-content;
  gap: govuk-spacing(2);
  margin: 0;
}

.app-running-service-mini__card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-radius: $app-border-radius;
  min-height: $card-height;
  min-width: $card-width;
  background-color: govuk-colour("white");

  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);
    border: 1px solid govuk-tint(govuk-colour("green"), 60%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("green"), 60%);
    }

    .app-running-service-mini__item--heading {
      background-color: govuk-tint(govuk-colour("green"), 70%);
      border-bottom: 1px solid govuk-tint(govuk-colour("green"), 60%);
    }
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);
    border: 1px solid govuk-tint(govuk-colour("bright-purple"), 65%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("bright-purple"), 65%);
    }

    .app-running-service-mini__item--heading {
      background-color: govuk-tint(govuk-colour("bright-purple"), 75%);
      border-bottom: 1px solid govuk-tint(govuk-colour("bright-purple"), 65%);
    }
  }

  &.item-detail--grey {
    background-color: govuk-tint(govuk-colour("dark-grey"), 85%);
    border: 1px solid govuk-tint(govuk-colour("dark-grey"), 65%);

    .app-instance {
      fill: govuk-tint(govuk-colour("dark-grey"), 10%);
    }

    .app-tag {
      background-color: govuk-tint(govuk-colour("dark-grey"), 65%);
    }

    .app-running-service-mini__item--heading {
      background-color: govuk-tint(govuk-colour("dark-grey"), 75%);
      border-bottom: 1px solid govuk-tint(govuk-colour("dark-grey"), 65%);
    }
  }

  &.item-detail--light-blue {
    background-color: govuk-tint(govuk-colour("blue"), 90%);
    border: 1px solid govuk-tint(govuk-colour("blue"), 70%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("blue"), 60%);
    }

    .app-running-service-mini__item--heading {
      background-color: govuk-tint(govuk-colour("blue"), 80%);
      border-bottom: 1px solid govuk-tint(govuk-colour("blue"), 70%);
    }
  }

  &.item-detail--red {
    background-color: govuk-tint(govuk-colour("red"), 75%);
    border: 1px solid govuk-tint(govuk-colour("red"), 55%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("red"), 45%);
    }

    .app-running-service-mini__item--heading {
      background-color: govuk-tint(govuk-colour("red"), 65%);
      border-bottom: 1px solid govuk-tint(govuk-colour("red"), 55%);
    }
  }

  .app-running-service-mini__item {
    padding: govuk-spacing(2);
  }

  .app-running-service-mini__item--unstable {
    display: flex;
    align-items: center;
    color: govuk-colour("white");
    background-color: govuk-colour("red");
    padding: govuk-spacing(2);
    border-radius: $app-border-radius-top;

    .app-warning-icon {
      fill: govuk-colour("white");
    }
  }

  .app-running-service-mini__item--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: govuk-spacing(2);
    min-height: govuk-spacing(5);
  }

  .app-running-service-mini__item--version {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .app-running-service-mini__item--deployed-by {
    margin: auto 0 0;
  }
}

.app-running-service-mini__label {
  color: govuk-colour("dark-grey");
}

.app-running-service-mini__card--empty {
  color: govuk-colour("dark-grey");
  border: 1px solid $app-grey;

  .app-running-service-mini__item--heading {
    border-bottom: 1px solid $app-grey;
    background-color: $app-grey;
    border-radius: $app-border-radius-top;
  }
}
