<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entity" class="app-entity-table__cell" data-label="entity">
      <a class="app-link" href="/dependency-explorer/{{ params.entity }}/?versionStart={{ params.entityVersion }}" data-testid="app-entity-link">
        {{ params.dependency }}
      </a>
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    {{ params.dependencyVersion }}
  </td>
</tr>
