{% extends "layouts/page.njk" %}

{% block content %}

  {{ appPageHeading({
    text: "Services"
  }) }}

  {% call appFilters({
    action: "/services",
    noJsButton: {
      text: "Search"
    },
    hiddenInputs: hiddenInputs
  }) %}
    {% call govukFieldset({
      legend: {
        text: "Search",
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-2"
      }
    }) %}
      <p class="govuk-caption-m govuk-!-margin-bottom-3">
        Search and filter services
      </p>

      <div class="app-filters">
        <div class="app-filters__item">
          {{ appAutocomplete({
            id: "filters-service",
            name: "service",
            classes: "app-autocomplete--small app-autocomplete--inline",
            label: {
              text: "Service name",
              classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
            },
            formGroup: {
              classes: "app-form-group--inline"
            },
            value: formValues.service,
            suggestions: serviceFilters
          }) }}
        </div>

        <div class="app-filters__item">
          {{ appAutocomplete({
            id: "filters-team",
            name: "teamId",
            classes: "app-autocomplete--small app-autocomplete--inline",
            label: {
              text: "Team",
              classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
            },
            formGroup: {
              classes: "app-form-group--inline"
            },
            value: formValues.teamId,
            suggestions: teamFilters
          }) }}
        </div>

        <p class="govuk-body-m govuk-!-margin-bottom-0 app-filters__clear-all">
          <a href="/services"
             class="govuk-link govuk-link--text-colour"
             data-clear-all="clearFilters"
             data-js="app-filters-clear-all">
            Clear all
          </a>
        </p>
      </div>

    {% endcall %}
  {% endcall %}

  {% block xhrContent %}
    <div data-xhr="services">
      {{ appEntityTable(tableData) }}
    </div>
  {% endblock %}

{% endblock %}
