{% extends "layouts/page.njk" %}

{% block content %}

  {% set infoHtml %}
    {{ appEntityDataList({
      items: servicesInfo
    }) }}
  {% endset %}

  {{ appPageHeading({
    text: "Services",
    intro: "Frontend and backend microservice details"
  }) }}

  {% call appFilters({
    action: "/services",
    noJsButton: {
      text: "Search"
    },
    legend: {
      text: "Search",
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-2"
    },
    caption: {
      text: "Search and filter microservices"
    },
    info: {
      html: infoHtml
    },
    clear: {
      url: "/services"
    },
    hiddenInputs: hiddenInputs
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-service",
        name: "service",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Service name",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.service,
        suggestions: serviceFilters,
        typeahead: true,
        placeholder: "Search by service"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "teamId",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Team",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.teamId,
        suggestions: teamFilters
      }) }}
    </div>

  {% endcall %}

  {% block xhrContent %}
    <div data-xhr="services">
      {{ appEntityTable(tableData) }}
    </div>
  {% endblock %}
{% endblock %}
