{% extends "layouts/tabbed-page.njk" %}

{% from "entity-data-list/macro.njk" import appEntityDataList with context %}
{% from "services/common/components/service-row/macro.njk" import appEntityTableServiceRow %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: caption,
    text: "Services",
    intro: "Frontend, backend and prototype microservice details"
  }) }}

  {% call appFilters({
    action: action,
    info: {
      html: appEntityDataList({
        items: servicesInfo
      })
    },
    clear: {
      url: "/services"
    }
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-service",
        name: "service",
        classes: "app-autocomplete--medium app-autocomplete--inline",
        label: {
          text: "Service name",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.service,
        suggestions: serviceFilters,
        typeahead: true,
        placeholder: "Search by service"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "teamId",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Team",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.teamId,
        suggestions: teamFilters
      }) }}
    </div>

  {% endcall %}
{% endblock %}

{% block tabContent %}

  {% block xhrContent %}
    <div data-xhr="{{ xhrElement }}">
      {% call(params) appEntityTable(tableData) %}

        {{ appEntityTableServiceRow({
          rowClasses: params.rowClasses,
          loopIndex: params.loopIndex,
          isOwner: params.row.isOwner,
          entityName: params.row.entityName,
          serviceTags: params.row.serviceTags,
          teams: params.row.teams,
          serviceType: params.row.serviceType,
          githubUrl: params.row.githubUrl,
          creationState: params.row.creationState
        }) | safe }}

      {% endcall %}
    </div>
  {% endblock %}

{% endblock %}
