{% set content = params.html | safe %}

<span
  class="app-tool-tip{% if params.classes %} {{ params.classes }}{% endif %}"
  data-text="{{ params.text }}"
>
  {{ caller() if caller else content }}
</span>
