.app-heading {
  display: flex;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);
}

.app-heading__entities {
  @include govuk-font(19);
  display: flex;
  margin-top: govuk-spacing(2);
}

.app-heading__action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: govuk-spacing(3) 0 0 0;
}

.app-heading__action-item {
  & + & {
    margin-left: govuk-spacing(1);
  }
}
