.app-heading {
  display: flex;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);
}

.app-heading__action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.app-heading__entities {
  display: flex;
  margin-top: govuk-spacing(2);
}
