{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      caption: "Add Permission",
      text: scope.value | formatText
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">

        <form action="/admin/permissions/{{ scope.scopeId }}/add"
              method="post"
              data-js="auto-submit app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          {% call govukFieldset() %}

            {{ appSearch({
              iconDescription: "Search",
              label: {
                text: uiMessages.search.label
              },
              id: "searchQuery",
              name: "searchQuery",
              hint: {
                text: uiMessages.search.hint
              },
              value: formValues.searchQuery,
              errorMessage: errorMessageHelper(formErrors.searchQuery.message)
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button app-button--secondary govuk-!-margin-bottom-4 js-hidden",
            text: "Search",
            name: "button",
            value: "search",
            attributes: {
              "data-js": "app-no-js-submit-button"
            }
          }) }}

          {% block xhrContent %}

            <article class="app-scrollable-window" data-xhr="add-scope" data-children-can-submit="true">

              {% if entities | length %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Search results</h2>
              {% endif %}

              {% for entity in entities %}
                {{ entity.disabled }}
              {% endfor %}

              {% if entities | length or formErrors.entityIds.message %}
                {{ govukCheckboxes({
                  name: "entityIds",
                  classes: "govuk-checkboxes--small app-checkboxes",
                  items: entities,
                  values: formValues.entityIds,
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  errorMessage: errorMessageHelper(formErrors.entityIds.message)
                }) }}
              {% endif %}

              {% if formValues.searchQuery and not entities | length %}
                <p class="govuk-hint">{{ uiMessages.search.noResults }}</p>
              {% endif %}

            </article>

          {% endblock %}

          <div class="govuk-body govuk-button-group">
            {{ govukButton({
              classes: "app-button",
              text: "Add permission"
            }) }}

            <a class="app-link" href="/admin/permissions/{{ scope.scopeId }}">Cancel</a>
          </div>

        </form>
      </div>
    </div>

  {% endcall %}
{% endblock %}
