@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;
@use "helpers/reading-width" as *;
@use "variables/measurements" as *;

.app-info {
  display: flex;
  align-items: start;
  border-left: 6px solid govuk-colour("blue");
  margin: govuk-spacing(2) 0;
  padding: govuk-spacing(4) govuk-spacing(2);
  background-color: $app-brand-background-colour-light;
  border-radius: $app-border-radius-right;
  word-break: break-word;
}

.app-info--inverse {
  background-color: govuk-colour("white");
}

.app-info-icon {
  margin-right: govuk-spacing(2);
  fill: govuk-colour("blue");
}

.app-info__content {
  align-self: center;
  flex: 8;
  @include govuk-font(19);
  margin-right: govuk-spacing(1);
  color: govuk-colour("black");
}

.app-info__action {
  margin-left: auto;
  align-self: center;
}
