@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-info {
  display: flex;
  align-items: flex-start;
  border-left: 4px solid govuk-colour("blue");
  margin: govuk-spacing(2) govuk-spacing(0);
  padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) govuk-spacing(1);
  background-color: $app-light-grey;
  border-radius: $app-border-radius-right;
  word-break: break-word;
}

.app-info--inverse {
  background-color: govuk-colour("white");
}

.app-info-icon {
  margin-right: govuk-spacing(2);
  fill: govuk-colour("blue");
}

.app-info__content {
  flex: 8;
  @include govuk-font(19);
  margin-top: govuk-spacing(1);
  margin-right: govuk-spacing(1);
  color: govuk-colour("black");
}

.app-info__action {
  margin-left: auto;
}
