{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "icons/info-icon/macro.njk" import appInfoIcon %}

{% set content = params.html | safe if params.html else params.text %}
{% set classes = ["app-info", params.classes if params.classes, "app-info--inverse" if params.isInverse] | join(" ") |
  trim %}

<div
  class="{{ classes }}"
  tabindex="-1"
  role="alert"
  data-testid="app-info">

  {{ appInfoIcon({
    classes: "app-icon-medium",
    description: "Info"
  }) }}

  <span class="app-info__content" data-testid="app-info-content">
    {{ caller() if caller else content }}
  </span>

  {% if params.actionText %}
    <span class="app-info__action">
      {{ govukButton({
        classes: "app-button app-button--secondary js-visible",
        text: params.actionText,
        attributes: {
          "data-js": "protected-button"
        }
      }) }}
    </span>
  {% endif %}
</div>

