{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "icons/info-icon/macro.njk" import appInfoIcon %}

{% set content = params.html | safe if params.html else params.text %}

<div class="app-info{% if params.isSlim %} app-info--slim{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}"
     tabindex="-1"
     role="alert"
     data-testid="app-info">
  {% if not params.isSlim %}
    {{ appInfoIcon({
      classes: "app-icon-medium"
    }) }}
  {% endif %}
  <span class="app-info__content" data-testid="app-info-content">
    {{ content }}
  </span>

  {% if params.actionText %}
    <span class="app-info__action">
      {{ govukButton({
        classes: "app-button app-button--secondary js-visible",
        text: params.actionText,
        attributes: {
          "data-js": "protected-button"
        }
      }) }}
    </span>
  {% endif %}
</div>
