{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entity" class="app-entity-table__cell" data-label="entity">
      <a class="app-link" href="/dependency-explorer/{{ params.entity }}/?version={{ params.entityVersion }}" data-testid="app-entity-link">
        {{ params.entity }} ({{ params.entityVersion }})
      </a>

      {% if params.entityTags | length %}
        <div class="app-!-layout-centered govuk-!-margin-top-2">
          <div class="app-entity-table__row-caption">
            {% for tag in params.entityTags %}

              {{ govukTag({
                text: tag,
                classes: 'app-tag',
                attributes: { "data-testid": "govuk-tag" }
              }) }}

            {% endfor %}
          </div>
        </div>
      {% endif %}
  </td>

  <td headers="teams" class="app-entity-table__cell" data-label="teams">
    <ul class="app-entity__list">
      {% for team in params.teams %}
        <a class="app-link" href="{{ team.url }}" data-testid="app-entity-link">
          {{ team.value }}
        </a>
      {% endfor %}
    </ul>
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    <a class="app-link" href="/dependency-explorer/?dependnecy={{ params.dependency }}&versionStart={{params.dependencyVersion}}" data-testid="app-entity-link">
      {{ params.dependencyVersion }}
    </a>
  </td>

  {% for env in params.envs %}
    <td headers="{{ env.id }}" class="app-entity-table__cell" data-label="{{ env.id }}">
      {% if env.selected %}
      <div class="app-check" data-testid="check-{{ env.id }}"></div>
      {% else %}
      - - -
      {% endif %}
    </td>
  {% endfor %}

</tr>
