{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "tool-tip/macro.njk" import appToolTip %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entity" class="app-entity-table__cell" data-label="entity">
    <div class="app-!-layout-centered">
      <div class="app-entity-table__row-caption">
        <a class="app-link" href="/dependency-explorer/services/{{ params.entity  | urlencode | safe }}/{{ params.entityVersion  | urlencode | safe }}" data-testid="app-entity-link">
          {{ params.entity }} ({{ params.entityVersion }})
        </a>

        {% call appToolTip({ text: 'Docker build stage' }) %}
          {{ govukTag({
            text: params.entityStage | formatText,
            classes: 'app-tag govuk-tag--green',
            attributes: { "data-testid": "govuk-tag" }
          }) }}
        {% endcall %}

        {% for tag in params.entityTags %}

          {{ govukTag({
            text: tag,
            classes: 'app-tag',
            attributes: { "data-testid": "govuk-tag" }
          }) }}

        {% endfor %}
      </div>
    </div>
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    {{ params.dependencyVersion }}
  </td>

  <td headers="teams" class="app-entity-table__cell" data-label="teams">
    <ul class="app-entity__list">
      {% for team in params.teams %}
        <a class="app-link" href="{{ team.url }}" data-testid="app-entity-link">
          {{ team.value }}
        </a>
      {% endfor %}
    </ul>
  </td>

  {% for env in params.envs %}
    <td headers="{{ env.id }}" class="app-entity-table__cell" data-label="{{ env.id }}">
      {% if env.selected %}
      <div class="app-check" data-testid="check-{{ env.id }}"></div>
      {% else %}
      - - -
      {% endif %}
    </td>
  {% endfor %}

</tr>
