{% extends "layouts/tabbed-page.njk" %}

{% from "icons/chart-icon/macro.njk" import appChartIcon %}
{% from "icons/check-icon/macro.njk" import appCheckIcon %}
{% from "icons/globe-icon/macro.njk" import appGlobeIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}
{% from "icons/logs-icon/macro.njk" import appLogsIcon %}
{% from "icons/web-icon/macro.njk" import appWebIcon %}
{% from "icons/wrench-icon/macro.njk" import appWrenchIcon %}
{% from "summary-item/macro.njk" import appSummaryItem %}
{% from "summary/macro.njk" import appSummary %}
{% from "time/macro.njk" import appTime %}

{% set latestPublishedTableRows = [] %}
{% for version in latestVersions %}

  {% set versionLinkHtml %}
    <a class="app-link"
       href="https://github.com/DEFRA/{{ service.serviceName }}/releases/tag/{{ version.tag }}"
       target="_blank" rel="noopener noreferrer">{{ version.tag }}</a>
  {% endset %}

  {% set deployButtonHtml %}
    <a href="{{ routeLookup('deploy-service/details/{multiStepFormId?}', {
      params: { multiStepFormId?: "" },
      query: { imageName: service.serviceName, version: version.tag }
    }) }}" role="button" class="govuk-button app-button app-button--small app-button--primary">Deploy</a>
  {% endset %}

  {% if canDeploy %}
    {{ latestPublishedTableRows.push([
      { html: appTime({ datetime: version.created }) },
      { html: versionLinkHtml },
      { html: deployButtonHtml }
    ]) }}
  {% else %}
    {{ latestPublishedTableRows.push([
      { html: appTime({ datetime: version.created }) },
      { html: versionLinkHtml }
    ]) }}
  {% endif %}
{% endfor %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <section class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p>
          {{ service.description }}
        </p>
      </section>

      <section class="govuk-!-margin-bottom-6">
        {% call appSummary() %}

          {% if service.isFrontend %}
            {% call appSummaryItem({
              heading: "Application links",
              icon: appGlobeIcon({ classes: "app-icon-small"}),
              intro: {
                text: "Access your service in CDP environments."
              }
            }) %}
              <ul class="govuk-list govuk-!-margin-bottom-0">

                {% for environment in envsWithDeployment %}
                  <li>
                    <strong>{{ environment | title }}</strong>
                    <div class="govuk-!-margin-bottom-2">
                      <a class="app-link"
                         href="https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud"
                         target="_blank" rel="noopener noreferrer">
                        {{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud
                      </a>
                    </div>
                  </li>
                {% endfor %}

              </ul>
            {% endcall %}
          {% endif %}

          {% if service.isBackend %}
            {% call appSummaryItem({
              heading: "API root urls",
              icon: appGlobeIcon({ classes: "app-icon-small"}),
              intro: {
                text: "Service backend API urls. These are intended to be called from a frontend."
              }
            }) %}
              <ul class="govuk-list">

                {% for environment in envsWithDeployment %}
                  <li>
                    <strong>{{ environment | title }}</strong>
                    <div class="govuk-!-margin-bottom-2">
                      <a class="app-link"
                         href="https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud"
                         target="_blank" rel="noopener noreferrer">
                        https://{{ service.serviceName }}.{{ environment }}.cdp-int.defra.cloud
                      </a>
                    </div>
                  </li>
                {% endfor %}

              </ul>
            {% endcall %}
          {% endif %}

          {% call appSummaryItem({
            heading: "Logs",
            icon: appLogsIcon({ classes: "app-icon-small"}),
            intro: {
              text: "OpenSearch logs for monitoring and troubleshooting issues with your service."
            }
          }) %}
            <ul class="govuk-list govuk-!-margin-bottom-0">

              {% for environment in envsWithDeployment %}
                <li>
                  <strong>{{ environment | title }}</strong>
                  <div class="govuk-!-margin-bottom-2">
                    {{ appLogsDashboardLink({
                      serviceName: service.serviceName,
                      environment: environment
                    }) }}
                  </div>
                </li>
              {% endfor %}

            </ul>
          {% endcall %}

          {% call appSummaryItem({
            heading: "Metrics",
            icon: appChartIcon({ classes: "app-icon-small"}),
            intro: {
              text: "Grafana observability metrics data and graphs for your service."
            }
          }) %}
            <ul class="govuk-list govuk-!-margin-bottom-0">

              {% for environment in envsWithDeployment %}
                <li>
                  <strong>{{ environment | title }}</strong>
                  <div class="govuk-!-margin-bottom-2">
                    <a class="app-link"
                       href="https://metrics.{{ environment }}.cdp-int.defra.cloud/d/{{ service.serviceName }}/{{ service.serviceName }}-service"
                       target="_blank" rel="noopener noreferrer">
                      metrics.{{ environment }}.cdp-int.defra.cloud
                    </a>
                  </div>
                </li>
              {% endfor %}

            </ul>
          {% endcall %}
        {% endcall %}

        {% call appSummary() %}
          {% call appSummaryItem({
            heading: "Configuration",
            icon: appWrenchIcon({ classes: "app-icon-small"}),
            intro: { text: "Manage service configuration across CDP environments." }
          }) %}
            <p>
              <a class="app-link"
                 href="https://github.com/DEFRA/cdp-app-config/tree/main/services/{{ service.serviceName }}"
                 target="_blank" rel="noopener noreferrer">DEFRA/cdp-app-config/{{ service.serviceName }}</a>
            </p>
          {% endcall %}

          {% call appSummaryItem({
            heading: "Builds",
            icon: appCheckIcon({ classes: "app-icon-small"}),
            intro: {
              text: "Test, build and publish ready-to-deploy docker images of your service, with GitHub Actions."
            }
          }) %}
            <p>
              <a class="app-link" target="_blank" rel="noopener noreferrer"
                 href="https://github.com/DEFRA/{{ service.serviceName }}/actions">
                DEFRA/{{ service.serviceName }}/actions
              </a>
            </p>
          {% endcall %}

          {% call appSummaryItem({
            heading: "Published Images",
            icon: appInstanceIcon({ classes: "app-icon-small"}),
            intro: {
              text: "Latest built and published Docker images by version."
            }
          }) %}

            {% if latestPublishedTableRows | length %}
              {{ govukTable({
                classes: "app-table govuk-!-margin-bottom-4",
                head: [{ text: "Published" }, { text: "Version" }, { text: "Action" }] if canDeploy else [{ text: "Published" }, { text: "Version" }],
                rows: latestPublishedTableRows
                }) }}

              <p>
                <a class="app-link" target="_blank" rel="noopener noreferrer"
                   href="https://github.com/DEFRA/{{ service.serviceName }}/tags">
                  more versions
                </a>
              </p>

            {% else %}
              <p class="govuk-!-margin-bottom-2">
                No published versions available.
              </p>
            {% endif %}

          {% endcall %}
        {% endcall %}
      </section>

      <section class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Running Services</h2>
        <p class="govuk-!-margin-bottom-1">
          The versions of your service currently running on the CDP environments.
        </p>
        {{ appEntityList({
          headings: rowHeadings,
          entityRows: runningServicesEntityRows,
          noResult: "Currently there are no versions of " + service.imageName + " running in any environments"
        }) }}
      </section>
    </div>

    <div class="govuk-grid-column-one-quarter">
      {{ appEntityDataList({
        heading: "Details",
        items: entityDataList
      }) }}
    </div>
  </div>

{% endblock %}
