{% extends "layouts/page.njk" %}

{% block header %}
  {{ appHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl: ("/logout" if isAuthenticated else "/login")
  }) }}
{% endblock %}

{% block main %}

  {# TODO update isAdmin to isServiceOwner when ready for release #}
  {% if isAdmin %}
    <main class="govuk-body">
      {% if webShell.shouldPoll %}
      <div data-js="app-poll"
           data-poll-url="/services/{{ serviceId }}/web-shell/{{ environment }}/{{ token }}"
           data-poll-interval="3000"
           data-poll-limit="45">
        {% endif %}

        {% block xhrContent %}
          <article data-xhr="web-shell-{{ serviceId }}-{{ environment }}"
                   data-xhr-success-message="{{ webShell.successMessage }}"
                   data-xhr-error-message="{{ webShell.exceptionMessage }}"
                   data-xhr-stop="{{ not webShell.shouldPoll }}">

            {% if webShell.url %}
              <iframe
                class="app-iframe app-iframe--full-page"
                title="Web Shell {{ serviceId }} - {{ environment }}"
                onload="resizeIframe(this)"
                scrolling="no"
                src="{{ webShell.url }}">
              </iframe>
            {% else %}
              <div class="app-page-centered">
                <h2 class="govuk-!-margin-top-9">
                  {{ serviceId | startCase }} - {{ environment | title }}, web shell launching...
                </h2>
                {{ appLoader({ classes: "app-loader--large app-loader--is-loading" }) }}
              </div>
            {% endif %}

          </article>
        {% endblock %}

        {% if webShell.shouldPoll %}</div>{% endif %}
    </main>
  {% endif %}

{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  <script type="text/javascript">
    function resizeIframe(iframe) {
      iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";

      window.requestAnimationFrame(() => resizeIframe(iframe));
    }
  </script>
{% endblock %}
