.app-input {
  min-width: 12em;
  border-radius: $app-border-radius;
  border: 1px solid govuk-colour("mid-grey");

  &:focus {
    border: 1px solid govuk-colour("black");
    box-shadow: none;
  }
}

.app-input--wide {
  width: 24em;
}
