{% extends "layouts/page.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% set isLoading = testRun.testStatus != "passed" and testRun.testStatus != "failed" and testRun.taskStatus != "failed" %}

{% block content %}

  {% block beforeTabContent %}
    {{ appPageHeading(pageHeading) }}
  {% endblock %}

  <div class="govuk-main-wrapper app-main-wrapper">
    {% block xhrContent %}

      {% if shouldPoll %}
        <div data-js="app-poll"
        data-poll-url="/test-suites/{{ testRun.testSuite }}/runs/{{ testRun.runId }}"
        data-poll-interval="6000"
        data-poll-limit="45">
      {% endif %}

      {% if failureReasons %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <article data-xhr="test-suite-failure-{{ testRun.runId }}"
                     data-xhr-stop="{{ not shouldPoll }}">

              {% call appWarning({ isInverse: true }) %}
                {{ failureReasons }}
              {% endcall %}

            </article>
          </div>
        </div>
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-desktop-massive">
          {% call appPanel({ testId: "test-suite-run-status-summary" }) %}
            <article data-xhr="test-suite-run-status-{{ testRun.runId }}"
                     data-xhr-stop="{{ not shouldPoll }}">

              <div class="app-!-layout-centered govuk-!-margin-bottom-2">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-right-2">Status</h2>
                <div>
                  {{ appTag({
                    text: testRun.taskStatus | title,
                    classes: testRun.statusClass,
                    isLoading: isLoading,
                    attributes: {
                      "data-testid": "test-run-status"
                    }
                  }) }}
                </div>
              </div>

              {{ govukSummaryList(statusList) }}

            </article>
          {% endcall %}

          {% call appPanel({ classes: "govuk-!-margin-bottom-4", testId: "test-suite-run-summary" }) %}
            <article data-xhr="test-suite-run-{{ testRun.runId }}"
                     data-xhr-stop="{{ not shouldPoll }}">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Details</h2>

              {{ govukSummaryList(detailsList) }}
            </article>
          {% endcall %}
        </div>

        <div class="govuk-grid-column-one-third-from-desktop-massive govuk-!-margin-bottom-4">
          {% call appPanel({ testId: "test-suite-run-summary" }) %}
            <article>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Secrets</h2>

              {{ appSecretsList(secretDetail) }}
            </article>
          {% endcall %}

          {% call appPanel({ testId: "deployments-summary" }) %}
            <article>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Deployments</h2>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                Team services running during the test suite
              {{ govukTable({

                firstCellIsHeader: false,
                classes: "govuk-table--small-text-until-tablet",
                head: [
                  {
                    text: "Service"
                  },
                  {
                    text: "Version"
                  },
                  {
                    text: "Started"
                  },
                  {
                    text: "Last updated"
                  }
                ],
                rows: runningServicesList.rows
              }) }}
            </article>
          {% endcall %}
        </div>
      </div>
      {% if shouldPoll %}</div>{% endif %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if testRun.snapshotUrls %}
          {% call appPanel({ testId: "metrics" }) %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Metrics</h2>
            {% for url in testRun.snapshotUrls %}
            <iframe class="app-iframe app-iframe--grafana-snapshot" src="{{ url }}?theme=light&kiosk"></iframe>
            {% endfor %}
          {% endcall %}
        {%  endif %}
      </div>
    </div>

    {% endblock %}
  </div>
{% endblock %}
