@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

@include govuk-media-query($until: desktop-wide) {
  .app-running-service-entity {
    max-width: 200px;
  }
}

.app-running-service-entity {
  width: 100%;
  padding: govuk-spacing(1) govuk-spacing(2);
  border-radius: $app-border-radius;
  background-color: $app-light-grey;

  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);
  }

  &.item-detail--grey {
    background-color: govuk-tint(govuk-colour("dark-grey"), 85%);

    .app-instance {
      fill: govuk-tint(govuk-colour("dark-grey"), 10%);
    }
  }

  &.item-detail--light-blue {
    background-color: govuk-tint(govuk-colour("blue"), 90%);
  }

  &.item-detail--red {
    background-color: govuk-tint(govuk-colour("red"), 75%);
  }

  .app-running-service-entity__env {
    display: flex;
    align-items: center;
  }

  .app-running-service-entity__label {
    color: govuk-colour("dark-grey");
  }
}

