@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-running-service-entity {
  width: 100%;
  padding: govuk-spacing(1) govuk-spacing(2);
  border-radius: $app-border-radius;

  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("green");
    }
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("bright-purple");
    }
  }

  .app-running-service-entity__env {
    display: flex;
    align-items: center;
  }

  .app-running-service-entity__label {
    color: govuk-colour("dark-grey");
  }
}

