@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$compact-label-height: govuk-spacing(4);
$max-width: 300px;

@mixin rs-entity-colours($colourName) {
  background-color: govuk-tint(govuk-colour($colourName), 80%);
  border: 1px solid govuk-tint(govuk-colour($colourName), 60%);
}

@include govuk-media-query($until: desktop-wide) {
  .app-running-service-entity {
    max-width: $max-width;
    padding: 2px;
  }

  .app-running-service-entity--empty {
    max-width: $max-width;
    height: calc(100% - $compact-label-height); // So the height all off all entities in row match
    background-color: $app-brand-background-colour-light;
    border-radius: $app-border-radius;
  }
}

.app-running-service-entity {
  width: 100%;
  height: 100%;
  padding: govuk-spacing(2);
  box-sizing: border-box;
  background-color: $app-brand-background-colour-light;

  &.item-detail--green {
    @include rs-entity-colours("green");
  }

  &.item-detail--purple {
    @include rs-entity-colours("bright-purple");
  }

  &.item-detail--grey {
    @include rs-entity-colours("dark-grey");

    .app-instance {
      fill: govuk-tint(govuk-colour("dark-grey"), 10%);
    }
  }

  &.item-detail--light-blue {
    @include rs-entity-colours("blue");
  }

  &.item-detail--red {
    @include rs-entity-colours("red");
  }

  .app-running-service-entity__env {
    display: flex;
    align-items: center;
    margin-bottom: govuk-spacing(1);
  }

  .app-running-service-entity__label {
    color: govuk-colour("dark-grey");
  }
}
