{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/instance-success-icon/macro.njk" import appInstanceSuccessIcon %}
{% from "icons/instance-failed-icon/macro.njk" import appInstanceFailedIcon %}
{% from "icons/instance-pending-icon/macro.njk" import appInstancePendingIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}

<div class="app-running-service-entity{% if params.statusClassname %} {{ params.statusClassname }}{% endif %}">
  <div class="app-running-service-entity__env">
    <span class="app-running-service-entity__label govuk-visually-hidden">Version:</span>
    {% set tooltipText = "failed" if params.unstable === true else params.status %}

    {% call appToolTip({ text: tooltipText | title + " in " + params.environment | title }) %}
      {% if params.status === "running" %}
        {{ appInstanceSuccessIcon({ description: "Running", classes: "app-icon--small" }) }}
      {% elseif params.status === "pending" or params.status === "stopping" or params.status ===
        "deploying" %}
        {{ appInstancePendingIcon({ description: "Pending", classes: "app-icon--small"}) }}
      {% elseif params.status === "failed" %}
        {{ appInstanceFailedIcon({ description: "Failed", classes: " app-icon--small" }) }}
      {% elseif params.status === "undeployed"  %}
        {{ appInstanceIcon({ description: "Undeployed", classes: "app-icon--small"}) }}
      {% endif %}
    {% endcall %}

    <a class="app-link govuk-!-margin-left-1"
       href="https://github.com/DEFRA/{{ params.service }}/releases/tag/{{ params.version }}"
       target="_blank" rel="noopener noreferrer"
       aria-labelledby="version"
    >
      {{ params.version }}
    </a>
  </div>

  <div>
    <a class="app-link app-link--text-colour" href="/deployments/{{ params.environment }}/{{ params.cdpDeploymentId }}">
      Deployed
    </a>

    {{ appTime({
      text: params.created | formatDistanceToNow,
      datetime: params.created
    }) }} ago
  </div>
</div>

