@use "govuk-frontend" as *;
@use 'sass:map';

// stylelint-disable max-nesting-depth
.govuk-grid-row {
  &:not(:first-of-type) {
    margin-top: govuk-spacing(4);
  }

  &.app-grid-row--stretch {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    > [class^="govuk-grid-column"] {
      display: flex;
      flex-direction: column;

      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
// stylelint-enable max-nesting-depth

@each $width in map.keys($govuk-grid-widths) {
  .govuk-grid-column-#{$width}-from-desktop {
    @include govuk-grid-column($width, $at: desktop);

    @include govuk-media-query($from: desktop) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .govuk-grid-column-#{$width}-from-desktop-big {
    @include govuk-grid-column($width, $at: desktop-big);

    @include govuk-media-query($from: desktop-big) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .govuk-grid-column-#{$width}-from-desktop-wide {
    @include govuk-grid-column($width, $at: desktop-wide);

    @include govuk-media-query($from: desktop-wide) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .govuk-grid-column-#{$width}-from-desktop-huge {
    @include govuk-grid-column($width, $at: desktop-huge);

    @include govuk-media-query($from: desktop-huge) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .govuk-grid-column-#{$width}-from-desktop-enormous {
    @include govuk-grid-column($width, $at: desktop-enormous);

    @include govuk-media-query($from: desktop-enormous) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .govuk-grid-column-#{$width}-from-desktop-massive {
    @include govuk-grid-column($width, $at: desktop-massive);

    @include govuk-media-query($from: desktop-massive) {
      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }
}

.govuk-grid-column--slim {
  margin-bottom: govuk-spacing(4);

  @include govuk-media-query($from: desktop-wide) {
    margin-bottom: 0;
    padding-left: govuk-spacing(1);
    padding-right: govuk-spacing(1);

    &:first-of-type {
      padding-left: govuk-spacing(3);
      padding-right: govuk-spacing(1);
    }

    &:last-of-type {
      padding-left: govuk-spacing(1);
      padding-right: govuk-spacing(3);
    }
  }
}
