.js-visible,
.js-visible-inline {
  display: none;
}

.js-hidden {
  display: block;
}

.js-enabled {
  .js-visible {
    display: block;
  }

  .js-visible-inline {
    display: inline-block;
  }

  .js-hidden {
    display: none;
  }
}
