{% extends "layouts/page.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {% block xhrContent %}

    <div data-xhr="resources-request" data-xhr-stop="{{ true if prUrl else false }}">

      {{ appStepNavigation({
        "classes":"app-step-navigation--slim",
        "width":50,
        "steps":[
          {url:"/create/choose-kind", isComplete:true, isCurrent:false, text:"Create"},
          {isComplete:true, isCurrent:false, text:"Details"},
          {isComplete: true if prUrl else false, "isCurrent": true if not prUrl else false, text:"Summary"}
        ]
      }) }}

      <div class="govuk-main-wrapper app-main-wrapper">

        {{ appPageHeading({
          caption: "Create resources",
          text: "Summary",
          intro: 'View the resources creation request'
        }) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop-wide">

            {% if (not prUrl) %}
              <div data-js="app-poll"
              data-poll-url=""
              data-poll-interval="10000"
              data-poll-limit="500">
                <div class="govuk-!-margin-bottom-6">
                  {{ appInfo({ text: "Your resources request is currently being generated"}) }}
                </div>
            {% else %}
              <div>
            {% endif %}


            {% set workflowLink %}
              <a href="{{ workflow.html_url }}" target="_blank" rel="noopener noreferrer">{{ workflow.html_url }}</a>
            {% endset %}

            {% set prLink %}
              {% if prUrl %}
                <a href="{{ prUrl }}" target="_blank" rel="noopener noreferrer">{{ prUrl }}</a>
              {% else %}
                {{ appTag({
                  text: 'Generating',
                  isLoading: not prUrl,
                  attributes: {
                    "data-testid": "app-overall-progress"
                  }
                }) }}
              {% endif %}
            {% endset %}

            {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-9",
              rows: [
                {
                  key: {
                    text: "Resources request generation workflow"
                  },
                  value: {
                    html: workflowLink
                  }
                },
                {
                  key: {
                    text: "Resources request"
                  },
                  value: {
                    html: prLink
                  }
                }
              ],
              attributes: { 'data-testid': 'govuk-summary-list' }
            }) }}

            </div>

          </div>

          <div class="govuk-grid-column-one-third-from-desktop-wide">

          </div>
        </div>
      </div>

     </div>

  {% endblock %}

{% endblock %}
