{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Service Tags",
      intro: "Apply or remove a tag from a service"
    }) }}

    <p>
    Service tags are metadata that can attached to a tenant service to provide additional information such as their level of support cover.
    </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appEntityTable(tableData) }}
    </div>
  </div>

  {% endcall %}
{% endblock %}

