{% extends "layouts/page.njk" %}
{% from "entity/macro.njk" import appEntity %}

{% set helpHtml %}
  <p class="govuk-!-margin-bottom-1">
    When deleting a permission, it will automatically be removed from teams.
  </p>
  <p class="govuk-!-margin-bottom-1">
    Deleting a permission is non-recoverable. If you delete the wrong permission
    <a href="{{ routeLookup('admin/permission/create') }}" class="govuk-link app-link">create a new one.</a>
  </p>
{% endset %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      caption: "Delete Permission",
      text: scope.value | formatText
    }) }}

    <hr class="app-section-break app-section-break--slim">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">

        <h2 class="govuk-heading-m">Delete the following permission</h2>

        {{ govukSummaryList(summaryList) }}

        <h2 class="govuk-heading-m">
          {{ "Team" | pluralise(scope.teams | length) }} with permission
        </h2>

        {% if scope.teams | length %}
          {{ govukTaskList(teamsTaskList) }}
        {% else %}
          <p>
            This permission has not been added to any teams
          </p>
        {% endif %}

        <div class="govuk-!-margin-bottom-6">
          {{ appInfo({
            html: helpHtml
          }) }}
        </div>

        <form action="/admin/permissions/{{ scope.scopeId }}/delete" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          <div class="govuk-body govuk-button-group">
            {{ govukButton({
              classes: "app-button app-button--destructive",
              text: "Delete permission"
            }) }}

            <a class="app-link" href="/admin/permissions/{{ scope.scopeId }}">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  {% endcall %}
{% endblock %}
