{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      text: "Feature Toggles",
      intro: "Portal wide feature toggles, to toggle features on/off"
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}
