{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      text: "Feature Toggles"
    }) }}

    {{ appEntityList({
      headings: [
        { text: "Feature", size: "large" },
        { text: "Status", size: "medium" },
        { text: "Activated", size: "medium" },
        { text: "Actions", size: "medium" }
      ],
      entityRows: entityRows,
      noResult: noResult
    }) }}

  {% endcall %}
{% endblock %}
