{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appPageHeading(pageHeading) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop-wide">

          {% set actionSuffix = "edit" if isEdit else "create" %}

          <form action="/admin/teams/{{ actionSuffix }}" method="post">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
            {% call appPanel({
              classes: "govuk-!-margin-bottom-4"
            }) %}
              {{ govukSummaryList({
                classes: "app-summary-list",
                rows: teamRows,
                attributes: { "data-testid": "govuk-summary-list" }
              }) }}
            {% endcall %}
            {{ appButton({
              text: formButtonText,
              loader: {
                name: "create-team-submit-button"
              }
            }) }}

          </form>
        </div>
      </div>

    </div>

  {% endcall %}
{% endblock %}

