{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appHeading({
        title: heading,
        caption: headingCaption
      }) }}

      <div class="govuk-grid-row">
        <div class="app-grid-column app-grid-column-one-half-from-desktop-wide">

          {% set actionSuffix = "edit" if isEdit else "create" %}

          <form action="/admin/teams/{{ actionSuffix }}" method="post">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

            {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-9",
              rows: teamRows
            }) }}

            {{ appButton({
              text: formButtonText,
              loader: {
                name: "create-team-submit-button"
              }
            }) }}

          </form>
        </div>
      </div>

    </div>

  {% endcall %}
{% endblock %}

