{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appHeading({
        title: heading,
        caption: headingCaption
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/admin/teams/team-details" method="post" data-js="app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

            {% call govukFieldset() %}

              {{ govukInput({
                label: {
                  text: "Team name",
                  classes: "app-label"
                },
                id: "name",
                name: "name",
                classes: "app-input app-input--wide",
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                attributes: {
                  "data-1p-ignore": ""
                },
                value: formValues.name,
                errorMessage: {
                  attributes: {
                    "data-js": "app-error"
                  },
                  text: formErrors.name.message,
                  classes: "govuk-!-margin-bottom-1 app-error-message"
                } if formErrors.name.message
              }) }}

              {{ govukInput({
                label: {
                  text: "Service Code (optional)",
                  classes: "app-label"
                },
                id: "serviceCode",
                name: "serviceCode",
                hint: {
                  text: "A service code consists of 3 uppercase letters"
                },
                classes: "app-input app-input--wide",
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                attributes: {
                  "data-1p-ignore": ""
                },
                value: formValues.serviceCode,
                errorMessage: {
                  attributes: {
                    "data-js": "app-error"
                  },
                  text: formErrors.serviceCode.message,
                  classes: "govuk-!-margin-bottom-1 app-error-message"
                } if formErrors.serviceCode.message
              }) }}

              {{ govukTextarea({
                label: {
                  text: "Description (optional)",
                  classes: "app-label"
                },
                id: "description",
                name: "description",
                classes: "app-textarea app-textarea--wide",
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                attributes: {
                  "data-1p-ignore": ""
                },
                value: formValues.description,
                errorMessage: {
                  attributes: {
                    "data-js": "app-error"
                  },
                  text: formErrors.description.message,
                  classes: "govuk-!-margin-bottom-1 app-error-message"
                } if formErrors.description.message
              }) }}

            {% endcall %}

            <div class="govuk-button-group">
              {{ govukButton({
                classes: "app-button",
                text: formButtonText
              }) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
