<div class="app-banner app-banner--{{ params.type }}"
     tabindex="-1"
     role="alert"
     data-testid="app-banner">
  <p class="app-banner__content" data-testid="app-banner-content">{{ params.text }}</p>
</div>
