<div class="app-banner app-banner--{{ params.type }}{% if params.classes %} {{ params.classes }}{% endif %}"
     tabindex="-1"
     role="alert"
     data-testid="app-banner">
  <p class="app-banner__content" data-testid="app-banner-content">{{ params.text }}</p>
</div>
