@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-detailed-list {
  @extend %govuk-body-m;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-detailed-list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $app-mid-grey;
  padding: govuk-spacing(2) govuk-spacing(1);
}

.app-detailed-list__item-primary {
  flex: 6;
}

.app-detailed-list__item-secondary {
  flex: 3;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 2px;
}
