@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-detailed-list {
  @extend %govuk-body-m;

  list-style-type: none;
  padding: 0;
  margin: 0;

  :last-child {
    border: none;
  }
}

.app-detailed-list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $app-brand-background-colour-border;
  padding: govuk-spacing(2) govuk-spacing(1);
  background-color: govuk-colour("white");
}

.app-detailed-list__item-primary {
  flex: 5;
}

.app-detailed-list__item-secondary {
  flex: 1;
  text-align: right;
}

.app-detailed-list--inverse {
  .app-detailed-list__item {
    border-bottom: 1px solid $app-brand-background-colour-border;
    background-color: $app-brand-background-colour-light;
  }

  :last-child {
    border: none;
  }
}
