{% extends "layouts/page.njk" %}

{% block content %}

  <div class="app-iframe-container">
    <iframe
      class="app-iframe app-iframe--full-page"
      title="Test results"
      onload="resizeIframe(this)"
      scrolling="no"
      src="/docs/{{ docsPath }}">
    </iframe>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript">
    function resizeIframe(iframe) {
      iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";

      window.requestAnimationFrame(() => resizeIframe(iframe));
    }
  </script>
{% endblock %}
