{% extends "layouts/page.njk" %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs with context %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ appBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-row">
      <div class="gov-uk-column-two-thirds">
        <ul>
         {% for file in directoryListing %}
           <li><a href="{{ file.href }}">{{ file.name }}</a></li>
         {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
