{% from "entity/macro.njk" import appEntity %}

<ul class="app-entity-list">
  <li class="app-entity-list__row app-entity-list__row--header">
    {% for heading in params.headings %}
      <div class="app-entity-list__item app-entity-list__item--{{ heading.size }}">
        {{ heading.text }}
      </div>
    {% endfor %}
  </li>

  {% for item in params.items %}
    <li class="app-entity-list__row">
      {% for entity in item %}
        {{ appEntity(entity) }}
      {% endfor %}
    </li>
  {% else %}
    <li class="app-entity-list__row">{{ params.noResult }}</li>
  {% endfor %}

</ul>
