{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appHeading({
      title: heading,
      caption: "User details.",
      entities: headingEntities,
      actions: [
        govukButton({
          classes: "app-button",
          text: "Edit",
          href: "/admin/users/" + user.userId + "/edit"
        }),
        govukButton({
          classes: "app-button app-button--tertiary",
          text: "Delete",
          href: "/admin/users/" + user.userId + "/confirm-delete",
          attributes: { "data-testid": "delete-user-button" }
        })
      ]
    }) }}

    <hr class="app-section-break">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-quarter">
        {{ appEntityDataList({
          items: entityDataList
        }) }}
      </div>
    </div>

  {% endcall %}
{% endblock %}
