{% extends "layouts/page.njk" %}

{% from "split-pane/macro.njk" import appSplitPane with context %}

{% block content %}
  {% call appSplitPane() %}

    {{ appHeading({
      title: heading,
      entities: headingEntities,
      actions: [
        govukButton({
          classes: "app-button",
          text: "Edit user",
          href: "/admin/users/" + user.userId + "/edit"
        }),
        govukButton({
          classes: "app-button app-button--secondary",
          text: "Delete user",
          href: "/admin/users/" + user.userId + "/confirm-delete"
        })
      ]
    }) }}

    <hr class="app-section-break">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-third">
        {{ appEntityDataList({
          heading: "User details",
          items: entityDataList
        }) }}
      </div>
    </div>

  {% endcall %}
{% endblock %}
