{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      caption: "User",
      text: user.name
    }) }}

    <hr class="app-section-break app-section-break--slim">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
            <a href="{{ routeLookup('admin/users/{userId}/confirm-delete', { params: { userId: user.userId } }) }}"
               class="app-link app-link--underline" data-testid="admin-delete-user">Delete user</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds-from-desktop-wide">
        {% call appPanel() %}
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">User details</h2>

          {{ govukSummaryList(summaryList) }}
        {% endcall %}

        {% call appPanel() %}
          <h2 class="govuk-heading-m">
            Member of {{ "Team" | pluralise(user.teams | length) }}
          </h2>

          {% if user.teams | length %}
            {{ govukTaskList(teamsTaskList) }}
          {% else %}
            <p>
              This user is not in any of our teams
            </p>
          {% endif %}
        {% endcall %}

        {% call appPanel() %}
          <h2 class="govuk-heading-m">
            User {{ "Permission" | pluralise(user.scopes | length) }}
          </h2>

          {% if userScopesRows | length %}
            {{ govukTable({
              classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
              head: [
                { text: "Name" },
                { text: "Scoped to" },
                { text: "Starts" },
                { text: "Ends" }
              ],
              rows: userScopesRows
            }) }}
          {% else %}
            <p class="govuk-!-margin-bottom-2">
              This user has no permissions
            </p>
          {% endif %}
        {% endcall %}


        {% call appPanel() %}
          <h2 class="govuk-heading-m">
            Permission Diagram
          </h2>

          <pre class="mermaid">
            {{ diagram }}
          </pre>
        {%  endcall %}
      </div>
    </div>

  {% endcall %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("mermaid.js") }}"></script>
{% endblock %}
