{% extends "layouts/page.njk" %}

{% block content %}

  {% call appSplitPane() %}

    <section>
      {{ appHeading({
        title: heading,
        caption: headingCaption,
        actions: [
          govukButton({
            classes: "app-button",
            text: "Create",
            href: "/admin/users/create"
          })
        ]
      }) }}

      {{ appEntityList({
        headings: [
          { text: "Name", size: "large" },
          { text: "Email", size: "massive" },
          { text: "GitHub user", size: "medium" },
          { text: "Defra AWS ID", size: "medium" },
          { text: "Defra VPN ID", size: "medium" }
        ],
        entityRows: entityRows,
        noResult: noResult
      }) }}

    </section>

  {% endcall %}

{% endblock %}

