{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      text: "Users",
      intro: "Portal users details, create, edit, view or delete users",
      cta: {
        text: "Create new user",
        href: routeLookup('admin/users/create')
      }
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

