@use "govuk-frontend" as *;
@use "variables/colours" as *;

$navigation-height: 70px;
$border-width: 4px;

.app-navigation {
  border-bottom: 1px solid $app-mid-grey;
  background-color: $app-light-grey;
}

.app-navigation__primary, .app-navigation__actions, .app-navigation__admin {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-navigation__list-item {
  margin: 0 govuk-spacing(3) 0 0;

  > a:focus {
    box-shadow: none;
    border-bottom: $border-width solid govuk-colour("black");
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.app-navigation__link {
  @include govuk-link-style-no-visited-state;
  border: 0;
  margin: govuk-spacing(1) 0;
  padding: 0;
  @include govuk-font(24, "bold");
  display: inline-block;
  text-decoration: none;
  border-bottom: $border-width solid transparent;

  &:hover {
    color: govuk-colour("black");
    border-bottom: $border-width solid govuk-colour("black");
  }
}

.app-navigation__link--active {
  color: govuk-colour("black");
  border-bottom: $border-width solid govuk-colour("black");

  &:hover {
    color: govuk-colour("dark-blue");
    border-bottom: $border-width solid govuk-colour("dark-blue");
  }

  &:active,
  &:visited {
    color: govuk-colour("black");
  }
}

@include govuk-media-query($from: desktop-big) {
  .app-navigation__list {
    display: flex;
    height: govuk-px-to-rem($navigation-height);
  }

  .app-navigation__primary {
    display: flex;
    width: 65%;
  }

  .app-navigation__actions {
    display: flex;
    width: 35%;
    justify-content: flex-end;
  }

  .app-navigation__link {
    margin: 0 0 govuk-spacing(2);
    display: flex;
    height: $navigation-height - $border-width;
    height: govuk-px-to-rem($navigation-height - $border-width);
    align-items: center;
  }

  .app-navigation__list-item--section {
    position: relative;

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 20%;
      left: 0;
      width: 2px;
      height: 60%;
      border-left: 2px solid govuk-colour("blue");
    }

    .app-navigation__link {
      margin-left: govuk-spacing(3);
    }
  }
}


