<nav class="app-navigation" role="navigation">
  <div class="govuk-width-container">
    <div class="app-navigation__list">
      <ul class="app-navigation__primary">
        {% for item in navigation.primary %}
          <li class="app-navigation__list-item">
            <a class="app-navigation__link{% if item.isActive %} app-navigation__link--active{% endif %}"
               href="{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <ul class="app-navigation__actions">
        {% for item in navigation.actions %}
          <li class="app-navigation__list-item">
            <a class="app-navigation__link{% if item.isActive %} app-navigation__link--active{% endif %}"
               href="{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if navigation.admin | length %}
        <ul class="app-navigation__admin">
          {% for item in navigation.admin %}
            <li class="app-navigation__list-item">
              <a class="app-navigation__link{% if item.isActive %} app-navigation__link--active{% endif %}"
                 href="{{ item.url }}">
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
