{% from "icons/user-icon/macro.njk" import appUserIcon %}

<header class="app-service-header" role="banner" data-testid="app-service-header">
  <div class="app-service-header__container app-service-header__container--full-width">
    <div class="app-service-header__content">
      <a href="{{ params.serviceUrl }}"
         class="app-service-header__link app-service-header__service-name"
         data-testid="app-service-header-service-name">
        {{ params.serviceName }}
      </a>

      {% if serviceEnvironment === "infra-dev" %}
        <span class="app-service-header__service-environment">{{ serviceEnvironment | title }}</span>
      {% endif %}

    </div>
    <div class="app-service-header__actions">
      {% if authedUser.displayName %}
        {{ appUserIcon({ classes: "app-icon--minuscule" }) }}
        <span data-testid="app-login-username">
          {{ authedUser.displayName }}
        </span>
      {% endif %}

      <a href="{{ params.loginUrl }}"
         class="app-service-header__login-link app-service-header__link{% if isAuthenticated %}
         app-service-header__is-logged-in{% endif %}"
         data-testid="app-login-link">
        {{ params.loginText }}
      </a>
    </div>
  </div>
</header>
