.app-list {
  list-style-type: disc;
  max-width: govuk-spacing(9) * 6;

  > li {
    margin: 0;
  }
}

.app-list-item {
  display: flex;
  border-bottom: 1px solid $app-grey;
  padding: govuk-spacing(1) 0;
  margin: govuk-spacing(1) 0;
  align-items: center;

  &:first-of-type {
    padding-top: 0;
  }
}

.app-list-item__content {
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: govuk-spacing(2);
}

.app-list-item__action {
  flex: 1;
  align-self: flex-end;
}
