.app-list {
  list-style-type: disc;

  > li {
    margin: 0;
    line-height: 1.6;
  }
}

.app-list--slim {
  max-width: govuk-spacing(9) * 6;
}

.app-list-item {
  display: flex;
  padding: govuk-spacing(1) 0 0;
  margin: 0;
  align-items: center;
}

.app-list-item__content {
  order: 1;
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: govuk-spacing(2);
}

.app-list-item__action {
  order: 2;
  flex: 1;
  align-self: flex-end;

  // Highlight associated list content with list action button hover
  &:hover ~ .app-list-item__content {
    color: govuk-tint(govuk-colour("black"), 40%);

    a {
      text-decoration: underline;
      color: $govuk-link-hover-colour;
    }
  }
}

