{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "test-suites/common/components/notification-row/macro.njk" import notificationRow %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Test Run Notifications",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}

  <section class="govuk-!-margin-top-6">
    {% call appSplitPane() %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop-huge">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2"
              data-testid="automatic-test-runs">
                Test Run Notifications
          </h2>
          <p class="govuk-!-margin-bottom-2">
            Automatic notifications on test suite runs
          </p>

          <div class="app-section app-section--extra-wide govuk-!-margin-bottom-9">
            {% call(params) appEntityTable(tableData) %}

              {{ notificationRow({
                rowClasses: params.rowClasses,
                loopIndex: params.loopIndex,
                serviceId: entity.name,
                id: params.row.id,
                eventType: params.row.eventType,
                channel: params.row.channel,
                enabled: params.row.enabled,
                envs: params.row.envs
              }) | safe }}

            {% endcall %}
          </div>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop-huge">
          <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2"
                data-testid="add-test-run">Add Notification</h2>
            <p>
              Create a notification for a test run
            </p>

            <form action="{{ routeLookup('post:test-suites/{serviceId}/automations/schedules/create', { params: { serviceId : entity.name } }) }}"
                  method="post"
                  data-js="app-form-errors">
              <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

              <input type="hidden" name="frequency" value="WEEKLY" />

              {% call govukFieldset() %}

                {{ govukSelect({
                  id: "eventType",
                  name: "eventType",
                  label: {
                    text: "Event",
                    classes: "app-label"
                  },
                  classes: "app-select",
                  hint: {
                    text: "Event which triggers the notification",
                    classes: "app-hint"
                  },
                  value: formValues.eventType,
                  items: formValues.eventTypeOptions,
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  errorMessage: errorMessageHelper(formErrors.eventType.message)
                }) }}

              {% endcall %}

              {{ appButton({
                text: "Add",
                loader: {
                  name: "run-submit-button"
                }
              }) }}

            </form>
          </section>

        </div>
      </div>

    {% endcall %}

  </section>
{% endblock %}
