{% from "time/macro.njk" import appTime %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  {% for env in params.envs %}
    <td headers="{{ env.id }}" class="app-entity-table__cell" data-label="{{ env.id }}">
      {% if env.selected %}
      <div class="app-check" data-testid="check-{{ env.id }}"></div>
      {% else %}
      - - -
      {% endif %}
    </td>
  {% endfor %}
</tr>
