$nav-width: 180px;
$nav-width-slim: 140px;

@import "subnav/subnav";

.app-split-pane {
  display: flex;

  @include govuk-media-query($from: desktop-wide) {
    width: 100%;
  }
}

.app-split-pane__nav {
  padding-top: govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    width: $nav-width-slim;
    flex: 0 0 auto;
  }

  @include govuk-media-query($from: desktop) {
    width: $nav-width;
  }
}

.app-split-pane__content {
  display: flex;
  min-width: 0;
  flex: 1 1 100%;
  flex-direction: column;
}
