{% set content = params.html | safe if params.html else params.text %}

<div class="app-split-pane" data-testid="app-split-pane">
  <div class="app-split-pane__nav{% if params.isWide %} app-split-pane__nav--wide{% endif %}">
    {% include "split-pane/subnav/subnav.njk" %}
  </div>
  <div class="app-split-pane__content">
    <section class="app-content">
      {{ caller() if caller else content }}
    </section>
  </div>
</div>
