{% set content = params.html | safe if params.html else params.text %}

<div class="app-split-pane" data-testid="app-split-pane">
  {% if subNavigation | length %}
    <div class="app-split-pane__nav{% if params.isWide %} app-split-pane__nav--wide{% endif %}"
         data-testid="app-split-pane-nav">
      {% include "split-pane/subnav/subnav.njk" %}
    </div>
  {% endif %}
  <div class="app-split-pane__content" data-testid="app-split-pane-content">
    <section class="app-content">
      {{ caller() if caller else content }}
    </section>
  </div>
</div>
