{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "loader/macro.njk" import appLoader %}
{% from "time/macro.njk" import appTime %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Test Suite",
    text: entity.name
  }) }}

{% endblock %}

{% block tabContent %}

  {% set provideProfileHtml %}
    {{ govukSelect({
      id: 'profile',
      name: 'profile',
      classes: 'app-select app-input--wide',
      label: {
        text: "Choose existing",
        classes: "app-label"
      },
      hint: {
        text: "Choose a previously entered value",
        classes: "app-hint"
      },
      value: formValues.profile,
      items: formValues.profileOptions,
      formGroup: {
        classes: 'app-form-group app-form-group-js'
      },
      errorMessage: errorMessageHelper(formErrors.profile.message)
    }) }}

    <p>or</p>

    {{ govukInput({
      id: "newProfile",
      name: "newProfile",
      classes: "app-input app-input--wide",
      label: {
        text: "Enter a new value",
        classes: "app-label"
      },
      hint: {
        text: "Enter a new value, this will be stored for future use",
        classes: "app-hint"
      },
      value: formValues.newProfile,
      errorMessage: errorMessageHelper(formErrors.newProfile.message),
      formGroup: {
        classes: 'app-form-group app-form-group-js'
      },
      spellcheck: false
    }) }}
  {% endset %}

  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop-massive">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% call appPanel() %}
              <section>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
                <p>
                  {{ repository.description }}
                </p>

                {{ govukSummaryList(summaryList) }}
              </section>
            {% endcall %}
          </div>

          <div class="govuk-grid-column-one-third">
            {% if canRun %}
              {% call appPanel() %}

                <section>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Run</h2>
                  <p>
                    Run the latest version of your test suite against an environment of your choosing
                  </p>

                  <form action="/test-suites/run"
                        method="post"
                        data-js="app-form-errors">
                    <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
                    <input type="hidden" name="testSuite" value="{{ entity.name }}" />

                    {% call govukFieldset() %}

                      {{ govukSelect({
                        id: "environment",
                        name: "environment",
                        label: {
                          text: "Environment",
                          classes: "app-label"
                        },
                        classes: "app-select",
                        hint: {
                          text: "The environment to run your tests against",
                          classes: "app-hint"
                        },
                        value: formValues.environment,
                        items: formValues.environmentOptions,
                        formGroup: {
                          classes: "app-form-group app-form-group-js"
                        },
                        errorMessage: errorMessageHelper(formErrors.environment.message)
                      }) }}

                      {{ govukRadios({
                        idPrefix: "provideProfile",
                        name: "provideProfile",
                        classes: "govuk-radios--small app-radios",
                        fieldset: {
                          legend: {
                            text: "Profile",
                            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
                          }
                        },
                        hint: {
                          text: "Do you want to provide a profile value for the test runner?",
                          classes: "app-hint"
                        },
                        errorMessage: errorMessageHelper(formErrors.provideProfile.message),
                        items: [
                          {
                            value: true,
                            text: "Yes",
                            checked: formValues.provideProfile === 'true',
                            conditional: {
                            html: provideProfileHtml
                          }
                          },
                          {
                            value: false,
                            text: "No",
                            checked: formValues.provideProfile === 'false'
                          }
                        ]
                      }) }}

                      {{ govukRadios({
                        name: "configuration",
                        classes: "govuk-radios--small app-radios",
                        fieldset: {
                          legend: {
                            text: "Configuration",
                            classes: "govuk-label app-label"
                          }
                        },
                        hint: {
                          text: "Test runner configuration, choose CPU size and memory allocation",
                          classes: "app-hint"
                        },
                        value: formValues.profile,
                        items: formValues.runnerConfigOptions,
                        formGroup: {
                          classes: "app-form-group app-form-group-js"
                        },
                        errorMessage: errorMessageHelper(formErrors.config.message)
                      }) }}

                    {% endcall %}

                    {{ appButton({
                      text: "Start",
                      loader: {
                        name: "run-submit-button"
                      }
                    }) }}

                  </form>
                </section>

              {% endcall %}
            {% endif %}
          </div>
        </div>

        {% if shouldPoll %}
        <div data-js="app-poll"
             data-poll-url="/test-suites/{{ entity.name }}"
             data-poll-interval="3000"
             data-poll-limit="45">
          {% endif %}

          {% block xhrContent %}
            <article data-xhr="test-suite-runs">
              <section class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Results</h2>
                <p>
                  Results from <em>{{ entity.name }}</em> test suite runs
                </p>

                {% call(params) appEntityTable(tableData) %}
                  <tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
                    <td headers="version" class="app-entity-table__cell" data-label="Version">
                      <a class="app-link" href="https://github.com/DEFRA/{{ params.row.testSuite }}/releases/tag/{{ params.row.version }}" target="_blank" rel="noopener noreferrer" data-testid="app-entity-link">
                          {{ params.row.version }}
                        </a>
                    </td>

                    <td headers="environment" class="app-entity-table__cell" data-label="Environment">
                      <span data-testid="app-entity-text">{{ params.row.environment }}</span>
                    </td>


                    <td headers="cpu" class="app-entity-table__cell" data-label="Cpu">
                      <span data-testid="app-entity-text">{{ params.row.cpu }}</span>
                    </td>


                    <td headers="memory" class="app-entity-table__cell" data-label="Memory">
                      <span data-testid="app-entity-text">{{ params.row.memory }}</span>
                    </td>


                    <td headers="profile" class="app-entity-table__cell" data-label="Profile">
                      {% if params.row.profile | length %}
                        <span class="app-entity">{{ params.row.profile }}</span>
                      {% else %}
                        {{ noValue }}
                      {% endif %}
                    </td>


                    <td headers="status" class="app-entity-table__cell" data-label="Status">
                      {{ govukTag({
                        text: params.row.status.value,
                        classes: "app-tag " + params.row.status.classes,
                        attributes: { "data-testid": "govuk-tag" }
                      }) }}

                      {% if params.row.status.showLoader -%}
                        {{ appLoader({ classes: "app-loader--is-loading" }) }}
                      {%- endif %}
                    </td>


                    <td headers="logs" class="app-entity-table__cell" data-label="Logs">
                      {% if params.row.logs.available %}
                        <a class="app-link" href="{{ params.row.logs.url }}" target="_blank" rel="noopener noreferrer" data-testid="app-entity-link">
                          {{ params.row.logs.value }}
                        </a>
                      {% else %}
                        {{ noValue }}
                      {% endif %}
                    </td>


                    <td headers="results" class="app-entity-table__cell" data-label="Results">
                      {% if params.row.hasResult %}
                        <a class="app-link" href="/test-suites/test-results/{{ params.row.environment }}/{{ params.row.version }}/{{ params.row.testSuite }}/{{ params.row.runId }}/index.html" data-testid="app-entity-link">
                          Report
                        </a>
                        {% if params.row.runTestStatus == "passed" %}
                          <span class="govuk-!-margin-left-1 govuk-!-margin-top-1">{{ appTickIcon({ classes: "app-icon--small"}) }}</span>
                        {% elseif params.row.runTestStatus == "failed" %}
                          <span class="govuk-!-margin-left-1 govuk-!-margin-top-1">{{ appErrorIcon({ classes: "app-icon--small"}) }}</span>
                        {% endif %}
                      {% else %}
                        {{ noValue }}
                      {%  endif %}
                    </td>


                    <td headers="user" class="app-entity-table__cell" data-label="User">
                      {{ params.row.user }}
                    </td>


                    <td headers="duration" class="app-entity-table__cell" data-label="Duration">
                      <span data-testid="app-entity-text">{{ params.row.duration }}</span>
                    </td>


                    <td headers="last-ran" class="app-entity-table__cell" data-label="Last-ran">
                      {{ appTime({ datetime: params.row.lastRun}) }}
                    </td>

                    <td headers="action" class="app-entity-table__cell" data-label="Action">
                      {% if params.row.stopAction.available %}
                        <form action="{{ params.row.stopAction.url }}" method="POST">
                          <input type="hidden" name="csrfToken" value={{ csrfToken }}>
                          {{ govukButton({
                            classes: "app-button app-button--small",
                            text: "Stop"}) }}
                        </form>
                      {% else %}
                        {{ noValue }}
                      {% endif %}
                    </td>
                  </tr>
                {% endcall %}
              </section>
            </article>
          {% endblock %}

          {% if shouldPoll %}
        </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}
