{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "test-suites/common/components/test-result-row/macro.njk" import appTestResultRow %}

{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Test Suite",
    text: entity.name
  }) }}

{% endblock %}

{% block tabContent %}

  {% set provideProfileHtml %}
    {{ govukSelect({
      id: 'profile',
      name: 'profile',
      classes: 'app-select app-input--wide',
      label: {
        text: "Choose existing",
        classes: "app-label"
      },
      hint: {
        text: "Choose a previously entered value",
        classes: "app-hint"
      },
      value: formValues.profile,
      items: formValues.profileOptions,
      formGroup: {
        classes: 'app-form-group app-form-group-js'
      },
      errorMessage: errorMessageHelper(formErrors.profile.message)
    }) }}

    <p>or</p>

    {{ govukInput({
      id: "newProfile",
      name: "newProfile",
      classes: "app-input app-input--wide",
      label: {
        text: "Enter a new value",
        classes: "app-label"
      },
      hint: {
        text: "Enter a new value, this will be stored for future use",
        classes: "app-hint"
      },
      value: formValues.newProfile,
      errorMessage: errorMessageHelper(formErrors.newProfile.message),
      formGroup: {
        classes: 'app-form-group app-form-group-js'
      },
      spellcheck: false
    }) }}
  {% endset %}

  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop-massive">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% call appPanel() %}
              <section>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
                <p>
                  {{ repository.description }}
                </p>

                {{ govukSummaryList(summaryList) }}
              </section>
            {% endcall %}
          </div>

          <div class="govuk-grid-column-one-third">
            {% if canRun %}
              {% call appPanel() %}

                <section>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Run</h2>
                  <p>
                    Run the latest version of your test suite against an environment of your choosing
                  </p>

                  <form action="/test-suites/run"
                        method="post"
                        data-js="app-form-errors">
                    <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
                    <input type="hidden" name="testSuite" value="{{ entity.name }}" />

                    {% call govukFieldset() %}

                      {{ govukSelect({
                        id: "environment",
                        name: "environment",
                        label: {
                          text: "Environment",
                          classes: "app-label"
                        },
                        classes: "app-select",
                        hint: {
                          text: "The environment to run your tests against",
                          classes: "app-hint"
                        },
                        value: formValues.environment,
                        items: formValues.environmentOptions,
                        formGroup: {
                          classes: "app-form-group app-form-group-js"
                        },
                        errorMessage: errorMessageHelper(formErrors.environment.message)
                      }) }}

                      {{ govukRadios({
                        idPrefix: "provideProfile",
                        name: "provideProfile",
                        classes: "govuk-radios--small app-radios",
                        fieldset: {
                          legend: {
                            text: "Profile",
                            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
                          }
                        },
                        hint: {
                          text: "Do you want to provide a profile value for the test runner?",
                          classes: "app-hint"
                        },
                        errorMessage: errorMessageHelper(formErrors.provideProfile.message),
                        items: [
                          {
                            value: true,
                            text: "Yes",
                            checked: formValues.provideProfile === 'true',
                            conditional: {
                            html: provideProfileHtml
                          }
                          },
                          {
                            value: false,
                            text: "No",
                            checked: formValues.provideProfile === 'false'
                          }
                        ]
                      }) }}

                      {{ govukRadios({
                        name: "configuration",
                        classes: "govuk-radios--small app-radios",
                        fieldset: {
                          legend: {
                            text: "Configuration",
                            classes: "govuk-label app-label"
                          }
                        },
                        hint: {
                          text: "Test runner configuration, choose CPU size and memory allocation",
                          classes: "app-hint"
                        },
                        value: formValues.profile,
                        items: formValues.runnerConfigOptions,
                        formGroup: {
                          classes: "app-form-group app-form-group-js"
                        },
                        errorMessage: errorMessageHelper(formErrors.config.message)
                      }) }}

                    {% endcall %}

                    {{ appButton({
                      text: "Start",
                      loader: {
                        name: "run-submit-button"
                      }
                    }) }}

                  </form>
                </section>

              {% endcall %}
            {% endif %}
          </div>
        </div>

        {% if shouldPoll %}
        <div data-js="app-poll"
             data-poll-url="/test-suites/{{ entity.name }}"
             data-poll-interval="3000"
             data-poll-limit="45">
          {% endif %}

          {% block xhrContent %}
            <article data-xhr="test-suite-runs">
              <section class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Results</h2>
                <p>
                  Results from <em>{{ entity.name }}</em> test suite runs
                </p>

                {% call(params) appEntityTable(tableData) %}

                  {{ appTestResultRow({
                    rowClasses: params.rowClasses,
                    loopIndex: params.loopIndex,
                    csrfToken: csrfToken,
                    testSuite: params.row.testSuite,
                    version: params.row.version,
                    environment: params.row.environment,
                    cpu: params.row.cpu,
                    memory: params.row.memory,
                    profile: params.row.profile,
                    status: params.row.status,
                    logs: params.row.logs,
                    hasResult: params.row.hasResult,
                    resultUrl: params.row.resultUrl,
                    runTestStatus: params.row.runTestStatus,
                    runId: params.row.runId,
                    user: params.row.user,
                    duration: params.row.duration,
                    lastRun: params.row.lastRun,
                    stopAction: params.row.stopAction
                  })
                  }}

                {% endcall %}
              </section>
            </article>
          {% endblock %}

          {% if shouldPoll %}
        </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}
