{# Renders a service entity-table row

@param {string} rowClasses - classes to be used for the row
@param {number} loopIndex - table for loop index
@param {boolean} isOwner - Does the current user own this service
@param {string} entityName - Service/entity name
@param {object}[] serviceTags - Tags associated with the service
@param {object}[] teams - Teams who own the service
@param {string} serviceType - Service type
@param {string} githubUrl - Service GitHub repoitory url
@param {object} creationState - Either a creating state tag or a date if created #}

{% macro appEntityTableServiceRow(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
