{% from "icons/aleert-icon/macro.njk" import appAlertIcon %}

{% set content = params.html | safe if params.html else params.text %}

<div class="app-old-browser"
     tabindex="-1"
     role="alert"
     data-testid="app-old-browser">
  {{ appAlertIcon({
    classes: "app-icon-medium"
  }) }}
  <span class="app-old-browser__content" data-testid="app-old-browser-content">
    {{ content }} If you require further help contact the team via Slack <a class="app-link" href="{{ supportChannel }}"
                                                                            target="_blank"
                                                                            rel="noopener noreferrer">#cdp-support</a>
  </span>
</div>




