<aside>
  <h3 class="govuk-heading-m">Documentation</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="app-link govuk-link" href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/docs/style-guide/README.md" target="_blank" rel="noopener noreferrer">
        Style Guide overview
      </a>
      <div>Design patterns, components, and systems</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/docs/style-guide/components.md" target="_blank" rel="noopener noreferrer">
        Component patterns
      </a>
      <div>Creating and using custom components</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/docs/style-guide/nunjucks.md" target="_blank" rel="noopener noreferrer">
        Nunjucks templates
      </a>
      <div>Template patterns and macros</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/docs/style-guide/sass.md" target="_blank" rel="noopener noreferrer">
        SASS & CSS
      </a>
      <div>BEM naming and styling conventions</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/docs/style-guide/client-javascript.md" target="_blank" rel="noopener noreferrer">
        Client-side JavaScript
      </a>
      <div>Browser JavaScript patterns</div>
    </li>
  </ul>

  <h3 class="govuk-heading-m">External resources</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="app-link govuk-link" href="https://design-system.service.gov.uk/" target="_blank" rel="noopener noreferrer">GOV.UK Design System</a>
      <div>Core design patterns and components</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://frontend.design-system.service.gov.uk/" target="_blank" rel="noopener noreferrer">GOV.UK Frontend</a>
      <div>Component implementation details</div>
    </li>
    <li>
      <a class="app-link govuk-link" href="https://defra.github.io/software-development-standards/" target="_blank" rel="noopener noreferrer">Defra Software Standards</a>
      <div>Development guidelines</div>
    </li>

    <li>
      <a class="app-link govuk-link" href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noopener noreferrer">GOV.UK Service Standard</a>
      <div>Create and run great public services</div>
    </li>
  </ul>
</aside>
