{% extends "layouts/page.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appStepNavigation({
    "classes":"app-step-navigation--slim",
    "width":50,
    "steps":[
      {"url":"/create/choose-kind","isComplete":true,"isCurrent":false,"text":"Create"},
      {"url":"/create/resources/detail","isCurrent":true,"text":"Details"},
      {"url":"/create/resouces/summary","isCurrent":false,"text":"Summary"}
    ]
  }) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      caption: "Create",
      text: "Resources",
      intro: 'Request resources to be created'
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop-wide">

        {% if (formMessages) %}
          {{ govukErrorSummary({
            titleText: "Please resolve the following issues",
            errorList: formMessages,
            disableAutoFocus: true
          }) }}
        {% endif %}

        <form method="post" data-js="app-form-errors"
              class="govuk-!-margin-bottom-4">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

          {% for type, resources in basket %}

            {{ govukSummaryList({
              card: {
                title: {
                  text: type | capitalize| replace("_", " ") | uppercaseMatch(["sqs", "sns", "sql", "api", "ai"])
                },
                actions: {
                  items: [
                    {
                      href: "/create/resources/detail/" + type,
                      text: "Add"
                    }
                  ]
                }
              },
              rows: resourcesToRows(type, resources)
            }) }}

          {% endfor %}


          {{ govukButton({
            classes: "app-button",
            text: 'Submit request'
          }) }}

        </form>
      </div>

      <div class="govuk-grid-column-one-third-from-desktop-wide">
        {% call appPanel() %}
          <section>
            <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-3">Resources request</h2>

            <p class="govuk-!-margin-bottom-2">
              Add the resources you want created on the CDP Platform.
            </p>

            <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-3">Self-service process</h3>
            <p class="govuk-!-margin-bottom-2">
              <ol class="govuk-list govuk-list--number govuk-list--spaced">
                <li>Submit your request</li>
                <li>A Github PR will be automatically raised modifying CDP infrastructure</li>
                <li>The CDP team will review and merge the PR</li>
                <li>The resources are automatically created</li>
                <li>You will be notified on completion</li>
              </ol>
            </p>
          </section>
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
