{% extends "layouts/page.njk" %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      text: "Update database summary",
      intro: "Information about the database update you are about to run"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop-wide">
        <form action="/update-database/run/{{ multiStepFormId }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          {% call appPanel({
            classes: "govuk-!-margin-bottom-4"
          }) %}
            {{ govukSummaryList({
              classes: "app-summary-list",
              rows: dbUpdateRows,
              attributes: { "data-testid": "deploy-summary" }
            }) }}
          {% endcall %}

          <div class="govuk-!-margin-top-6">
            {{ appButton({
              text: "Update",
              loader: {
                name: "deploy-submit-button"
              }
            }) }}
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
