<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Create secret</h2>

<p>
  Create a secret in {{ environment | title }}
</p>

{% set pluralServiceOrTest = serviceOrTestSuite | pluralise %}

<form action="{{ routeLookup( pluralServiceOrTest + '/{serviceId}/secrets/{environment}/create', {
  params: {
    serviceId: entity.name,
    environment: environment
  }
}) }}" method="post" data-js="app-form-errors">
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
  <input type="hidden" name="teamId" value="{{ teamId }}" />

  {% call govukFieldset() %}

    {{ govukInput({
      id: "secret-key",
      name: "secretKey",
      label: {
        text: "Secret name",
        classes: "app-label"
      },
      classes: "app-input app-input--wide",
      hint: {
        text: "Ideally in CAPS separated by underscores",
        classes: "app-hint"
      },
      formGroup: {
        classes: "app-form-group app-form-group-js"
      },
      value: formValues.secretKey,
      errorMessage: errorMessageHelper(formErrors.secretKey.message)
    }) }}

    {{ govukTextarea({
      id: "secret-value",
      name: "secretValue",
      label: {
        text: "Secret value",
        classes: "app-label"
      },
      classes: "app-textarea app-textarea--wide",
      hint: {
        text: "Any number, letter or special character. Cannot include spaces",
        classes: "app-hint"
      },
      formGroup: {
        classes: "app-form-group app-form-group-js"
      },
      attributes: {
        "data-1p-ignore": ""
      },
      value: formValues.secretValue,
      errorMessage: errorMessageHelper(formErrors.secretValue.message)
    }) }}

    {{ govukLabel({
      text: "Environment",
      classes: "app-label"
    }) }}

    <p class="govuk-!-margin-bottom-6">{{ environment | title }}</p>

  {% endcall %}

  {{ appButton({
    text: "Create",
    name: "button",
    value: "create",
    loader: {
      name: "create-secret-submit-button"
    }
  }) }}

</form>
