{% extends "layouts/page.njk" %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Cookies are small files saved on your phone, tablet or computer when you visit a website."
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="app-grid-column app-grid-column-two-thirds-from-desktop-wide">
      <p>
        We use cookies to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Enable users to sign in</li>
        <li>To provide messaging to all users, signed in or not</li>
        <li>To protect submissions to our forms</li>
        <li>To provide multi-step forms</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="app-grid-column app-grid-column-two-thirds-from-desktop-wide">
      <section class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Essential cookies</h2>

        {{ govukTable({
          head: [
            { text: "Name" },
            { text: "Purpose" },
            { text: "Expires" }
          ],
          rows: [
            [
              { text: "userSession" },
              { text: "Used to keep users signed in" },
              { text: "8 hours" }
            ],
            [
              { text: "cdpPortalSession" },
              { text: "Session identifier" },
              { text: "8 hours" }
            ],
            [
              { text: "csrfToken" },
              { text: "Cross Site Request Forgery (CSRF) token storage" },
              { text: "8 hours" }
            ]
          ]
        }) }}

      </section>
    </div>
  </div>

{% endblock %}
