{% extends "layouts/page.njk" %}

{% block content %}
  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      text: "Create",
      intro: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full app-section">
        <form action="/create/choose-kind" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

          {% call govukFieldset() %}

            {{ govukRadios({
              name: "kind",
              classes: "govuk-radios--small app-radios",
              items: createItems,
              value: formValues.kind,
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: errorMessageHelper(formErrors.kind.message)
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>
    </div>
  </div>

{% endblock %}

