{% extends "layouts/page.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}


{#
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your full name",
          href: "#"
        },
        {
          text: "The date your passport was issued must be in the past",
          href: "#"
        }
      ]
    }) }}
#}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full app-section">
        <form action="/create/choose-kind" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

          {% call govukFieldset() %}

            {{ govukRadios({
              name: "kind",
              classes: "govuk-radios--small app-radios",
              items: createItems,
              value: formValues.kind,
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              attributes: {
                "aria-describedby": "kind-error"
              } if formErrors.kind.message,
              errorMessage: {
                attributes: {
                  "data-js": "app-error",
                  "role": "alert",
                  "tabindex": "0"
                },
                text: formErrors.kind.message
              } if formErrors.kind.message
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>
    </div>
  </div>

{% endblock %}

