{% extends "layouts/page.njk" %}

{% set visibilityHelpText %}
  {% if create.repositoryVisibility == "internal" %}
    Repository visibility has been set to <b>Internal</b>. This should only be used for repositories
    containing sensitive information.
  {% endif %}
  {% if create.repositoryVisibility == "private" %}
    Repository visibility has been set to <b>Private</b>. Only members of the owning team will be
    able to view the repository. Consider using <b>Internal</b>.
  {% endif %}
{% endset %}

{% block content %}
  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: headingCaption
    }) }}

    <div class="govuk-grid-row">
      <div class="app-grid-column-two-thirds-at-desktop-wide">
        {% if visibilityHelpText %}
          {{ appInfo({
            html: visibilityHelpText
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="teamId" value="{{ create.teamId }}" />

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: summaryRows
          }) }}

          {{ appButton({
            text: formButtonText,
            loader: {
              name: "create-submit-button"
            }
          }) }}

        </form>
      </div>
    </div>
  </div>

{% endblock %}

