{% extends "layouts/page.njk" %}

{% from "read-out/macro.njk" import appReadOut %}
{% from "availability/macro.njk" import appAvailability %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: "Create a new journey test suite. These tests will be built using webdriver.io run against docker compose as part of a github workflow."
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <form action="/create/tests-detail" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>
          {% call govukFieldset({
            legend: {
              text: "Enter your new test suite details",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            {{ govukInput({
              label: {
                text: "Repository name",
                classes: "govuk-!-margin-bottom-0"
              },
              id: "repository-name",
              name: "repositoryName",
              classes: "app-input app-input--wide",
              hint: {
                text: "Use lowercase words with hyphen separators and a maximum of 32 characters",
                classes: "govuk-!-margin-bottom-1"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.repositoryName,
              attributes: {
                "data-js": "app-availability app-read-out",
                "data-availability-target-id": "repository-name-availability",
                "data-read-out-target-id": "repository-name-read-out"
              },
              errorMessage: {
                text: formErrors.repositoryName.message,
                classes: "govuk-!-margin-bottom-1 app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.repositoryName.message,
              suffix: {
                classes: "app-input__suffix",
                html: appAvailability({
                  dataFetcher: "fetchIsNameAvailable",
                  targetId: "repository-name-availability"
                })
              }
            }) }}

            {{ appReadOut({
              description: "Your repository name will be ",
              targetId: "repository-name-read-out"
            }) }}


            {{ govukSelect({
              id: "team-id",
              name: "teamId",
              label: {
                text: "Owning Team",
                classes: "govuk-!-margin-bottom-0"
              },
              classes: "app-select",
              value: formValues.teamId,
              hint: {
                text: "The CDP team that owns your repository",
                classes: "govuk-!-margin-bottom-1"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: {
                text: formErrors.teamId.message,
                classes: "govuk-!-margin-bottom-1 app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.teamId.message,
              items: teamsOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>
    </div>
  </div>

{% endblock %}
