@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-hero {
  margin: -19px govuk-spacing(-6) 0;
  padding: govuk-spacing(2) 0 govuk-spacing(1);
  color: govuk-colour("white");
  background-color: $govuk-brand-colour;
}

.app-hero__body {
  @extend %govuk-body-m;
  color: govuk-colour("white");
  display: flex;
  max-width: 1520px;
  padding: govuk-spacing(4) govuk-spacing(6);
  gap: govuk-spacing(4);
}

.app-hero__copy {
  flex: 3;
}

.app-hero__heading {
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
}

.app-hero__lead {
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(2);
}

.app-hero__content {
  color: govuk-colour("white");
}

.app-hero__image {
  flex: 0 0 19em;
}
