<header class="app-hero">
  <div class="app-hero__body">
    <div class="app-hero__copy">
      <h1 class="app-hero__heading govuk-heading-xl">
        {{ params.heading }}
      </h1>

      <p class="app-hero__lead govuk-body-lead">
        {{ params.lead.html | safe }}
      </p>

      <p class="app-hero__content">
        {{ params.secondary.html | safe }}
      </p>
    </div>

    <div class="app-hero__image">
      {{ params.aside.html | safe }}
    </div>
  </div>
</header>
