@use "govuk-frontend" as *;
@use "variables/colours" as *;

// stylelint-disable max-nesting-depth
.govuk-template--rebranded {
  .app-service-navigation--inverse {
    .govuk-width-container {
      border-bottom: none;
    }

    .app-navigation__admin {
      &::before {
        border-left: 1px solid govuk-colour("white");
      }
    }
  }
}
// stylelint-enable max-nesting-depth

.app-navigation {
  .govuk-service-navigation__item {
    padding: govuk-spacing(3) 0;

    @include govuk-font(24);

    &:not(:last-child) {
      @include govuk-responsive-margin(3, $direction: right);
    }
  }
}

.app-navigation__actions,
.app-navigation__admin {
  padding: 0;
  margin: 0;
  list-style: none;
  display: contents;
}

@include govuk-media-query($from: desktop-big) {
  .app-navigation {
    display: flex;
    width: 100%;

    .govuk-service-navigation__list {
      flex-wrap: nowrap;
      width: 100%;
    }
  }

  .app-navigation__actions {
    display: flex;
    margin-left: auto;
    list-style: none;
  }

  .app-navigation__admin {
    display: inline-block;
    position: relative;
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(1);

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 20%;
      left: 0;
      width: 2px;
      height: 60%;
      border-left: 1px solid $app-brand-border-colour-light;
    }
  }
}
