{% extends "layouts/page.njk" %}

{% block header %}
  {{ appServiceHeader({
    serviceName: appServiceName,
    serviceUrl: "/",
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl: ("/logout" if isAuthenticated else "/login")
  }) }}
{% endblock %}

{% set bodyClasses = "app-terminal-background" %}

{% block main %}

  <main id="main-content" class="govuk-body govuk-!-margin-0">
    <iframe
      class="app-iframe app-iframe--terminal"
      title="Terminal {{ serviceId }} - {{ environment }}"
      scrolling="no"
      src="{{ terminalProxyUrl }}">
    </iframe>
  </main>

{% endblock %}
