{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "icons/terminal-icon/macro.njk" import appTerminalIcon %}
{% from "info/macro.njk" import appInfo %}
{% from "summary/macro.njk" import appSummary %}

{# Construct table rows, tables and html contents #}
{% set terminalTableRows = [] %}

{% for terminalEnv in terminalEnvs %}
  {% set launchFormHtml %}
    {% set classes = [
      "app-button app-button--primary app-button--small",
      "app-button--significant" if terminalEnv == "prod"
    ] | join(" ") | trim %}

    {{ govukButton({
      classes: classes,
      name: 'environment',
      text: "Launch",
      value: terminalEnv
    }) }}
  {% endset %}

  {{ terminalTableRows.push([
    { text: terminalEnv | title },
    { html: launchFormHtml }
  ]) }}
{% endfor %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Terminal",
    text: serviceName
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop-wide">

        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Terminal</h2>
          <p class="govuk-!-margin-right-2">
            Launch a short-lived tool in an environment, running as {{ serviceName }}.
          </p>
        </section>

        <article class="govuk-!-margin-bottom-6">
          {% call appSummary({
            heading: "Launch a tool",
            icon: appTerminalIcon({ classes: "app-icon--small"}),
            intro: {
              text: "Choose a tool and environment." if tools | length > 1 else "Choose an environment."
            }
          }) %}

            {% if canLaunchTerminal %}
            <form method="post" action="/services/{{ serviceName }}/terminal/launch" target="_blank">
              <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

              {%  if tools | length > 1 %}
                {{ govukSelect({
                  id: "tool",
                  name: "tool",
                  label: {
                    text: "Tool",
                    classes: "app-label"
                  },
                  classes: "app-select",
                  value: formValues.eventType,
                  items: tools,
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  }
                }) }}
              {% else %}
                <input name="tool" type="hidden" value="{{ tools[0].value }}"/>
              {%  endif %}

              {{ govukTable({
                classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
                attributes: {
                  "data-testid": "govuk-table"
                },
                head: [{ text: "Environment" }, { text: "Action" }],
                rows: terminalTableRows
              }) }}
            </form>
            {% else %}
              <p class="govuk-!-margin-bottom-2">
                {{ serviceName if serviceName else "Your service" }} does not exist in any environment.
              </p>
            {% endif %}
          {% endcall %}
        </article>
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop-wide">
        {% for toolDescription in toolDescriptions %}
          {% call appInfo({ classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-4" }) %}
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ toolDescription.title }}</h2>
            <p class="govuk-!-margin-bottom-2">{{ toolDescription.summary }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for point in toolDescription.points %}
                <li>{{ point }}</li>
              {% endfor %}
            </ul>
          {% endcall %}
        {% endfor %}

        {% call appInfo({ classes: "govuk-!-margin-top-0" }) %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Good to know</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Sessions idle for 20 minutes become a candidate to be closed.</li>
            <li>Changes to external services such as S3, MongoDb and Redis persist.</li>
          </ul>
        {% endcall %}
      </div>
    </div>
  </section>
{% endblock %}
