{# TODO - make this work well with vanity urls and backend API urls #}
<a class="app-link"
   href="https://{{ params.environment }}.cdp-int.defra.cloud/{{ params.serviceName }}"
   target="_blank" rel="noopener noreferrer">{{ params.serviceName }}.{{ params.environment }}</a>
