@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$card-width: 240px;
$card-height: 180px;

@mixin db-item-colours($colourName) {
  background-color: govuk-tint(govuk-colour($colourName), 80%);
  border: 1px solid govuk-tint(govuk-colour($colourName), 60%);

  .app-tag {
    background-color: govuk-tint(govuk-colour($colourName), 60%);
  }

  .app-database-detail__item--heading {
    background-color: govuk-tint(govuk-colour($colourName), 70%);
    border-bottom: 1px solid govuk-tint(govuk-colour($colourName), 60%);

    .app-database-detail__item--version {
      .app-icon {
        fill: govuk-tint(govuk-colour($colourName), 30%);
        stroke: govuk-tint(govuk-colour($colourName), 70%);
      }
    }
  }
}

.app-database-detail {
  @extend %govuk-body-m;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
  grid-auto-rows: max-content;
  gap: govuk-spacing(2);
  margin: 0;
}

.app-database-detail__card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-radius: $app-border-radius;
  min-height: $card-height;
  min-width: $card-width;
  background-color: govuk-colour("white");

  &.item-detail--green {
    @include db-item-colours("green");
  }

  &.item-detail--purple {
    @include db-item-colours("bright-purple");
  }

  &.item-detail--grey {
    @include db-item-colours("dark-grey");
  }

  &.item-detail--light-blue {
    @include db-item-colours("blue");
  }

  &.item-detail--red {
    @include db-item-colours("red");
  }
}

.app-database-detail__item {
  padding: govuk-spacing(2);
}

.app-database-detail__item--heading {
  padding: govuk-spacing(2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: govuk-spacing(2);
  min-height: govuk-spacing(5);
}

.app-database-detail__item--kind {
  padding-top: govuk-spacing(1);
}

.app-database-detail__item--version {
  display: flex;
  align-items: center;
  padding: 0;
}

.app-database-detail__item--updated {
  padding-top: govuk-spacing(3);
  margin: auto 0 0;
}

.app-database-detail__label {
  color: govuk-colour("dark-grey");
}

.app-database-detail__card--empty {
  color: govuk-colour("dark-grey");
  border: 1px solid $app-grey;
  background-color: govuk-colour("white");

  .app-database-detail__item--heading {
    border: none;
    border-bottom: 1px solid $app-grey;
    background-color: $app-grey;
    border-radius: $app-border-radius-top;
    margin-bottom: 0;

    .app-tag {
      background-color: govuk-colour("white");
    }
  }

  .app-database-detail__no-data {
    margin: auto;
    color: $app-dark-grey;
    @include govuk-font(16);
  }
}
