{% extends "layouts/page.njk" %}
{% from "tag/macro.njk" import appTag %}
{% from "../../components/resources-request/macro.njk" import resourcesRequest %}

{% block content %}

  <h1 class="app-page-heading--title govuk-!-margin-bottom-2" style="display: flex; align-items: center;">
    Resource request {{ appTag({
    text: formatStatus(resourceRequest.status),
        classes: "govuk-!-margin-left-3 " + statusTagColour(resourceRequest.status)
      }) }}
  </h1>
  <p class="govuk-!-margin-bottom-2">
    Requested by <strong>{{ resourceRequest.requestedBy.displayName }}</strong> on <strong>{{ resourceRequest.requestedAt | formatDate("do MMM yyyy 'at' HH:mm:ss") }}</strong>
  </p>

  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ resourcesRequest({
        request: resourceRequest.resources
      }) }}

      </div>
    </div>
  </section>

{% endblock %}
