{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: headingCaption
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form action="/teams/{{ team.teamId }}/add-member"
            method="post"
            data-js="auto-submit app-form-errors">
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

        {% call govukFieldset() %}

          {{ appSearch({
            label: {
              text: "CDP users name or email",
              classes: "app-label"
            },
            id: "cdpUserQuery",
            name: "cdpUserQuery",
            hint: {
              text: "Enter the users name or the users Defra provided email"
            },
            value: formValues.cdpUserQuery,
            errorMessage: {
              text: formErrors.cdpUserQuery.message
            } if formErrors.cdpUserQuery.message
          }) }}

        {% endcall %}

        {{ govukButton({
          classes: "app-button app-button--secondary govuk-!-margin-bottom-4 js-hidden",
          text: "Search",
          name: "button",
          value: "search",
          attributes: {
            "data-js": "app-no-js-submit-button"
          }
        }) }}

        {% block xhrContent %}

          <article class="app-scrollable-window" data-xhr="add-users" data-children-can-submit="true">

            {% if cdpUsers | length %}
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Search results</h2>
            {% endif %}

            {% for user in cdpUsers %}
              {{ user.disabled }}
            {% endfor %}

            {% if  cdpUsers | length or formErrors.userIds.message %}
              {{ govukCheckboxes({
                name: "userIds",
                classes: "govuk-checkboxes--small app-radio",
                items: cdpUsers,
                values: formValues.userIds,
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                errorMessage: {
                  attributes: {
                    "data-js": "app-error"
                  },
                  text: formErrors.userIds.message
                } if formErrors.userIds.message
              }) }}
            {% endif %}

            {% if formValues.cdpUserQuery and not cdpUsers | length %}
              <p class="govuk-hint">No user/s found</p>
            {% endif %}

          </article>

        {% endblock %}

        {{ govukButton({
          classes: "app-button",
          text: "Add"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
