@use "sass:map";
@use "govuk-frontend" as *;
@use "variables/border-radius" as *;

.app-header {
  @include govuk-font(19);

  border-bottom: govuk-spacing(2) solid govuk-colour("white");
  color: govuk-colour("white");
  background: govuk-colour("black");
}

.app-header__container--full-width {
  border-color: govuk-colour("black");
}

.app-header__container {
  margin-bottom: govuk-spacing(-2);
  padding: govuk-spacing(3) govuk-spacing(6);
  border-bottom: govuk-spacing(2) solid $govuk-brand-colour;
  display: flex;
}

.app-header__content {
  @include govuk-media-query($from: desktop-big) {
    flex: 4;
    display: flex;
    align-items: center;

  }
}

.app-header__service-name {
  display: inline-block;
  @include govuk-font(36);
}

.app-header__service-environment {
  @include govuk-font(19);
  padding: govuk-spacing(1) govuk-spacing(2);
  margin-left: govuk-spacing(4);
  border-radius: $app-border-radius;
  background-color: govuk-colour("blue");
}

.app-header__actions {
  @include govuk-font(19);

  display: flex;
  align-items: center;
  justify-content: center;

  & .app-user-icon {
    margin-right: govuk-spacing(2);
  }
}

.app-header__login-link {
  margin-left: govuk-spacing(3);
  @include govuk-font(19, "bold");
  display: block;


  &.app-header__is-logged-in {
    &::before {
      content: "";
      padding-right: govuk-spacing(3);
      height: 100%;
      border-left: 1px solid govuk-colour("white");
    }
  }
}

.app-header__link {
  @include govuk-typography-common;
  @include govuk-link-style-inverse;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  &:focus {
    @include govuk-focused-text;
  }
}
