@use "govuk-frontend" as *;

.app-header {
  @include govuk-font(19);

  border-bottom: govuk-spacing(2) solid govuk-colour("white");
  color: govuk-colour("white");
  background: govuk-colour("black");
}

.app-header__container--full-width {
  border-color: govuk-colour("black");
}

.app-header__container {
  margin-bottom: govuk-spacing(-2);
  padding: govuk-spacing(3) govuk-spacing(6) govuk-spacing(1);
  border-bottom: govuk-spacing(2) solid $govuk-brand-colour;

  @include govuk-media-query($from: desktop-big) {
    display: flex;
  }
}

.app-header__content {
  @include govuk-media-query($from: desktop-big) {
    flex: 4;
  }
}

.app-header__actions {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop-big) {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin: govuk-spacing(1) 0 govuk-spacing(2) auto;
  }
}

.app-header__login-link {
  margin-left: govuk-spacing(3);
  @include govuk-font(19, "bold");
}

.app-header__link {
  @include govuk-typography-common;
  @include govuk-link-style-inverse;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.app-header__service-name {
  display: inline-block;
  margin-bottom: govuk-spacing(2);
  @include govuk-font(36);
}
