{% set headerSizeClassMap = {
  "2": "govuk-heading-m",
  "3": "govuk-heading-s"
} %}

<header class="app-header">
  <span class="govuk-!-margin-right-1">
    {{ params.icon | safe }}
  </span>
  <h{{ params.heading.size }}
    class="{{ headerSizeClassMap[params.heading.size] }} govuk-!-margin-bottom-1"
    data-testid="app-header"
  >
    {{ params.heading.text }}
  </h{{ params.heading.size }}>
</header>
