@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-summary {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(4);
  background-color: $app-brand-background-colour-light;
  border-radius: $app-border-radius;

  @include govuk-media-query($from: desktop-wide) {
    flex: 1;
    gap: govuk-spacing(2);
    margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop-massive) {
    margin-right: govuk-spacing(4);
  }
}

.app-summary__header {
  display: flex;
  align-items: center;
  margin-bottom: govuk-spacing(2);
}

.app-summary__icon {
  margin-right: govuk-spacing(1);
}

.app-summary__intro {
  margin-bottom: govuk-spacing(4);
}
