.app-summary {
  margin-bottom: govuk-spacing(4);

  .app-chart-icon,
  .app-logs-icon,
  .app-web-icon,
  .app-wrench-icon,
  .app-globe-icon{
    fill: govuk-colour("blue");
  }

  @include govuk-media-query($from: desktop-wide) {
    display: flex;
  }
}
