@import "summary-item/summary-item";

.app-summary {
  margin-bottom: govuk-spacing(4);

  .app-icon {
    fill: govuk-colour("blue");
  }
}

@include govuk-media-query($from: desktop-wide) {
  .app-summary {
    display: flex;

    .app-summary-item {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
