{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      text: "Permissions",
      intro: "Portal wide permissions details, create, view and assign permissions to users and teams",
      cta: {
        text: "Create new permission",
        href: routeLookup('admin/permission/create')
      }
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

