{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Permissions",
      intro: "Portal wide permissions details, create, view and assign permissions to users and teams"
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

