{% extends "layouts/tabbed-page.njk" %}
{% from "icons/file-icon/macro.njk" import appFileIcon %}
{% from "icons/folder-icon/macro.njk" import appFolderIcon %}
{% from "icons/open-folder-icon/macro.njk" import appOpenFolderIcon %}
{% from "progress/macro.njk" import appProgress %}
{% from "time/macro.njk" import appTime %}
{% from "tag/macro.njk" import appTag %}
{% from "folder-tree/macro.njk" import appFolderTree %}


{% macro renderRows(rows, content) %}
  {% for obj in content %}
    {{ rows.push([
      {
        html: renderName(obj)
      },
      {
        text: obj.size | formatFileSize
      },
      {
        html: appTime({
          datetime: obj.modifiedDate
        })
      },
      {
        html: renderActions(obj)
      }
    ])}}
  {% endfor %}
{% endmacro %}

{% macro renderParentRow(rows, relativePathParts) %}
    {{ rows.push([
      {
        html: renderParentName(relativePathParts)
      },
      {
        text: '- - -'
      },
      {
        text: '- - -'
      },
      {
        html: '- - -'
      }
    ]) }}
{% endmacro %}

{% macro renderActions(obj) %}
  {% if obj.isFolder %}
    - - -
  {% else %}
    <a href="/services/{{ entity.name }}/imports-resource/{{ obj.path | encodePathSegments }}" data-no-xhr-link="true" target="_blank">Download</a>
  {% endif %}
{% endmacro %}

{% macro renderName(obj) %}
  <span class="app-tree--label">
    {% if obj.isFolder %}
      {{ appFolderIcon({ classes: "app-icon--small" }) }}
      <a href="/services/{{ entity.name }}/imports/{{ obj.path | encodePathSegments }}">{{ obj.name }}</a>
    {% else %}
      {{ appFileIcon({ classes: "app-icon--small" }) }}
      {{ obj.name }}
    {% endif %}
  </span>
{% endmacro %}

{% macro renderParentName(relativePathParts) %}
  <span class="app-tree--label">
    {{ appOpenFolderIcon({ classes: "app-icon--small" }) }}
    <a href="/services/{{ entity.name }}/imports/{{ relativePathParts.slice(0, -1) | join('/') | encodePathSegments }}">..</a>
  </span>
{% endmacro %}


{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Imports",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" data-js="xhr-nav" >

          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Imports</h2>
          <p class="govuk-!-margin-bottom-6">
            Manage imported data associated with <strong>{{entity.name}}</strong>, including uploading and downloading.
          </p>

          {% block xhrContent %}

            <div class="govuk-grid-row">
              <div data-xhr="folder-tree" class="govuk-grid-column-one-quarter">

                {{ appFolderTree({ tree: folderTree, basePath: "/services/{{ entity.name }}/imports/" }) }}

              </div>

              <div class="govuk-grid-column-three-quarters">

                <div data-xhr="folder-contents">
                  {% set contentsRows = [] %}
                  {% if path !== '' %}
                    {% set t = renderParentRow(contentsRows, relativePathParts) %}
                  {% endif %}
                  {% set t = renderRows(contentsRows, folderContents) %}

                  {{ govukTable({
                    classes: "app-table app-table--inverse govuk-!-margin-bottom-8",
                    head: [
                      { text: "Name" },
                      { text: "Size" },
                      { text: "Modified" },
                      { text: "Actions" }
                    ],
                    rows: contentsRows
                  }) }}
                </div>

              </div>
            </div>

          {% endblock %}

      </div>
    </div>
  </section>
{% endblock %}
