.app-select {
  min-width: 14em;
  border-radius: $app-border-radius;
  border: 1px solid govuk-colour("mid-grey");

  &:focus {
    border: 1px solid govuk-colour("black");
    box-shadow: none;
  }

  &.govuk-select--error {
    border-color: govuk-colour("red");
  }
}

.app-select--slim {
  min-width: 4em;
}

.app-select--small {
  min-width: 10em;
}

.app-select--wide {
  min-width: 24em;
}

.app-select-wrapper {
  display: flex;
  align-items: center;

  .app-loader {
    margin-left: govuk-spacing(2);
  }
}
