.app-select {
  min-width: 14em;
  border-radius: $app-border-radius;
  border: 1px solid govuk-colour("mid-grey");

  &:focus {
    border: 1px solid govuk-colour("black");
    box-shadow: none;
  }
}

.app-select--slim {
  min-width: 4em;
}

.app-select--wide {
  min-width: 24em;
}

.app-select-wrapper {
  display: flex;

  .app-loader {
    position: relative;
    bottom: 4px;
  }
}
