{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    text: "Test Suites",
    intro: "User Journey and Performance tests"
  }) }}

  {{ appEntityTable(tableData) }}

{% endblock %}
