{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: caption,
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m govuk-!-margin-top-0">

  <div class="govuk-grid-row">

    {% if not isSuccess %}
      <div data-js="app-poll"
           data-poll-url="/test-suites/create-status/{{ testSuite.serviceName }}"
           data-poll-interval="3000"
           data-poll-limit="45">
    {% endif %}

      {% block xhrContent %}
        {% include "test-suites/partials/test-suite-status.njk" %}
      {% endblock %}

    {% if not isSuccess %}
      </div>
    {% endif %}
  </div>

{% endblock %}
