{% extends "layouts/page.njk" %}

{% block content %}

  {{ appPageHeading({
    caption: "Test Suite",
    text: testSuite.serviceName
  }) }}

  <hr class="app-section-break app-section-break--slim">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop-massive">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <section class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
            <p>
              {{ testSuite.description }}
            </p>

            {{ govukSummaryList(summaryList) }}
          </section>
        </div>

        <div class="govuk-grid-column-one-half">
          {% if canRun %}
            {% call appPanel() %}

              <section class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Run</h2>
                <p>
                  Run the latest version of your test suite against an environment of your choosing.
                </p>

                <form action="/test-suites/run" method="post" data-js="app-form-errors">
                  <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                  <input type="hidden" name="imageName" value="{{ testSuite.serviceName }}"/>

                  {% call govukFieldset() %}

                    {{ govukSelect({
                      id: "environment",
                      name: "environment",
                      label: {
                        text: "Environment",
                        classes: "app-label"
                      },
                      classes: "app-select",
                      value: formValues.environment,
                      hint: {
                        text: "The environment to run your tests against",
                        classes: "app-hint"
                      },
                      formGroup: {
                        classes: "app-form-group app-form-group--slim app-form-group-js"
                      },
                      errorMessage: {
                        text: formErrors.environment.message,
                        classes: "app-error-message",
                        attributes: {
                          "data-js": "app-error",
                          "tabindex": "-1"
                        }
                      } if formErrors.environment.message,
                      items: environmentOptions
                    }) }}

                    {{ appButton({
                      text: "Start",
                      loader: {
                        name: "run-submit-button"
                      }
                    }) }}

                  {% endcall %}

                </form>
              </section>

            {% endcall %}
          {% endif %}
        </div>
      </div>

      {% if shouldPoll %}
      <div data-js="app-poll"
           data-poll-url="/test-suites/{{ testSuite.serviceName }}"
           data-poll-interval="3000"
           data-poll-limit="45">
        {% endif %}

        {% block xhrContent %}
          <article data-xhr="test-suite-runs">
            <section class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Results</h2>
              <p>
                Results from <em>{{ testSuite.serviceName }}</em> test suite runs.
              </p>

              {{ appEntityTable(tableData) }}
            </section>
          </article>
        {% endblock %}

        {% if shouldPoll %}
      </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
