{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    text: "Teams",
    intro: "Team details, members and assets"
  }) }}

  {{ appEntityTable(tableData) }}

{% endblock %}
