{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    text: "Teams"
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Team", size: "medium"},
      { text: "GitHub team", size: "medium"},
      { text: "Members", size: "small"},
      { text: "Last updated", size: "medium"},
      { text: "Created", size: "medium"}
    ],
    entityRows: entityRows,
    noResult: "Currently there are no teams"
  }) }}

{% endblock %}
