{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    entities: headingEntities,
    actions: [
      govukButton({
        classes: "app-button app-button--secondary",
        text: "Add members",
        href: appPathPrefix + "/teams/" + team.teamId + "/add-member"
      }),
      govukButton({
        classes: "app-button",
        text: "Edit team",
        href: appPathPrefix + "/teams/" + team.teamId + "/edit"
      })
    ] if userHasTeamScope(team.teamId)
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m govuk-!-margin-top-0">

  <div class="govuk-grid-row govuk-!-margin-bottom-8">

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">About</h2>
      <p>
        {{ team.description }}
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Members</h2>

      {% if teamMembers | length %}

        {% set members %}
          {{ appList({
            classes: "app-list--slim",
            items: teamMembers
          }) }}
        {% endset %}

        {% if userHasTeamScope(team.teamId) %}
          <form method="POST">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

            {{ members | safe }}
          </form>
        {% else %}
          {{ members | safe }}
        {% endif %}
      {% else %}
        <p>This team does not currently have any members</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ appEntityDataList({
        items: entityDataList
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">

    {% if team.github %}

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Repositories</h2>

        {% if teamRepositories | length %}
          {{ appList({
            items: teamRepositories
          }) }}
        {% else %}
          <p>This team does not currently own any repositories</p>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Templates</h2>

        {% if teamTemplates | length %}
          {{ appList({
            items: teamTemplates
          }) }}
        {% else %}
          <p>This team does not currently own any templates</p>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Libraries</h2>

        {% if teamLibraries | length %}
          {{ appList({
            items: teamLibraries
          }) }}
        {% else %}
          <p>This team does not currently own any libraries</p>
        {% endif %}
      </div>
    {% endif %}

  </div>

{% endblock %}
