{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: team.description,
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Team Members</h2>

      {% if team.members | length %}
        <ul class="govuk-list govuk-list--bullet">
          {% for member in team.members %}
            {% set memberHandle = member.name + " - @" + member.id if member.name else "@" + member.id %}
            <li>
              <a class="app-link"
                 href="{{ member.url }}"
                 target="_blank">{{ memberHandle }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This team does not currently have any members</p>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-2">Repositories</h2>

      {% if team.repositories | length %}
        <ul class="govuk-list govuk-list--bullet">
          {% for repository in team.repositories %}
            <li>
              <a class="app-link"
                 href="{{ repository.url }}"
                 target="_blank">defra-cdp-sandpit/{{ repository.id }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This team does not currently own any repositories</p>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-2">Templates</h2>

      {% if team.templates | length %}
        <ul class="govuk-list govuk-list--bullet">
          {% for template in team.templates %}
            <li>
              <a class="app-link"
                 href="{{ template.url }}"
                 target="_blank">defra-cdp-sandpit/{{ template.id }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This team does not currently own any templates</p>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-2">Libraries</h2>

      {% if team.libraries | length %}
        <ul class="govuk-list govuk-list--bullet">
          {% for library in team.libraries %}
            <li>
              <a class="app-link"
                 href="{{ library.url }}"
                 target="_blank">defra-cdp-sandpit/{{ library.id }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This team does not currently own any libraries</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
