{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {{ appPageHeading({
    caption: "Team",
    text: team.name
  }) }}

  <hr class="app-section-break app-section-break--slim">

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="app-grid-column app-grid-column-one-half-from-desktop-wide">

      {% if userIsTeamMember %}
        <ul class="govuk-list">
          <li>
            <a href="{{ routeLookup('teams/{teamId}/add-member', { params: { teamId: team.teamId } }) }}"
               class="app-link app-link--underline" data-testid="add-team-member">
              Add member to team
            </a>
          </li>
        </ul>
      {% endif %}

      <section>
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p class="govuk-!-margin-bottom-2">
          Team information and the services, test-suites, templates and libraries they own
        </p>

        {{ govukSummaryList(summaryList) }}
      </section>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="app-grid-column app-grid-column-one-quarter-from-desktop-wide">
      {% call appPanel() %}
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            {{ "Service" | pluralise(teamServices.items | length) }}
          </h2>

          {% if services.items | length %}
            {{ appDetailedList(services) }}
          {% else %}
            <p>This team has no services

              {% if userIsTeamMember %}
                <a href="{{ routeLookup('create') }}"
                   class="app-link app-link--underline">
                  Create a service
                </a>
              {% endif %}
            </p>
          {% endif %}
        </section>
      {% endcall %}
    </div>
    <div class="app-grid-column app-grid-column-one-quarter-from-desktop-wide">
      {% call appPanel() %}
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            {{ "Test-suite" | pluralise(teamTestSuites.items | length) }}
          </h2>

          {% if testSuites.items | length %}
            {{ appDetailedList(testSuites) }}
          {% else %}
            <p>This team has no test-suites

              {% if userIsTeamMember %}
                <a href="{{ routeLookup('create') }}"
                   class="app-link app-link--underline">
                  Create a test-suite
                </a>
              {% endif %}
            </p>
          {% endif %}
        </section>
      {% endcall %}
    </div>
    <div class="app-grid-column app-grid-column-one-quarter-from-desktop-wide">
      {% call appPanel() %}
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            {{ "Template" | pluralise(templates.items | length) }}
          </h2>

          {% if templates.items | length %}
            {{ appDetailedList(templates) }}
          {% else %}
            <p>This team has no templates</p>
          {% endif %}
        </section>
      {% endcall %}
    </div>
    <div class="app-grid-column app-grid-column-one-quarter-from-desktop-wide">
      {% call appPanel() %}
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            {{ "Library" | pluralise(libraries.items | length) }}
          </h2>

          {% if libraries.items | length %}
            {{ appDetailedList(libraries) }}
          {% else %}
            <p>This team has no libraries</p>
          {% endif %}
        </section>
      {% endcall %}
    </div>
  </div>

{% endblock %}
