{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "info/macro.njk" import appInfo %}
{% from "panel/macro.njk" import appPanel %}
{% from "services/common/components/resources-intro/macro.njk" import appResourcesIntro %}
{% from "../components/resource-row/macro.njk" import resourceRow %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Resources",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% call appSplitPane() %}
          <section class="govuk-!-margin-bottom-9">
            <span class="govuk-caption-l">Pending</span>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Resource requests</h2>
            <p class="govuk-!-margin-bottom-2">Resources pending creation for <strong>{{ entity.name }}</strong> </p>

            {% call appPanel({
              classes: "govuk-!-margin-bottom-6"
            }) %}
              {% if approvalView %}

                {{ govukTable({
                  classes: "app-table app-table--inverse govuk-!-margin-bottom-1",
                  head: [
                    { text: "Request generation workflow" },
                    { text: "Request" },
                    { text: "Requester" },
                    { text: "Date" },
                    { text: "Cross team approval" },
                    { text: "Actions" }
                  ],
                  rows: [
                    [{
                      html: '<a href="">https://github.com/defra/repo/workflow</a>'
                    },
                    {
                      html: '<a href="">https://github.com/defra/repo/pr</a>'
                    },
                    {
                      html: '<a href="">David Beale</a>'
                    },
                    {
                      html: '8th Jun 2026 at 09:19:22'
                    },
                    {
                      html: '<strong class="govuk-tag app-tag govuk-tag--blue" aria-label="Platform proxy rule" style="word-break: break-word;">Not required</strong>'
                    },
                    {
                      html: '<a href="/">View</a>'
                    }
                    ],

                    [{
                      html: '<a href="">https://github.com/defra/repo/workflow</a>'
                    },
                    {
                      html: '<a href="">https://github.com/defra/repo/pr</a>'
                    },
                    {
                      html: '<a href="">Joe Blogs</a>'
                    },
                    {
                      html: '24th Jun 2026 at 12:09:32'
                    },
                    {
                      html: '<strong class="govuk-tag app-tag govuk-tag--yellow" aria-label="Platform proxy rule" style="word-break: break-word;">def-env-team</strong>'
                    },
                    {
                      html: '<a href="/" class="govuk-!-margin-right-2">View</a> <a href="/">Approve</a>'
                    }
                    ]
                  ]
                }) }}

            {% else %}

              {{ govukTable({
                classes: "app-table app-table--inverse govuk-!-margin-bottom-1",
                head: [
                  { text: "Request generation workflow" },
                  { text: "Request" },
                  { text: "Requester" },
                  { text: "Date" },
                  { text: "Actions" }
                ],
                rows: [
                  [{
                    html: '<a href="">https://github.com/defra/repo/workflow</a>'
                  },
                  {
                    html: '<a href="">https://github.com/defra/repo/pr</a>'
                  },
                  {
                    html: '<a href="">David Beale</a>'
                  },
                  {
                    html: '8th Jun 2026 at 09:19:22'
                  },
                  {
                    html: '<a href="/">View</a>'
                  }
                  ],

                  [{
                    html: '<a href="">https://github.com/defra/repo/workflow</a>'
                  },
                  {
                    html: '<a href="">https://github.com/defra/repo/pr</a>'
                  },
                  {
                    html: '<a href="">Joe Blogs</a>'
                  },
                  {
                    html: '24th Jun 2026 at 12:09:32'
                  },
                  {
                    html: '<a href="/" class="govuk-!-margin-right-2">View</a>'
                  }
                  ]
                ]
              }) }}
            {% endif %}

          {% endcall %}

          </section>

          <section>
            {{ appResourcesIntro({
              caption: "All",
              heading: "Resources",
              entity: entity,
              hasBuckets: hasBuckets
            }) }}

            {% for type, table in tablesPerResourceType | dictsort %}
              <h3 class="govuk-heading-m govuk-!-margin-top-5">{{ type | capitalize| replace("_", " ") | uppercaseMatch(["sqs", "sns", "sql", "api", "ai"]) }}</h3>
              {% call(params) appEntityTable(table) %}

                {{ resourceRow({
                  entity: entity,
                  rowClasses: params.rowClasses,
                  loopIndex: params.loopIndex,
                  envs: params.row.envs
                }) | safe }}

              {% endcall %}
            {% endfor %}

            {% if not tablesPerResourceType | length %}

              {{ appInfo({ html: "There are currently no resources defined for this service" }) }}

            {% endif %}

          </section>

          <p class="govuk-!-margin-top-2">
            <a href="?debug=true" class="govuk-link app-link app-link--underline">Debug view</a>
          </p>
        {% endcall %}
      </div>
    </div>
  </section>

{% endblock %}
