{% extends "layouts/tabbed-page.njk" %}

{% from "icons/pending-icon/macro.njk" import appPendingIcon %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "info/macro.njk" import appInfo %}
{% from "loader/macro.njk" import appLoader %}
{% from "tag/macro.njk" import appTag %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "services/common/components/resources-intro/macro.njk" import appResourcesIntro %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Resources",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% call appSplitPane() %}
          <section>

            {{ appResourcesIntro({
              caption: environment | title,
              heading: "Resources",
              entity: entity,
              hasBuckets: resource.s3BucketRows | length
            }) }}

            {% include "services/common/partials/resource-panel.njk" %}

          </section>
        {% endcall %}
      </div>
    </div>
  </section>
{% endblock %}
