{# Minimal page template that provides a page without header nav or footer #}
{% from "service-header/macro.njk" import appServiceHeader with context %}
{% from "page-heading/macro.njk" import appPageHeading %}

{% extends "govuk/template.njk" %}

{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}{% endblock %}

{% block head %}
  <link href="{{ getAssetPath("application.css") }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}{% endblock %}
