{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% from "autocomplete/macro.njk" import appAutocomplete %}
{% from "banner/macro.njk" import appBanner %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs with context %}
{% from "button/macro.njk" import appButton %}
{% from "entity-actions/macro.njk" import appEntityActions %}
{% from "entity-data-list/macro.njk" import appEntityDataList with context %}
{% from "entity-list/macro.njk" import appEntityList with context %}
{% from "filters/macro.njk" import appFilters %}
{% from "footer/macro.njk" import appFooter with context %}
{% from "header/macro.njk" import appHeader with context %}
{% from "heading/macro.njk" import appHeading %}
{% from "help/macro.njk" import appHelp with context %}
{% from "hero/macro.njk" import appHero %}
{% from "info/macro.njk" import appInfo %}
{% from "input-assistant/macro.njk" import appInputAssistant %}
{% from "loader/macro.njk" import appLoader %}
{% from "logs-dashboard-link/macro.njk" import appLogsDashboardLink %}
{% from "naming-advice/macro.njk" import appNamingAdvice %}
{% from "old-browser/macro.njk" import appOldBrowser %}
{% from "panel/macro.njk" import appPanel %}
{% from "search/macro.njk" import appSearch %}
{% from "secrets-list/macro.njk" import appSecretsList %}
{% from "select/macro.njk" import appSelect %}
{% from "split-pane/macro.njk" import appSplitPane with context %}
{% from "step-navigation/macro.njk" import appStepNavigation %}
{% from "tabs/macro.njk" import appTabs with context %}
{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "warning/macro.njk" import appWarning %}
{% from "xhr-subscriber/macro.njk" import appXhrSubscriber with context %}

{% if isXhr %}
  {% extends "layouts/xhr.njk" %}
{% else %}
  {% extends "govuk/template.njk" %}
{% endif %}

{% set mainClasses = "app-main-wrapper" %}

{#{% block headIcons %}#}
{#  <link rel="icon" sizes="48x48" href="{{ getAssetPath("images/favicon.ico") }}">#}
{#  <link rel="icon" sizes="any" href="{{ getAssetPath("images/favicon.svg") }}" type="image/svg+xml">#}
{#  <link rel="mask-icon" href="{{ getAssetPath("images/govuk-icon-mask.svg") }}"#}
{#        color="{{ themeColor | default("#0b0c0c") }}"> #}{#- Hardcoded value of $govuk-black #}
{#  <link rel="apple-touch-icon" href="{{ getAssetPath("images/govuk-icon-180.png") }}">#}
{#{% endblock %}#}

{% block head %}
  <link href="{{ getAssetPath("stylesheets/application.scss") }}" rel="stylesheet">
  {% if containerVersion %}
    <meta name="container-version" content="{{ containerVersion }}">
  {% endif %}
{% endblock %}

{% block header %}
  {% if isIe %}
    {{ appOldBrowser({
      text: "You are using an unsupported browser Internet Explorer. The Core Delivery Platform - Portal will not
      work as intended in this browser. Use an evergreen browser."
    }) }}
  {% endif %}

  {{ appHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl: ("/logout" if isAuthenticated else "/login")
  }) }}
  {% include "partials/navigation/navigation.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ "Error | " if isError }}{{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {# Client side JS notification placeholder #}
  {{ appBanner({
    classes: "app-banner--hidden",
    js: "app-client-notifications"
  }) }}

  {% if notifications | length %}
    {% for notification in notifications %}
      {{ appBanner({
        text: notification.text,
        type: notification.type,
        js: 'app-notification'
      }) }}
    {% endfor %}
  {% endif %}

  {% if globalValidationFailures | length %}
    {% for globalValidationFailure in globalValidationFailures %}
      {{ appBanner({
        text: globalValidationFailure,
        type: "error"
      }) }}
    {% endfor %}
  {% endif %}

  {% if breadcrumbs.length > 1 %}
    {{ appBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ appFooter() }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath("application.js") }}"></script>
{% endblock %}
