{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "autocomplete-dropdown/macro.njk" import appAutocompleteDropdown %}
{% from "autocomplete-search/macro.njk" import appAutocompleteSearch %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs with context %}
{% from "banner/macro.njk" import appBanner %}
{% from "button/macro.njk" import appButton %}
{% from "entity-actions/macro.njk" import appEntityActions %}
{% from "entity-list/macro.njk" import appEntityList with context %}
{% from "entity-data-list/macro.njk" import appEntityDataList with context %}
{% from "footer/macro.njk" import appFooter %}
{% from "header/macro.njk" import appHeader with context %}
{% from "heading/macro.njk" import appHeading %}
{% from "help/macro.njk" import appHelp with context %}
{% from "info/macro.njk" import appInfo %}
{% from "old-browser/macro.njk" import appOldBrowser %}
{% from "list/macro.njk" import appList %}
{% from "select/macro.njk" import appSelect %}
{% from "search/macro.njk" import appSearch %}
{% from "page-body/macro.njk" import appPageBody %}
{% from "tabs/macro.njk" import appTabs %}
{% from "time/macro.njk" import appTime %}
{% from "step-navigation/macro.njk" import appStepNavigation %}
{% from "hero/macro.njk" import appHero %}

{% if isXhr %}
  {% extends "layouts/xhr.njk" %}
{% else %}
  {% extends "govuk/template.njk" %}
{% endif %}

{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ getAssetPath("images/favicon.ico") }}"
        type="image/x-icon">
  <link rel="mask-icon" href="{{ getAssetPath("images/govuk-mask-icon.svg") }}"
        color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ getAssetPath("images/govuk-apple-touch-icon-180x180.png") }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ getAssetPath("images/govuk-apple-touch-icon-167x167.png") }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ getAssetPath("images/govuk-apple-touch-icon-152x152.png") }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath("images/govuk-apple-touch-icon.png") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath("application.css") }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {% if isIe %}
    {{ appOldBrowser({
      text: "You are using an unsupported browser Internet Explorer. The Core Delivery Platform - Portal will not
      work as intended in this browser. Use an evergreen browser."
    }) }}
  {% endif %}

  {{ appHeader({
    serviceName: serviceName,
    serviceUrl: appPathPrefix,
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl:  appPathPrefix + ("/logout" if isAuthenticated else "/login")
  }) }}
  {% include "partials/navigation/navigation.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ "Error | " if isError }}{{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {# Client side JS notification placeholder #}
  {{ appBanner({
    type: "error",
    classes: "app-banner--hidden",
    js: "app-client-notifications"
  }) }}

  {% if notifications | length %}
    {% for notification in notifications %}
      {{ appBanner({
        text: notification.text,
        type: notification.type
      }) }}
    {% endfor %}
  {% endif %}

  {% if globalValidationFailures | length %}
    {% for globalValidationFailure in globalValidationFailures %}
      {{ appBanner({
        text: globalValidationFailure,
        type: "error"
      }) }}
    {% endfor %}
  {% endif %}

  {% if breadcrumbs.length > 1 %}
    {{ appBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ appFooter() }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("application.js") }}"></script>
{% endblock %}
