{% extends "layouts/page.njk" %}

{% block content %}

  {% block beforeTabContent %}{% endblock %}

  {% call appTabs(tabDetails) %}
    {% block tabContent %}{% endblock %}
  {% endcall %}

{% endblock %}
