{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-body">

    {{ appHeading({
      title: heading,
      caption: caption
    }) }}

    {% block actions %}{% endblock %}

    {% call appTabs({ tabs: tabs }) %}
      {% block tabContent %}{% endblock %}
    {% endcall %}

  </div>
{% endblock %}
