{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      caption: "Remove Resource",
      text: resourceTypeLabel | capitalize| replace("_", " ") | uppercaseMatch(["sqs", "sns", "sql", "api", "ai"])
    }) }}

    {% block formContent %}{% endblock %}

  </div>

{% endblock %}
