.app-entity {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  margin-right: govuk-spacing(2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-entity-label {
  color: govuk-colour("dark-grey");
}

.app-entity-no-value {
  margin-left: govuk-spacing(1);
  color: govuk-colour("dark-grey");
}
