{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "time/macro.njk" import appTime %}

<div class="app-entity"
     data-testid="app-entity{% if params.index %}-{{ params.index }}{% endif %}">

  {% if params.label %}
    <span class="app-entity-label"
          data-testid="app-entity-label">{{ params.label }}:</span>
  {% endif %}

  {% if params.value or params.value == 0 %}

    {% if params.kind === "link" %}
      <a class="app-link"
         href="{{ params.url }}"{% if params.newWindow %} target="_blank" rel="noopener noreferrer"{% endif %}
         data-testid="app-entity-link">
        {{ params.value }}
      </a>

    {% elseif params.kind === "tag" %}
      {{ govukTag({
        text: params.value,
        classes: params.classes,
        attributes: {
          "data-testid": "govuk-tag"
        }
      }) }}

    {% elseif params.kind === "date" %}
      {{ appTime({
        datetime: params.value
      }) }}

    {% elseif params.kind === "text" %}
      {{ params.value }}
    {% endif %}

  {% else %}
    <span class="app-entity-no-value">{{ noValue }}</span>
  {% endif %}
</div>

