{% extends 'layouts/page.njk' %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}

  {{ appHeading({
    text: heading,
    caption: "What deployments are running where?"
  }) }}

  {{ appEntityList({
    headings: [
      { text: 'Service', size: 'large'},
      { text: 'Development', size: 'small'},
      { text: 'Test', size: 'small'},
      { text: 'Perf Test', size: 'small'},
      { text: 'Production', size: 'small'}
    ],
    entityRows: entityRows,
    noResult: 'Currently there is nothing running in any environments'
  }) }}

{% endblock %}
