{% from "panel/macro.njk" import appPanel %}
{% from "warning/macro.njk" import appWarning %}
{% from "progress/macro.njk" import appProgress %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../upload-actions/macro.njk" import uploadActions %}

{% macro renderRows(rows, filesMeta) %}
  {% for file in filesMeta %}
    {{ rows.push([
      { text: file.name },
      { html: appProgress({
          id: 'upload-progress-' + file.name,
          progress: 0,
          complete: 0 | formatFileSize,
          total: file.size | formatFileSize
        })
      },
      { html: uploadActions({ status: 'uploading' }) }
    ]) }}
  {% endfor %}
{% endmacro %}

{% call appPanel({ withHighlight: true }) %}

  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Uploading 2 files</h3>

 {% call appWarning({
    classes: "govuk-!-margin-bottom-5 app-warning--inverse"
  }) %}
    Do not navigate away from this page while uploading.
  {% endcall %}

  {% set rows = [] %}
  {% set t = renderRows(rows, params.filesMeta) %}
  {{ govukTable({
    classes: "app-table app-table--inverse govuk-!-margin-bottom-3",
    head: [
      { text: "Name" },
      { text: "Progress" },
      { text: "Actions" }
    ],
    rows: rows
  }) }}

{% endcall %}
