{% call appPanel({ withHighlight: true }) %}

  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Uploading 2 files</h3>

  {% call appWarning({
    classes: "govuk-!-margin-bottom-5 app-warning--inverse"
  }) %}
    Do not navigate away from this page while uploading.
  {% endcall %}

  {{ govukTable({
    classes: "app-table app-table--inverse govuk-!-margin-bottom-3",
    head: [
      { text: "Name" },
      { text: "Progress" },
      { text: "Actions" }
    ],
    rows: [
      [
        { text: 'big-data-file.sql.gz'},
        { html: appProgress({
          progress: 45, complete: "450 MB", total: "1000 MB"
          })
        },
        { html: appButton({ text: 'Cancel', classes: 'app-button--small govuk-button--warning' }) }
      ],
      [
        { text: 'small-data-file.sql.gz'},
        { html: appProgress({
          progress: 100, complete: "100 MB", total: "100 MB"
          })
        },
        { html: appTag({ text: 'Complete', classes: "govuk-tag--green" }) }
      ]
    ]
  }) }}

{% endcall %}
