{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Automation",
    text: service.serviceName
  }) }}
{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <section class="app-section--wide">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Auto Deploy</h2>

        {% if autoDeployEnvironmentOptions | length %}
          <p>
            Turn on auto deploy in the following environments. If an environment is not shown this is because you are yet
            to deploy to it
          </p>

          <form
            action="{{ routeLookup('services/{serviceId}/automation/auto-deploy', { params: { serviceId : service.serviceName } }) }}"
            method="POST"
            data-js="app-form-group app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

            <fieldset class="govuk-fieldset">
              {{ appInfo({
                classes: "govuk-!-margin-bottom-4",
                text: "Set up auto deployments to one or many environments. After you merge code into your services
                GitHub repositories default branch, we will auto deploy this service to the selected environments"
              }) }}

              {{ govukCheckboxes({
                name: "environments",
                classes: "app-checkboxes govuk-checkboxes--small",
                formGroup: {
                  classes: "app-form-group"
                },
                items: autoDeployEnvironmentOptions,
                values: formValues.environments,
                errorMessage: {
                  text: formErrors.environments.message
                } if formErrors.environments.message
              }) }}
            </fieldset>

            {{ govukButton({
              classes: "app-button",
              text: "Save"
            }) }}

          </form>
        {% else %}
          {{ appInfo({
            classes: "govuk-!-margin-bottom-4",
            text: "Deploy your service to an environment to be able to turn on auto deploy"
          }) }}
        {% endif %}
      </section>

    </div>
  </div>

{% endblock %}
