{% extends "layouts/tabbed-page.njk" %}

{% set infoHtml %}
  After you merge code into your <a class="app-link app-link--underline app-link--text-colour"
                                    href="{{ service.githubUrl }}" target="_blank"
                                    rel="noopener noreferrer">GitHub repository</a> this service will auto
  deploy to the following environments
{% endset %}

{% set deployNeededInfoHtml %}
  To turn on up auto deploy first <a class="app-link app-link--underline app-link--text-colour"
                                     href="{{ routeLookup('deploy-service/details/{multiStepFormId?}', {
                                       query: { imageName : service.serviceName }
                                     }) }}">deploy</a> your service to an environment
{% endset %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Automation",
    text: service.serviceName
  }) }}
{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <section class="app-section--wide">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Auto Deploy</h2>

        {% if autoDeployEnvironmentOptions | length %}
          <p class="govuk-!-margin-bottom-2">Turn on auto deploy in the following environments.</p>

          <form
            action="{{ routeLookup('services/{serviceId}/automation/auto-deploy', { params: { serviceId : service.serviceName } }) }}"
            method="POST"
            data-js="app-form-group app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

            <fieldset class="govuk-fieldset">
              {{ appInfo({
                classes: "govuk-!-margin-bottom-4",
                html: infoHtml
              }) }}

              {{ govukCheckboxes({
                name: "environments",
                classes: "app-checkboxes govuk-checkboxes--small",
                formGroup: {
                  classes: "app-form-group"
                },
                items: autoDeployEnvironmentOptions,
                values: formValues.environments,
                errorMessage: {
                  text: formErrors.environments.message
                } if formErrors.environments.message
              }) }}
            </fieldset>

            {{ govukButton({
              classes: "app-button",
              text: "Save"
            }) }}

          </form>
        {% else %}
          {{ appInfo({
            classes: "govuk-!-margin-bottom-4",
            html: deployNeededInfoHtml
          }) }}
        {% endif %}
      </section>

    </div>
  </div>

{% endblock %}
