@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$max-width: 420px;
$negative-margin: -4px;

.app-running-service-table {
  @extend %govuk-body-m;

  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  margin-top: -8px;
  text-align: left;
}

.app-running-service-table__service {
  background-color: govuk-colour("white");

  &:nth-child(even) {
    background-color: $app-light-grey;
  }

  &:last-child {
    border: none;
  }
}

.app-running-service-table__heading {
  @include govuk-font(24);
  border-spacing: 0;
  padding: govuk-spacing(2);
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: $app-light-grey;
  border-bottom: 1px solid $app-mid-grey;
  z-index: 100;
}

.app-running-service-table__service-heading {
  vertical-align: middle;
  padding: govuk-spacing(2);
  font-weight: normal;
  max-width: $max-width;
}

.app-running-service-table__service-team {
  margin-top: govuk-spacing(1);
  margin-bottom: govuk-spacing(1);
}

.app-running-service-table__cell {
  padding: govuk-spacing(1);
  border: 1px solid govuk-colour("white");
}

.app-running-service-table__service-environment {
  display: grid;
  gap: govuk-spacing(1);
  grid-auto-rows: auto minmax(min-content, auto) minmax(36px, auto) minmax(min-content, auto) minmax(min-content, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
      "unstable"
      "env"
      "version"
      "updated"
      "by";
  border-radius: $app-border-radius;
  max-width: $max-width;
  padding: govuk-spacing(1) govuk-spacing(2) govuk-spacing(2);
  background-color: govuk-tint(govuk-colour("dark-grey"), 85%);

  @include govuk-media-query($from: desktop-wide) {
    grid-auto-rows: auto minmax(36px, auto) minmax(min-content, auto) minmax(min-content, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "unstable unstable"
      "env version"
      "updated updated"
      "by by";
  }


  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("green");
    }
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("bright-purple");
    }
  }

  .item {
    margin: 0;
  }

  .item-unstable {
    grid-area: unstable;
    display: flex;
    color: govuk-colour("white");
    background-color: govuk-colour("red");
    padding: govuk-spacing(1);
    margin: govuk-spacing(-1) govuk-spacing(-2) govuk-spacing(1);
    border-radius: $app-border-radius-top;

    .app-warning-icon {
      fill: govuk-colour("white");
    }
  }

  .item-env {
    grid-area: env;
    display: flex;
    align-items: flex-start;

    .app-tag {
      margin-top: 1px;
    }
  }

  .item-version {
    grid-area: version;

    @include govuk-media-query($from: desktop-wide) {
      justify-self: flex-end;
    }
  }

  .item-updated {
    grid-area: updated;
  }

  .item-deployed-by {
    margin-top: $negative-margin;
    grid-area: by;
  }
}

.app-running-service-table__label {
  color: govuk-colour("dark-grey");
}

.app-running-service-table__zero-deployment {
  color: govuk-colour("dark-grey");
  padding: govuk-spacing(2);
  margin: 0;
  max-width: $max-width;
}

.app-running-service-table__cell--no-results {
  padding: govuk-spacing(6) govuk-spacing(2);
  color: govuk-colour("dark-grey");
}
