.app-autocomplete-search {
  position: relative;
  width: 24em;
  margin-bottom: govuk-spacing(4);
}

.app-autocomplete-search__control {
  display: flex;
  align-items: center;

  & .app-search-icon {
    position: absolute;
    left: 4px;
    fill: govuk-colour("mid-grey");
    width: 26px;
    height: 26px;
  }

  & .app-loader {
    position: absolute;
    right: 6px;
    bottom: 6px;
  }
}

.app-autocomplete-search__label {
  font-weight: normal;
  @include govuk-font(19);
}

.app-autocomplete-search__clear-button {
  margin: 0 govuk-spacing(1) 0 0;
  padding: 0;
  position: absolute;
  display: none;
  top: 8px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .app-cross-icon {
    fill: govuk-colour("mid-grey");
    width: 16px;
    height: 16px;
  }
}

.app-autocomplete-search__clear-button--show {
  display: block;
}

.app-autocomplete-search__input {
  padding: govuk-spacing(1) govuk-spacing(4) govuk-spacing(1) govuk-spacing(6);
  width: 24em;
  border-radius: $app-border-radius;
  border: 1px solid govuk-colour("mid-grey");

  &:focus {
    border: 1px solid govuk-colour("black");
    box-shadow: none;
  }
}

.app-autocomplete-search__suggestions {
  position: absolute;
  left: 4px;
  background-color: govuk-colour("white");
  border-radius: 0 0 $app-border-radius $app-border-radius;
  border: 1px solid $app-mid-grey;
  box-shadow: 3px 5px 4px -4px govuk-colour("mid-grey");
  list-style: none;
  padding: govuk-spacing(1) 0 govuk-spacing(1) govuk-spacing(2);
  margin: 0;
  max-height: govuk-spacing(9) * 4.5;
  width: calc(24em - 20px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.app-autocomplete-search__suggestions--show {
  display: block;
}

.app-autocomplete-search__suggestion {
  margin: 0 0 0 govuk-spacing(-2);
  padding: govuk-spacing(1) govuk-spacing(2);

  &:hover,
  &:focus {
    background-color: govuk-colour("light-grey");
  }
}

.app-autocomplete-search__suggestion--highlight {
  background-color: govuk-colour("light-grey");
}

.app-autocomplete-search__suggestion--no-results {
  color: govuk-colour("dark-grey");
}
