@use "govuk-frontend" as *;
@use "helpers/link" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

// stylelint-disable max-nesting-depth
%nested-lists {
  ul {
    @extend %govuk-list;
    list-style-type: disc;
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
    padding-left: govuk-spacing(3);

    li:has(> ul.govuk-list) {
      list-style-type: none;
    }

    ul {
      list-style-type: circle;
      margin-top: govuk-spacing(1);

      ul {
        list-style-type: disc;

        ul {
          list-style-type: circle;
        }
      }
    }
  }
}
// stylelint-enable max-nesting-depth

.app-documentation__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(4);
}

.app-documentation__nav-sidebar {
  width: 15%;
  height: 100vh;
  position: sticky;
  top: govuk-spacing(6);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @extend %nested-lists;

  .app-link {
    @include app-link;
    @include govuk-link-style-text;

    &.is-active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

$govuk-wrapper-margin: 60px;

.app-documentation__body {
  height: 100%;
  width: calc(65% - $govuk-wrapper-margin);
  margin: 0 govuk-spacing(4);

  @include govuk-media-query($from: desktop-huge) {
    width: 60%;
  }

  @include govuk-media-query($from: desktop-massive) {
    width: 40%;
  }
}

.app-documentation__toc-sidebar {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: govuk-spacing(6);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @extend %nested-lists;

  .app-link {
    @include app-link;
    @include govuk-link-style-text;

    code {
      padding: .15em .3em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      background-color: $app-brand-background-colour;
      border-radius: $app-border-radius;
    }
  }
}

.app-documentation__generated-from {
  margin-top: govuk-spacing(9) * 2;
}
