{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "What microservices are running where? and on which environments."
  }) }}

  {{ appEntityList({
    headings: rowHeadings,
    entityRows: entityRows,
    noResult: "Currently there are no services running in any environments"
    }) }}

{% endblock %}
