{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "What microservices are running where? and on which environments."
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Service", size: "medium" },
      { text: "Management", size: "small"},
      { text: "Infra-dev", size: "small"},
      { text: "Dev", size: "small"},
      { text: "Test", size: "small"},
      { text: "Perf-test", size: "small"},
      { text: "Prod", size: "small"}
    ],
    entityRows: entityRows,
    noResult: "Currently there are no services running in any environments"
  }) }}

{% endblock %}
