{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    caption: "Running service",
    text: runningServiceName
  }) }}

  <hr class="app-section-break app-section-break--slim">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop-huge">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
      <p class="govuk-!-margin-bottom-2">
        Service information and the environments it is running in
      </p>

      {{ govukSummaryList(summaryList) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop-massive">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Environments</h2>

      <p>Information about the state of your service in CDP environments</p>

      {{ appRunningService({ items: runningServices, environments: environments }) }}

    </div>
  </div>
{% endblock %}
