{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    caption: "Running service",
    text: runningServiceName
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>

      {{ govukSummaryList(summaryList) }}

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-three-quarters">

      {{ appRunningService({ items: runningServices, environments: environments }) }}

    </div>
  </div>

{% endblock %}
