{% extends "layouts/page.njk" %}

{% block content %}
  {{ appPageHeading({
    caption: "Running service",
    text: runningServiceName
  }) }}

  <hr class="app-section-break app-section-break--slim">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop-huge">

      {% call appPanel() %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p class="govuk-!-margin-bottom-2">
          Service information and the environments it is running in
        </p>

        {{ govukSummaryList(summaryList) }}
      {% endcall %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop-massive">

      {% call appPanel() %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Running Services</h2>
        <p class="govuk-!-margin-bottom-2">
          Information about the state of your service in CDP environments
        </p>
        {{ appRunningService({ runningServices: runningServices, environments: environments }) }}
      {% endcall %}
    </div>
  </div>

  {% if latestMigrations | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop-massive">
        {% call appPanel() %}
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Database Details</h2>
          <p class="govuk-!-margin-bottom-2">
            Currently, applied database changes in CDP environments
          </p>
          {{ appDatabaseDetail({
            serviceName: runningServiceName,
            databaseDetails: latestMigrations,
            environments: environments
          }) }}
        {% endcall %}
      </div>
    </div>
  {% endif %}

{% endblock %}
