{% extends "layouts/page.njk" %}

{% from "progress/macro.njk" import appProgress %}
{% from "status/macro.njk" import appStatus %}
{% from "loader/macro.njk" import appLoader %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "Creating the " + heading + " microservice.",
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m govuk-!-margin-top-0">

  <div class="govuk-grid-row">

    <div data-js="app-poll"
         data-poll-url="/services/{{ service.serviceName }}"
         data-poll-interval="3000"
         data-poll-limit="45">

      {% block xhrContent %}

        <div class="govuk-grid-column-two-thirds">
          {% if creationJob.hasJobFailures %}
            {{ appHelp({
              text: "Need some help with your new service creation?"
            }) }}
          {% endif %}
        </div>

        <article data-xhr="create-service-status">
          <div class="govuk-grid-column-two-thirds">
            <section class="app-section">

              <header class="govuk-!-margin-bottom-2">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Creating Microservice</h2>

                <div class="app-status-info">
                  <div class="app-status-info__primary">
                    {{ govukTag({
                      text: creationJob.status.text,
                      classes: creationJob.status.classes,
                      attributes: {
                        "data-testid": "app-overall-progress"
                      }
                    }) }}
                  </div>

                  <div>
                    {% if creationJob.status.value == "in-progress" %}
                      {{ appLoader({ classes: "app-loader--is-loading" }) }}
                    {% endif %}
                  </div>
                </div>

                {{ appProgress({
                  progress: creationJob.progress.percentage,
                  total: creationJob.progress.total,
                  complete: creationJob.progress.complete
                }) }}

                <p class="app-status-info__secondary">
                  Started: {{ appTime({
                    datetime: creationJob.started,
                    formatString: "k:mm:ss EE do MMM yyyy"
                  }) }}
                </p>
              </header>

              <p class="govuk-!-margin-bottom-8">Your new service {{ service.serviceName }} created from the
                {{ creationJob.serviceTypeTemplate }}, is now being created. For more information on the various setup
                jobs we are running for your new service see below.
              </p>

              {{ appStatus(creationJob.createRepository) }}
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l
              govuk-!-margin-bottom-6">

              {{ appStatus(creationJob.cdpAppConfig) }}
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l
              govuk-!-margin-bottom-6">

              {{ appStatus(creationJob.cdpNginxUpstreams) }}
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l
              govuk-!-margin-bottom-6">

              {{ appStatus(creationJob.cdpTfSvcInfra) }}

            </section>
          </div>

          <div class="govuk-grid-column-one-third">
            {{ appEntityDataList({
              heading: "Details",
              items: entityDataList
            }) }}
          </div>
        </article>
      {% endblock %}
    </div>
  </div>

{% endblock %}
