{% extends "layouts/page.njk" %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "Frontend and Backend micro-service information."
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Service", size: "large" },
      { text: "Team", size: "medium" },
      { text: "Language", size: "small" },
      { text: "GitHub Repository", size: "massive" },
      { text: "Created", size: "medium" }
    ],
    entityRows: entityRows,
    noResult: "Currently there are no services"
  }) }}

{% endblock %}
