{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% call appSplitPane() %}
        <section class="govuk-!-margin-left-3">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ environment | title }} secrets</h2>

          {% if secrets.keys | length %}
            <p>The secrets available to your service.</p>
            <h2
              class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1 govuk-!-padding-top-0">
              Last updated
            </h2>
            <p class="govuk-!-margin-bottom-4">
              {{ appTime({
                datetime: secrets.lastChangedDate
              }) }}
            </p>

            <ul class="govuk-list">
              {% for key in secrets.keys %}
                <li class="govuk-!-margin-bottom-1">
                  <code>{{ key }}</code>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="govuk-!-margin-bottom-2">
              No secrets currently set.
            </p>
          {% endif %}

        </section>
      {% endcall %}

    </div>
    <div class="govuk-grid-column-one-quarter app-!-layout-right-aligned">
      {{ govukButton({
        classes: "app-button",
        text: "Create a secret",
        href: "/services/" + service.serviceName + "/secrets/"
      }) }}
    </div>
  </div>

{% endblock %}
