{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <section class="govuk-!-margin-bottom-6">
        {% call appSplitPane() %}
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ environment }}</h2>
          <p>Secrets info</p>
        {% endcall %}

      </section>
    </div>
  </div>

{% endblock %}
