{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "Created the " + heading + " microservice.",
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m govuk-!-margin-top-0">

  <div class="govuk-grid-row">
    {% include "services/partials/status.njk" %}
  </div>

{% endblock %}
