{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% call appSplitPane() %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Secrets</h2>
        <p>Create, update, check and delete secrets for your service in all environments.</p>
      {% endcall %}
    </div>
    <div class="govuk-grid-column-one-quarter app-!-layout-right-aligned">
      {{ govukButton({
        classes: "app-button",
        text: "Create a secret",
        href: "/services/" + service.serviceName + "/secrets/"
      }) }}
    </div>
  </div>

{% endblock %}
