{% extends "layouts/page.njk" %}

{% from "summary/macro.njk" import appSummary %}
{% from "summary-item/macro.njk" import appSummaryItem %}

{% from "icons/chart-icon/macro.njk" import appChartIcon %}
{% from "icons/logs-icon/macro.njk" import appLogsIcon %}
{% from "icons/web-icon/macro.njk" import appWebIcon %}
{% from "icons/wrench-icon/macro.njk" import appWrenchIcon %}
{% from "icons/globe-icon/macro.njk" import appGlobeIcon %}
{% from "icons/check-icon/macro.njk" import appCheckIcon %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

  <hr class="app-section-break">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">About</h2>
        <p>
          {{ service.description }}
        </p>
      </section>

      {% call appSummary() %}
        {% call appSummaryItem({
          heading: "Application Urls",
          icon: appGlobeIcon({ classes: "app-icon-small"}),
          intro: {
            text: "View your application's deployments in any environments you have deployed to."
          }
        }) %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

            {% for environment in envsWithDeployment %}
              <li>
                <a class="app-link"
                   href="https://{{ environment }}.cdp-int.defra.cloud/{{ service.serviceName }}"
                   target="_blank" rel="noopener noreferrer">
                  {{ service.serviceName }}.{{ environment }}
                </a>
              </li>
            {% endfor %}

          </ul>
        {% endcall %}

        {% call appSummaryItem({
          heading: "Application Logs",
          icon: appLogsIcon({ classes: "app-icon-small"}),
          intro: {
            text: "View your application's OpenSearch logs for monitoring and troubleshooting issues."
          }
        }) %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

            {% for environment in envsWithDeployment %}
              <li>
                {{ appLogsDashboardLink({
                  serviceName: service.serviceName,
                  environment: environment
                }) }}
              </li>
            {% endfor %}

          </ul>
        {% endcall %}

        {% call appSummaryItem({
          heading: "Application Metrics",
          icon: appChartIcon({ classes: "app-icon-small"}),
          intro: {
            text: "Browse your application's Grafana observability metrics data and graphs."
          }
        }) %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

            {% for environment in envsWithDeployment %}
              <li>
                <a class="app-link"
                   href="https://metrics.{{ environment }}.cdp-int.defra.cloud/?orgId=1"
                   target="_blank" rel="noopener noreferrer">
                  metrics.{{ environment }}
                </a>
              </li>
            {% endfor %}

          </ul>
        {% endcall %}
      {% endcall %}

      {% call appSummary() %}
        {% call appSummaryItem({
          heading: "Application Config",
          icon: appWrenchIcon({ classes: "app-icon-small"}),
          intro: {
            text: "Pass environment variables to you application in CDP environments."
          }
        }) %}
          <p>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-app-config/tree/main/services/{{ service.serviceName }}"
               target="_blank" rel="noopener noreferrer">cdp-app-config/{{ service.serviceName }}</a>
          </p>
        {% endcall %}

        {% call appSummaryItem({
           heading: "Application Builds",
           icon: appCheckIcon({ classes: "app-icon-small"}),
           intro: {
           text: "Test, build and publish ready-to-deploy docker images."
           }
        }) %}
          <p>
            <a class="app-link" target="_blank" rel="noopener noreferrer"
               href="https://github.com/DEFRA/{{ service.serviceName }}/actions">
               Github actions: {{ service.serviceName }}
            </a>
          </p>
        {% endcall %}
      {% endcall %}

      <section class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Running services</h2>
        <p>
          The versions of your service currently running on the CDP environments.
        </p>
        {{ appEntityList({
          headings: rowHeadings,
          entityRows: runningServicesEntityRows,
          noResult: "Currently there are no versions of " + service.imageName + " running in any environments"
        }) }}

      </section>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ appEntityDataList({
        heading: "Details",
        items: entityDataList
      }) }}
    </div>
  </div>

{% endblock %}
