{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "Detailed information about the " + heading + " Micro-service.",
    entities: headingEntities
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m govuk-!-margin-top-0">

  <div class="govuk-grid-row govuk-!-margin-bottom-4">

    <div class="govuk-grid-column-two-thirds">
      <section class="app-section">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">About</h2>
        <p>
          {{ service.description }}
        </p>
      </section>

      <section class="app-section-wide">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Running versions</h2>
        {{ appEntityList({
          headings: [
            { text: "Management", size: "medium"},
            { text: "Infra-dev", size: "medium"},
            { text: "Dev", size: "medium"},
            { text: "Test", size: "medium"},
            { text: "Perf-test", size: "medium"},
            { text: "Prod", size: "medium"}
          ],
          entityRows: runningServicesEntityRows,
          noResult: "Currently there are no versions of " + service.imageName + " running in any environments"
        }) }}

      </section>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ appEntityDataList({
        heading: "Micro-service details",
        items: entityDataList
      }) }}
    </div>
  </div>

{% endblock %}
