{% extends "layouts/page.njk" %}
{% from "entity/macro.njk" import appEntity %}

{% set helpHtml %}
  Removing a team is non-recoverable. If you delete the wrong team
  <a href="{{ routeLookup('/admin/teams/create') }}" class="govuk-link app-link">
    create a new one.
  </a>
{% endset %}

{% block content %}
  {% call appSplitPane() %}

    {{ appHeading({
      title: heading,
      caption: "Permanently delete team from the Core Delivery Platform."
    }) }}

    <hr class="app-section-break">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-third">

        <div class="govuk-!-margin-bottom-6">
          {{ appInfo({
            html: helpHtml
          }) }}
        </div>

        {{ appEntityDataList({
          heading: "Would you like to delete the following team?",
          items: entityDataList
        }) }}

        <form action="/admin/teams/{{ team.teamId }}/delete" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          <div class="govuk-body govuk-button-group govuk-!-margin-top-7">
            {{ govukButton({
              classes: "app-button app-button--destructive",
              text: "Delete"
            }) }}

            <a class="app-link" href="/admin/teams/{{ team.teamId }}">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  {% endcall %}
{% endblock %}
