{% extends "layouts/page.njk" %}
{% from "entity/macro.njk" import appEntity %}

{% set helpHtml %}
  <p class="govuk-!-margin-bottom-1">
    When a team is deleted, team members will automatically be removed from the Team.
  </p>
  <p class="govuk-!-margin-bottom-1">
    Deleting a team is non-recoverable. If you delete the wrong team
    <a href="{{ routeLookup('admin/teams/create') }}" class="govuk-link app-link">
      create a new one.
    </a>
  </p>
{% endset %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      caption: "Delete Team",
      text: team.name
    }) }}

    <hr class="app-section-break app-section-break--slim">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">

        <h2 class="govuk-heading-m">Delete the following team</h2>

        {{ govukSummaryList(summaryList) }}

        <h2 class="govuk-heading-m">
          Team {{ "Member" | pluralise(scope.teams | length) }}
        </h2>

        {% if team.users | length %}
          {{ govukTaskList(usersTaskList) }}
        {% else %}
          <p>
            This team has no members
          </p>
        {% endif %}

        <div class="govuk-!-margin-bottom-6">
          {{ appInfo({
            html: helpHtml
          }) }}
        </div>

        <form action="/admin/teams/{{ team.teamId }}/delete" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          <div class="govuk-body govuk-button-group govuk-!-margin-top-7">
            {{ govukButton({
              classes: "app-button app-button--destructive",
              text: "Delete team"
            }) }}

            <a class="app-link" href="/admin/teams/{{ team.teamId }}">Cancel</a>
          </div>
        </form>

      </div>
    </div>

  {% endcall %}
{% endblock %}
