@use "govuk-frontend" as *;
@use "helpers/background" as *;

.app-grid-admin {
  flex: 1;
  display: grid;
  gap: govuk-spacing(2);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
}

.app-grid-admin--decommission {
  grid-template-areas:
  "details details details"
  "resources resources resources"
  "info info info";

  @include govuk-media-query($from: desktop-huge) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details details"
    "resources resources info info";
  }

  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details resources resources"
    "details details info info";
  }
}

.app-grid-admin__details {
  @extend %app-background;
  grid-area: details;
}

.app-grid-admin__info {
  @extend %app-background;
  grid-area: info;
}

.app-grid-admin__resources {
  @extend %app-background;
  grid-area: resources;
}
