@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-service-container {
  .app-service-container__sidebar {
    margin-top: govuk-spacing(6);
  }

  @include govuk-media-query($from: desktop-big) {
    display: flex;

    .app-service-container__sidebar {
      margin-top: 0;
      flex: 0 0 30%;
      margin-left: govuk-spacing(6);
    }
  }

  @include govuk-media-query($from: desktop-massive) {
    .app-service-container__sidebar {
      flex: 0 0 20%;
    }
  }
}

.app-grid-service {
  flex: 1;
  display: grid;
  gap: govuk-spacing(2);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
}

.app-grid-service--standard {
  grid-template-areas:
    "details details details"
    "run run run"
    "published published published"
    "info info info";


  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details run run run"
    "info info info published published published";
  }
}

.app-grid-service--postgres {
  grid-template-areas:
    "details details details"
    "run run run"
    "published published published"
    "db-details db-details db-details"
    "migrations migrations migrations"
    "info info info";


  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details info info info"
    "run run run db-details db-details db-details"
    "published published published migrations migrations migrations";
  }
}

%background {
  padding: govuk-spacing(4);
  background-color: $app-brand-background-colour-light;
  border: 1px solid $app-brand-background-colour;
  border-radius: $app-border-radius;
}

.app-grid-service__details {
  @extend %background;
  grid-area: details;
}

.app-grid-service__info {
  @extend %background;
  grid-area: info;
}

.app-grid-service__run {
  @extend %background;
  grid-area: run;
}

.app-grid-service__published {
  @extend %background;
  grid-area: published;
}

.app-grid-service__migrations {
  @extend %background;
  grid-area: migrations;
}

.app-grid-service__database-details {
  @extend %background;
  grid-area: db-details;
}

// TODO delete
// stylelint-disable max-nesting-depth
// Used on the service resources page
.app-sub-grid {
  display: grid;
  gap: govuk-spacing(4);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include govuk-media-query($from: desktop-huge) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(4,  1fr);
  }

  .app-sub-grid__row {
    display: grid;
    grid-column: auto;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr;

    @include govuk-media-query($from: desktop-huge) {
      grid-column: 1 / span 2;
    }

    @include govuk-media-query($from: desktop-massive) {
      grid-column: 1 / span 4;
    }

    .app-sub-grid__row-item {
      margin-bottom: govuk-spacing(6);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// stylelint-enable max-nesting-depth
