@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-service-container {
  .app-service-container__sidebar {
    margin-top: govuk-spacing(6);
  }

  @include govuk-media-query($from: desktop-big) {
    display: flex;

    .app-service-container__sidebar {
      margin-top: 0;
      flex: 0 0 30%;
      margin-left: govuk-spacing(6);
    }
  }

  @include govuk-media-query($from: desktop-massive) {
    .app-service-container__sidebar {
      flex: 0 0 20%;
    }
  }
}

.app-grid-service {
  display: grid;
  gap: govuk-spacing(6);
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(10px, max-content);
  grid-template-areas:
    "details details details"
    "run run run"
    "published published published"
    "info info info";


  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details published published published"
    "info info info run run run";
  }

  .app-grid-service__details {
    grid-area: details;
  }

  .app-grid-service__info {
    grid-area: info;
  }

  .app-grid-service__run {
    grid-area: run;
  }

  .app-grid-service__published {
    grid-area: published;
  }
}
