@use "govuk-frontend" as *;
@use "helpers/background" as *;

.app-service-container {
  .app-service-container__sidebar {
    margin-top: govuk-spacing(6);
  }

  @include govuk-media-query($from: desktop-big) {
    display: flex;

    .app-service-container__sidebar {
      margin-top: 0;
      flex: 0 0 30%;
      margin-left: govuk-spacing(6);
    }
  }

  @include govuk-media-query($from: desktop-massive) {
    .app-service-container__sidebar {
      flex: 0 0 20%;
    }
  }
}

.app-grid-service {
  flex: 1;
  display: grid;
  gap: govuk-spacing(2);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
}

.app-grid-service--standard {
  grid-template-areas:
    "details details details"
    "run run run"
    "published published published"
    "info info info";


  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details run run run"
    "info info info published published published";
  }
}

.app-grid-service--postgres {
  grid-template-areas:
    "details details details"
    "run run run"
    "published published published"
    "db-details db-details db-details"
    "migrations migrations migrations"
    "info info info";


  @include govuk-media-query($from: desktop-massive) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, max-content);
    grid-template-areas:
    "details details details info info info"
    "run run run db-details db-details db-details"
    "published published published migrations migrations migrations";
  }
}

.app-grid-service__details {
  @extend %app-background;
  grid-area: details;
}

.app-grid-service__info {
  @extend %app-background;
  grid-area: info;
}

.app-grid-service__run {
  @extend %app-background;
  grid-area: run;
}

.app-grid-service__published {
  @extend %app-background;
  grid-area: published;
}

.app-grid-service__migrations {
  @extend %app-background;
  grid-area: migrations;
}

.app-grid-service__database-details {
  @extend %app-background;
  grid-area: db-details;
}

