{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Resources",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% call appSplitPane() %}
          <span class="govuk-caption-l">{{environment}}</span>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Topology</h2>
          <p class="govuk-!-margin-bottom-2">
            Provides a visual representation of <strong>cdp-portal-backend's</strong> network dependencies and consumers, allowing you to quickly understand the relationships between various components in your system.
          </p>

          <style>

          svg .icon-shape p, svg .labelBkg {
            background: none !important;
          }

          svg a .nodeLabel p {
            color: #1d70b8 !important;
          }

          svg .edge-animation-slow {
            animation-direction: reverse !important;
          }

          svg .edge-pattern-dotted {
            stroke: #DDD !important;
            stroke-dasharray: none !important;
          }

          </style>


          <pre class="mermaid">
            flowchart TD
            {% for teamKey, services in servicesPerTeam  %}
              subgraph {{ teamKey }}[{{ services[0].teams | join(" / ", "name") | capitalize }}]
                style {{ teamKey }} fill:#fff,stroke-dasharray:10 5

                {% for service in services  %}
                  subgraph {{ service.name }}Container[ ]
                    direction TD

                    {{ service.name }}@{ icon: "logos:aws-fargate", label: "
                      {% if service.name == entity.name %}
                        <strong>{{ service.name }}</strong>
                      {% else %}
                        {{ service.name }}
                      {% endif %}
                    "}
                    {% if service.name != entity.name %}
                      click {{ service.name }} "/services/{{ service.name }}/topology/{{ environment }}"
                    {% endif %}

                    {% for resource in service.resources  %}
                      {{ service.name }}{{ resource.name }}@{ icon: "logos:{{ resource.icon }}", label: "{{ resource.name }}"}
                      {{ service.name }} -.- {{ service.name }}{{ resource.name }}
                    {% endfor %}
                  end
                {% endfor %}

              end
            {% endfor %}

            {% for teamKey, services in servicesPerTeam  %}
              {% for service in services  %}
                  {% for resource in service.resources  %}
                    {% for link in resource.links  %}
                      {% if link.type == 'subscription' %}
                        {% set arrow = "==>" %}
                      {% else %}
                        {% set arrow = "-->" %}
                      {% endif %}

                      {{ service.name }}{{ resource.name }} {{ service.name }}{{ resource.name }}_link{{loop.index0}}@{{ arrow }}|{{ link.type | capitalize }}| {{ link.service }}{{ link.resource }}
                      {% if link.type == 'subscription' %}
                        {{ service.name }}{{ resource.name }}_link{{loop.index0}}@{ animation: slow }
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              {% endfor %}
            {% endfor %}
          </pre>

        {% endcall %}

      </div>
    </div>
  </section>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("src/client/javascripts/mermaid.js") }}"></script>
{% endblock %}
