@use 'govuk-frontend' as *;

$defra-brand-colour: govuk-organisation-colour(
  department-for-environment-food-rural-affairs
);
$app-brand-background-colour: govuk-colour('blue', $variant: 'tint-80');
$app-brand-background-colour-light: govuk-colour('blue', $variant: 'tint-95');
$app-brand-border-colour-light: govuk-colour('blue', $variant: 'tint-80');
$app-brand-border-colour: govuk-colour('blue', $variant: 'tint-50');
