{% extends "layouts/page.njk" %}

{% from "blog/macro.njk" import appBlog %}

{% set invertServiceNav=true %}

{% block content %}
  {{ appBlog({
    nav: nav,
    content: content,
    toc: toc
  }) }}

{% endblock %}
