{% extends "layouts/page.njk" %}
{% from "dependency-explorer/components/dependency-row/macro.njk" import dependencyRow %}

{% block content %}
  {{ appPageHeading({
    text: entity,
    intro: 'Dependencies'
  }) }}

  {% call appFilters({
    action: "",
    clear: {
      url: ""
    }
  }) %}


    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-test-suite",
        name: "version",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Version",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.versiont,
        suggestions: dependenceNameFilters,
        typeahead: true,
        placeholder: "Version"
      }) }}
    </div>

  {% endcall %}

  {% block xhrContent %}
    <div data-xhr="{{ xhrElement }}">
      {% call(params) appEntityTable(tableData) %}
        {{  dependencyRow({
          rowClasses: params.rowClasses,
          loopIndex: params.loopIndex,
          dependency:  params.row.dependency,
          dependencyVersion: params.row.dependencyVersion
        }) }}
      {% endcall %}
    </div>
  {% endblock %}

{% endblock %}
