{% extends "layouts/page.njk" %}
{% from "dependency-explorer/components/entity-row/macro.njk" import entityRow %}

{% block content %}
  {{ appPageHeading({
    text: "Dependency Explorer",
    intro: "Browse service dependencies"
  }) }}

  {% call appFilters({
    action: "",
    clear: {
      url: ""
    }
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-test-suite",
        name: "dependenceName",
        classes: "app-autocomplete--medium app-autocomplete--inline",
        label: {
          text: "Dependency name",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.dependenceName,
        suggestions: dependenceNameFilters,
        typeahead: true,
        placeholder: "Search by dependency"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-test-suite",
        name: "versionStart",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Version from",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.versionStart,
        suggestions: dependenceNameFilters,
        typeahead: true,
        placeholder: "Start version"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-test-suite",
        name: "versionEnd",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Version to",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.versionEnd,
        suggestions: dependenceNameFilters,
        typeahead: true,
        placeholder: "End version"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "teamId",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Team",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.teamId,
        suggestions: teamFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "environment",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Environment",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.environment,
        suggestions: teamFilters
      }) }}
    </div>

  {% endcall %}

  {% block xhrContent %}
    <div data-xhr="{{ xhrElement }}">
      {% call(params) appEntityTable(tableData) %}
        {{  entityRow({
          rowClasses: params.rowClasses,
          loopIndex: params.loopIndex,
          entity:  params.row.entity,
          entityVersion: params.row.entityVersion,
          entityVersionTag: params.row.entityVersionTag,
          teams: params.row.teams,
          dependencyVersion: params.row.dependencyVersion,
          envs: params.row.envs
        }) }}
      {% endcall %}
    </div>
  {% endblock %}

{% endblock %}
