{% from "time/macro.njk" import appTime %}
{% from "icons/star-icon/macro.njk" import appStarIcon %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">

  <td headers="owner" class="app-entity-table__cell app-entity-table__cell--owned" data-label="Owner">
    {% if params.isOwner %}
      {{ appStarIcon({classes: "app-icon--minuscule" }) }}
    {% endif %}
  </td>

  <td headers="service" class="app-entity-table__cell" data-label="Service">
    <a class="app-link app-entity-table__row-header" href="/services/{{ params.entityName }}" data-testid="app-link">
      {{ params.entityName }}
    </a>

    {% if params.serviceTags | length %}
      <div class="app-!-layout-centered govuk-!-margin-top-2">
        <div class="app-entity-table__row-caption">
          {% for tag in params.serviceTags %}
            {{ govukTag({
              text: tag.displayName,
              classes: tag.className,
              attributes: { "data-testid": "govuk-tag" }
            }) }}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </td>

  <td headers="team" class="app-entity-table__cell" data-label="Team">
    {% if params.teams | length %}
      <ul class="app-entity__list">
        {% for team in params.teams %}
          <a class="app-link" href="{{ team.url }}" data-testid="app-entity-link">
            {{ team.value }}
          </a>
        {% endfor %}
      </ul>
    {% else %}
      <span class="app-entity-no-value">{{ noValue }}</span>
    {% endif %}
  </td>

  <td headers="type" class="app-entity-table__cell" data-label="Type">
    {{ govukTag({
      text: params.serviceType,
      classes: "app-tag govuk-tag--blue",
      attributes: { "data-testid": "govuk-tag" }
    }) }}
  </td>

  <td headers="github-url" class="app-entity-table__cell" data-label="Github-url">
    <a class="app-link"
       href="{{ params.githubUrl }}" target="_blank" rel="noopener noreferrer" data-testid="app-entity-link">
      {{ params.githubUrl }}
    </a>
  </td>

  <td headers="created" class="app-entity-table__cell" data-label="Created">
    {% if params.creationState.date %}
      {{ appTime({ datetime: params.creationState.date }) }}
    {% else %}
      {{ govukTag({
        text: params.creationState.value,
        classes: "app-tag " + params.creationState.classes,
        attributes: { "data-testid": "govuk-tag" }
      }) }}
    {% endif %}
  </td>
</tr>

