{% extends "layouts/page.njk" %}

{% from "time/macro.njk" import appTime %}
{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "icons/pending-icon/macro.njk" import appPendingIcon %}

{% set warningHtml %}
  <p class="govuk-!-margin-bottom-0">
    It looks like your {{ entityType }}'s decommission is taking a while. Check the decommission GitHub actions have
    completed successfully
  </p>
{% endset %}

{% set durationHtml %}
  <dl class="app-data-list app-data-list--inline" data-testid="app-data-list">
    <dt class="app-data-list-heading">
      Started:
    </dt>
    <dd class="app-data-list-item">
      {{ appTime({ datetime: durationDetail.started }) }}
    </dd>

    {% if durationDetail.finished %}
      <dt class="app-data-list-heading">
        Finished:
      </dt>
      <dd class="app-data-list-item">
        {{ appTime({ datetime: durationDetail.finished }) }}
      </dd>
    {% endif %}

    <dt class="app-data-list-heading">
      {{ "Duration:" if durationDetail.finished else "Elapsed time:" }}
    </dt>
    <dd class="app-data-list-item">
      {{ durationDetail.elapsed }}
    </dd>
  </dl>
{% endset %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      caption: "Decommission",
      text: entity.name
    }) }}

    {% block xhrContent %}

      {% if shouldPoll %}
        <div data-js="app-poll"
        data-poll-url="{{ routeLookup("admin/decommissions/{repositoryName}", { params: { repositoryName: entity.name } }) }}"
        data-poll-interval="10000"
        data-poll-limit="200">
      {% endif %}

      <div class="app-service-container">
        <article class="app-grid app-grid-admin app-grid-admin--decommission"
                 data-xhr="decommission-{{ entity.name }}"
                 data-xhr-stop="{{ not shouldPoll }}">

          <section class="app-grid-admin__details">
            {% if takingTooLong %}
              <div>
                {{ appWarning({
                  html: warningHtml,
                  isInverse: true
                }) }}
              </div>
            {% endif %}

            <div>
              {{ appInfo({
                classes: "govuk-!-margin-bottom-4",
                html: durationHtml,
                isInverse: true
              }) }}
            </div>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
            {{ govukSummaryList(summaryList) }}
          </section>

          <section class="app-grid-admin__info">
            {% call appPanel({ isInverse: true }) %}
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">GitHub Actions</h2>
              <p class="app-!-layout-centered govuk-!-margin-bottom-2">
                The following actions are run during the decommission of a {{ entityType }}:
              </p>

              <ul class="govuk-list govuk-list--bullet">
                {% for actionLink in actionLinks %}
                  <li>
                    <a class="app-link"
                       href="{{ actionLink.href }}"
                       target="_blank" rel="noopener noreferrer">
                      {{ actionLink.text }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

            {% endcall %}
          </section>

          <section class="app-grid-admin__resources">
            {% call appPanel({ isInverse: true }) %}
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Resources</h2>
              <p class="govuk-!-margin-bottom-4">
                {% if entity.status == "Decommissioned" %}
                  {{ entityType }} {{ entity.name }} and associated resources have been decommissioned
                {% else %}
                  {{ entityType }} {{ entity.name }} and associated resources are currently being decommissioned
                {% endif %}
              </p>

              <ul class="govuk-list">
                {% for resource in resources %}
                  <li>
                    <div class="app-!-layout-centered">
                      {% if not resource.isReady %}
                        {{ appTickIcon({
                          classes: "app-icon--tiny govuk-!-margin-right-1",
                          attributes: { "data-testid": resource.name + "-created" }
                        }) }}
                      {% else %}
                        {{ appPendingIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                      {% endif %}

                      {{ resource.name }}
                    </div>
                    <div class="govuk-hint govuk-!-margin-bottom-2">
                      {{ resourceDescriptions[resource.name] }}
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% endcall %}
          </section>
        </article>
      </div>
      {% if shouldPoll %}</div>{% endif %}

    {% endblock %}

  {% endcall %}
{% endblock %}
