{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Decommissions",
      intro: "Decommission details for Microservices and Test suites",
      cta: {
        text: "Start decommission",
        href: routeLookup('admin/decommissions/start')
      }
    }) }}

    {% block xhrContent %}

      {% if shouldPoll %}
        <div data-js="app-poll"
        data-poll-url="{{ routeLookup("admin/decommissions") }}"
        data-poll-interval="6000"
        data-poll-limit="200">
      {% endif %}

      <article data-xhr="decommission-list"
               data-xhr-stop="{{ not shouldPoll }}">
        {{ appEntityTable(tableData) }}
      </article>

      {% if shouldPoll %}</div>{% endif %}

    {% endblock %}

  {% endcall %}
{% endblock %}

