{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Decommissions",
      intro: "All in-progress or completed decommissions",
      cta: {
        text: "Request decommission",
        href: routeLookup('admin/decommissions/start')
      }
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

