{% extends "layouts/page.njk" %}

{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

{# Tips and warnings #}
{% set tipsStep1 = [
  "Scale services in ECS to zero"
] %}

{% set tipsStep2 = [
  "Delete MongoDB entries in cdp-self-service-ops",
  "Delete MongoDB entries in cdp-portal-backend",
  "Call cdp-tf-svc-infra remove ECR images workflow",
  "Call cdp-tf-svc-infra remove Docker Hub images workflow",
  "Call cdp-app-config remove service workflow",
  "Call cdp-nginx-upstreams remove service workflow",
  "Call cdp-squid-proxy remove service workflow",
  "Call cdp-grafana-svc remove service workflow",
  "Call cdp-tf-svc-infra remove service workflow",
  "Archive GitHub Repository"
] %}

{% set tipsStep3 = [
  "Call cdp-app-deployments remove service workflow",
  "Call cdp-tf-svc-infra remove ECS tasks workflow"
] %}

{% set todos = [
] %}

{% set tenantData = [
  "The service's MongoDB collections",
  "Any Postgresql DBs if allocated",
  "Any S3 buckets if allocated",
  "GitHub repository if archived is not sufficient"
] %}

{% set warningHtml %}
  Decommissioning a service will remove all associated data and infrastructure. This action is
  irreversible
{% endset %}

{% set infoHtml %}
  If you accidentally decommission the wrong service
  <a href="{{ routeLookup('create') }}" class="govuk-link app-link">create a new one</a>,
  fork the source from the archived GitHub repository and rebuild the service
{% endset %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      caption: "Service",
      text: "Decommission"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop-wide">

        <div class="govuk-!-margin-bottom-6">
          {{ appWarning({
            html: warningHtml
          }) }}
        </div>

        <div class="govuk-!-margin-bottom-6">
          {{ appInfo({
            html: infoHtml
          }) }}
        </div>

        <form action="/admin/decommission-service" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          {% call govukFieldset() %}

            {{ appAutocomplete({
              id: "service-name",
              name: "serviceName",
              label: {
                text: "Service Name",
                classes: "app-label"
              },
              hint: {
                text: 'Choose the service you wish to decommission'
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: serviceName or formValues.serviceName,
              suggestions: repositoriesOptions,
              errorMessage: errorMessageHelper(formErrors.serviceName.message)
            }) }}

            {{ govukInput({
              id: "service-name-confirmation",
              name: "confirmServiceName",
              label: {
                text: "Confirm Service Name",
                classes: "app-label"
              },
              hint: {
                text: "Match the service name you have chosen above",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              classes: "app-input app-input--wide",
              value: formValues.confirmServiceName,
              errorMessage: errorMessageHelper(formErrors.confirmServiceName.message)
            }) }}

          {% endcall %}

          <article class="govuk-!-margin-bottom-8">
            <p class="govuk-!-margin-bottom-2">
              When a service is decommissioned the following tasks are performed:
            </p>

            <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Step 1</h4>

            <p class="govuk-!-margin-bottom-2">
              No data or config lost but service is no longer running:
            </p>

            <ul class="govuk-list govuk-!-margin-left-1">
              {% for tip in tipsStep1 %}
                <li>
                  <div class="app-!-layout-centered">
                    {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                    {{ tip }}
                  </div>
                </li>
              {% endfor %}
            </ul>

            <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Step 2</h4>

            <p class="govuk-!-margin-bottom-2">
              Most of the config and infrastructure are deleted:
            </p>

            <ul class="govuk-list govuk-!-margin-left-1">
              {% for tip in tipsStep2 %}
                <li>
                  <div class="app-!-layout-centered">
                    {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                    {{ tip }}
                  </div>
                </li>
              {% endfor %}
            </ul>

            <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Step 3</h4>

            <p class="govuk-!-margin-bottom-2">
              The final section of config and infrastructure are deleted:
            </p>

            <ul class="govuk-list govuk-!-margin-left-1">
              {% for tip in tipsStep3 %}
                <li>
                  <div class="app-!-layout-centered">
                    {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                    {{ tip }}
                  </div>
                </li>
              {% endfor %}
            </ul>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Tenant Data</h2>

            <p class="govuk-!-margin-bottom-2">
              Tenant service data is not removed automatically
            </p>

            <ul class="govuk-list govuk-!-margin-left-1">
              {% for tip in tenantData %}
                <li>
                  <div class="app-!-layout-centered">
                    {{ appErrorIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                    {{ tip }}
                  </div>
                </li>
              {% endfor %}
            </ul>

          </article>

          <div class="govuk-button-group">
            {{ govukButton({
              classes: "app-button app-button--destructive",
              text: "Start decommissioning"
            }) }}
          </div>

        </form>

        <p class="govuk-!-margin-bottom-2">
          <em>
            <a class="app-link" href="https://github.com/DEFRA/cdp-platform-documentation/blob/main/remove-service.md"
               target="_blank" rel="noopener noreferrer">Remove service documentation</a>
          </em>
        </p>

      </div>
    </div>

  {% endcall %}
{% endblock %}
