{% extends "layouts/page.njk" %}

{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "icons/help-icon/macro.njk" import appHelpIcon %}

{% set successMessages = [
  "MongoDB entries in cdp-self-service-ops deleted",
  "MongoDB entries in cdp-portal-backend deleted",
  "Services in ECS scaled to zero",
  "Triggered remove ECR images workflow",
  "Triggered remove Docker Hub images workflow",
  "Triggered cdp-app-config remove workflow",
  "Triggered cdp-nginx-upstreams remove workflow",
  "Triggered cdp-squid-proxy remove workflow",
  "Triggered cdp-grafana-svc remove workflow",
  "Triggered cdp-tf-svc-infra remove workflow",
  "GitHub repository archived"
] %}

{% set todos = [
  "Check the below workflows have succeeded"
] %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      caption: "Decommissioned Service",
      text: decommissionedServiceName
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop-wide">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Decommissioning has started
        </h2>

        <p>The following tasks have been performed:</p>

        <ul class="govuk-list govuk-!-margin-left-1">
          {% for message in successMessages %}
            <li>
              <div class="app-!-layout-centered">
                {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                {{ message }}
              </div>
            </li>
          {% endfor %}
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">What I need to do now?</h2>
        <p class="govuk-!-margin-bottom-2">
          The following things need to be completed before continuing with the decommissioning of the service:
        </p>
        <ul class="govuk-list govuk-!-margin-left-1">
          {% for todo in todos %}
            <li>
              <div class="app-!-layout-centered">
                {{ appInfoIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                {{ todo }}
              </div>
            </li>
          {% endfor %}
          {% for opt in optionals %}
            <li>
              <div class="app-!-layout-centered">
                {{ appHelpIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                {{ opt }}
              </div>
            </li>
          {% endfor %}
        </ul>

        <h2 class="govuk-heading-m">Executed workflows for services & test-suites:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-app-config/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-app-config
            </a>
          </li>
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-squid-proxy/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-squid-proxy
            </a>
          </li>
          <li>
            <a
              class="app-link"
              href="https://github.com/DEFRA/cdp-tf-svc-infra/actions/workflows/remove-service.yml"
              target="_blank" rel="noopener noreferrer">
              cdp-tf-svc-infra - remove service
            </a>
          </li>
          <li>
            <a
              class="app-link"
              href="https://github.com/DEFRA/cdp-tf-svc-infra/actions/workflows/remove-ecr.yml"
              target="_blank" rel="noopener noreferrer">
              cdp-tf-svc-infra - remove ECR
            </a>
          </li>
          <li>
            <a
              class="app-link"
              href="https://github.com/DEFRA/cdp-tf-svc-infra/actions/workflows/remove-dockerhub.yml"
              target="_blank" rel="noopener noreferrer">
              cdp-tf-svc-infra - remove DockerHub
            </a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Executed workflows for services only:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-grafana-svc/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-grafana-svc
            </a>
          </li>
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-nginx-upstreams/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-nginx-upstreams
            </a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Slow workflows triggered by above workflows</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="app-link"
              href="https://github.com/DEFRA/cdp-tf-svc-infra/actions"
               target="_blank" rel="noopener noreferrer">
              cdp-tf-svc-infra workflows
            </a>
          </li>
        </ul>

          <article class="govuk-!-margin-bottom-8">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">What to do once complete?</h2>
            <p class="govuk-!-margin-bottom-2">
              Once workflows have completed successfully, you can continue with the decommissioning of the service.
            </p>
          </article>

        <form action="{{ decommissionContinueUrl }}" method="post" data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

          <div class="govuk-button-group">
            {{ govukButton({
              classes: "app-button app-button--destructive",
              text: "Continue decommissioning"
            }) }}
          </div>

        </form>

      </div>
    </div>

  {% endcall %}
{% endblock %}
