{% extends "layouts/page.njk" %}

{% block content %}

  {% call appSplitPane() %}
    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appPageHeading({
        text: "Service Decommissioned"
      }) }}

      <div class="govuk-grid-row">
        <div class="app-grid-column app-grid-column-one-half-from-desktop-wide">
          {{ appWarning({
            html: serviceName
          }) }}

        </div>
      </div>

        <h2 class="govuk-heading-m">Executed workflows for services & test-suites:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://github.com/DEFRA/cdp-app-config/actions/workflows/remove-service.yml">cdp-app-config</a></li>
          <li><a href="https://github.com/DEFRA/cdp-squid-proxy/actions/workflows/remove-service.yml">cdp-squid-proxy</a></li>
          <li><a href="https://github.com/DEFRA/cdp-tf-svc-infra/actions/workflows/remove-service.yml">cdp-tf-svc-infra</a></li>
        </ul>

      <h2 class="govuk-heading-m">Executed workflows only for services:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://github.com/DEFRA/cdp-grafana-svc/actions/workflows/remove-service.yml">cdp-grafana-svc</a></li>
        <li><a href="https://github.com/DEFRA/cdp-nginx-upstreams/actions/workflows/remove-service.yml">cdp-nginx-upstreams</a></li>
      </ul>



    </div>
  {% endcall %}

{% endblock %}
