{% extends "layouts/page.njk" %}

{% from "icons/tick-icon/macro.njk" import appTickIcon %}

{% set successMesages = [
  "MongoDB entries in cdp-self-service-ops deleted",
  "MongoDB entries in cdp-portal-backend deleted"
] %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      caption: "Decommissioned Service",
      text: serviceName
    }) }}

    <div class="govuk-grid-row">
      <div class="app-grid-column app-grid-column-one-half-from-desktop-wide">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Success
        </h2>

        <p>The following tasks have been performed:</p>

        <ul class="govuk-list govuk-!-margin-left-1">
          {% for message in successMesages %}
            <li>
              <div class="app-!-layout-centered">
                {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1" }) }}
                {{ message }}
              </div>
            </li>
          {% endfor %}
        </ul>

        <h2 class="govuk-heading-m">Executed workflows for services & test-suites:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-app-config/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-app-config
            </a>
          </li>
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-squid-proxy/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-squid-proxy
            </a>
          </li>
          <li>
            <a
              class="app-link"
              href="https://github.com/DEFRA/cdp-tf-svc-infra/actions/workflows/remove-service.yml"
              target="_blank" rel="noopener noreferrer">
              cdp-tf-svc-infra
            </a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Executed workflows only for services:</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-grafana-svc/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-grafana-svc
            </a>
          </li>
          <li>
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-nginx-upstreams/actions/workflows/remove-service.yml"
               target="_blank" rel="noopener noreferrer">
              cdp-nginx-upstreams
            </a>
          </li>
        </ul>

      </div>
    </div>

  {% endcall %}
{% endblock %}
