{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      caption: "Team",
      text: team.name
    }) }}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list govuk-!-margin-bottom-6">
          <li>
            <a href="{{ routeLookup('admin/teams/{teamId}/add-member', { params: { teamId: team.teamId } }) }}"
               class="app-link app-link--underline" data-testid="admin-add-team-member">
              Add member to team
            </a>
          </li>
          <li>
            <a href="{{ routeLookup('admin/teams/{teamId}/confirm-delete', { params: { teamId: team.teamId } }) }}"
               class="app-link app-link--underline" data-testid="admin-delete-team">
              Delete team
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-third-from-desktop">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Team details</h2>

        {{ govukSummaryList(summaryList) }}

        <h2 class="govuk-heading-m">
          Team {{ "Member" | pluralise(scope.teams | length) }}
        </h2>

        {% if team.users | length %}
          {{ govukTaskList(usersTaskList) }}
        {% else %}
          <p>This team has no members.
            <a href="{{ routeLookup('admin/teams/{teamId}/add-member', { params: { teamId: team.teamId } }) }}"
               class="app-link app-link--underline">
              Add team members
            </a>
          </p>
        {% endif %}

        <h2 class="govuk-heading-m">
          Team {{ "Permission" | pluralise(team.scopes | length) }}
        </h2>

        {% if team.scopes | length %}
          {{ govukTaskList(scopesTaskList) }}
        {% else %}
          <p>
            This teams has no permissions
          </p>
        {% endif %}

      </div>
    </div>

  {% endcall %}
{% endblock %}
