{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appPageHeading({
      text: "Teams",
      cta: {
        text: "Create new team",
        href: routeLookup('admin/teams/create')
      }
    }) }}

    {{ appEntityList({
      headings: [
        { text: "Name", size: "medium" },
        { text: "Description", size: "massive" },
        { text: "GitHub team", size: "medium" },
        { text: "Service Codes", size: "small" },
        { text: "Alert Emails", size: "large" },
        { text: "Members", size: "small" }
      ],
      entityRows: entityRows,
      noResult: noResult
    }) }}

  {% endcall %}

{% endblock %}

