{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      text: "Teams",
      intro: "Portal teams details, create, edit, view and add/remove users or permissions to teams",
      cta: {
        text: "Create new team",
        href: routeLookup('admin/teams/create')
      }
    }) }}

    {{ appEntityTable(tableData) }}

  {% endcall %}
{% endblock %}

