@use "govuk-frontend" as *;
@use "variables/border-radius" as *;

$shadow-opacity: 0.8;
$shadow-opacity-light: 0.4;

.app-button {
  border-radius: $app-border-radius;
  @include govuk-font(24);
  font-weight: bold;
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;
  box-shadow: 0 2px 0 rgba(0, 45, 24, $shadow-opacity);
}

.app-button--small {
  @include govuk-font(19);
  padding: 0 govuk-spacing(1);
}

.app-button--primary {
  background-color: govuk-colour("green");
  color: govuk-colour("white");
  box-shadow: 0 2px 0 rgba(12, 45, 74, $shadow-opacity);

  &:hover {
    background-color: govuk-shade(govuk-colour("green"), 20%);
  }

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("white");
  }
}

.app-button--secondary {
  background-color: govuk-colour("bright-purple");
  box-shadow: 0 2px 0 rgba(58, 17, 54, $shadow-opacity);

  &:hover {
    background-color: govuk-shade(govuk-colour("bright-purple"), 20%);
  }

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("white");
  }
}

.app-button--tertiary {
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");
  box-shadow: 0 2px 0 rgba(97, 97, 96, $shadow-opacity-light);

  &:hover {
    color: govuk-colour("black");
    background-color: govuk-shade(govuk-colour("light-grey"), 5%);
  }

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("black");
  }
}

.app-button--destructive {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  box-shadow: 0 2px 0 rgba(85, 21, 11, $shadow-opacity) ;

  &:hover {
    background-color: govuk-shade(govuk-colour("red"), 20%);
  }

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("white");
  }
}

.app-button--hover-destructive {
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");
  box-shadow: 0 2px 0 rgba(97, 97, 96, $shadow-opacity-light);

  &:hover {
    color: govuk-colour("white");
    background-color: govuk-colour("red");
  }

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("black");
  }
}

.app-button__container {
  &:first-of-type {
    margin-right: govuk-spacing(1);
  }

  .app-loader.app-loader--is-loading {
    margin-top: govuk-spacing(2);
  }
}
