.app-button {
  border-radius: $app-border-radius;
  @include govuk-font(24);
  font-weight: bold;
  box-shadow: none;
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;
}

.app-button__container {
  &:first-of-type {
    margin-right: govuk-spacing(1);
  }

  .app-loader.app-loader--is-loading {
    margin-top: govuk-spacing(2);
  }
}

.app-button--small {
  @include govuk-font(19);
  padding: 0 govuk-spacing(1);
}

.app-button--secondary {
  background-color: govuk-colour("bright-purple");

  &:hover {
    background-color: govuk-shade(govuk-colour("bright-purple"), 20%);
  }
}

.app-button--destructive {
  background-color: govuk-colour("light-grey");
  color: govuk-colour("black");

  &:hover {
    color: govuk-colour("white");
    background-color: govuk-shade(govuk-colour("red"), 20%);
  }
}
