{% from "loader/macro.njk" import appLoader %}

<button class="govuk-button app-button"
        data-js="app-button"
        {% if params.loader.name %}data-loader="{{ params.loader.name }}"{% endif %}
        data-testid="app-button">
  {{ params.text }}
</button>

{% if params.loader.name %}
  {{ appLoader({ name: params.loader.name }) }}
{% endif %}
