{% from "loader/macro.njk" import appLoader %}

<div>
  <button class="govuk-button app-button"
          data-js="app-button"
          data-loader="{{ params.loader.name }}">
    {{ params.text }}
  </button>
  {{ appLoader({ name: params.loader.name }) }}
</div>
