{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/instance-success-icon/macro.njk" import appInstanceSuccessIcon %}
{% from "icons/instance-failed-icon/macro.njk" import appInstanceFailedIcon %}
{% from "icons/instance-pending-icon/macro.njk" import appInstancePendingIcon %}
{% from "icons/instance-stopped-icon/macro.njk" import appInstanceStoppedIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}

<section class="app-resources-grid">
  {% for resource in params.resources %}

    {% set classes = ["app-resources-grid__card", resource.statusClassname if resource
    .statusClassname] | join(" ") | trim %}

    <div class="{{ classes }}">

      <div class="app-resources-grid__item app-resources-grid__item--heading">
        <span id="resource" class="govuk-visually-hidden">{{ resource.name }}</span>
        <span aria-labelledby="resource">{{ appTag({ text: resource.name }) }}</span>

        <div class="app-resources-grid__item app-resources-grid__item--version">
          <span id="version" class="govuk-visually-hidden">Version:</span>
          <a class="app-link govuk-!-margin-right-2"
             href="https://github.com/DEFRA/{{ resource.service }}/releases/tag/{{ resource.version }}"
             target="_blank" rel="noopener noreferrer"
             aria-labelledby="version">
            {{ resource.version }}
          </a>
          {% set tooltipText = "failed" if resource.unstable === true else resource.name %}

          {% call appToolTip({ text: tooltipText | title + " in " + envName | title }) %}
            {% switch resource.isReady %}
            {% case true %}
              {{ appInstanceSuccessIcon({ description: "Ready", classes: "app-icon--small" }) }}
            {% case false %}
              {{ appInstanceStoppedIcon({ description: "Pending", classes: "app-icon--small"}) }}
            {% default %}
              {{ appInstanceIcon({ description: "Unknown", classes: "app-icon--small"}) }}
            {% endswitch %}
          {% endcall %}
        </div>
      </div>

      <div class="app-resources-grid__item">
        <div>
          <span id="instance-count" class="app-resources-grid__label">Instance Count:</span>
          <span aria-labelledby="instance-count">{{ resource.instanceCount }}</span>
        </div>
        <div>
          <span id="cpu" class="app-resources-grid__label">CPU:</span>
          <span aria-labelledby="instance-count">
            {{ resource.cpu / 1024 + " vCPU" if resource.cpu else noValue }}
          </span>
        </div>
        <div>
          <span id="memory" class="app-resources-grid__label">Memory:</span>
          <span aria-labelledby="memory">
          {{ resource.memory / 1024 + " GB" if resource.memory  else noValue }}
        </span>
        </div>
      </div>
    </div>

  {% endfor %}
</section>
