{% extends "layouts/page.njk" %}

{% from "split-pane/macro.njk" import appSplitPane with context %}

{% block content %}
  {% call appSplitPane() %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appHeading({
        title: heading,
        caption: headingCaption
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <form action="/admin/users/find-aad-user"
                method="post"
                data-js="auto-submit app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

            {% call govukFieldset() %}

              {{ appSearch({
                label: {
                  text: "AAD users name or email"
                },
                id: "aadQuery",
                name: "aadQuery",
                hint: {
                  text: "Enter the users name or Defra provided email"
                },
                value: formValues.aadQuery,
                errorMessage: {
                  text: formErrors.aadQuery.message
                } if formErrors.aadQuery.message
              }) }}

            {% endcall %}

            {{ govukButton({
              classes: "app-button app-button--secondary govuk-!-margin-bottom-4 js-hidden",
              text: "Search",
              name: "button",
              value: "search",
              attributes: {
                "data-js": "app-no-js-submit-button"
              }
            }) }}

            {% block xhrContent %}

              <article class="app-scrollable-window" data-xhr="aad-users">

                {% if aadUsers | length %}
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Search results</h2>
                {% endif %}

                {% if  aadUsers | length or formErrors.email.message %}
                  {{ govukRadios({
                    name: "email",
                    classes: "govuk-radios--small app-radio",
                    items: aadUsers,
                    value: formValues.email,
                    formGroup: {
                      classes: "app-form-group app-form-group-js"
                    },
                    errorMessage: {
                      attributes: {
                        "data-js": "app-error"
                      },
                      text: formErrors.email.message
                    } if formErrors.email.message
                  }) }}
                {% endif %}

                {% if formValues.aadQuery and not aadUsers | length %}
                  <p class="govuk-hint">No user/s found</p>
                {% endif %}

              </article>

            {% endblock %}

            {{ govukButton({
              classes: "app-button",
              text: formButtonText,
              name: "button",
              value: "next"
            }) }}
          </form>

        </div>
      </div>
    </div>

  {% endcall %}
{% endblock %}
