{% extends "layouts/page.njk" %}

{% set searchHintHtml %}
  Search using the users GitHub username. <a href="https://github.com/orgs/{{ githubOrg }}/people"
                                             class="app-link app-link--underline"
                                             target="_blank">DEFRA GitHub members</a>
{% endset %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appPageHeading({
        caption: "Find",
        text: "DEFRA GitHub User"
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
          <form action="/admin/users/find-github-user"
                method="post"
                data-js="auto-submit app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
            <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

            {% call govukFieldset() %}

              {{ appSearch({
                iconDescription: "Search for DEFRA GitHub user",
                label: {
                  text: "GitHub username"
                },
                id: "githubSearch",
                name: "githubSearch",
                hint: {
                  html: searchHintHtml
                },
                value: formValues.githubSearch,
                errorMessage: errorMessageHelper(formErrors.githubSearch.message)
              }) }}

            {% endcall %}

            {{ govukButton({
              classes: "app-button app-button--secondary govuk-!-margin-bottom-4 js-hidden",
              text: "Search",
              name: "button",
              value: "search",
              attributes: {
                "data-js": "app-no-js-submit-button"
              }
            }) }}

            {% block xhrContent %}

              <article class="app-scrollable-window" data-xhr="github-users">
                {% if githubUsers | length %}
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search results</h2>
                {% endif %}

                {% if githubUsers | length or formErrors.github.message %}
                  {{ govukRadios({
                    name: "github",
                    classes: "govuk-radios--small app-radios",
                    fieldset: {
                      legend: {
                        text: "Choose a GitHub user (optional)"
                      }
                    } if githubUsers | length,
                    items: githubUsers,
                    value: formValues.github,
                    formGroup: {
                      classes: "app-form-group app-form-group-js"
                    },
                    errorMessage: errorMessageHelper(formErrors.github.message)
                  }) }}
                {% endif %}

                {% if formValues.githubSearch and not githubUsers | length %}
                  <p class="govuk-hint">No users found</p>
                {% endif %}

              </article>

            {% endblock %}

            <div class="govuk-button-group">
              {{ govukButton({
                classes: "app-button",
                text: formButtonText,
                name: "button",
                value: "next"
              }) }}

              {{ govukButton({
                classes: "app-button app-button--tertiary",
                text: "Skip",
                name: "button",
                value: "skip"
              }) }}
            </div>
          </form>
        </div>
      </div>
    </div>

  {% endcall %}
{% endblock %}
