{% extends "layouts/page.njk" %}

{% block content %}
  {% call appSplitPane() %}

    {{ appStepNavigation(stepNavigation) }}

    <div class="govuk-main-wrapper app-main-wrapper">

      {{ appPageHeading({
        caption: "Edit" if isEdit else "Add",
        text: "User Details"
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
          <form action="/admin/users/user-details" method="post" data-js="app-form-errors">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

            {{ appInfo({
              text: "We are using the provided DEFRA Azure Active Directory (AAD) name"
            }) }}

            {% call govukFieldset() %}

              {{ govukInput({
                label: {
                  text: "User name",
                  classes: "app-label"
                },
                id: "name",
                name: "name",
                classes: "app-input app-input--wide",
                formGroup: {
                  classes: "app-form-group"
                },
                attributes: {
                  "readonly": "readonly",
                  "data-1p-ignore": ""
                },
                value: formValues.name
              }) }}

              {{ govukInput({
                label: {
                  text: "Defra Aws Id (optional)",
                  classes: "app-label"
                },
                id: "defraAwsId",
                name: "defraAwsId",
                classes: "app-input app-input--wide",
                formGroup: {
                  classes: "app-form-group"
                },
                attributes: {
                  "data-1p-ignore": ""
                },
                value: formValues.defraAwsId,
                errorMessage: errorMessageHelper(formErrors.defraAwsId.message)
              }) }}

              {{ govukInput({
                label: {
                  text: "Defra Vpn Id (optional)",
                  classes: "app-label"
                },
                id: "defraVpnId",
                name: "defraVpnId",
                classes: "app-input app-input--wide",
                formGroup: {
                  classes: "app-form-group"
                },
                attributes: {
                  "data-1p-ignore": ""
                },
                value: formValues.defraVpnId,
                errorMessage: errorMessageHelper(formErrors.defraVpnId.message)
              }) }}

            {% endcall %}

            <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}"/>

            <div class="govuk-button-group">
              {{ govukButton({
                classes: "app-button",
                text: formButtonText,
                name: "button",
                value: "next"
              }) }}

              {{ govukButton({
                classes: "app-button app-button--tertiary",
                text: "Skip",
                name: "button",
                value: "skip"
              }) }}
            </div>
          </form>
        </div>
      </div>
    </div>

  {% endcall %}
{% endblock %}
