{% extends "layouts/page.njk" %}

{% block header %}
  {{ appHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl: ("/logout" if isAuthenticated else "/login")
  }) }}
{% endblock %}

{% set bodyClasses = "app-terminal-background" %}

{% block main %}

  {# TODO update isAdmin to isServiceOwner when ready for release #}
  {% if isAdmin %}
    <main id="main-content" class="govuk-body govuk-!-margin-0">
      <iframe
        class="app-iframe app-iframe--terminal"
        title="Terminal {{ serviceId }} - {{ environment }}"
        scrolling="no"
        src="{{ terminalProxyUrl }}">
      </iframe>
    </main>
  {% endif %}

{% endblock %}
