<nav class="app-navigation" role="navigation">
  <div class="govuk-width-container">
    <ul class="app-navigation__list">
      {% for item in navigation %}
        <li class="app-navigation__list-item{% if item.isActive %} app-navigation__list-item--active{% endif %}">
          <a class="app-navigation__link" href="/{{ item.url }}/">
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
