{% extends "layouts/page.njk" %}

{% block content %}

  {{ appHeading({
    text: "Deployment - " + heading,
    caption: "Deployment information.",
    entities: headingEntities
  }) }}

{% endblock %}
