{% extends "layouts/page.njk" %}

{% from "entity-list/macro.njk" import appEntityList %}

{% block content %}

  {{ appHeading({
    text: heading,
    caption: "Micro-service deployment details."
  }) }}

  {{ appEntityList({
    headings: [
      { text: "Service", size: "large"},
      { text: "Environment", size: "small"},
      { text: "Version", size: "small"},
      { text: "Status", size: "small"},
      { text: "By", size: "small"},
      { text: "On", size: "large"}
    ],
    entityRows: entityRows,
    noResult: "Currently there are no micro-service deployments"
  }) }}

{% endblock %}
