@use "govuk-frontend" as *;

.app-user-icon {
  fill: govuk-colour("white");
  background-color: govuk-colour("blue");
  border-radius: 50%;
  padding: 2px;
  border: 1px solid govuk-colour("white");
}
