{% extends "layouts/tabbed-page.njk" %}

{% from "icons/tick-icon/macro.njk" import appTickIcon %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% call appSplitPane() %}
        <section class="govuk-!-margin-top-2 govuk-!-margin-left-2">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Secrets</h2>
          <p class="govuk-!-margin-bottom-2">
            Manage secrets for {{ service.serviceName }} in all CDP environments.
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <div class="app-!-layout-centered">
                Create
                {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}
              </div>
            </li>
            <li>
              <div class="app-!-layout-centered">
                Update
                {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}
              </div>
            </li>
{#            <li>#}
{#              <div class="app-!-layout-centered">#}
{#                Delete#}
{#                {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}#}
{#              </div>#}
{#            </li>#}
          </ul>

          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Platform secrets</h2>
          <p class="govuk-!-margin-bottom-2">
            View the Platform level secret keys available to your service in all environments.
          </p>

        </section>
      {% endcall %}

    </div>
  </div>

{% endblock %}
