{% extends "layouts/tabbed-page.njk" %}

{% from "tag/macro.njk" import appTag %}

{% set serviceSecretsTableRows = [] %}
{% for key in serviceSecrets.keys %}

  {% set updateButtonHtml %}
    <a href="{{ routeLookup('services/{serviceId}/secrets/{environment}/update', {
      query: { secretKey: key },
      params: { serviceId: service.serviceName, environment: environment }
    }) }}" role="button" class="govuk-button app-button app-button--small app-button--secondary">Update</a>
  {% endset %}

  {{ serviceSecretsTableRows.push([
    { html: appTag({
      text: key,
      classes: "govuk-tag--grey"
    }) },
    { html: updateButtonHtml }
  ]) }}
{% endfor %}

{% set platformSecretsTableRows = [] %}
{% for platformSecret in platformSecrets %}
  {{ platformSecretsTableRows.push([
    { html: appTag({
      text: platformSecret.key,
      classes: "govuk-tag--grey"
    }) },
    { text: platformSecret.description }
  ]) }}
{% endfor %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  {% call appSplitPane() %}

    <div class="govuk-!-margin-left-2">
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ environment | title }} secrets</h2>

          <p class="govuk-!-margin-bottom-4">
            Manage secrets for {{ service.serviceName }} in the {{ environment | title }} environment.
          </p>

          <div class="app-section-huge">
            <div class="app-row">
              <div class="app-row__item-flex-two">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service secrets</h2>
              </div>

              {% if serviceSecrets.lastChangedDate %}
                <div class="app-!-layout-right-aligned app-row__item-flex-two app-row__item-align-self--end">
                  <p class="govuk-!-margin-bottom-2">
                    <strong class="govuk-!-margin-right-1">Last updated:</strong>
                    {{ appTime({
                      datetime: serviceSecrets.lastChangedDate
                    }) }}
                  </p>
                </div>
              {% endif %}
            </div>

            <p>
              Service secret keys available to your service in {{ environment | title }}.
            </p>

            {% call appPanel({ classes: "govuk-!-margin-bottom-6" }) %}
              {% if serviceSecrets.keys | length %}
                {{ govukTable({
                  classes: "app-table govuk-!-margin-bottom-2",
                  head: [{ text: "Key" }, { text: "Actions" }],
                  rows: serviceSecretsTableRows
                }) }}

              {% else %}
                <p class="govuk-!-margin-bottom-2">
                  No service secrets currently set.
                </p>
              {% endif %}
            {% endcall %}

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Platform secrets</h2>

            <p>
              Platform level secret keys available to your service in {{ environment | title }}.
            </p>

            {% if platformSecrets | length %}
              {{ appInfo({
                classes: "govuk-!-margin-bottom-2",
                text: "These secrets are generated and set by the platform. They are fixed and cannot be changed."
              }) }}
            {% endif %}

            {% call appPanel({ classes: "govuk-!-margin-bottom-4" }) %}
              {% if platformSecrets | length %}
                {{ govukTable({
                  classes: "govuk-!-margin-bottom-2",
                  head: [{ text: "Key" }, { text: "Description" }],
                  rows: platformSecretsTableRows
                }) }}

              {% else %}
                <p class="govuk-!-margin-bottom-2">
                  No platform secrets currently set.
                </p>
              {% endif %}
            {% endcall %}
          </div>
        </section>

        <section class="govuk-grid-column-one-half">
          {% include "services/partials/secrets/create-form.njk" %}
        </section>
      </div>
    </div>
  {% endcall %}

{% endblock %}
