{% extends "layouts/tabbed-page.njk" %}

{% from "tag/macro.njk" import appTag %}

{% set platformSecretsTableRows = [] %}
{% for platformSecret in platformSecrets %}
  {{ platformSecretsTableRows.push([
    { html: appTag({
      text: platformSecret.key,
      classes: "govuk-tag--grey"
    }) },
    { text: platformSecret.description }
  ]) }}
{% endfor %}

{% set serviceSecretsTableRows = [] %}
{% for key in serviceSecrets.keys %}

  {% set updateButtonHtml %}
    <a href="{{ routeLookup('services/{serviceId}/secrets/{environment}/update', {
      query: { secretKey: key },
      params: { serviceId: service.serviceName, environment: environment }
    }) }}" role="button" class="govuk-button app-button app-button--small app-button--secondary">Update</a>
  {% endset %}

  {{ serviceSecretsTableRows.push([
    { html: appTag({
      text: key,
      classes: "govuk-tag--grey"
    }) },
    { html: updateButtonHtml }
  ]) }}
{% endfor %}


{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% call appSplitPane() %}
        <section class="app-section-wide govuk-!-margin-top-2 govuk-!-margin-left-2">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ environment | title }} secrets</h2>

          <p class="govuk-!-margin-bottom-2">
            Manage secrets for {{ service.serviceName }}.
          </p>

          {% if serviceSecrets.lastChangedDate %}
            <h2
              class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1 govuk-!-padding-top-0">
              Last updated
            </h2>

            <p class="govuk-!-margin-bottom-4">
              {{ appTime({
                datetime: serviceSecrets.lastChangedDate
              }) }}
            </p>
          {% endif %}

          {% call appPanel() %}
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service secrets</h2>

            {% if serviceSecrets.keys | length %}
              <p class="govuk-!-margin-bottom-2">
                Service secret keys available to your service
              </p>

              {{ govukTable({
                classes: "govuk-!-margin-bottom-2",
                head: [{ text: "Key" }, { text: "Actions" }],
                rows: serviceSecretsTableRows
              }) }}

            {% else %}
              <p class="govuk-!-margin-bottom-2">
                No service secrets currently set.
              </p>
            {% endif %}
          {% endcall %}

          {% call appPanel() %}
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Platform secrets</h2>

            {% if platformSecrets | length %}

              <p class="govuk-!-margin-bottom-2">
                Platform level secret keys available to your service.
              </p>

              {{ appInfo({
                classes: "app-info--inverse",
                text: "These secrets are set by the platform, are fixed and cannot be changed"
              }) }}

              {{ govukTable({
                head: [{ text: "Key" }, { text: "Description" }],
                rows: platformSecretsTableRows
              }) }}

            {% else %}
              <p class="govuk-!-margin-bottom-2">
                No platform secrets currently set.
              </p>
            {% endif %}
          {% endcall %}

        </section>
      {% endcall %}

    </div>
    <div class="govuk-grid-column-one-half">
      {% include "services/partials/secrets/create-form.njk" %}
    </div>
  </div>

{% endblock %}
