{% from "panel/macro.njk" import appPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "info/macro.njk" import appInfo %}
{% from "loader/macro.njk" import appLoader %}

<div
  class="govuk-grid-column-one-half"
  data-xhr="alerts-playground-load"
  data-xhr-stop="{{ false if playground == 'PENDING' else true }}" data-js="app-poll"
  data-poll-url=""
  data-poll-interval="3000"
  data-poll-limit="100"
>
  <h3 class="govuk-heading-l govuk-!-margin-bottom-4" id="alerts">
  Alerts
  </h3>


  {% call appPanel({
    classes: "govuk-!-margin-bottom-6"
  }) %}
    {{ govukTable({
      classes: "app-table app-table--inverse govuk-!-margin-bottom-3 govuk-!-margin-top-3",
      head: [
        { text: "Type" },
        { text: "Name" },
        { text: "Runbook" }
      ],
      rows: createAlertRows(alerts, environment)
    }) }}
  {% endcall %}

  {% call appPanel() %}
    <div class="app-flex-center govuk-!-margin-bottom-3">
      <h4 class="govuk-heading-m govuk-!-margin-bottom-1 ">
      Alerts playground
      </h4>
      {% if environment.endsWith('dev') and showPromote %}
        <!--<span class="app-align-right">
          <a href="./dev/alerts/promote" class="app-link app-link--underline">Promote</a>
        </span>-->
      {% endif %}
    </div>


    <p class="govuk-!-margin-bottom-3">
      Advanced custom alerts are managed in the the playground and promoted up to the other environments.  View the <a href="/documentation/how-to/monitoring.md#creating-advanced-custom-alerts" target="_blank" rel="noopener noreferrer">CDP documentation</a>.
    </p>

    {% if environment.endsWith('dev') %}

      {% if playground == 'PENDING' %}

        {{ appLoader({ classes: "app-loader--is-loading govuk-!-margin-bottom-4 govuk-!-margin-top-4" }) }}

      {% else %}

        {{ govukTable({
          classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
          head: [
            { text: "Type" },
            { text: "Name" },
            { text: "Runbook" }
          ],
          rows: createAlertRows(playground, environment)
        }) }}

      {% endif %}

    {% else %}

      {{ appInfo({ html: "Switch to the <a href='./dev#dashboards'>Dev</a> environment to view the playground alerts", isInverse: true}) }}

    {% endif %}

  {% endcall %}
</div>
