{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      caption: "Promote",
      text: "Alerts",
      intro: 'Promote your playground alerts'
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop-wide">

      <p class="govuk-body govuk-!-margin-top-4">Select the alerts to be promoted to all environments.</p>

      {% block formContent %}{% endblock %}

      </div>
    </div>

  </div>
{% endblock %}
