@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$compact-label-height: govuk-spacing(4);
$min-width: 200px;
$min-grid-cell-width: 100px;

.app-entity-table {
  height: 1px; // Allow table cell height to stretch to full row height. Is ignored by browsers
  @extend %govuk-body-m;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  empty-cells: show;
}

.app-entity-table__cell {
  height: 100%;
  border-radius: $app-border-radius;
}

// Display compact table on small screens
@include govuk-media-query($until: desktop-wide) {
  // Hide header, we place headings on individual cells on small screens
  .app-entity-table__head {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .app-entity-table__row {
    display: grid;
    grid-template-columns: repeat(4, minmax($min-grid-cell-width, 1fr));
    gap: govuk-spacing(1);
    grid-auto-rows: 1fr;
    margin-bottom: govuk-spacing(3);
    background-color: govuk-colour("white");
    border-bottom: 2px solid $app-mid-grey;

    &:last-child {
      border-bottom: none;
    }

    &:hover, &:nth-child(even) {
      background-color: govuk-colour("white");
    }
  }

  .app-entity-table__cell {
    border-bottom: 1px solid $app-grey;
    display: inline-block;
    padding: govuk-spacing(2) 0;
    box-sizing: border-box;
    height: 100%;

    // Make icons tiny in compact view
    .app-icon {
      width: 20px;
      min-width: 20px;
      max-width: 20px;
      height: 20px;
    }

    .app-entity {
      height: calc(100% - $compact-label-height); // So the height all off all entities in row match
    }

    &::before {
      content: attr(data-label);
      display: block;
      height: $compact-label-height;
      min-width: $min-width;
      font-weight: bold;
      padding-bottom: govuk-spacing(1);
    }
  }
}

@include govuk-media-query($until: desktop) {
  .app-entity-table__row {
    grid-template-columns: repeat(3, minmax($min-grid-cell-width, 1fr));
  }
}

@include govuk-media-query($until: tablet) {
  .app-entity-table__row {
    grid-template-columns: repeat(2, minmax($min-grid-cell-width, 1fr));
  }
}

// Display full table on large screens
@include govuk-media-query($from: desktop-wide) {
  .app-entity-table__row {
    display: table-row;
    background-color: govuk-colour("white");

    &:nth-child(even) {
      background-color: $app-light-grey;
    }

    &:hover {
      background-color: $app-grey;
    }
  }

  .app-entity-table__head {
    background-color: $app-light-grey;

    .app-entity-table__heading {
      background-color: $app-light-grey;
    }
  }

  .app-entity-table__head--inverse {
    background-color: govuk-colour("white");

    .app-entity-table__heading {
      background-color: govuk-colour("white");
    }
  }

  .app-entity-table__heading {
    @include govuk-font(24);
    border-spacing: 0;
    padding: govuk-spacing(3) govuk-spacing(2);
    font-weight: bold;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $app-mid-grey;
    z-index: 100;
  }

  .app-entity-table__cell {
    padding: govuk-spacing(3) govuk-spacing(2);
    border: 1px solid govuk-colour("white");

    .app-entity {
      height: 100%;
    }
  }

  .app-entity-table__cell--centered {
    text-align: center;
    vertical-align: middle;
  }

  .app-entity-table__cell--slim {
    padding: 0;
  }

  .app-entity-table__row--no-results {
    color: govuk-colour("dark-grey");
  }

  .app-entity-table__cell--owned {
    width: 20px;
    padding: 0 govuk-spacing(2);
  }
}

@include govuk-media-query($from: desktop-huge, $until: desktop-massive) {
  .app-entity-table__heading {
    vertical-align: bottom;
    text-align: left;
    padding: govuk-spacing(1) govuk-spacing(2);
  }

  .app-entity-table__heading--vertical-text {
    text-orientation: sideways;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
    padding: govuk-spacing(2);
    margin: 0;
    border-bottom: none;
    border-top: 1px solid $app-mid-grey;
    vertical-align: top;
    width: 4%;
  }
}

.app-entity-table__row-header {
  padding: 0;
  margin-bottom: govuk-spacing(1);
}

.app-entity-table__row-caption {
  color: govuk-colour("dark-grey");
}

.app-entity-table__row--service-deployment {
  background-color: govuk-tint(govuk-colour("green"), 85%);

  &:nth-child(even) {
    background-color: govuk-tint(govuk-colour("green"), 85%);
  }

  &:hover {
    background-color: govuk-tint(govuk-colour("green"), 90%);
  }
}

.app-entity-table__row--database-update {
  background-color: govuk-tint(govuk-colour("blue"), 85%);

  &:nth-child(even) {
    background-color: govuk-tint(govuk-colour("blue"), 85%);
  }

  &:hover {
    background-color: govuk-tint(govuk-colour("blue"), 90%);
  }
}
