{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "entity/macro.njk" import appEntity with context %}

{% set tableClasses = [
  "app-entity-table",
  params.classes if params.classes,
  "app-entity-table--wide" if params.isWide
] | join(" ") | trim %}

<article>
  <table class="{{ tableClasses }}" data-testid="app-entity-table">
    <thead class="app-entity-table__head{% if params.head.isInverse %} app-entity-table__head--inverse{% endif %}"
           data-testid="app-entity-table-head">
    <tr>
      {% for header in params.headers %}
        {% set headerClasses = [
          "app-entity-table__heading",
          header.classes if header.classes,
          "app-entity-table__heading--vertical-text" if header.verticalText,
          "app-entity-table__heading--left-aligned" if header.isLeftAligned
        ] | join(" ") | trim %}

        <th id="{{ header.id }}" scope="col"
            class="{{ headerClasses }}"
            data-testid="app-entity-table-header-{{ loop.index }}"
            {% if header.width %}width="{{ header.width }}%"{% endif %}
          {% if not header.text %}aria-labelledby="{{ header.id }}"{% endif %}
        >
          {% if header.text %}
            {{ header.text }}
          {% else %}
            <span id="{{ header.id }}" class="govuk-visually-hidden">{{ header.id }}</span>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in params.rows %}
      {% set rowClasses = ["app-entity-table__row", row.classes if row.classes] | join(" ") | trim %}

      <tr class="{{ rowClasses }}" data-testid="app-entity-table-row-{{ loop.index }}">
        {% for cell in row.cells %}
          {% set headerDetail = params.headers | find({ id: cell.headers }) %}

          {% set cellClasses = [
            "app-entity-table__cell",
            cell.classes if cell.classes,
            "app-entity-table__cell--slim" if cell.isSlim,
            "app-entity-table__cell--centered" if cell.isCentered,
            "app-entity-table__cell--left-aligned" if headerDetail.isLeftAligned
          ] | join(" ") | trim %}

          <td headers="{{ cell.headers }}"
              class="{{- cellClasses -}}"
              data-label="{{ cell.headers | formatText }}">
            {% if cell.entity %}
              {{ appEntity(cell.entity | assign({}, {index: loop.index}, cell.entity)) }}
            {% elseif cell.html %}
              {{ cell.html | safe }}
            {% elseif cell.text %}
              {{ cell.text }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% else %}
      <tr class="app-entity-table__row--no-results" data-testid="app-entity-table-no-results">
        <td class="app-entity-table__cell" colspan="{{ params.headers | length }}">
          {{ params.noResult | safe }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if params.pagination.items.length > 1 %}
    <footer>
      {{ govukPagination(params.pagination | assign({}, { classes: "app-pagination" }, params.pagination)) }}
    </footer>
  {% endif %}
</article>
