@use 'govuk-frontend' as *;

.app-checkboxes {
  margin-top: govuk-spacing(-1);

  .govuk-checkboxes__label::before {
    border: 1px solid govuk-colour('mid-grey');
  }

  &.days-of-the-week {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
  }
}

// stylelint-disable max-nesting-depth
.govuk-form-group--error {
  .app-checkboxes {
    .govuk-checkboxes__label {
      &::before {
        border-color: govuk-colour('red');
      }
    }
  }
}
// stylelint-enable max-nesting-depth
