{% macro appFileUpload(params) %}
  <app-file-upload
    {% if params.id %}id={{ params.id }}{% endif %}
    data-path="{{ params.path }}"
    data-service="{{ params.service }}"
    data-csrftoken="{{ params.csrfToken }}"
  >
    {%- include "./template.njk" -%}
    <script type="application/json">
      {{ { filenames: params.filenames } | dump | safe }}
    </script>
  </app-file-upload>
{% endmacro %}
