{% from "./upload-form/macro.njk" import uploadForm %}
{% from "./upload-progress/macro.njk" import uploadProgress %}


{% if params.uploads %}
  {{ uploadProgress({
    uploads: params.uploads
  }) }}
{% else %}
  {{ uploadForm({
    path: params.path,
    csrfToken: params.csrfToken
  }) }}
{% endif %}
