.app-data-list {
  margin-top: govuk-spacing(0);
}

.app-data-list-heading {
  @extend %govuk-heading-m;

  display: flex;
  margin-bottom: 0;
}

.app-data-list-item {
  margin: 0 0 govuk-spacing(3);
}
