.app-data-list {
  margin-left: govuk-spacing(1);
  margin-top: govuk-spacing(0);
}

.app-data-list-heading {
  @include govuk-typography-weight-bold;

  display: flex;
  margin-bottom: govuk-spacing(2);
}

.app-data-list-item {
  margin: 0 0 govuk-spacing(4);
}
