{% from "entity/macro.njk" import appEntity %}

<div class="govuk-body">
  {% if params.heading %}
    <h2 class="govuk-heading-m"
        data-testid="app-data-list-heading">
      {{ params.heading }}
    </h2>
  {% endif %}

  <dl class="app-data-list" data-testid="app-data-list">
    {% for item in params.items %}
      {% set content = item.html | safe if item.html else item.text %}

      <dt class="app-data-list-heading"
          data-testid="app-data-list-heading-{{ loop.index }}">
        {{ item.heading }}
      </dt>
      <dd class="app-data-list-item"
          data-testid="app-data-list-item-{{ loop.index }}">
        {{ appEntity(item.entity) if item.entity else content }}
      </dd>

    {% endfor %}
  </dl>
</div>
