{% from "info/macro.njk" import appInfo %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

{% set badNames = [
  "seed-vault-alpha",
  "seed-vault-v1",
  "seed-vault-main",
  "seed-vault-repo",
  "seed-vault-new",
  "seed-vault-hapi",
  "sv-frontend"
] %}

{% call appInfo({
  classes: "govuk-!-margin-top-0"
}) %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Naming conventions</h2>

  <p class="govuk-!-margin-bottom-2">
    The name you choose will be its unique identifier used in multiple places across the Platform. We recommend a
    sensible descriptive name, optionally ending with a category of your choice.
    {% for category in params.categories %}
    {% if loop.last %}
      or <em>{{ category }}</em>
      {% elif loop.revindex0 === 1 %}
      <em>{{ category }}</em>
    {% else %}
      <em>{{ category }}</em>,
    {% endif %}
    {% endfor %}. E.g.
  </p>

  <ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-4 govuk-!-margin-left-2">
    {% for category in params.categories -%}
      <li>
        <div class="app-!-layout-centered">
          {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-right-2" }) }} seed-vault-{{ category }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="govuk-!-margin-bottom-2">
    Avoid including words that do not belong in the name. For example do not include project phases, version numbers,
    temporary words, branch names, product names or excessive acronyms.
  </p>
  <ul class="govuk-list govuk-!-margin-top-2 govuk-!-margin-bottom-4 govuk-!-margin-left-2">
    {% for badName in badNames %}
      <li>
        <div class="app-!-layout-centered">
          {{ appErrorIcon({ classes: "app-icon-tiny govuk-!-margin-right-2" }) }} {{ badName }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="govuk-!-margin-bottom-2">
    For further advice on choosing the right name see <a href="/documentation/how-to/README.md#naming-conventions"
                                                         class="govuk-link app-link"
                                                         target="_blank" rel="noopener noreferrer">
      Naming conventions
    </a>
  </p>
{% endcall %}
