{% from "info/macro.njk" import appInfo %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

{% set names = ["seed-vault-", "fruit-quality-", "bee-health-", "sea-temperature-", "harvest-metrics-"] %}
{% set badNames = [
  "water-monitoring-new",
  "sea-currents-v1",
  "sheep-dip-alpha",
  "drf-main-erp-frontend",
  "fisheries-trees-discovery-v4"
] %}

{% call appInfo({
  classes: "govuk-!-margin-top-0"
}) %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Naming best practices</h2>

  <p class="govuk-!-margin-bottom-2">
    We recommend a sensible descriptive name, optionally ending with a category of your choice.
    {% for category in params.categories %}
    {% if loop.last %}
      or <em>{{ category }}</em>
      {% elif loop.revindex0 === 1 %}
      <em>{{ category }}</em>
    {% else %}
      <em>{{ category }}</em>,
    {% endif %}
    {% endfor %}. E.g.
  </p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1 govuk-!-margin-bottom-4 govuk-!-margin-left-2">
    <li>
      <div class="app-!-layout-centered">
        soil-condition {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}
      </div>
    </li>
    {% for category in params.categories -%}
      <li>
        <div class="app-!-layout-centered">
          {{ names[loop.index0] }}{{ category }}
          {{ appTickIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="govuk-!-margin-bottom-2">
    Avoid names containing project phases, version numbers, branch names, product names, temporary words or excessive
    acronyms.
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2 govuk-!-margin-bottom-4 govuk-!-margin-left-2">
    {% for badName in badNames %}
      <li>
        <div class="app-!-layout-centered">
          {{ badName }} {{ appErrorIcon({ classes: "app-icon-tiny govuk-!-margin-left-1" }) }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="govuk-!-margin-bottom-2">
    For further information see <a href="https://github.com/DEFRA/cdp-documentation#naming-best-practices"
                                   class="govuk-link app-link"
                                   target="_blank" rel="noopener noreferrer">
      DEFRA/cdp-documentation - Naming best practices
    </a>
  </p>
{% endcall %}
