{% from "info/macro.njk" import appInfo %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

{% set badNames = [
  "seed-vault-alpha",
  "seed-vault-v1",
  "seed-vault-main",
  "seed-vault-repo",
  "seed-vault-new",
  "seed-vault-hapi",
  "sv-frontend"
] %}

<h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-3">Naming conventions</h2>

<p class="govuk-!-margin-bottom-2">
  A {{ params.kind }} <strong>name cannot be changed</strong> once created as it is a unique identifier across
  the platform.
  <strong>Do not change the GitHub repository name</strong>.
  Names should be clear and descriptive, optionally ending with a category such as
  {{ params.goodSuffixes.slice(0, -1) | join(", ") }}, or {{ params.goodSuffixes[params.goodSuffixes.length - 1] }}.

</p>
<p class="govuk-!-margin-bottom-3">
  Avoid project phases, versions, temporary terms, branch names, product names, and excessive acronyms.
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Good examples</h3>

    <ul class="govuk-list govuk-!-margin-bottom-0">
      {% for suffix in params.goodSuffixes %}
        <li class="govuk-!-display-flex govuk-!-align-items-center">
          <div class="app-!-layout-centered">
            {{ appTickIcon({ classes: "app-icon--tiny govuk-!-margin-right-1", description: "Correct" }) }}
            {{ params.exampleName + "-" + suffix }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Bad examples</h3>
    <ul class="govuk-list govuk-!-margin-bottom-0">
      {% for suffix in params.badSuffixes %}
        <li class="govuk-!-display-flex govuk-!-align-items-center">
          <div class="app-!-layout-centered">
            {{ appErrorIcon({ classes: "app-icon--tiny govuk-!-margin-right-1", description: "Incorrect" }) }}
            {{ params.exampleName + "-" + suffix }}
          </div>
        </li>
      {% endfor %}
      {% for example in params.badExamples %}
        <li class="govuk-!-display-flex govuk-!-align-items-center">
          <div class="app-!-layout-centered">
            {{ appErrorIcon({ classes: "app-icon--tiny govuk-!-margin-right-1", description: "Incorrect" }) }}
            {{ example }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">
  See <a href="/documentation/how-to/microservices.md#naming-conventions"
         class="govuk-link app-link"
         target="_blank" rel="noopener noreferrer">
    Naming conventions documentation
  </a> for more detail.
</p>
