@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$environment-width: 160px;
$environment-height: 120px;
$negative-margin: -6px;

.app-running-service-slim {
  display: flex;
  gap: govuk-spacing(1);
  margin-bottom: govuk-spacing(4);
}

.app-running-service-slim__environment {
  flex: 1;
  display: grid;
  grid-auto-rows: minmax(10px, max-content);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "unstable unstable"
      "env env"
      "version version"
      "count count"
      "cpu cpu"
      "memory memory"
      "deployed deployed"
      "updated updated"
      "by by";
  max-width: $environment-width;
  min-height: $environment-height;
  border-radius: $app-border-radius;
  padding: govuk-spacing(2);
  background-color: $app-light-grey;

  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("green"), 60%);
    }
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("bright-purple"), 65%);
    }
  }

  &.item-detail--grey {
    background-color: govuk-tint(govuk-colour("dark-grey"), 85%);

    .app-instance {
      fill: govuk-tint(govuk-colour("dark-grey"), 10%);
    }

    .app-tag {
      background-color: govuk-tint(govuk-colour("dark-grey"), 65%);
    }
  }

  &.item-detail--light-blue {
    background-color: govuk-tint(govuk-colour("blue"), 90%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("blue"), 60%);
    }
  }

  &.item-detail--red {
    background-color: govuk-tint(govuk-colour("red"), 75%);

    .app-tag {
      background-color: govuk-tint(govuk-colour("red"), 45%);
    }
  }

  .item {
    margin: 0;
  }

  .item-unstable {
    grid-area: unstable;
    display: flex;
    color: govuk-colour("white");
    background-color: govuk-colour("red");
    padding: govuk-spacing(1);
    margin: govuk-spacing(-1) govuk-spacing(-2) govuk-spacing(1);
    border-radius: $app-border-radius-top;

    .app-warning-icon {
      fill: govuk-colour("white");
    }
  }

  .item-version {
    grid-area: version;
    display: flex;
    align-items: flex-start;
    margin-top: govuk-spacing(2);

    .app-icon {
      margin-top: -2px;
    }
  }

  .item-env {
    grid-area: env;
  }

  .item-instance-count {
    margin-top: govuk-spacing(2);
    grid-area: count;
  }

  .item-cpu {
    grid-area: cpu;
  }

  .item-memory {
    grid-area: memory;
  }

  .item-deployed {
    margin-top: govuk-spacing(3);
    grid-area: deployed;
  }

  .item-deployed-by {
    grid-area: by;
  }

  .item-updated {
    grid-area: updated;
  }
}

.app-running-service-slim__label {
  color: govuk-colour("dark-grey");
}

.app-running-service-slim__zero-deployment {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: govuk-colour("dark-grey");
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;
  max-width: $environment-width;
  min-height: $environment-height;
  border-radius: $app-border-radius;
  background-color: $app-light-grey;
}

.app-running-service-slim__zero-deployment--inverse {
  background-color: govuk-colour("white");
}

.app-running-service-slim__item--no-results {
  padding: govuk-spacing(3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: govuk-colour("dark-grey");
}
