{% extends "layouts/page.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "style-guide/components/nav/macro.njk" import appStyleGuideNav with context %}
{% from "style-guide/components/sidebar/macro.njk" import appStyleGuideSidebar %}
{% from "style-guide/components/style-example/macro.njk" import appStyleExample %}

{% block content %}
  {{ appPageHeading({
    caption: "Styles",
    text: "Buttons",
    intro: "CDP button modifiers for different action types"
  }) }}

  {{ appStyleGuideNav() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop-wide">

      <section class="app-section--wide">
        <p class="govuk-!-margin-bottom-2">
          CDP provides button modifiers that can be combined with the GOV.UK
          <code class="app-code-inline">govuk-button</code> class. These add colour variants for different action types
          while maintaining accessibility.
        </p>
      </section>

      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">Usage</h2>

      <p class="govuk-!-margin-bottom-2">
        Combine <code class="app-code-inline">govuk-button</code> with <code class="app-code-inline">app-button</code>
        and a modifier:
      </p>

      {# @formatter:off #}
{% highlightjs "html" %}
<button class="govuk-button app-button app-button--secondary" data-module="govuk-button">
  Cancel
</button>
{% endhighlightjs %}
      {# @formatter:on #}

      <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Button Palette</h2>

      <p class="govuk-!-margin-bottom-4">All button variants shown together:</p>

      <div class="app-style-example govuk-!-margin-bottom-6">
        <div class="app-style-example__preview">
          <div class="app-button__container">
            <button class="govuk-button app-button" data-module="govuk-button">Default</button>
            <button class="govuk-button app-button app-button--primary" data-module="govuk-button">Primary</button>
            <button class="govuk-button app-button app-button--secondary" data-module="govuk-button">Secondary</button>
            <button class="govuk-button app-button app-button--tertiary" data-module="govuk-button">Tertiary</button>
            <button class="govuk-button app-button app-button--significant" data-module="govuk-button">Significant</button>
            <button class="govuk-button app-button app-button--destructive" data-module="govuk-button">Destructive</button>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Button Styles</h2>

      {% for button in buttonStyles %}
        {{ appStyleExample({
          title: button.class,
          description: button.description,
          code: button.example
        }) }}
      {% endfor %}

      <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Button Container</h2>

      <p class="govuk-!-margin-bottom-2">
        Use <code class="app-code-inline">app-button__container</code> to group buttons with consistent spacing:
      </p>

      {{ appStyleExample({
        code: '<div class="app-button__container">
  <button class="govuk-button app-button app-button--primary" data-module="govuk-button">Save</button>
  <button class="govuk-button app-button app-button--secondary" data-module="govuk-button">Cancel</button>
</div>'
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Reference</h2>

      {{ govukTable({
        classes: "app-table",
        head: [
          { text: "Class" },
          { text: "Description" }
        ],
        rows: [
          [{ html: "<code class=\"app-code-inline\">app-button</code>" }, { text: "Base CDP button styling" }],
          [{ html: "<code class=\"app-code-inline\">app-button--small</code>" }, { text: "Smaller button size" }],
          [{ html: "<code class=\"app-code-inline\">app-button--primary</code>" }, { text: "Green primary action" }],
          [{ html: "<code class=\"app-code-inline\">app-button--secondary</code>" }, { text: "Purple secondary action" }],
          [{ html: "<code class=\"app-code-inline\">app-button--tertiary</code>" }, { text: "Light grey tertiary" }],
          [{ html: "<code class=\"app-code-inline\">app-button--significant</code>" }, { text: "Blue significant action" }],
          [{ html: "<code class=\"app-code-inline\">app-button--destructive</code>" }, { text: "Red destructive action" }],
          [{ html: "<code class=\"app-code-inline\">app-button--hover-destructive</code>" }, { text: "Red on hover only" }],
          [{ html: "<code class=\"app-code-inline\">app-button__container</code>" }, { text: "Button group container" }]
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Source</h2>

      <p class="govuk-!-margin-bottom-2">
        View the source SCSS:
        <a class="app-link govuk-link"
           href="https://github.com/DEFRA/cdp-portal-frontend/blob/main/src/server/common/components/button/_button.scss"
           target="_blank" rel="noopener noreferrer">_button.scss</a>
      </p>

    </div>
    <div class="govuk-grid-column-one-quarter-from-desktop-wide">
      {{ appStyleGuideSidebar() }}
    </div>
  </div>

{% endblock %}
