{% extends "layouts/tabbed-page.njk" %}

{% block tabContent %}

  {{ appHeading({
    title: tabHeading
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-third">
      {{ appEntityDataList({
        items: entityDataList
      }) }}
    </div>
  </div>

{% endblock %}
