{% extends "layouts/tabbed-page.njk" %}

{% from "search/macro.njk" import appSearch %}

{% block actions %}

  {{ appEntityActions({
    formAction: appPathPrefix + '/deployments/' + environment,
    search: appSearch({
      label: {
        text: "Search"
      },
      hint: {
        text: "By deployment name"
      },
      id: "search",
      name: "service",
      suggestions: searchSuggestions
    }),
    filters: [
      appDropdown({
        label: {
          text: "Filter"
        },
        hint: {
          text: "By status"
        },
        id: "status",
        name: "status",
        suggestions: statusSuggestions
      }),
      appDropdown({
        hint: {
          text: "By user"
        },
        id: "user",
        name: "user",
        suggestions: userSuggestions
      })
    ]
  }) }}

{% endblock %}

{% block tabContent %}

  {% block xhrContent %}

    {{ appEntityList({
      id: "deployments",
      headings: [
        { text: "Deployment", size: "large" },
        { text: "Version", size: "tiny" },
        { text: "Status", size: "small" },
        { text: "User", size: "small" },
        { text: "Updated", size: "large" }
      ],
      entityRows: entityRows,
      noResult: "Currently there are no deployments"
    }) }}

  {% endblock %}

{% endblock %}
