{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: caption
  }) }}

  {% call appFilters({
    action: "/deployments/" + environment,
    noJsButton: {
      text: "Search"
    },
    legend: {
      text: "Search",
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-2"
    },
    caption: {
      text: "Search and filter deployments"
    },
    clear: {
      url: "/deployments/" + environment
    },
    hiddenInputs: hiddenInputs
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-service",
        name: "service",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Service name",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.service,
        suggestions: serviceFilters,
        placeholder: "Search by service"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "team",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Team",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.team,
        suggestions: teamFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-user",
        name: "user",
        classes: "app-autocomplete--inline",
        label: {
          text: "User",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.user,
        suggestions: userFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-status",
        name: "status",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Status",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.status,
        suggestions: statusFilters
      }) }}
    </div>

  {% endcall %}
{% endblock %}

{% block tabContent %}
  {% block xhrContent %}

    <div data-xhr="deployments">
      {{ appEntityList({
        headings: [
          { text: "Service deployment", size: "large" },
          { text: "Team", size: "large" },
          { text: "Version", size: "small" },
          { text: "Status", size: "small" },
          { text: "User", size: "massive" },
          { text: "Created", size: "large" }
        ],
        entityRows: entityRows,
        noResult: noResult,
        pagination: pagination
      }) }}
    </div>

  {% endblock %}
{% endblock %}
