{% from "deployments/common/components/deployment-row/macro.njk" import appDeploymentRow %}

{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}

  {{ appPageHeading(pageHeading) }}

  {% call appFilters({
    action: "/deployments/" + environment,
    legend: {
      text: "Search",
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-1"
    },
    caption: {
      text: "Search and filter microservice deployments and database updates"
    },
    clear: {
      url: "/deployments/" + environment
    },
    hiddenInputs: hiddenInputs
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-service",
        name: "service",
        classes: "app-autocomplete--medium app-autocomplete--inline",
        label: {
          text: "Service name",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.service,
        suggestions: serviceFilters,
        typeahead: true,
        placeholder: "Search by service"
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-kind",
        name: "kind",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Kind",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.kind,
        suggestions: kindFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-team",
        name: "team",
        classes: "app-autocomplete--small app-autocomplete--inline",
        label: {
          text: "Team",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.team,
        suggestions: teamFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-user",
        name: "user",
        classes: "app-autocomplete--inline",
        label: {
          text: "User",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.user,
        suggestions: userFilters
      }) }}
    </div>

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "filters-status",
        name: "status",
        classes: "app-autocomplete--tiny app-autocomplete--inline",
        label: {
          text: "Status",
          classes: "govuk-label--s app-label--inline govuk-!-margin-bottom-1"
        },
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: formValues.status,
        suggestions: statusFilters
      }) }}
    </div>

  {% endcall %}
{% endblock %}

{% block tabContent %}
  {% block xhrContent %}

    <div data-xhr="deployments">

      {% call(params) appEntityTable(tableData) %}
        {{  appDeploymentRow({
          rowClasses: params.rowClasses,
          loopIndex: params.loopIndex,
          isOwner:  params.row.isOwner,
          service: params.row.service,
          version: params.row.version,
          deploymentId: params.row.deploymentId,
          environment: params.row.environment,
          kind: params.row.kind,
          kindText: params.row.kindText,
          kindClass: params.row.kindClass,
          statusText: params.row.statusText,
          statusClass: params.row.statusClass,
          teams: params.row.teams,
          by: params.row.by,
          started: params.row.started
        }) }}
      {% endcall %}
    </div>

  {% endblock %}
{% endblock %}
