<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="320" height="242">
  <defs>
    <linearGradient id="b" x1="50%" x2="50%" y1="100%" y2="0%">
      <stop offset="0%" stop-color="#454545" stop-opacity=".5"/>
      <stop offset="100%" stop-color="#A2A2A2" stop-opacity=".5"/>
    </linearGradient>
    <path id="a"
          d="M64 121h78l-1.608711 4.37927C139.812951 126.953634 138.313838 128 136.63661 128H69.3633904c-1.6772285 0-3.1763414-1.046366-3.754679-2.62073L64 121Z"/>
  </defs>
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(148)">
      <path fill="#FFF" stroke="#000" d="M.5.5h170v127H.5z"/>
      <rect width="29" height="12" x="8" y="101" fill="#00703C" rx="2"/>
      <path fill="#D8D8D8" d="M25 47h68v10H25zM25 65h68v10H25zM25 81h68v10H25z"/>
      <g transform="translate(6 61.11)">
        <ellipse cx="7.5" cy="7.38888889" fill="#000" stroke="#FD0" rx="7" ry="6.88888889"/>
        <ellipse cx="7.5" cy="7.38888889" fill="#FFF" stroke="#FFF" stroke-width="2" rx="4.13157895" ry="4.05555556"/>
      </g>
      <g transform="translate(6 78.22)">
        <ellipse cx="7.5" cy="7.38888889" fill="#000" stroke="#FD0" rx="7" ry="6.88888889"/>
        <ellipse cx="7.5" cy="7.38888889" fill="#FFF" stroke="#FFF" stroke-width="2" rx="4.13157895" ry="4.05555556"/>
      </g>
      <g fill="#000" transform="translate(6 45)">
        <ellipse cx="7.5" cy="7.38888889" stroke="#FD0" rx="7" ry="6.88888889"/>
        <ellipse cx="7.5" cy="7.38888889" stroke="#FFF" stroke-width="2" rx="4.13157895" ry="4.05555556"/>
      </g>
      <path fill="#000" d="M0 0h171v17H0z"/>
      <path fill="#D8D8D8" d="M7 27h125v10H7z"/>
    </g>
    <g transform="translate(0 108)">
      <path fill="#000" stroke="#797979"
            d="M192 .5c2.071068 0 3.946068.83946609 5.303301 2.19669914C198.660534 4.05393219 199.5 5.92893219 199.5 8v113.5H6.5V8c0-2.07106781.83946609-3.94606781 2.19669914-5.30330086C10.0539322 1.33946609 11.9289322.5 14 .5Z"/>
      <rect width="205" height="13" y="121" fill="#BFBFBF" rx="3"/>
      <use xlink:href="#a" fill="#4E4E4E"/>
      <use xlink:href="#a" fill="url(#b)"/>
      <path fill="#FFF" d="M21 15h163v90H21z"/>
      <rect width="29" height="12" x="28" y="85" fill="#00703C" rx="2"/>
      <path fill="#D8D8D8" d="M28 51h68v10H28zM28 68h42v10H28z"/>
      <path fill="#000" d="M22 16h161v13H22z"/>
      <text fill="#000" font-family="Arial-BoldMT, Arial" font-size="8" font-weight="bold">
        <tspan x="28" y="42">Create a new microservice</tspan>
      </text>
      <text fill="#FFF" font-family="Arial-BoldMT, Arial" font-size="8" font-weight="bold">
        <tspan x="28" y="25">Core Delivery Platform - Portal</tspan>
      </text>
    </g>
  </g>
</svg>
