{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "icons/file-icon/macro.njk" import appFileIcon %}
{% from "icons/folder-icon/macro.njk" import appFolderIcon %}
{% from "icons/open-folder-icon/macro.njk" import appOpenFolderIcon %}
{% from "icons/back-folder-icon/macro.njk" import appBackFolderIcon %}
{% from "time/macro.njk" import appTime %}

{% set files = params.files %}
{% set path = params.path %}
{% set basePath = params.basePath %}
{% set parentPath = params.parentPath %}
{% set downloadBasePath = params.downloadBasePath %}
{% set actionBasePath = params.actionBasePath %}


{% macro renderRows(rows, content) %}
  {% for obj in content %}
    {{ rows.push([
      {
        html: renderName(obj)
      },
      {
        text: obj.size | formatFileSize
      },
      {
        html: appTime({
          datetime: obj.modifiedDate
        })
      },
      {
        html: renderActions(obj)
      }
    ])}}
  {% endfor %}
{% endmacro %}

{% macro renderParentRow(rows, relativePath) %}
    {{ rows.push([
      {
        html: renderParentName(relativePath)
      },
      {
        text: '- - -'
      },
      {
        text: '- - -'
      },
      {
        html: '- - -'
      }
    ]) }}
{% endmacro %}

{% macro renderSelfRow(rows, path) %}
    {{ rows.push([
      {
        html: renderSelfName()
      },
      {
        text: '- - -'
      },
      {
        text: '- - -'
      },
      {
        html: renderSelfActions(path)
      }
    ]) }}
{% endmacro %}

{% macro renderSelfActions(path) %}
    <a href="{{ actionBasePath }}{{ path | encodePathSegments }}?action=create" data-no-xhr-link="true">Add sub folder</a>
{% endmacro %}

{% macro renderActions(obj) %}
  {% if obj.isFolder %}
    - - -
  {% else %}
    <a href="{{ downloadBasePath }}{{ obj.path | encodePathSegments }}" data-no-xhr-link="true" target="_blank">Download</a>
  {% endif %}
{% endmacro %}

{% macro renderName(obj) %}
  <span class="app-tree--label">
    {% if obj.isFolder %}
      {{ appFolderIcon({ classes: "app-icon--small" }) }}
      <a href="{{ basePath }}{{ obj.path | encodePathSegments }}">{{ obj.name }}</a>
    {% else %}
      {{ appFileIcon({ classes: "app-icon--small" }) }}
      {{ obj.name }}
    {% endif %}
  </span>
{% endmacro %}

{% macro renderParentName(relativePath) %}
  <span class="app-tree--label">
    {{ appBackFolderIcon({ classes: "app-icon--small" }) }}
    <a href="{{ basePath }}{{ relativePath | encodePathSegments }}">..</a>
  </span>
{% endmacro %}

{% macro renderSelfName() %}
  <span class="app-tree--label">
    {{ appOpenFolderIcon({ classes: "app-icon--small" }) }}
    <strong>.</strong>
  </span>
{% endmacro %}

{% set contentsRows = [] %}
{% set t = renderSelfRow(contentsRows, path) %}
{% if parentPath != null %}
  {% set t = renderParentRow(contentsRows, parentPath) %}
{% endif %}
{% set t = renderRows(contentsRows, files) %}

{{ govukTable({
  classes: "app-table app-table--inverse govuk-!-margin-bottom-8",
  head: [
    { text: "Name" },
    { text: "Size" },
    { text: "Modified" },
    { text: "Actions" }
  ],
  rows: contentsRows
}) }}
