{% extends "layouts/page.njk" %}

{% from "time/macro.njk" import appTime %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}

{% set tomorrow = appTime({
  datetime: expiresInISO, formatString: "HH:mm 'on' dd/MM/yyyy", withoutTooltip: true
}) %}

{% set exampleEphemeralUrl %}
  https://ephemeral-protected.api.{environment}.cdp-int.defra.cloud/{service-name}/{endpoint}
{% endset %}

{% set warningHtml %}
  Your API key is valid for {{ expiresInHours }} hours until {{ tomorrow }}. It can only be seen once, copy it now
  and store it securely.
{% endset %}

{% block content %}
  {% call appSplitPane({ isWide: true }) %}

    {{ appPageHeading({
      caption: "User profile",
      text: user.name,
      intro: "User profile information"
    }) }}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds-from-desktop-massive">
        {% call appPanel() %}
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">User details</h2>

          {{ govukSummaryList(summaryList) }}
        {% endcall %}
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds-from-desktop-massive">

        {% call appPanel() %}

          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            Developer API key
          </h2>

          <p class="govuk-!-margin-bottom-2">
            To access a backend service/API in a CDP environment from your local development machine you can use
            the ephemeral protected API endpoint:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Generate your API key below
            </li>
            <li>
              Add it to the <strong>x-api-key</strong> header
            </li>
            <li>
              Make a request to your service via the ephemeral endpoint <em>{{ exampleEphemeralUrl }}</em>
            </li>
            <li>
              For the lower environments ({{ lowerEnvironments | join(", ") }}) the key will be valid for 24 hours
            </li>
            <li>
              For prod, via the break glass permission it will be valid for 2 hours
            </li>
          </ul>

          <p class="govuk-!-margin-bottom-2">
            For further information with examples, security and tips and tricks see
            <a class="app-link app-link--underline app-link--text-colour"
               href="https://portal.cdp-int.defra.cloud/documentation/how-to/developer-api-key.md"
               target="_blank"
               rel="noopener noreferrer">Developer API key documentation</a>
          </p>

        {% endcall %}
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds-from-desktop-massive">

        {% call appPanel() %}

          <div class="app-flex">
            <div class="app-flex__one">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
                Generate API key
              </h2>

              <form
                  action="{{ routeLookup('user-profile/generate-api-key') }}"
                  method="post"
                  class="govuk-!-margin-bottom-4"
                  data-js="app-form-errors">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

                {% call govukFieldset() %}

                  {{ appAutocomplete({
                    id: "environment",
                    name: "environment",
                    label: {
                      text: "Environment",
                      classes: "app-label"
                    },
                    hint: {
                      text: "The environment you want a developer API key for"
                    },
                    value: formValues.environment,
                    errorMessage: errorMessageHelper(formErrors.environment.message),
                    suggestions: environmentOptions
                  }) }}

                {% endcall %}

                {{ appButton({
                  text: "Generate API key",
                  loader: {
                    name: "generate-api-key-submit-button"
                  }
                }) }}

              </form>
            </div>

            <div class="app-flex__two">

              {% if flash.apiKey %}
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
                  {{ flash.environment | title }} developer API key
                </h2>

                {{ appWarning({
                  html: warningHtml,
                  isInverse: true,
                  classes: "govuk-!-margin-bottom-4"
                }) }}

                <p class="govuk-!-margin-bottom-6">
                  <strong>Your API key is:</strong>
                  {{ appCopy({
                    content: {
                      id: flash.environment + "-key",
                      html: appTag({
                        text: flash.apiKey,
                        classes: "govuk-tag--green govuk-!-padding-1 govuk-!-padding-left-2 govuk-!-padding-right-2"
                      })
                    },
                    buttonIsAfter: true
                  }) }}
                </p>

                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                  Curl example
                </h3>

                <p class="govuk-!-margin-bottom-2">
                  To access your services in the {{ flash.environment }} environment add your API key to the
                  <strong>x-api-key</strong> header. For further information see the
                  <a class="app-link app-link--underline app-link--text-colour"
                     href="https://portal.cdp-int.defra.cloud/documentation/how-to/developer-api-key.md"
                     target="_blank"
                     rel="noopener noreferrer">Developer API key documentation</a>
                </p>

                {# @formatter:off #}
                  {% highlightjs "bash" %}
curl --header 'x-api-key: {{ flash.apiKey }}' \
'https://ephemeral-protected.api.{{ flash.environment }}.cdp-int.defra.cloud/{serviceName}/{endpoint}'
                  {% endhighlightjs %}
                  {# @formatter:on #}

              {% endif %}
            </div>
          </div>

        {% endcall %}

      </div>
    </div>

  {% endcall %}
{% endblock %}
