{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% from "icons/chevron-icon/macro.njk" import appChevronIcon %}
{% from "icons/cancel-icon/macro.njk" import appCancelIcon %}
{% from "loader/macro.njk" import appLoader %}

<script data-testid="app-autocomplete-suggestions">
  window.suggestions = window.suggestions || {};
  window.suggestions.{{ params.name }} = {{ params.suggestions | dump | safe }}
</script>

<div class="govuk-form-group app-form-group{% if params.errorMessage.text %} govuk-form-group--error{% endif %}"
     data-js="app-form-group" data-testid="app-autocomplete-group">

  <label class="govuk-label app-label" id="{{ params.id }}-label" for="{{ params.id }}"
         data-testid="app-autocomplete-label">
    {{ params.label.text }}
  </label>

  {% if params.hint.text %}
    {{ govukHint({
      text: params.hint.text,
      classes: "app-hint",
      attributes: {
        "data-testid": "app-autocomplete-hint"
      }
    }) }}
  {% endif %}

  {% if params.errorMessage.text %}
    {{ govukErrorMessage({
      id: params.id + "-error",
      classes: "govuk-!-margin-bottom-1 app-error-message",
      attributes: {
        "data-js": "app-error"
      },
      text: params.errorMessage.text
    }) }}
  {% endif %}

  <div class="app-autocomplete{% if params.classes %} {{ params.classes }}{% endif %}"
       data-js="app-autocomplete"
    {% if params.loader.name %} data-loader="{{ params.loader.name }}"{% endif %}
  >
    <div class="app-autocomplete__control">
      <select name="{{ params.name }}"
              id="{{ params.id }}"
              class="govuk-select app-select{% if params.errorMessage.text %} govuk-select--error{% endif %}"
              data-js="app-progressive-input{% if params.dataJs %} {{ params.dataJs }}{% endif %}"
              {% if params.subscribeTo %}
                data-subscribe-to="{{ params.subscribeTo }}"
              {% endif %}
              {% if params.previousChoiceMessage %}
                data-previous-choice-message="{{ params.previousChoiceMessage }}"
              {% endif %}
              data-testid="app-progressive-input">
        {% for suggestion in params.suggestions %}
          <option value="{{ suggestion.value }}"
                  {% if params.value == suggestion.value %}selected="selected"{% endif %}>
            {{ suggestion.text }}
          </option>
        {% endfor %}
      </select>

      <button class="app-autocomplete__chevron-button js-visible"
              type="button"
              tabindex="-1"
              aria-controls="app-autocomplete-{{ params.id }}-suggestions"
              aria-label="Show"
              data-js="app-chevron-button"
              data-testid="app-chevron-button"
      >
        {{ appChevronIcon() }}
      </button>

      <button class="app-autocomplete__clear-button"
              type="button"
              aria-hidden="true"
              tabindex="-1"
              data-js="app-autocomplete-clear-button"
              data-testid="app-autocomplete-clear-button"
      >
        {{ appCancelIcon() }}
      </button>

      {% if params.loader.name %}
        {{ appLoader({ name: params.loader.name }) }}
      {% endif %}
    </div>

    <ul class="app-autocomplete__suggestions"
        id="app-autocomplete-{{ params.id }}-suggestions"
        aria-labelledby="{{ params.id }}-label"
        aria-expanded="false"
        role="listbox"
        data-js="app-autocomplete-suggestions"
        data-testid="app-autocomplete-suggestions"></ul>
  </div>

  {{ govukButton({
    classes: "app-button app-button--secondary govuk-!-margin-bottom-4 js-hidden",
    text: "Search",
    attributes: {
      "data-js": "app-no-js-submit-button"
    }
  }) }}
</div>



