{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% from "icons/chevron-icon/macro.njk" import appChevronIcon %}
{% from "icons/cancel-icon/macro.njk" import appCancelIcon %}
{% from "loader/macro.njk" import appLoader %}

<script data-testid="app-autocomplete-suggestions">
  window.cdp = window.cdp || {}
  window.cdp.suggestions = window.cdp.suggestions || {};
  window.cdp.suggestions.{{ params.name }} = {{ params.suggestions | dump | safe }}
</script>

{% set content = params.html | safe if params.html else params.text %}
{% set removePassWidgets = params.removePassWidgets | default("true") %}

<div
  class="govuk-form-group app-form-group{% if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}{% if params.errorMessage.text %}govuk-form-group--error{% endif %}"
  data-js="app-form-group" data-testid="app-autocomplete-group">

  <label class="govuk-label{% if params.label.classes %} {{ params.label.classes }}{% endif %}"
         id="{{ params.id }}-label"
         for="{{ params.id }}"
         data-testid="app-autocomplete-label">
    {{ params.label.text }}
  </label>

  {% if params.hint.text %}
    {{ govukHint({
      text: params.hint.text,
      classes: "app-hint",
      attributes: {
        "data-testid": "app-autocomplete-hint"
      }
    }) }}
  {% endif %}

  {% if params.errorMessage.text %}
    {{ govukErrorMessage({
      id: params.id + "-error",
      classes: "govuk-!-margin-bottom-1 app-error-message",
      attributes: {
        "data-js": "app-error"
      },
      text: params.errorMessage.text
    }) }}
  {% endif %}

  <div class="app-autocomplete{% if params.classes %} {{ params.classes }}{% endif %}"
       data-js="app-autocomplete{% if params.template %}-{{ params.template }}{% endif %}"
    {% if params.loader.name %} data-loader="{{ params.loader.name }}"{% endif %}
  >
    <div class="app-autocomplete__control">
      <select name="{{ params.name }}"
              id="{{ params.id }}"
              class="govuk-select app-select app-select--small{% if params.errorMessage.text %} govuk-select--error{%
                endif %}"
              data-js="app-progressive-input{% if params.dataJs %} {{ params.dataJs }}{% endif %}"
        {% if params.subscribeTo %}
          data-subscribe-to="{{ params.subscribeTo }}"
        {% endif %}
        {% if params.noSuggestionsMessage %}
          data-no-suggestions-message="{{ params.noSuggestionsMessage }}"
        {% endif %}
        {% if removePassWidgets %}
          data-remove-pass-widgets="{{ removePassWidgets }}"
        {% endif %}
              data-testid="app-progressive-input">
        {% for suggestion in params.suggestions %}
          <option value="{{ suggestion.value }}"
                  {% if params.value == suggestion.value %}selected="selected"{% endif %}>
            {{ suggestion.text }}{{ " - " + suggestion.hint if suggestion.hint }}
          </option>
        {% endfor %}
      </select>

      <button class="app-autocomplete__chevron-button js-visible"
              type="button"
              tabindex="-1"
              aria-owns="app-autocomplete-{{ params.id }}-suggestions"
              aria-label="Show"
              data-js="app-chevron-button"
              data-testid="app-chevron-button"
      >
        {{ appChevronIcon() }}
      </button>

      <button class="app-autocomplete__clear-button"
              type="button"
              aria-hidden="true"
              tabindex="-1"
              data-js="app-autocomplete-clear-button"
              data-testid="app-autocomplete-clear-button"
      >
        {{ appCancelIcon({ title: "Clear" }) }}
      </button>

      {% if params.loader.name %}
        {{ appLoader({ name: params.loader.name }) }}
      {% endif %}
    </div>

    <ul class="app-autocomplete__suggestions"
        id="app-autocomplete-{{ params.id }}-suggestions"
        aria-labelledby="{{ params.id }}-label"
        aria-expanded="false"
        role="listbox"
        data-js="app-autocomplete-suggestions"
        data-testid="app-autocomplete-suggestions"></ul>
  </div>
  {{ caller() if caller else content }}
</div>



