@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

$environment-width: 400px;
$environment-height: 200px;
$negative-margin: -8px;

.app-running-list {
  @extend %govuk-body-m;

  list-style-type: none;
  padding: 0;
  margin-bottom: govuk-spacing(6);
}

.app-running-list__service {
  display: grid;
  gap: govuk-spacing(2);
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
      "service"
      "environment";

  padding: govuk-spacing(2);
  background-color: govuk-colour("white");

  &:nth-child(even) {
    background-color: $app-light-grey;
  }

  &:last-child {
    border: none;
  }
}

.app-running-list__service-heading {
  grid-area: service;
  padding-left: govuk-spacing(2);
}

.app-running-list__service-environments {
  grid-area: environment;
  display: flex;
  gap: govuk-spacing(2);
}

.app-running-list__service-environment {
  flex: 1;
  display: grid;
  gap: govuk-spacing(2);
  align-items: start;
  grid-auto-rows: auto minmax(36px, auto) minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto) minmax(48px, auto) minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
      "unstable unstable unstable unstable"
      "env env env version"
      "count count count count"
      "cpu cpu cpu cpu"
      "memory memory memory memory"
      "icon icon icon icon"
      "updated updated updated updated"
      "by by by by"
      "team team team team";
  max-width: $environment-width;
  min-height: $environment-height;
  border-radius: $app-border-radius;
  padding: 0 govuk-spacing(2) govuk-spacing(2);
  background-color: govuk-tint(govuk-colour("dark-grey"), 85%);

  &.item-detail--green {
    background-color: govuk-tint(govuk-colour("green"), 80%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("green");
    }
  }

  &.item-detail--purple {
    background-color: govuk-tint(govuk-colour("bright-purple"), 85%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("bright-purple");
    }
  }

  &.item-detail--light-blue {
    background-color: govuk-tint(govuk-colour("blue"), 90%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("blue");
    }
  }

  &.item-detail--red {
    background-color: govuk-tint(govuk-colour("red"), 75%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("red");
    }
  }

  &.item-detail--grey {
    background-color: govuk-tint(govuk-colour("dark-grey"), 85%);

    .app-tag {
      color: govuk-colour("white");
      background-color: govuk-colour("dark-grey");
    }
  }

  .item {
    margin: 0;
  }

  .item-unstable {
    grid-area: unstable;
    display: flex;
    color: govuk-colour("white");
    background-color: govuk-colour("red");
    padding: govuk-spacing(1);
    margin: govuk-spacing(-2) govuk-spacing(-2) 0;
    border-radius: $app-border-radius-top;

    .app-warning-icon {
      fill: govuk-colour("white");
    }
  }

  .item-env {
    grid-area: env;
  }

  .item-version {
    justify-self: flex-end;
    grid-area: version;
  }

  .item-cpu {
    margin-top: $negative-margin;
    grid-area: cpu;
  }

  .item-memory {
    margin-top: $negative-margin;
    grid-area: memory;
  }

  .item-instance-count {
    grid-area: count;
  }

  .item-instances {
    grid-area: icon;
    align-self: start;
  }

  .item-updated {
     margin-top: $negative-margin;
    grid-area: updated;
  }

  .item-deployed-by {
     margin-top: $negative-margin;
    grid-area: by;
  }

  .item-team {
     margin-top: $negative-margin;
    grid-area: team;
  }
}

.app-running-list__label {
  color: govuk-colour("dark-grey");
}

.app-running-list__zero-deployment {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: govuk-colour("dark-grey");
  padding: 0 govuk-spacing(2) govuk-spacing(2);
  max-width: $environment-width;
  min-height: $environment-height;
}

.app-running-list__item--no-results {
  padding: govuk-spacing(3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: govuk-colour("dark-grey");
}
