{% from "icons/warning-icon/macro.njk" import appWarningIcon %}

{% set content = params.html | safe if params.html else params.text %}

<div
  class="app-warning{% if params.classes %} {{ params.classes }}{% endif %}"
  tabindex="-1"
  role="alert"
  data-testid="app-warning">

  {{ appWarningIcon({
    classes: "app-icon-medium",
    description: "Warning"
  }) }}

  <span class="app-warning__content" data-testid="app-warning-content">
    {{ caller() if caller else content }}
  </span>
</div>

