{% from "icons/warning-icon/macro.njk" import appWarningIcon %}

{% set content = params.html | safe if params.html else params.text %}
{% set classes = ["app-warning", params.classes if params.classes, "app-warning--inverse" if params.isInverse] | join(" ") | trim %}

<div
  class="{{ classes }}"
  tabindex="-1"
  role="alert"
  data-testid="app-warning">

  {{ appWarningIcon({
    classes: "app-icon--small",
    description: "Warning"
  }) }}

  <span class="app-warning__content" data-testid="app-warning-content">
    {{ caller() if caller else content }}
  </span>
</div>

