@use "govuk-frontend" as *;

.app-list-style-none {
  list-style-type: none;
}

// stylelint-disable max-nesting-depth
%nested-lists {
  ul {
    @extend %govuk-list;
    list-style-type: disc;
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
    padding-left: govuk-spacing(3);

    li:has(> ul.govuk-list) {
      list-style-type: none;
    }

    ul {
      list-style-type: circle;
      margin-top: govuk-spacing(1);

      ul {
        list-style-type: disc;

        ul {
          list-style-type: circle;
        }
      }
    }
  }
}
// stylelint-enable max-nesting-depth
