.app-read-out {
  display: none;
}

.js-enabled {
  .app-read-out {
    margin: govuk-spacing(-2) 0 govuk-spacing(3);
    display: block;
    @include govuk-font(16);
    color: govuk-colour("dark-grey");
  }
}
