{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "loader/macro.njk" import appLoader %}
{% from "time/macro.njk" import appTime %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/error-icon/macro.njk" import appErrorIcon %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="entity" class="app-entity-table__cell" data-label="entity">
    <a class="app-link" href="/dependency-explorer/{{ params.entity }}" data-testid="app-entity-link">
      {{ params.entity }}
    </a>
  </td>

  <td headers="entityVersion" class="app-entity-table__cell" data-label="entityVersion">
      {{ params.entityVersion }} {{ params.entityVersionTag }}
   </td>

  <td headers="teams" class="app-entity-table__cell" data-label="teams">
    {{ params.teams }}
  </td>

  <td headers="dependencyVersion" class="app-entity-table__cell" data-label="dependencyVersion">
    {{ params.dependencyVersion }}
  </td>

  <td headers="environment" class="app-entity-table__cell" data-label="Environment">
    <span data-testid="app-entity-text">{{ params.environment }}</span>
  </td>

</tr>
