{% set linkText = params.text if params.text else "https://logs." + params.environment | urlencode + ".cdp-int.defra.cloud" %}

<a class="app-link{% if params.classes %} {{ params.classes }}{% endif %}"
   href="https://logs.{{ params.environment | urlencode }}.cdp-int.defra.cloud/_dashboards/app/dashboards#/view/89f63d50-b6eb-11ee-a385-15667195f827?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,controlledBy:'1705679462997',disabled:!f,index:e55f3890-5d4a-11ee-8f40-670c9b0b8093,key:container_name,negate:!f,params:(query:{{ params.serviceName | urlencode }}),type:phrase),query:(match_phrase:(container_name:{{ params.serviceName | urlencode }})))),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:'CDP%20Service%20Dashboard',viewMode:view)"
   target="_blank" rel="noopener noreferrer"
   data-testid="app-logs-dashboard-link">
  {{- linkText -}}
</a>
