{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "info/macro.njk" import appInfo %}
{% from "panel/macro.njk" import appPanel %}
{% from "tag/macro.njk" import appTag %}
{% from "tool-tip/macro.njk" import appToolTip %}

{# Construct table rows, tables and html contents #}
{% set iconHtml %}
  {% call appToolTip({
    text: "Available",
    classes: "app-tool-tip--small"
  }) %}
    {{ appTickIcon({ classes: "app-icon-tiny" }) }}
  {% endcall %}
{% endset %}

{% set setupSecretsHtml %}
  To set up secrets, contact the Platform team via Slack
  <a class="app-link-underline app-link--text-colour" href="{{ supportChannel }}" target="_blank"
     rel="noopener noreferrer">#cdp-support</a>
{% endset %}

{% set allEnvironmentsTables = [] %}
{% for environment, detail in secretsByEnvironment %}

  {% set tableRows = [] %}
  {% for key in detail.keys %}
    {% set row = [
      { html: appTag({ text: key, classes: "govuk-tag--green" }) },
      { html: iconHtml, classes: "app-!-width-one-tenth" }
    ] %}
    {% set tableRows = tableRows | union([row]) %}
  {% endfor %}

  {% for key in detail.platformKeys %}
    {% set row = [
      { html: appTag({ text: key, classes: "govuk-tag--grey" }) },
      { html: iconHtml, classes: "app-!-width-one-tenth" }
    ] %}
    {% set tableRows = tableRows | union([row]) %}
  {% endfor %}

  {% set table %}
    {% if tableRows | length %}
      {{ govukTable({
        classes: "app-table govuk-!-margin-top-3 govuk-!-margin-bottom-2",
        head: [
          { text: "Key" },
          { text: "Status", classes: "app-!-width-one-tenth" }
        ],
        rows: tableRows
      }) }}
      {% elif not detail.isSecretsSetup %}
      <p>
        Secrets not set up for this environment
      </p>
      {{ appInfo({ html: setupSecretsHtml, isInverse: true }) }}
    {% else %}
      <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
        No secrets currently set
      </p>
    {% endif %}
  {% endset %}

  {% set allEnvironmentsTables = allEnvironmentsTables | union([{
    environment: environment, lastChangedDate: detail.lastChangedDate, table:table,
    isSecretsSetup: detail.isSecretsSetup, hasSecrets: tableRows | length > 0
  }]) %}
{% endfor %}

{% block beforeTabContent %}

  {{ appHeading({
    title: heading,
    caption: "Information about the " + heading + " microservice.",
    entities: headingEntities
  }) }}

{% endblock %}

{% block tabContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% call appSplitPane() %}
        <section class="govuk-!-margin-top-2 govuk-!-margin-left-2">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">All environments</h2>
          <p>
            View secrets for {{ service.serviceName }} in all CDP environments.
          </p>

          <div class="app-grid app-grid--fluid">

            {% for detail in allEnvironmentsTables %}
              <article>

                {% call appPanel({ classes: "govuk-!-margin-bottom-6" }) %}
                  <div class="app-row govuk-!-margin-bottom-2">
                    <div class="app-row__item-flex-four">
                      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                        {{ detail.environment | title }}
                      </h2>
                    </div>

                    {% if detail.isSecretsSetup %}
                      <div class="app-row__item-flex-two app-!-layout-right-aligned">
                        <p class="govuk-!-margin-bottom-0">
                          <a
                            href="{{ routeLookup('services/{serviceId}/secrets/{environment}', {
                              params: {
                                serviceId: service.serviceName,
                                environment: detail.environment
                              }
                            }) }}" class="app-link">
                            {% if detail.hasSecrets %}Edit{% else %}Create{% endif %}
                          </a>
                        </p>
                      </div>
                    {% endif %}
                  </div>

                  {% if detail.lastChangedDate %}
                    <p class="govuk-!-margin-bottom-1">
                      <strong class="govuk-!-margin-right-1">Last updated:</strong>
                      {{ appTime({
                        datetime: detail.lastChangedDate
                      }) }}
                    </p>
                  {% endif %}

                  {{ detail.table | safe }}
                {% endcall %}
              </article>

            {% endfor %}
          </div>
        </section>
      {% endcall %}

    </div>
  </div>

{% endblock %}
