.app-tag {
  border-radius: $app-border-radius;

  &::first-letter {
    text-transform: capitalize;
  }
}

.app-tag--lowercase {
  text-transform: lowercase;

  &::first-letter {
    text-transform: lowercase;
  }
}
