@use "govuk-frontend" as *;
@use "variables/border-radius" as *;
@use "variables/colours" as *;

.app-tag {
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 2px 6px;
  border-radius: $app-border-radius;
  max-width: 100em;
}

.app-tag--with-loader {
  display: inline-flex;
  align-items: center;
}

.app-tag--white {
  background-color: govuk-colour("white");
  color: govuk-colour("black");
}

.app-tag--purple {
  color: govuk-shade(govuk-colour("bright-purple"), 40%);
  background-color: govuk-tint(govuk-colour("bright-purple"), 75%);
}

.app-tag--green {
  color: govuk-colour("white");
  background-color: $defra-brand-colour;
}
