@use "govuk-frontend" as *;

.app-status-info {
  display: flex;
  align-items: flex-end;
  margin-bottom: govuk-spacing(1);
}

.app-status-info__primary {
  margin-right: govuk-spacing(2);
}

.app-status-info__secondary {
  color: govuk-colour("dark-grey");
  margin-bottom: govuk-spacing(2);
}
