{% from "tag/macro.njk" import appTag %}

<div class="govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    {{ params.part }}) {{ params.name }}
  </h2>

  <div class="govuk-!-margin-left-4">
    <p class="govuk-!-margin-bottom-3">
      {{ appTag({
        text: params.status.text | title,
        classes: params.status.classes
      }) }}
    </p>

    {% if params.info %}
      <p class="govuk-!-margin-bottom-4">
        {{ params.info() | safe }}
      </p>
    {% endif %}

    <ul class="govuk-list govuk-list--spaced">
      {% if params.url.href %}
        <li>
          <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">GitHub repository</h3>
          <p class="govuk-!-margin-0">
            <a class="app-link"
               href="{{ params.url.href }}" target="_blank"
               rel="noopener noreferrer">{{ params.url.text }}
            </a>
          </p>
        </li>
      {% endif %}

      {% if params.pullRequest.url.href %}
        <li>
          <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">GitHub pull request</h3>
          <p class="govuk-!-margin-0">
            <a class="app-link"
               href="{{ params.pullRequest.url.href }}" target="_blank"
               rel="noopener noreferrer">
              {{ params.pullRequest.url.text }}
            </a>
          </p>
        </li>
      {% endif %}

      {% if params.githubAction.url.href %}
        <li>
          <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">GitHub action</h3>
          <p class="govuk-!-margin-0">
            <a class="app-link"
               href="{{ params.githubAction.url.href }}" target="_blank"
               rel="noopener noreferrer">{{ params.githubAction.name }}
            </a>
          </p>
        </li>
      {% endif %}

      {% if params.errors | length %}
        <li>
          <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">Errors</h3>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-0">
            {% for error in params.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
