{% extends "layouts/tabbed-page.njk" %}

{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}
{% from "loader/macro.njk" import appLoader %}
{% from "tool-tip/macro.njk" import appToolTip %}
{% from "icons/internal-icon/macro.njk" import appInternalIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}

{% from "services/common/components/vanity-url/macro.njk" import appVanityUrl %}

{% set infoHtml %}
  <p class="govuk-!-margin-bottom-1">
    Your request will take a few minutes to complete.
    {% if pendingShutter.lastActionedBy %}
      Requested by {{ pendingShutter.lastActionedBy.displayName }}.
      {{ appTime({ datetime: pendingShutter.lastActionedAt, withSeconds: true }) }}
    {% endif %}
  </p>
{% endset %}

{% set vanityUrlsInfoHtml %}
  <p class="govuk-!-margin-bottom-1">
    To shutter your service you need to first set up vanity urls. Have a look at our <a
      href="/documentation/how-to/vanity-urls.md"
      class="govuk-link app-link"
      target="_blank" rel="noopener noreferrer">
      Vanity URLs documentation
    </a>
  </p>
{% endset %}

{% set shutteredUrlsTableRows = [] %}
{% for detail in shutteringDetails %}
  {% set status %}
    {% if detail.status == "Shuttered" %}
      {{ appTag({
        text: detail.status,
        classes: "govuk-tag--red",
        attributes: { "data-testid": "shuttered-status-" + loop.index }
      }) }}
    {% elseif detail.status == "Active" %}
      {{ appTag({
        text: detail.status,
        classes: "govuk-tag--green",
        attributes: { "data-testid": "shuttered-status-" + loop.index }
      }) }}
    {% else %}
      {{ appTag({
        text: "Pending",
        classes: "govuk-tag--blue",
        attributes: { "data-testid": "shuttered-status-" + loop.index }
      }) }}
    {% endif %}
  {% endset %}

  {% set shutterLinkHtml %}
    {% if detail.status == "PendingActive"  or detail.status == "PendingShuttered" %}
      {{ appLoader({
        classes: "app-loader--small app-loader--is-loading govuk-!-margin-right-2"
      }) }}
    {% else %}
      <a href="{{ routeLookup('services/{serviceId}/maintenance/shuttering', {
        params: { serviceId: detail.serviceName },
        query: { url: detail.url }
      }) }}"
         role="button" class="app-link app-link--underline" data-testid="shutter-link-{{ loop.index }}">
        {{ "Unshutter" if detail.status == "Shuttered" else "Shutter" }}
      </a>
    {% endif %}
  {% endset %}

  {{ shutteredUrlsTableRows.push([
    { html: appVanityUrl(detail) },
    { html: detail.environment | formatText },
    { html: status },
    { html: shutterLinkHtml, classes: "app-!-text-align-right" }
  ]) }}
{% endfor %}

{% set undeployTableRows = [] %}
{% for runningService in runningServices %}
  {% set status %}
    {{ appTag({
      text: runningService.status | formatText,
      classes: runningService.statusClassname
    }) }}
  {% endset %}

  {% set version %}
    <a class="app-link govuk-!-margin-right-2"
       href="https://github.com/DEFRA/{{ runningService.service }}/releases/tag/{{ runningService.version }}"
       target="_blank" rel="noopener noreferrer" aria-labelledby="version">
      {{ runningService.version }}
    </a>
  {% endset %}

  {% set applicationLinkHtml %}
    {% if isFrontend %}
      <a href="https://{{ runningService.service }}.{{ runningService.environment }}.cdp-int.defra.cloud"
         role="button" class="app-link" target="_blank" rel="noopener noreferrer" aria-labelledby="version">
        https://{{ runningService.service }}.{{ runningService.environment }}.cdp-int.defra.cloud
      </a>
    {% else %}
      https://{{ runningService.service }}.{{ runningService.environment }}.cdp-int.defra.cloud
    {% endif %}
  {% endset %}

  {% set terminalStatuses = ["stopped", "failed", "undeployed"] %}

  {% set undeployLinkHtml %}
    {% if runningService.status == "running" %}
      <a href="{{ routeLookup('services/{serviceId}/undeploy/confirm', {
        params: { serviceId: runningService.service },
        query: { environment: runningService.environment }
      }) }}"
         role="button" class="app-link app-link--underline" data-testid="undeploy-link-{{ loop.index }}">
        Undeploy
      </a>
    {% elseif terminalStatuses.includes(runningService.status) %}
      <a href="{{ routeLookup('deploy-service/details/{multiStepFormId?}', {
        query: { imageName: runningService.service, version: runningService.version }
      }) }}"
         role="button" class="app-link app-link--underline" data-testid="undeploy-link-{{ loop.index }}">
        Deploy
      </a>
    {% else %}
      {{ appLoader({
        classes: "app-loader--small app-loader--is-loading govuk-!-margin-right-2"
      }) }}
    {% endif %}
  {% endset %}

  {{ undeployTableRows.push([
    { html: runningService.environment | formatText },
    { html: status },
    { html: version },
    { html: applicationLinkHtml },
    { html: undeployLinkHtml, classes: "app-!-text-align-right" }
  ]) }}
{% endfor %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Shuttering",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">

      {% if shouldPoll %}
      <div data-js="app-poll"
           data-poll-url="/services/{{ entity.name }}/maintenance"
           data-poll-interval="3000"
           data-poll-limit="45">
        {% endif %}

        {% block xhrContent %}
          <article data-xhr="maintenance-{{ entity.name }}"
                   data-xhr-stop="{{ not shouldPoll }}">

            {% if isFrontend %}
              <div class="govuk-grid-column-one-half-from-desktop-massive govuk-!-margin-bottom-6">
                <div class="app-section--extra-wide">
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="shuttering">
                    Shuttering
                  </h2>
                  <p class="govuk-!-margin-bottom-2">
                    Shutter your service on the following urls. Shuttering your service will mean all users who go to
                    any of your services urls will be redirected to the shuttering page. This is useful when you want to
                    close your service to investigate a serious problem or to make planned changes/updates to your
                    service.
                  </p>

                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-testid="shuttering">
                    Customise your shutter page
                  </h3>
                  <p>
                    If you wish to customise your shuttering page, you can do so by following the instructions in the
                    <a class="app-link app-link--underline app-link--text-colour"
                       href="https://portal.cdp-int.defra.cloud/documentation/how-to/shuttering.md#customise-shutter-page-content"
                       target="_blank"
                       rel="noopener noreferrer">How-to Customise shutter page content</a> documentation.
                  </p>

                  {% if shouldPoll %}
                    {{ appInfo({ html: infoHtml }) }}
                  {% endif %}
                </div>

                {% if shutteredUrlsTableRows | length %}

                  {% call appPanel({ testId: "shuttering-panel", isSlim: true }) %}
                    {% if shutteringDetails | length %}
                      {% set urlText = "URL" | pluralise(shutteringDetails | length) %}

                      <section class="govuk-!-margin-bottom-6">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                          {{ "Service" if isFrontend else "API Gateway" }} {{ urlText }}</h2>
                        <p class="govuk-!-margin-bottom-2">
                          {% if isFrontend %}
                            User-friendly custom {{ urlText }}
                          {% else %}
                            Publicly accessible {{ urlText }} for the service
                          {% endif %}
                        </p>

                        {{ govukTable({
                          classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
                          head: [
                            { text: "Service URL" if isFrontend else "API Gateway URL" },
                            { text: "Environment" },
                            { text: "Status" },
                            { text: "Action",
                              classes: "app-!-text-align-right"
                            }
                          ],
                          rows: shutteredUrlsTableRows
                        }) }}

                      </section>
                    {% endif %}
                  {% endcall %}

                {% else %}

                  {{ appInfo({ html: vanityUrlsInfoHtml }) }}

                {% endif %}
              </div>
            {% endif %}
          </article>

          <article data-xhr="undeploy-{{ entity.name }}"
                   data-xhr-stop="{{ not shouldPoll }}">
            <div class="govuk-grid-column-one-half-from-desktop-massive">
              <div class="app-section--extra-wide">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="undeploy">
                  Undeploy
                </h2>
                <p class="govuk-!-margin-bottom-2">
                  To undeploy your service means to stop your service from running in the environment. This is useful
                  when
                  you want to completely stop your service from running due to a serious problem or to make planned
                  changes/updates to your service or simply to reduce costs.
                </p>
              </div>

              {% call appPanel({ testId: "undeploy-panel", isSlim: true }) %}
                <section class="govuk-!-margin-bottom-6">
                  {% if runningServices | length %}
                    {% set titleText = "Deployment" | pluralise(runningServices | length) %}

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Running {{ titleText }}</h2>
                    <p class="govuk-!-margin-bottom-2">
                      Deployments of your service, listed by environment
                    </p>

                    {{ govukTable({
                      classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
                      head: [
                        { text: "Environment" },
                        { text: "Status" },
                        { text: "Version" },
                        { text: "CDP Service URL" },
                        { text: "Action", classes: "app-!-text-align-right"}
                      ],
                      rows: undeployTableRows
                    }) }}
                  {% else %}
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">No Deployments</h2>
                    <p class="govuk-!-margin-bottom-2">
                      Currently, this service has no deployments on any CDP environments. To undeploy a service, one
                      must
                      first deploy a service. You can start your services journey via the
                      <a href="{{ routeLookup('deploy-service') }}"
                         role="button" class="app-link app-link--underline" data-testid="deploy-service">Deploy
                        Service</a>
                      flow.
                    </p>
                  {% endif %}
                </section>
              {% endcall %}
            </div>

          </article>
        {% endblock %}

        {% if shouldPoll %}</div>{% endif %}

    </div>
  </section>
{% endblock %}
