@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "helpers/link" as *;

.app-footer {
  padding: govuk-spacing(6);
  min-height: govuk-spacing(8);
  border-top: 1px solid $app-brand-border-colour-light;
  background-color: $app-brand-background-colour-light;
}

.app-footer__link {
  @include app-link-underline;
  @include govuk-link-style-text;
  display: inline-flex;
  align-items: center;

  &:hover {
    .app-github-icon {
      fill: #24292F;
    }
  }
}

.app-footer__row {
  @extend %govuk-body-m;
  display: grid;
  gap: govuk-spacing(4);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
}

.app-footer__secondary {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.app-footer__list {
  padding: 0;
  margin: 0 0 govuk-spacing(2);
  display: flex;
  list-style: none;

}

.app-footer__list-item {
  margin-right: govuk-spacing(2);
}
