{% from "icons/github-icon/macro.njk" import appGithubIcon %}

<footer class="app-footer" role="contentinfo" data-testid="app-footer">

  <div class="app-footer__row">
    <div class="app-footer__primary">
      <p>
        If you have a question, idea or suggestion. Contact the Platform team via Slack
        <a class="app-footer__link" href="{{ supportChannel }}" target="_blank"
           rel="noopener noreferrer">#cdp-support</a>
      </p>

      <ul class="app-footer__list">
        <li class="app-footer__list-item">
          <a href="/documentation" class="app-footer__link">Documentation</a>
        </li>
        <li class="app-footer__list-item">
          <a href="/help/cookie-policy" class="app-footer__link">Cookie policy</a>
        </li>
        <li class="app-footer__list-item">
          <a href="/help/accessibility-statement" class="app-footer__link">Accessibility statement</a>
        </li>
      </ul>

      {% if serviceVersion %}
        <ul class="app-footer__list">
          <li class="app-footer__list-item">
            <a class="app-footer__link"
               href="https://github.com/DEFRA/cdp-portal-frontend/releases/tag/{{ serviceVersion }}"
               target="_blank" rel="noopener noreferrer">{{ serviceVersion }}</a>
          </li>
        </ul>
      {% endif %}
    </div>

    <div class="app-footer__secondary">
      <a class="app-footer__link"
         href="https://github.com/DEFRA/cdp-portal-frontend"
         target="_blank"
         rel="noopener noreferrer">{{ appGithubIcon({
          classes: "app-icon--small",
          description: "CDP Portal Frontend repository on GitHub"
        }) }}</a>
    </div>
  </div>

</footer>
