<footer class="app-footer" role="contentinfo" data-testid="app-footer">
  <div class="govuk-body">
    <p class="govuk-!-margin-0">
      If you have a question, idea or suggestion. Get in touch -
      <a class="app-link-underline app-link--text-colour" href="{{ supportChannel }}" target="_blank"
         rel="noopener noreferrer">#cdp-support</a>
    </p>

    <ul class="app-footer__list">
      <li>
        <a href="/cookies" class="app-link-underline app-link--text-colour">Cookies</a>
      </li>
    </ul>
  </div>
</footer>
