{% from "entity/macro.njk" import appEntity %}

<div class="govuk-grid-row app-heading" data-test-id="app-heading">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"
        data-test-id="app-heading-title">{{ params.text }}</h1>

    {% if params.caption %}
      <span class="govuk-caption-m govuk-!-margin-bottom-4"
            data-test-id="app-heading-caption">{{ params.caption }}</span>
    {% endif %}

    <div class="app-heading-entities">
      {% for entity in params.entities.primary %}
        {{ appEntity(entity) }}
      {% endfor %}
    </div>
  </div>

  <div class="govuk-grid-column-one-half app-heading-secondary-info">
    <div class="app-heading-entities">
      {% for entity in params.entities.secondary %}
        {{ appEntity(entity) }}
      {% endfor %}
    </div>
  </div>
</div>
