.cdp-docs-panel img {
  max-width: 100%;
}

.cdp-docs-panel pre {
  background: #f8f8f8;
  padding: 10px;
}

.cdp-docs-panel .govuk-notification-banner {
  width: fit-content;
  max-width: 75%;
  min-width: 50%;
}

.cdp-doc-alert-note {
  border-color: #1F6FEBFF;
}

.cdp-doc-alert-header-note {
  background-color: #1F6FEBFF;
}

.cdp-doc-alert-tip {
  border-color: #3FB950FF;
}

.cdp-doc-alert-header-tip {
  background-color: #3FB950FF;
}

.cdp-doc-alert-important {
  border-color: #8957E5FF;
}

.cdp-doc-alert-header-important {
  background-color: #8957E5FF;
}

.cdp-doc-alert-warning {
  border-color: #9E6A03FF;
}

.cdp-doc-alert-header-warning {
  background-color: #9E6A03FF;
}

.cdp-doc-alert-caution {
  border-color: #DA3633FF;
}

.cdp-doc-alert-header-caution {
  background-color: #DA3633FF;
}
