@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "helpers/reading-width" as *;
@use "variables/border-radius" as *;

.app-code {
  @include govuk-font(19);
  padding: govuk-spacing(2);
  margin: 0;
  display: block;
  border-radius: $app-border-radius;
  background-color: $app-brand-background-colour-light;
  white-space: pre-wrap;
}

.app-code-hljs {
  border-radius: $app-border-radius;
  white-space: pre-wrap;
}

.app-code-inline {
  @include govuk-font(16);
  font-family: Consolas, Monaco, 'Courier New', monospace;
  padding: 2px 4px;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  border-radius: $app-border-radius;
  background-color: $app-brand-background-colour-light;
}
