@use "govuk-frontend" as *;

// Simple flexbox utils
.app-flex {
  display: block;

  @include govuk-media-query($from: desktop-big) {
    display: flex;
    gap: govuk-spacing(2);
  }
}

.app-flex-center {
  display: flex;
  align-items: center;
}

.app-flex__one {
  & + & {
    margin-top: govuk-spacing(4);
  }

  @include govuk-media-query($from: desktop-big) {
    flex: 1;

    & + & {
      margin-top: 0;
    }
  }
}

.app-align-right {
  margin-left: auto;
}

// Simple CSS grid. Use the govuk-grid if you need a fully functioning grid.
.app-grid {
  display: block;

  @include govuk-media-query($from: desktop-big) {
    display: grid;
    gap: govuk-spacing(2);
  }
}

.app-grid--fluid {
  @include govuk-media-query($from: desktop-big) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
}
