@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-section-break {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $app-brand-border-colour-light;
  padding: 0;
  margin: govuk-spacing(6) 0;
}

.app-section-break--slim {
  margin: 0 0 govuk-spacing(4);
}
