@use "govuk-frontend" as *;

.app-main-wrapper {
  display: block;
  margin-top: -1px; // Align the home page hero with the bottom of the nav
  margin-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(2);
}
