@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-summary__heading {
  width: 20%;
}

.app-summary__action {
  width: 10%;
}

// stylelint-disable max-nesting-depth
.app-summary-list {
  margin-bottom: 0;
  border-bottom: 1px solid $app-brand-background-colour;

  .govuk-summary-list__row {
    border: 1px solid $app-brand-background-colour;
    border-bottom: none;
    vertical-align: middle;
    background-color: govuk-colour("white");
    display: flex;

    .govuk-summary-list__key {
      flex: 1;
      padding-left: govuk-spacing(2);
      border-radius: $app-border-radius-left;
      margin-bottom: 0;
    }

    .govuk-summary-list__value {
      flex: 2;
      border-radius: $app-border-radius-right;
      overflow-wrap: anywhere;
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      vertical-align: middle;
      padding-right: govuk-spacing(2);
    }

    .govuk-summary-list__actions {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $app-brand-background-colour-light;
    }
  }

  &.app-summary-list--resource {
    & + & {
      margin-top: govuk-spacing(4);
    }

    .app-summary-list__key {
      flex: 0.5;
      vertical-align: top;
    }
  }
}
