@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

.app-summary__heading {
  width: 20%;
}

.app-summary__action {
  width: 10%;
}

.app-summary-list {
  margin-bottom: 0;

  .govuk-summary-list__row {
    border: 1px solid $app-brand-background-colour;
    vertical-align: middle;
    background-color: govuk-colour("white");

    .govuk-summary-list__key {
      padding-left: govuk-spacing(2);
      border-radius: $app-border-radius-left;
    }

    .govuk-summary-list__value {
      border-radius: $app-border-radius-right;
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      vertical-align: middle;
      padding-right: govuk-spacing(2);
    }

    &:hover {
      background-color: $app-brand-background-colour-light;
    }
  }
}
