@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "variables/border-radius" as *;

// stylelint-disable max-nesting-depth
.app-table {
  margin: 0;

  .govuk-table__head {
    .govuk-table__row {
      background-color: $app-brand-background-colour-light;

      .govuk-table__header {
        border-bottom: 1px solid $app-brand-background-colour;
        padding: govuk-spacing(2);
      }

      &:hover {
        background-color: $app-brand-background-colour-light;
      }
    }
  }

  .govuk-table__body {
    .govuk-table__row {
      background-color: $app-brand-background-colour-light;

      .govuk-table__cell {
        word-break: break-all;
        padding: govuk-spacing(2);
        border-top: 1px solid $app-brand-background-colour;
        border-bottom: 1px solid $app-brand-background-colour;

        &:first-child {
          border-radius: $app-border-radius-left;
          border-left: 1px solid $app-brand-background-colour;
        }

        &:last-child {
          border-radius: $app-border-radius-right;
          border-right: 1px solid $app-brand-background-colour;
        }
      }

      &:hover {
        background-color: $app-brand-background-colour-light;
      }
    }
  }
}

.app-table--inverse {
  .govuk-table__body {
    .govuk-table__row {
      background-color: govuk-colour("white");
    }
  }
}

// stylelint-enable max-nesting-depth
