@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-task-list {
  .govuk-task-list__item {
    border-bottom: 1px solid $app-grey;
    padding: govuk-spacing(2) govuk-spacing(1);
    background-color: govuk-colour("white");

    &:hover {
      background-color: $app-light-grey;
    }

    &:first-child {
      border-top: none;
    }
  }
}

.app-task-list--no-border {
  .govuk-task-list__item {
    border-bottom: none;
  }
}
