@use "govuk-frontend" as *;
@use "variables/colours" as *;

.app-task-list {
  margin-bottom: 0;
  margin-right: govuk-spacing(2);

  .govuk-task-list__item {
    border-bottom: 1px solid $app-brand-background-colour;
    padding: govuk-spacing(2) govuk-spacing(1);
    background-color: govuk-colour("white");

    &:hover {
      background-color: $app-brand-background-colour-light;
    }

    &:first-child {
      border-top: none;
    }
  }
}

.app-task-list--no-border {
  .govuk-task-list__item {
    border-bottom: none;
  }
}
