{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set errorMessage = "" %}
{% if params.uploads and params.uploads.length == 0 %}
  {% set errorMessage = { text: "Please select at least one file."} %}
{% endif %}

<form method="post" data-js="file-upload">
  <input type="hidden" name="csrfToken" value="{{ params.csrfToken }}" />

  {{ govukFileUpload({
    id: "files",
    name: "files",
    label: {
      html: "Upload files to <strong>" + params.path + "/</strong>"
    },
    javascript: true,
    multiple: true,
    errorMessage: errorMessage
  }) }}

  {{ govukButton({
    classes: "app-button",
    text: "Upload"
  }) }}

</form>
