{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "test-suites/common/components/schedule-row/macro.njk" import scheduleRow %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Scheduled Test Runs",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}

  {% set provideProfileHtml %}
    <h3 class="govuk-heading-s">Enter a value</h3>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ govukInput({
          id: "newProfile",
          name: "newProfile",
          classes: "govuk-input--width-10",
          spellcheck: false,
          errorMessage: errorMessageHelper(formErrors.newProfile.message),
          value: formValues.newProfile
        }) }}
      </div>
    </div>
  {% endset %}

  <section class="govuk-!-margin-top-6">
    {% call appSplitPane() %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop-huge">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2"
              data-testid="automatic-test-runs">
            Scheduled Test Runs
          </h2>
          <p class="govuk-!-margin-bottom-2">
            Automatically trigger the test suite to run on a schedule
          </p>

          {% call appDetails({
            summaryText: "Setting up scheduled test runs"
          }) %}

            <p class="app-!-layout-centered govuk-!-margin-bottom-2">
              {{ appInfoIcon({ classes: "app-icon--tiny", description: "Info" }) }} How to set up scheduled test runs
            </p>

            <ul class="govuk-list govuk-list--number">
              <li>
                Schedule an automatic test run using the form on this page
              </li>
              <li>
                Choose the environments you wish the tests to be triggered on
              </li>
              <li>
                Once this schedule has executed check the test run results
              </li>
            </ul>
          {% endcall %}

          <div class="app-section app-section--extra-wide govuk-!-margin-bottom-9">
            {% call(params) appEntityTable(tableData) %}

              {{ scheduleRow({
                rowClasses: params.rowClasses,
                loopIndex: params.loopIndex,
                serviceId: entity.name,
                id: params.row.id,
                description: params.row.description,
                enabled: params.row.enabled,
                env: params.row.env,
                cpu: params.row.cpu,
                memory: params.row.memory,
                profile: params.row.profile,
                startDate: params.row.startDate,
                endDate: params.row.endDate
              }) | safe }}

            {% endcall %}
          </div>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop-huge">
          <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2"
                data-testid="add-test-run">Schedule Test Run</h2>
            <p>
              Choose a schedule and test suite parameters
            </p>

            <form action="{{ routeLookup('post:test-suites/{serviceId}/automations/schedules/create', { params: { serviceId : entity.name } }) }}"
                  method="post"
                  data-js="app-form-errors">
              <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

              <input type="hidden" name="frequency" value="WEEKLY" />
              <input type="hidden" name="intervalUnit" value="Hours" />
              <input type="hidden" name="intervalValue" value="1" />

              {% call govukFieldset() %}

                {{ govukDateInput({
                  id: "time",
                  namePrefix: "time",
                  fieldset: {
                    legend: {
                      text: "Time",
                      classes: "app-label"
                    }
                  },
                  hint: {
                    text: "What time to run the tests. (24hr, UTC)"
                  },
                  items: [
                    {
                      name: "hour",
                      classes: "govuk-input--width-2",
                      value: formValues['time-hour'],
                      autocomplete: 'off'
                    },
                    {
                      name: "minute",
                      classes: "govuk-input--width-2",
                      value: formValues['time-minute'],
                      autocomplete: 'off'
                    }
                  ],
                  errorMessage: errorMessageHelper(formErrors['time-hour'].message or formErrors['time-minute'].message)
                }) }}


                {{ govukCheckboxes({
                  name: "daysOfTheWeek",
                  classes: "govuk-checkboxes--small app-checkboxes days-of-the-week",
                  items: formValues.daysOfTheWeekOptions,
                  values: formValues.daysOfTheWeek,
                  fieldset: {
                    legend: {
                      text: "Days of the week",
                      classes: "app-label"
                    }
                  },
                  hint: {
                    text: "Which days of the week to run the tests",
                    classes: "app-hint"
                  },
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  errorMessage: errorMessageHelper(formErrors.daysOfTheWeek.message)
                }) }}


                {{ govukSelect({
                  id: "environment",
                  name: "environment",
                  label: {
                    text: "Environment",
                    classes: "app-label"
                  },
                  classes: "app-select",
                  hint: {
                    text: "The environment to run your tests against",
                    classes: "app-hint"
                  },
                  value: formValues.environment,
                  items: formValues.environmentOptions,
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  errorMessage: errorMessageHelper(formErrors.environment.message)
                }) }}

                {{ govukRadios({
                  idPrefix: "provideProfile",
                  name: "provideProfile",
                  classes: "govuk-radios--small app-radios",
                  fieldset: {
                    legend: {
                      text: "Profile",
                      classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
                    }
                  },
                  hint: {
                    text: "Do you want to provide a profile value for the test runner?",
                    classes: "app-hint"
                  },
                  errorMessage: errorMessageHelper(formErrors.provideProfile.message),
                  items: [
                    {
                      value: true,
                      text: "Yes",
                      checked: formValues.provideProfile === 'true',
                      conditional: {
                        html: provideProfileHtml
                      }
                    },
                    {
                      value: false,
                      text: "No",
                      checked: formValues.provideProfile === 'false'
                    }
                  ]
                }) }}

                {{ govukRadios({
                  name: "configuration",
                  classes: "govuk-radios--small app-radios",
                  fieldset: {
                    legend: {
                      text: "Configuration",
                      classes: "govuk-label app-label"
                    }
                  },
                  hint: {
                    text: "Test runner configuration, choose CPU size and memory allocation",
                    classes: "app-hint"
                  },
                  value: formValues.configuration,
                  items: formValues.runnerConfigOptions,
                  formGroup: {
                    classes: "app-form-group app-form-group-js"
                  },
                  errorMessage: errorMessageHelper(formErrors.configuration.message)
                }) }}

              {% endcall %}

              {{ appButton({
                text: "Add",
                loader: {
                  name: "run-submit-button"
                }
              }) }}

            </form>
          </section>

        </div>
      </div>

    {% endcall %}

  </section>
{% endblock %}
