{% extends "layouts/tabbed-page.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "test-suites/common/components/schedule-row/macro.njk" import scheduleRow %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Update Schedule",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
<section class="govuk-!-margin-top-6">
  {% call appSplitPane() %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">
        <div data-testid="remove-test-run">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="remove-test-run-heading">
            Update Schedule
          </h2>
          <p class="govuk-!-margin-bottom-2">
            Update the following schedule for the test suite:
          </p>

          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Test Suite</h3>
          <p class="govuk-!-margin-bottom-2">
            <a
              href="{{ routeLookup('test-suites/{serviceId}', { params: { serviceId : entity.name } }) }}"
              class="govuk-link app-link">
              {{ entity.name }}
            </a>
          </p>

          <form action="/test-suites/{{ entity.name }}/automations/schedules/{{ schedule.id }}/remove" method="post">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

            <input type="hidden" name="frequency" value="WEEKLY" />

            {% call govukFieldset() %}

              {{ govukDateInput({
                id: "time",
                namePrefix: "time",
                fieldset: {
                  legend: {
                    text: "Time",
                    classes: "app-label"
                  }
                },
                hint: {
                  text: "What time to run the tests. (24hr, UTC)"
                },
                items: [
                  {
                    name: "hour",
                    classes: "govuk-input--width-2 govuk-input--error" if (formErrors['time-hour'].message) else "govuk-input--width-2",
                    value: formValues['time-hour'],
                    autocomplete: 'off'
                  },
                  {
                    name: "minute",
                    classes: "govuk-input--width-2 govuk-input--error" if (formErrors['time-minute'].message) else "govuk-input--width-2",
                    value: formValues['time-minute'],
                    autocomplete: 'off'
                  }
                ],
                errorMessage: errorMessageHelper(formErrors['time-hour'].message or formErrors['time-minute'].message)
              }) }}


              {{ govukCheckboxes({
                name: "daysOfTheWeek",
                classes: "govuk-checkboxes--small app-checkboxes days-of-the-week",
                items: formValues.daysOfTheWeekOptions,
                values: formValues.daysOfTheWeek,
                fieldset: {
                  legend: {
                    text: "Days of the week",
                    classes: "app-label"
                  }
                },
                hint: {
                  text: "Which days of the week to run the tests",
                  classes: "app-hint"
                },
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                errorMessage: errorMessageHelper(formErrors.daysOfTheWeek.message)
              }) }}


              {{ govukSelect({
                id: "environment",
                name: "environment",
                label: {
                  text: "Environment",
                  classes: "app-label"
                },
                classes: "app-select",
                hint: {
                  text: "The environment to run your tests against",
                  classes: "app-hint"
                },
                value: formValues.environment,
                items: formValues.environmentOptions,
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                errorMessage: errorMessageHelper(formErrors.environment.message)
              }) }}

              {{ govukRadios({
                idPrefix: "provideProfile",
                name: "provideProfile",
                classes: "govuk-radios--small app-radios",
                fieldset: {
                  legend: {
                    text: "Profile",
                    classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
                  }
                },
                hint: {
                  text: "Do you want to provide a profile value for the test runner?",
                  classes: "app-hint"
                },
                errorMessage: errorMessageHelper(formErrors.provideProfile.message),
                items: [
                  {
                    value: true,
                    text: "Yes",
                    checked: formValues.provideProfile === 'true',
                    conditional: {
                      html: provideProfileHtml
                    }
                  },
                  {
                    value: false,
                    text: "No",
                    checked: formValues.provideProfile === 'false'
                  }
                ]
              }) }}

              {{ govukRadios({
                name: "configuration",
                classes: "govuk-radios--small app-radios",
                fieldset: {
                  legend: {
                    text: "Configuration",
                    classes: "govuk-label app-label"
                  }
                },
                hint: {
                  text: "Test runner configuration, choose CPU size and memory allocation",
                  classes: "app-hint"
                },
                value: formValues.configuration,
                items: formValues.runnerConfigOptions,
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                errorMessage: errorMessageHelper(formErrors.configuration.message)
              }) }}

            {% endcall %}

            <div class="govuk-body govuk-button-group govuk-!-margin-top-7">
              {{ govukButton({
                classes: "app-button",
                text: "Update"
              }) }}

              <a class="app-link" href="{{ routeLookup('test-suites/{serviceId}/automations', {
                params: { serviceId: entity.name }
              }) }}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

  {% endcall %}
</section>
{% endblock %}
