{#
Renders an entity-table row cell

@param {string} headers - table cell headers attribute value
@param {boolean} isOwner - Does the current user own this service
#}
{% macro appEntityTableCell(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
headers: "owner", isOwned: true, isCentered: true
