{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Home</h1>

      <p>Welcome to the {{ serviceName }}</p>

    </div>
  </div>
{% endblock %}
