{% extends "layouts/page.njk" %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "To the place for all doing all the things."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This is the {{ serviceName }}, where you can do everything! 🚀</p>
    </div>
  </div>
{% endblock %}
