<time datetime="{{ params.datetime }}" title="{{ params.datetime | formatDate }}"
      data-testid="app-time">
  {% if params.withSeconds %}
    {{ params.datetime | relativeDate(params.withSeconds) }}
  {% else %}
    {{ params.datetime | relativeDate }}
  {% endif %}
</time>


