{% from "tool-tip/macro.njk" import appToolTip %}

{% set content %}
  {% if params.text %}
    {{ params.text }}
  {% elseif params.withSeconds %}
    {{ params.datetime | relativeDate(params.withSeconds) }}
  {% else %}
    {{ params.datetime | relativeDate }}
  {% endif %}
{% endset %}

{% set timeHtml %}
  <time{% if params.classes %} class="{{ params.classes }}"{% endif %}
    datetime="{{ params.datetime }}"
    data-testid="app-time">
    {{ content }}
  </time>
{% endset %}

{% if params.withoutTooltip %}
  {{ timeHtml | safe }}
{% else %}
  {% call appToolTip({ text: params.datetime | formatDate }) %}
    {{ timeHtml | safe }}
  {% endcall %}
{% endif %}



