<time datetime="{{ params.datetime }}"
      data-testid="app-time">
  {% if params.formatString %}
    {{ params.datetime | formatDate(params.formatString) }}
  {% else %}
    {{ params.datetime | formatDate }}
  {% endif %}
</time>


