{% from "time/macro.njk" import appTime %}

<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="description" class="app-entity-table__cell" data-label="description">
    {{ params.description }}
  </td>
  <td headers="env" class="app-entity-table__cell" data-label="env">
    {{ params.env }}
  </td>
  <td headers="startDate" class="app-entity-table__cell" data-label="startDate">
    {{ appTime({ datetime: params.startDate }) }}
  </td>
  <td headers="endDate" class="app-entity-table__cell" data-label="endDate">
    {{ appTime({ datetime: params.endDate }) }}
  </td>
</tr>
