<tr class="{{ params.rowClasses }}" data-testid="app-entity-table-row-{{ params.loopIndex }}">
  <td headers="id" class="app-entity-table__cell" data-label="id">
    {{ params.id }}
  </td>
  <td headers="env" class="app-entity-table__cell" data-label="env">
    {{ params.env }}
  </td>
</tr>
