{% from "panel/macro.njk" import appPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-grid-column-one-half">
  <h3 class="govuk-heading-l govuk-!-margin-bottom-4" id="dashboards">
    Dashboards
  </h3>

  {% call appPanel({
    classes: "govuk-!-margin-bottom-6"
  }) %}
    {{ govukTable({
      classes: "app-table app-table--inverse govuk-!-margin-top-3 govuk-!-margin-bottom-3",
      head: [
        { text: "Type" },
        { text: "Name" },
        { text: "Version" }
      ],
      rows: createDashboardRows(metrics)
    }) }}

  {% endcall %}

  {% call appPanel() %}
    <div class="app-flex-center govuk-!-margin-bottom-3">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
      Dashboards playground
      </h3>
      {% if environment == 'infra-dev' %}
      <span class="app-align-right">
        <a href="/" class="app-link app-link--underline">Promote</a>
      </span>
      {% endif %}
    </div>

    <p class="govuk-!-margin-bottom-3">
      Custom dashboards are managed in the the playground and promoted up to the other environments.  View the <a href="/documentation/how-to/monitoring.md#creating-custom-dashboards" target="_blank" rel="noopener noreferrer">CDP documentation</a>.
    </p>

    {% if environment == 'infra-dev' %}

      {{ govukTable({
        classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
        head: [
          { text: "Type" },
          { text: "Dashboard" },
          { text: "Version" }
        ],
        rows: []
      }) }}

      {% else %}

        {{ appInfo({ html: "Switch to the <a href='./infra-dev#dashboards'>Dev</a> environment to view the playground dashboards", isInverse: true}) }}

      {% endif %}

  {% endcall %}
</div>
