{% extends "layouts/page.njk" %}

{% from "icons/schema-icon/macro.njk" import appSchemaIcon %}
{% from "time/macro.njk" import appTime %}
{% from "tag/macro.njk" import appTag %}

{% set latestDbChangelogTableRows = [] %}
{% for dbChange in latestDbChanges %}

  {% set createdHtml %}
    <div class="app-row">
      {{ appSchemaIcon({ classes: "app-icon--small", description: "Database changelog " + dbChange.version }) }}
      {{ appTime({ datetime: dbChange.created, classes: "govuk-!-margin-left-2" }) }}
    </div>
  {% endset %}

  {% set changelogVersionLinkHtml %}
    <a class="app-link"
       href="https://github.com/DEFRA/{{ serviceName }}/releases/tag/{{ dbChange.version }}"
       target="_blank" rel="noopener noreferrer" data-testid="latest-migration-version-link">
      {{ dbChange.version }}
    </a>
  {% endset %}

  {% set kind %}
    {{ appTag({ text: dbChange.kind | title }) }}
  {% endset %}

  {{ latestDbChangelogTableRows.push([
    { html: createdHtml },
    { html: changelogVersionLinkHtml },
    { html: kind }
  ]) }}
{% endfor %}

{% block content %}

  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appPageHeading({
      caption: "Apply changelog",
      text: "Details",
      intro: "Provide the microservice name, database changelog version and environment you wish to apply your
      database changes to"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop-wide">
        <form action="/apply-changelog/change-details{% if multiStepFormId %}/{{ multiStepFormId }}{% endif %}"
              method="post"
              data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}" />

          {% call govukFieldset() %}

            {{ appAutocomplete({
              id: "service-name",
              name: "serviceName",
              label: {
                text: "Microservice name",
                classes: "app-label"
              },
              hint: {
                text: "Microservice connected to the database you want to update"
              },
              value: serviceName or formValues.serviceName,
              errorMessage: errorMessageHelper(formErrors.serviceName.message),
              suggestions: postgresImageNameOptions,
              siblingDataFetcher: {
                name: "fetchMigrations",
                target: "db-update-version",
                targetLoader: "db-update-version-loader"
              },
              publishTo: eventName.autocompleteUpdate + "db-update-version"
            }) }}

            {% call appAutocomplete({
              id: "version",
              name: "version",
              label: {
                text: "Changelog version",
                classes: "app-label"
              },
              hint: {
                text: "Database changelog version to apply to your database"
              },
              template: "advanced",
              value: formValues.version,
              dataJs: "db-update-version",
              subscribeTo: eventName.autocompleteUpdate + "db-update-version",
              noSuggestionsMessage: "choose Image name",
              errorMessage: errorMessageHelper(formErrors.version.message),
              suggestions: dbChangeOptions,
              loader: {
                name: "db-update-version-loader"
              }
            }) %}

              {{ govukButton({
                classes: "app-button app-button--secondary js-hidden",
                text: "Search",
                name: "button",
                value: "search",
                attributes: {
                  "data-js": "app-no-js-submit-button"
                }
              }) }}

            {% endcall %}

            {{ govukSelect({
              id: "environment",
              name: "environment",
              label: {
                text: "Environment",
                classes: "app-label"
              },
              classes: "app-select",
              value: formValues.environment,
              hint: {
                text: "The environment to run your database changelog update on",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: errorMessageHelper(formErrors.environment.message),
              items: environmentOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText | capitalize,
            name: "button",
            value: formButtonText | lower
          }) }}

        </form>
      </div>

      {% block xhrContent %}
        <div class="govuk-grid-column-two-thirds-from-desktop-wide">
          {% call appXhrSubscriber({
            id: "apply-changelog",
            subscribeTo: eventName.autocompleteUpdate + "db-update-version",
            xhrUrl: "/apply-changelog/change-details"
          }) %}

            {% call appPanel() %}
              <section class="app-row">
                <div class="app-row__item-flex-two">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Latest Database Changelogs</h2>
                  <p>
                    Latest database changelogs available{%- if serviceName %} for {{ serviceName }}{% endif -%}
                  </p>

                  <div class="app-section">
                    {% if latestDbChangelogTableRows | length %}
                      {{ govukTable({
                        classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
                        head: [{ text: "Created" }, { text: "Version" }, { text: "Kind" }],
                        rows: latestDbChangelogTableRows
                      }) }}
                    {% endif %}
                  </div>
                </div>
              </section>
            {% endcall %}

            {% call appPanel() %}
              <section class="app-row">
                <div class="app-row__item-flex-two">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Database Details</h2>
                  <p class="govuk-!-margin-bottom-2">
                    Currently, applied database changes{%- if serviceName %} for {{ serviceName }}{% endif -%}
                  </p>

                  {% if serviceName %}
                    <div class="app-section app-section--extra-wide">
                      {{ appDatabaseDetail({
                        serviceName: serviceName,
                        databaseDetails: latestMigrations,
                        environments: environments
                      }) }}
                    </div>
                  {% endif %}
                </div>
              </section>
            {% endcall %}

            {% call appPanel() %}
              <section class="app-row">
                <div class="app-row__item-flex-two">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Running Services</h2>
                  <p class="govuk-!-margin-bottom-2">
                    Currently, deployed Image versions{%- if serviceName %} for {{ serviceName }}{% endif -%}
                    {% if serviceName %}
                      For more information view <a class="app-link" href="/running-services/{{ serviceName }}">
                      Running services
                    </a>
                    {% endif %}
                  </p>

                  {% if serviceName %}
                    <div class="app-section app-section--extra-wide">
                      {{ appRunningService({
                        runningServices: runningServices,
                        environments: environments
                      }) }}
                    </div>
                  {% endif %}
                </div>
              </section>
            {% endcall %}

          {% endcall %}
        </div>
      {% endblock %}

    </div>
  </div>

{% endblock %}
