{% macro appProgress(params) %}
  <app-progress
    data-progress="{{ params.progress }}"
    data-complete="{{ params.complete }}"
    data-total="{{ params.total }}"
  >
    {%- include "./template.njk" -%}
  </app-progress>
{% endmacro %}
