<div class="app-progress">
  <div class="app-progress__bar">
    <span class="app-progress__indicator" style="width: {{ params.progress }}%;"></span>
  </div>
  <div class="app-progress__readout">
    {{ params.complete }} / {{ params.total }}
  </div>
</div>
