{% extends "layouts/page.njk" %}

{% from "read-out/macro.njk" import appReadOut %}

{% block content %}

  {{ appHeading({
    title: heading,
    caption: "Create a new Micro-service Code Repository and Infrastructure."
  }) }}

  {% call appPageBody() %}
    <form action="{{ appPathPrefix }}/create-service" method="post" data-js="app-form-errors">

      {% call govukFieldset({
        legend: {
          text: "Enter your new service details",
          classes: "govuk-fieldset__legend--m"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "Repository name",
            classes: "govuk-!-margin-bottom-0"
          },
          id: "repository-name",
          name: "repositoryName",
          classes: "app-input app-input--wide",
          hint: {
            text: "Use lowercase words with hypen seperators",
            classes: "govuk-!-margin-bottom-1"
          },
          formGroup: {
            classes: "app-form-group app-form-group-js"
          },
          value: values.repositoryName,
          attributes: {
            "data-js": "app-read-out",
            "data-target-id": "repository-name-read-out"
          },
          errorMessage: {
            text: errors.repositoryName.message,
            classes: "govuk-!-margin-bottom-1 app-error-message",
            attributes: {
              "data-js": "app-error"
            }
          } if errors.repositoryName.message
        }) }}

        {{ appReadOut({
          description: "Your repository name will be ",
          targetId: "repository-name-read-out"
        }) }}


        {{ govukSelect({
          id: "service-type",
          name: "serviceType",
          label: {
            text: "Service Type",
            classes: "govuk-!-margin-bottom-0"
          },
          classes: "app-select",
          hint: {
            text: "The template your service is created from",
            classes: "govuk-!-margin-bottom-1"
          },
          formGroup: {
            classes: "app-form-group app-form-group-js"
          },
          value: values.serviceType,
          errorMessage: {
            text: errors.serviceType.message,
            classes: "govuk-!-margin-bottom-1 app-error-message",
            attributes: {
              "data-js": "app-error"
            }
          } if errors.serviceType.message,
          items: serviceTypesOptions
        }) }}

        {{ govukSelect({
          id: "owning-team",
          name: "owningTeam",
          label: {
            text: "Owning Team",
            classes: "govuk-!-margin-bottom-0"
          },
          classes: "app-select",
          value: values.owningTeam,
          hint: {
            text: "The team that owns your service",
            classes: "govuk-!-margin-bottom-1"
          },
          formGroup: {
            classes: "app-form-group app-form-group-js"
          },
          errorMessage: {
            text: errors.owningTeam.message,
            classes: "govuk-!-margin-bottom-1 app-error-message",
            attributes: {
              "data-js": "app-error"
            }
          } if errors.owningTeam.message,
          items: teamsOptions
        }) }}
      {% endcall %}

      {{ appButton({
        text: "Create",
        loader: {
          name: "create-submit-button"
        }
      }) }}

    </form>

  {% endcall %}

{% endblock %}
