{% extends "layouts/page.njk" %}

{% from "icons/info-icon/macro.njk" import appInfoIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}
{% from "icons/question-icon/macro.njk" import appQuestionIcon %}

{% set termsAndConditionsHtml %}
  I <strong>{{ grantingUser.displayName }}</strong> have understood and completed the compliance requirements. I agree
  with the above and wish to grant <strong>{{ user.name }}</strong> immediate prod access
{% endset %}

{% set warningInfoHtml %}
  <p class="govuk-!-margin-bottom-0">
    Working with a live service in production is an incredibly serious matter. For this reason all activity will be
    logged for audit purposes. Misuse or failure to meet compliance requirements may result in disciplinary action
    and/or legal consequences.
  </p>
{% endset %}

{% block content %}

  {{ appPageHeading({
    caption: "Grant prod access to",
    text: user.name,
    intro: "Grant prod access to " + user.name + " in the " + team.name + " team for the next 2 hours"
  }) }}

  <hr class="app-section-break govuk-!-margin-0">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop-wide">

      <section class="app-section">

        {{ appWarning({
          html: warningInfoHtml,
          classes: "govuk-!-margin-bottom-6"
        }) }}

        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
          Granting prod access
        </h2>

        <p class="govuk-!-margin-bottom-2">
          This form is used to grant temporary prod access to users who have valid UK Government Security Clearance
          (SC).
          Granting temporary prod access here will allow {{ user.name }} to access any of the services owned by the
          <a href="{{ routeLookup('teams/{teamId}', { params: { teamId: team.teamId } }) }}"
             class="app-link app-link--underline" data-testid="admin-add-team-member">
            {{ team.name }} team
          </a> in prod via the CDP Terminal.
        </p>

        <p>
          Access will last for 2 hours and will then automatically expire. All activity will be logged for audit
          purposes. Misuse may result in disciplinary action and/or legal consequences.
          For more information on prod access, see <a href="/documentation/how-to/temp-terminal-prod-access.md"
                                                      class="govuk-link app-link app-link--underline"
                                                      target="_blank" rel="noopener noreferrer">
            production access documentation</a>.
        </p>

        <p class="govuk-!-margin-bottom-2">
          The completion and submission of this form is a formal declaration that:
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>
            I <strong>{{ grantingUser.displayName }}</strong>
          </li>
          <li>
            Wish to grant <strong>{{ user.name }}</strong> prod access, via the CDP Terminal
          </li>
          <li>
            To the services owned by the <a href="{{ routeLookup('teams/{teamId}', {
              params: { teamId : team.teamId }
            }) }}" class="govuk-link app-link app-link--underline">{{ team.name }} team</a>. Of which {{ user.name }}
            is a member of
          </li>
          <li>
            For the next 2 hours
          </li>
        </ul>

        <hr class="app-section-break">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
          Compliance Requirements
        </h2>

        <p class="app-!-layout-centered govuk-!-margin-bottom-2">
          {{ appInfoIcon({
            classes: "app-icon--tiny govuk-!-margin-right-1",
            description: "I understand"
          }) }} I understand that:
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>
            All activity will be logged for audit purposes
          </li>
          <li>
            Misuse may result in disciplinary action and/or legal consequences
          </li>
          <li>
            Access to prod for {{ user.name }} will start immediately after this form has been submitted
          <li>
            Access will last for 2 hours and will then automatically expire
          </li>
          <li>
            If the prod access permission needs to be removed before automatic expiry. This can be done via the
            <a href="{{ routeLookup('teams/{teamId}', {
              params: { teamId: team.teamId }
            }) }}" class="govuk-link app-link app-link--underline">{{ team.name }} teams</a> page
          </li>
        </ul>

        <hr class="app-section-break">

        <p class="app-!-layout-centered govuk-!-margin-bottom-2">
          {{ appTickIcon({
            classes: "app-icon--tiny govuk-!-margin-right-1",
            description: "I confirm"
          }) }} To confirm:
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>
            I <strong>{{ grantingUser.displayName }}</strong> hold a valid SC
          </li>
          <li>
            I have confirmed via Defra's security vetting organisation
            <a href="mailto:SecurityVetting@defra.gov.uk"
               class="govuk-link app-link app-link--underline">SecurityVetting@defra.gov.uk</a> that a valid SC is also
            held by <strong>{{ user.name }}</strong>
          </li>
          <li>
            The work is necessary and cannot be deferred or completed in another way
          </li>
          <li>
            I have documented the reason for access below
          </li>
        </ul>

        <hr class="app-section-break">

        {# TODO - where is the reason going to be put? - need to have a think about auditing #}
        <form action="{{ routeLookup('post:teams/{teamId}/grant-prod-access/{userId}',
          { params: {
            teamId: team.teamId,
            userId: user.userId
          } }) }}"
              method="post"
              data-js="app-form-errors">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

          {% call govukFieldset() %}
            {{ govukTextarea({
              label: {
                text: "Reason",
                classes: "app-label"
              },
              hint: {
                html: "Why are you granting prod access for " + user.name + "?",
                classes: "app-hint"
              },
              id: "reason",
              name: "reason",
              classes: "app-textarea app-textarea--wide",
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              value: formValues.reason,
              errorMessage: errorMessageHelper(formErrors.reason.message)
            }) }}
          {% endcall %}

          {% call govukFieldset() %}
            {% set iAgreeCheckbox %}
              {{ govukCheckboxes({
                name: "iAgree",
                classes: "govuk-checkboxes--small",
                items: [ { value: "yes", html: termsAndConditionsHtml } ],
                values: formValues.iAgree,
                formGroup: {
                  classes: "app-form-group app-form-group-js"
                },
                errorMessage: errorMessageHelper(formErrors.iAgree.message)
              }) }}
            {% endset %}

            {{ govukRadios({
              name: "complianceRequirements",
              classes: "govuk-radios--small app-radios",
              fieldset: {
                legend: {
                  text: "Have all compliance requirements been completed?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "no",
                  text: "No",
                  checked: true
                },
                {
                  value: "yes",
                  text: "Yes",
                  conditional: { html: iAgreeCheckbox }
                }
              ],
              value: formValues.complianceRequirements,
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: errorMessageHelper(formErrors.complianceRequirements.message)
            }) }}
          {% endcall %}

          <div class="govuk-body govuk-button-group">
            {{ govukButton({
              classes: "app-button",
              text: "Grant access"
            }) }}

            <a class="app-link" href="/teams/{{ team.teamId }}">Cancel</a>
          </div>
        </form>
      </section>
    </div>
  </div>

{% endblock %}
