{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "time/macro.njk" import appTime %}

<li class="app-card govuk-list govuk-!-margin-bottom-6">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
            <a class="govuk-heading-m app-card-item" href="{{ params.id }}">{{ params.serviceName }}</a>
            <div class="app-card-item">
                <span class="govuk-body-s app-card-hint"">Version:</span> {{ params.version }}
            </div>
            <div class="app-card-item">
                <span class="govuk-body-s app-card-hint"">Environment:</span>
                {{ govukTag({
                    text: params.targetEnvironment,
                    classes: "govuk-tag--grey"
                }) }}
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="app-card-item">
                <span class="govuk-body-s app-card-hint">Status:</span>
                {{ govukTag({
                    text: params.deploymentStatus,
                    classes: "govuk-tag--green" if params.deploymentStatus | lower == "deployed"
                }) }}
            </div>
            <div class="app-card-item">
                <span class="govuk-body-s app-card-hint"">On:</span>
                {{ appTime({
                    datetime: params.timestamp,
                    text: params.timestamp | formatDate
                }) }}
            </div>
            <div class="app-card-item">
                <span class="govuk-body-s app-card-hint"">By:</span>
                {{ params.triggeredByUserId }}
            </div>
        </div>
    </div>
</li>
