{% extends "layouts/tabbed-page.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "icons/file-icon/macro.njk" import appFileIcon %}
{% from "icons/folder-icon/macro.njk" import appFolderIcon %}
{% from "icons/open-folder-icon/macro.njk" import appOpenFolderIcon %}
{% from "progress/macro.njk" import appProgress %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Files",
    text: entity.name
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}
  <section class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Files</h2>
          <p class="govuk-!-margin-bottom-6">
            Manage data files assosiated with <strong>{{entity.name}}</strong>, including uploading and downloading.
          </p>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">

              {% call appPanel({ isInverse: true }) %}

                <ul class="govuk-list govuk-list--bullet" style="height: 27rem;">
                  <li style="list-style-type: disclosure-open;">
                    <span style="display: flex; gap: 5px;">{{ appOpenFolderIcon({ classes: "app-icon--small" }) }}<a href="./">/</a></span>

                    <ul class="govuk-list govuk-list--bullet">
                      <li style="list-style-type: disclosure-open;">
                        <span style="display: flex; gap: 5px;">{{ appFolderIcon({ classes: "app-icon--small" }) }}<a href="./exports">exports</a></span>
                      </li>

                      <li style="list-style-type: disclosure-open;">
                        <span style="display: flex; gap: 5px;">{{ appOpenFolderIcon({ classes: "app-icon--small" }) }}<strong><a href="./imports">imports</a></strong></span>

                        <ul class="govuk-list govuk-list--bullet">
                          <li style="list-style-type: disclosure-closed;">
                            <span style="display: flex; gap: 5px;">{{ appFolderIcon({ classes: "app-icon--small" }) }}<a href="./imports/batch-one">batch-one</a></span>
                          </li>
                        </ul>
                      </li>

                    </ul>

                  </li>
                </ul>

              {% endcall %}

            </div>

            <div class="govuk-grid-column-three-quarters">

                {{ govukTable({
                  classes: "app-table app-table--inverse govuk-!-margin-bottom-8",
                  head: [
                    { text: "Name" },
                    { text: "Size" },
                    { text: "Modified" },
                    { text: "Actions" }
                  ],
                  rows: [
                    [ { html: "<span style='display: flex; gap: 5px;'>" + appOpenFolderIcon({ classes: "app-icon--small" }) + "<a href='/'>..</a>" + "</span>" }, { text: '- - -' }, { text: '2026-07-08:13:42:42' }, { html: '<a class="app-link app-link--underline" href="/">New Folder</a>'} ],
                    [ { html: "<span style='display: flex; gap: 5px;'>" + appFolderIcon({ classes: "app-icon--small" }) + "<a href='/'>batch-one</a>" + "</span>"}, { text: '- - -' }, { text: '2026-07-08:13:42:42' }, { html: '<a class="app-link app-link--underline" href="/">Rename</a>&nbsp;&nbsp;<a class="app-link app-link--underline" href="/">Move</a>&nbsp;&nbsp;<a class="app-link app-link--underline" href="/">Delete</a>' } ],
                    [ { html: "<span style='display: flex; gap: 5px;'>" + appFileIcon({ classes: "app-icon--small" }) + "my-file.json" + "</span>" }, { text: '12.5K' }, { text: '2026-07-08:13:42:42' }, { html: '<a class="app-link app-link--underline" href="/">Download</a>&nbsp;&nbsp;<a class="app-link app-link--underline" href="/">Rename</a>&nbsp;&nbsp;<a class="app-link app-link--underline" href="/">Move</a>&nbsp;&nbsp;<a class="app-link app-link--underline" href="/">Delete</a>' } ]
                  ]
                }) }}

                <form action="/upload" method="post">
                  <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
                  <input type="hidden" name="teamId" value="{{ create.teamId }}" />

                  {{ govukFileUpload({
                    id: "file-upload-1",
                    name: "fileUpload1",
                    label: {
                      html: "Upload files to <strong>/imports</strong>"
                    },
                    javascript: true,
                    multiple: true
                  }) }}

                  {{ appButton({
                    text: "Upload",
                    loader: {
                      name: "upload-button"
                    }
                  }) }}

                </form>

                <!--{% call appPanel({ withHighlight: true }) %}

                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Uploading 2 files</h3>

                  {% call appWarning({
                    classes: "govuk-!-margin-bottom-5 app-warning--inverse"
                  }) %}
                    Do not navigate away from this page while uploading.
                  {% endcall %}

                  {{ govukTable({
                    classes: "app-table app-table--inverse govuk-!-margin-bottom-3",
                    head: [
                      { text: "Name" },
                      { text: "Progress" },
                      { text: "Actions" }
                    ],
                    rows: [
                      [
                        { text: 'big-data-file.sql.gz'},
                        { html: appProgress({
                          progress: 45, complete: "450 MB", total: "1000 MB"
                          })
                        },
                        { html: appButton({ text: 'Cancel', classes: 'app-button--small govuk-button--warning' }) }
                      ],
                      [
                        { text: 'small-data-file.sql.gz'},
                        { html: appProgress({
                          progress: 100, complete: "100 MB", total: "100 MB"
                          })
                        },
                        { html: appTag({ text: 'Complete', classes: "govuk-tag--green" }) }
                      ]
                    ]
                  }) }}

                {% endcall %}-->

            </div>
          </div>

      </div>
    </div>
  </section>
{% endblock %}
