{% extends "layouts/page.njk" %}

{% from "availability/macro.njk" import appAvailability %}

 {% set repoVisibilityHelpHtml %}
   <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Visibility</h2>

   <ul class="govuk-list govuk-list--bullet">
     <li>
       <strong>Public</strong> - Visible to everybody on the Internet. DEFRA promotes coding in the
       open, repositories should be public by default.
     </li>
     <li>
       <strong>Internal</strong> - Visible to everybody that is a member of the
       <a class="app-link"
          href="https://github.com/DEFRA"
          target="_blank"
          rel="noopener noreferrer">DEFRA
         GitHub Organisation</a>.
     </li>
     <li>
       <strong>Private</strong> - Visible to members of the owning team only. This should be used in
       exceptional cases.
     </li>
   </ul>

   <p class="govuk-!-margin-bottom-2">For more information see:</p>

   <ul class="govuk-list govuk-list--bullet">
     <li class="govuk-!-margin-bottom-1">
       <a class="app-link"
          href="https://www.gov.uk/service-manual/technology/making-source-code-open-and-reusable"
          target="_blank" rel="noopener noreferrer">GDS Service Manual - Making source code open and reusable</a>
     </li>
     <li class="govuk-!-margin-bottom-1">
       <a class="app-link"
          href="https://docs.github.com/en/enterprise-cloud@latest/repositories/creating-and-managing-repositories/about-repositories#about-repository-visibility"
          target="_blank" rel="noopener noreferrer">GitHub - About repository visibility</a>
     </li>
   </ul>
 {% endset %}

{% block content %}
  {{ appStepNavigation(stepNavigation) }}

  <div class="govuk-main-wrapper app-main-wrapper">

    {{ appHeading({
      title: heading,
      caption: "Create a new code repository."
    }) }}

    <div class="govuk-grid-row">
      <div class="app-grid-column-one-third-from-desktop-wide">
        <form action="/create/repository/detail" method="post" data-js="app-form-errors"
              class="govuk-!-margin-bottom-4">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />
          <input type="hidden" name="redirectLocation" value="{{ redirectLocation }}" />

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Name",
                classes: "app-label"
              },
              id: "name",
              name: "repositoryName",
              classes: "app-input app-input--wide",
              hint: {
                html: "Lowercase letters, numbers and hyphens. Maximum 32 characters. E.g.
                <em>seaweed-documentation</em>",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.repositoryName,
              attributes: {
                "data-js": "app-availability app-input-assistant",
                "data-availability-target-id": "repository-name-availability",
                "data-input-assistant-target-id": "name-input-assistant",
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.repositoryName.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.repositoryName.message,
              suffix: {
                classes: "app-input__suffix",
                html: appAvailability({
                  dataFetcher: "fetchIsNameAvailable",
                  targetId: "repository-name-availability"
                })
              }
            }) }}

            {{ appInputAssistant({
              message: "That name is not ideal. Read ‘Naming best practices’ for some tips",
              targetId: "name-input-assistant"
            }) }}

            {{ govukSelect({
              id: "repository-visibility",
              name: "repositoryVisibility",
              label: {
                text: "Visbility",
                classes: "app-label"
              },
              classes: "app-select",
              hint: {
                html: "Choose your new repository's visibility",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              value: formValues.repositoryVisibility,
              errorMessage: {
                text: formErrors.repositoryVisibility.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.repositoryVisibility.message,
              items: visibilityOptions
            }) }}

            {{ govukSelect({
              id: "team-id",
              name: "teamId",
              label: {
                text: "Owning Team",
                classes: "app-label"
              },
              classes: "app-select",
              value: formValues.teamId,
              hint: {
                text: "The CDP team that owns your repository",
                classes: "app-hint"
              },
              formGroup: {
                classes: "app-form-group app-form-group-js"
              },
              errorMessage: {
                text: formErrors.teamId.message,
                classes: "app-error-message",
                attributes: {
                  "data-js": "app-error"
                }
              } if formErrors.teamId.message,
              items: teamsOptions
            }) }}

          {% endcall %}

          {{ govukButton({
            classes: "app-button",
            text: formButtonText
          }) }}

        </form>
      </div>

      <div class="app-grid-column-one-third-from-desktop-wide">
        <div class="govuk-!-margin-bottom-4">
          {{ appNamingAdvice({
            kind: "repository",
            categories: [
              "library",
              "helpers",
              "documentation",
              "scripts"
            ]
          } ) }}
        </div>

        {{ appInfo({
          html: repoVisibilityHelpHtml
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
